openapi: 3.2.0
info:
  title: Merge Subpackage Regenerate Key API
  version: 1.0.0
  description: 'Operations tagged subpackage_regenerateKey across 8 of this provider''s published API definitions: merge-accounting-api-openapi.yaml, merge-ats-api-openapi.yaml, merge-chat-api-openapi.yaml, merge-crm-api-openapi.yaml, merge-file-storage-api-openapi.yaml, merge-hris-api-openapi.yaml, merge-knowledge-base-api-openapi.yaml, merge-ticketing-api-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
- url: https://api.merge.dev/api/chat/v1
- url: https://api-eu.merge.dev/api/chat/v1
- url: https://api-ap.merge.dev/api/chat/v1
- url: https://api-ap.merge.dev/api/knowledgebase/v1
tags:
- name: subpackage_regenerateKey
paths:
  /accounting/v1/regenerate-key:
    post:
      operationId: create
      summary: Create
      description: Exchange remote keys.
      tags:
      - subpackage_regenerateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ats/v1/regenerate-key:
    post:
      operationId: create
      summary: Create
      description: Exchange remote keys.
      tags:
      - subpackage_regenerateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /regenerate-key:
    post:
      operationId: create
      summary: Create
      description: Exchange remote keys.
      tags:
      - subpackage_regenerateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
    servers:
    - url: https://api.merge.dev/api/chat/v1
    - url: https://api-eu.merge.dev/api/chat/v1
    - url: https://api-ap.merge.dev/api/chat/v1
  /crm/v1/regenerate-key:
    post:
      operationId: create
      summary: Create
      description: Exchange remote keys.
      tags:
      - subpackage_regenerateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /filestorage/v1/regenerate-key:
    post:
      operationId: create
      summary: Create
      description: Exchange remote keys.
      tags:
      - subpackage_regenerateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /hris/v1/regenerate-key:
    post:
      operationId: create
      summary: Create
      description: Exchange remote keys.
      tags:
      - subpackage_regenerateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /knowledgebase/v1/regenerate-key:
    post:
      operationId: create
      summary: Create
      description: Exchange remote keys.
      tags:
      - subpackage_regenerateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
    - url: https://api-ap.merge.dev/api/knowledgebase/v1
  /ticketing/v1/regenerate-key:
    post:
      operationId: create
      summary: Create
      description: Exchange remote keys.
      tags:
      - subpackage_regenerateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
components:
  schemas:
    RemoteKeyForRegenerationRequest:
      type: object
      properties:
        name:
          type: string
          description: The name of the remote key
      required:
      - name
      description: '# The RemoteKeyForRegeneration Object

        ### Description

        The `RemoteKeyForRegeneration` object is used to exchange an old remote key for a new one


        ### Usage Example

        Post a `RemoteKeyForRegeneration` to swap out an old remote key for a new one'
      title: RemoteKeyForRegenerationRequest
    RemoteKey:
      type: object
      properties:
        name:
          type: string
        key:
          type: string
      required:
      - name
      - key
      description: '# The RemoteKey Object

        ### Description

        The `RemoteKey` object is used to represent a request for a new remote key.


        ### Usage Example

        Post a `GenerateRemoteKey` to receive a new `RemoteKey`.'
      title: RemoteKey
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
x-refined-from:
- merge-accounting-api-openapi.yaml
- merge-ats-api-openapi.yaml
- merge-chat-api-openapi.yaml
- merge-crm-api-openapi.yaml
- merge-file-storage-api-openapi.yaml
- merge-hris-api-openapi.yaml
- merge-knowledge-base-api-openapi.yaml
- merge-ticketing-api-openapi.yaml
