openapi: 3.1.0
info:
  title: Accounting subpackage_salesOrders API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_salesOrders
paths:
  /accounting/v1/sales-orders:
    get:
      operationId: list
      summary: List
      description: Returns a list of `SalesOrder` objects.{/* BEGIN_ACCOUNTING_SALESORDER_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA41U224aMRD9Fz8iYJsQWgWpqmhIc1FZ2oRWjarIGuxhcfDaxh4nhCj/XnnZJoTQy9N653Jm5vh4HpgAwsL6e9ZjIISNhpQpWJOVVqJmPXYJGsPIS/SsycCpHEp8Ectv91mTheic9YTyk0Itw6nHKeuxrERfYCsaNVUos+ekTBnCwgMpa0L2lNyaVtmsybQyc5T9dcK/4dbhrdqy9RsyrQKxJnMQAs28jcXsAhcRw38gp940lmgIdEsCQbaB0vJrmF22NIVEjYRyAAQDJBRp3LrijMiFXpbNULt2Vb0t8TZDk4EnJTSGrNs53H932G3VKFX1D7zQ7/caN4uJnbxr8EJoDrExHItlPj67y2+Kg/zoYJmvvnXz1XyV38zfNHgBjeF42B2NrzqjQX9vtCOAX779cfj94+Djed4Qq+NOfnN1l4/F3nAs5pPVWef8RNydn35d5qur/eHgWycfH3fPT+ze6OgiDI8u7LDfbrMm27xV1vv5sGmohZMjXUZF+DL6rIQCN1hZXwc41XJxopVoh04bSlhZA3ehLWyZlSgVZDlSSGg8LCJ4bLtKuxVhyponzlmPHeen/fzoePBSBv1bUBomGlmPfMRXOma9nxsv4LMymIo7MPesue2QGIRXrqr3yqkIy91WPo16qrROEuNaGQyv4xYRDCnaUdRjaQl5ksZfndwBzf4YoeRrV0i/3NYvf8tJsOQeqlvc8kSjFjEhoqH0mHYkR6OIO69ESn+mU0Tv0Yj1MZAtq1xcihmYAn+XU+bWKlGRpEKI1XSVfYvKeolUgSWW9vdK4zFW0zq4rxgn9OliaiKERyCUHNK6eMntDjI32avP0aV+aoAwU86lFQlSegyplUBAMR3IEuj09SDmKaZexKrqmDyYAJV2uYnlBD27TjUWUXmUX8BDiYQ+6fP68frxF9d5FqrHBQAA" /></Footer>{/* END_ACCOUNTING_SALESORDER_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_salesOrders
      parameters:
      - name: company_id
        in: query
        description: If provided, will only return sales orders for this company.
        required: false
        schema:
          type: string
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/SalesOrdersGetParametersExpandSchemaItems'
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_remote_fields
        in: query
        description: Whether to include all remote fields, including fields that Merge did not map to common models, in a normalized format.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: issue_date_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: issue_date_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_fields
        in: query
        description: Deprecated. Use show_enum_origins.
        required: false
        schema:
          $ref: '#/components/schemas/SalesOrdersGetParametersRemoteFields'
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: show_enum_origins
        in: query
        description: A comma separated list of enum field names for which you'd like the original values to be returned, instead of Merge's normalized enum values. [Learn more](https://help.merge.dev/en/articles/8950958-show_enum_origins-query-parameter)
        required: false
        schema:
          $ref: '#/components/schemas/SalesOrdersGetParametersShowEnumOrigins'
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSalesOrderList'
    post:
      operationId: create
      summary: Create
      description: Creates a `SalesOrder` object with the given values.{/* BEGIN_ACCOUNTING_SALESORDER_CREATE_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="POST" data="H4sIAAAAAAAAA41TbU/iQBD+L/uRlPYQOWOTywWBU0lY7hQvZ4xpht2xLOxL2RdBjP/90hYF7kz0085Mn3lmnunMM2HgMTf2iaQEGDNBe6FzEhFlOEqSkmuQ6MaWoyURgUJQUHiAzR6PSERcKApjPfIfAiV3FxYfSEoShTbHZtDiQSBPdkmJ0B5zC14Y7ZK35OZDlU0iIoVeIO/WCR/T1fDmNvKP6xIpnCcRKcA5P7Mm5LMrXAZ0n2Aue5OoUHuQTQ4ekj2Wpq1p3ouVKjhK9Mj74KGPHlkpd1tx5n3h0iSZoSziqnrM8TFBnYD1gkl0Sad9enRy2mluWarq37Ncfms15supmZ40spzJDEJjNGFrOrlc0Xl+THvHa7q56dDNYkPniy+NLIfGaDLqjCe37XG/2xq/A8iuv/45/X3WPxvSBtsM2nR+u6IT1hpN2GK6uWwPz9lqePFrTTe3R6P+TZtOBp3huWmNe1du1Lsyo24ck4js/1WS3j3vB7aLQ9FfB+HxEH2pIMe9qdS/AwrRLMJUCha7dgwKNkbDysXMqEQhF5BQ9K5ky9wygMW4qHa3Gpgw+m3mJCUDetGlvUH/cA26jyAkTCWS1NuA/+0xSe8IM6oA/UQiwoK1qFltOm9UdRS4ZjPQOWYWalnOBcx47UihsdwEhcq8XlUWguBVH0/lXmUerSIRsaiMx4xZBI88A7+LVfCtHQq+++5moijKIwTOLbqykvPgQ2l440GWrwW2KDHbUxdVQ96CdlBNJ9NBTdGS+7LGMgiL/CdYUOjR1hPYiX0142039cEeeBmTUHXyqr16Y+GxVFk7n8j+EHL/cv/yFxnRPzXABAAA" /></Footer>{/* END_ACCOUNTING_SALESORDER_CREATE_SUPPORTED_FIELDS */}
      tags:
      - subpackage_salesOrders
      parameters:
      - name: is_debug_mode
        in: query
        description: Whether to include debug fields (such as log file links) in the response.
        required: false
        schema:
          type: boolean
      - name: run_async
        in: query
        description: Whether or not third-party updates should be run asynchronously.
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderEndpointRequest'
  /accounting/v1/sales-orders/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns a `SalesOrder` object with the given `id`.{/* BEGIN_ACCOUNTING_SALESORDER_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA41U224aMRD9Fz8iYJsQWgWpqmhIc1FZ2oRWjarIGuxhcfDaxh4nhCj/XnnZJoTQy9N653Jm5vh4HpgAwsL6e9ZjIISNhpQpWJOVVqJmPXYJGsPIS/SsycCpHEp8Ectv91mTheic9YTyk0Itw6nHKeuxrERfYCsaNVUos+ekTBnCwgMpa0L2lNyaVtmsybQyc5T9dcK/4dbhrdqy9RsyrQKxJnMQAs28jcXsAhcRw38gp940lmgIdEsCQbaB0vJrmF22NIVEjYRyAAQDJBRp3LrijMiFXpbNULt2Vb0t8TZDk4EnJTSGrNs53H932G3VKFX1D7zQ7/caN4uJnbxr8EJoDrExHItlPj67y2+Kg/zoYJmvvnXz1XyV38zfNHgBjeF42B2NrzqjQX9vtCOAX779cfj94+Djed4Qq+NOfnN1l4/F3nAs5pPVWef8RNydn35d5qur/eHgWycfH3fPT+ze6OgiDI8u7LDfbrMm27xV1vv5sGmohZMjXUZF+DL6rIQCN1hZXwc41XJxopVoh04bSlhZA3ehLWyZlSgVZDlSSGg8LCJ4bLtKuxVhyponzlmPHeen/fzoePBSBv1bUBomGlmPfMRXOma9nxsv4LMymIo7MPesue2QGIRXrqr3yqkIy91WPo16qrROEuNaGQyv4xYRDCnaUdRjaQl5ksZfndwBzf4YoeRrV0i/3NYvf8tJsOQeqlvc8kSjFjEhoqH0mHYkR6OIO69ESn+mU0Tv0Yj1MZAtq1xcihmYAn+XU+bWKlGRpEKI1XSVfYvKeolUgSWW9vdK4zFW0zq4rxgn9OliaiKERyCUHNK6eMntDjI32avP0aV+aoAwU86lFQlSegyplUBAMR3IEuj09SDmKaZexKrqmDyYAJV2uYnlBD27TjUWUXmUX8BDiYQ+6fP68frxF9d5FqrHBQAA" /></Footer>{/* END_ACCOUNTING_SALESORDER_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_salesOrders
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/SalesOrdersIdGetParametersExpandSchemaItems'
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_remote_fields
        in: query
        description: Whether to include all remote fields, including fields that Merge did not map to common models, in a normalized format.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: remote_fields
        in: query
        description: Deprecated. Use show_enum_origins.
        required: false
        schema:
          $ref: '#/components/schemas/SalesOrdersIdGetParametersRemoteFields'
      - name: show_enum_origins
        in: query
        description: A comma separated list of enum field names for which you'd like the original values to be returned, instead of Merge's normalized enum values. [Learn more](https://help.merge.dev/en/articles/8950958-show_enum_origins-query-parameter)
        required: false
        schema:
          $ref: '#/components/schemas/SalesOrdersIdGetParametersShowEnumOrigins'
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
  /accounting/v1/sales-orders/lines/remote-field-classes:
    get:
      operationId: lines-remote-field-classes-list
      summary: Lines Remote Field Classes List
      description: Returns a list of `RemoteFieldClass` objects.{/* BEGIN_ACCOUNTING_SALESORDER_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA41U224aMRD9Fz8iYJsQWgWpqmhIc1FZ2oRWjarIGuxhcfDaxh4nhCj/XnnZJoTQy9N653Jm5vh4HpgAwsL6e9ZjIISNhpQpWJOVVqJmPXYJGsPIS/SsycCpHEp8Ectv91mTheic9YTyk0Itw6nHKeuxrERfYCsaNVUos+ekTBnCwgMpa0L2lNyaVtmsybQyc5T9dcK/4dbhrdqy9RsyrQKxJnMQAs28jcXsAhcRw38gp940lmgIdEsCQbaB0vJrmF22NIVEjYRyAAQDJBRp3LrijMiFXpbNULt2Vb0t8TZDk4EnJTSGrNs53H932G3VKFX1D7zQ7/caN4uJnbxr8EJoDrExHItlPj67y2+Kg/zoYJmvvnXz1XyV38zfNHgBjeF42B2NrzqjQX9vtCOAX779cfj94+Djed4Qq+NOfnN1l4/F3nAs5pPVWef8RNydn35d5qur/eHgWycfH3fPT+ze6OgiDI8u7LDfbrMm27xV1vv5sGmohZMjXUZF+DL6rIQCN1hZXwc41XJxopVoh04bSlhZA3ehLWyZlSgVZDlSSGg8LCJ4bLtKuxVhyponzlmPHeen/fzoePBSBv1bUBomGlmPfMRXOma9nxsv4LMymIo7MPesue2QGIRXrqr3yqkIy91WPo16qrROEuNaGQyv4xYRDCnaUdRjaQl5ksZfndwBzf4YoeRrV0i/3NYvf8tJsOQeqlvc8kSjFjEhoqH0mHYkR6OIO69ESn+mU0Tv0Yj1MZAtq1xcihmYAn+XU+bWKlGRpEKI1XSVfYvKeolUgSWW9vdK4zFW0zq4rxgn9OliaiKERyCUHNK6eMntDjI32avP0aV+aoAwU86lFQlSegyplUBAMR3IEuj09SDmKaZexKrqmDyYAJV2uYnlBD27TjUWUXmUX8BDiYQ+6fP68frxF9d5FqrHBQAA" /></Footer>{/* END_ACCOUNTING_SALESORDER_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_salesOrders
      parameters:
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: is_common_model_field
        in: query
        description: If provided, will only return remote field classes with this is_common_model_field value
        required: false
        schema:
          type: boolean
      - name: is_custom
        in: query
        description: If provided, will only return remote fields classes with this is_custom value
        required: false
        schema:
          type: boolean
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRemoteFieldClassList'
  /accounting/v1/sales-orders/meta/post:
    get:
      operationId: meta-post-retrieve
      summary: Meta Post Retrieve
      description: Returns metadata for `SalesOrder` POSTs.{/* BEGIN_ACCOUNTING_SALESORDER_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA41U224aMRD9Fz8iYJsQWgWpqmhIc1FZ2oRWjarIGuxhcfDaxh4nhCj/XnnZJoTQy9N653Jm5vh4HpgAwsL6e9ZjIISNhpQpWJOVVqJmPXYJGsPIS/SsycCpHEp8Ectv91mTheic9YTyk0Itw6nHKeuxrERfYCsaNVUos+ekTBnCwgMpa0L2lNyaVtmsybQyc5T9dcK/4dbhrdqy9RsyrQKxJnMQAs28jcXsAhcRw38gp940lmgIdEsCQbaB0vJrmF22NIVEjYRyAAQDJBRp3LrijMiFXpbNULt2Vb0t8TZDk4EnJTSGrNs53H932G3VKFX1D7zQ7/caN4uJnbxr8EJoDrExHItlPj67y2+Kg/zoYJmvvnXz1XyV38zfNHgBjeF42B2NrzqjQX9vtCOAX779cfj94+Djed4Qq+NOfnN1l4/F3nAs5pPVWef8RNydn35d5qur/eHgWycfH3fPT+ze6OgiDI8u7LDfbrMm27xV1vv5sGmohZMjXUZF+DL6rIQCN1hZXwc41XJxopVoh04bSlhZA3ehLWyZlSgVZDlSSGg8LCJ4bLtKuxVhyponzlmPHeen/fzoePBSBv1bUBomGlmPfMRXOma9nxsv4LMymIo7MPesue2QGIRXrqr3yqkIy91WPo16qrROEuNaGQyv4xYRDCnaUdRjaQl5ksZfndwBzf4YoeRrV0i/3NYvf8tJsOQeqlvc8kSjFjEhoqH0mHYkR6OIO69ESn+mU0Tv0Yj1MZAtq1xcihmYAn+XU+bWKlGRpEKI1XSVfYvKeolUgSWW9vdK4zFW0zq4rxgn9OliaiKERyCUHNK6eMntDjI32avP0aV+aoAwU86lFQlSegyplUBAMR3IEuj09SDmKaZexKrqmDyYAJV2uYnlBD27TjUWUXmUX8BDiYQ+6fP68frxF9d5FqrHBQAA" /></Footer>{/* END_ACCOUNTING_SALESORDER_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_salesOrders
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
  /accounting/v1/sales-orders/remote-field-classes:
    get:
      operationId: remote-field-classes-list
      summary: Remote Field Classes List
      description: Returns a list of `RemoteFieldClass` objects.{/* BEGIN_ACCOUNTING_SALESORDER_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA41U224aMRD9Fz8iYJsQWgWpqmhIc1FZ2oRWjarIGuxhcfDaxh4nhCj/XnnZJoTQy9N653Jm5vh4HpgAwsL6e9ZjIISNhpQpWJOVVqJmPXYJGsPIS/SsycCpHEp8Ectv91mTheic9YTyk0Itw6nHKeuxrERfYCsaNVUos+ekTBnCwgMpa0L2lNyaVtmsybQyc5T9dcK/4dbhrdqy9RsyrQKxJnMQAs28jcXsAhcRw38gp940lmgIdEsCQbaB0vJrmF22NIVEjYRyAAQDJBRp3LrijMiFXpbNULt2Vb0t8TZDk4EnJTSGrNs53H932G3VKFX1D7zQ7/caN4uJnbxr8EJoDrExHItlPj67y2+Kg/zoYJmvvnXz1XyV38zfNHgBjeF42B2NrzqjQX9vtCOAX779cfj94+Djed4Qq+NOfnN1l4/F3nAs5pPVWef8RNydn35d5qur/eHgWycfH3fPT+ze6OgiDI8u7LDfbrMm27xV1vv5sGmohZMjXUZF+DL6rIQCN1hZXwc41XJxopVoh04bSlhZA3ehLWyZlSgVZDlSSGg8LCJ4bLtKuxVhyponzlmPHeen/fzoePBSBv1bUBomGlmPfMRXOma9nxsv4LMymIo7MPesue2QGIRXrqr3yqkIy91WPo16qrROEuNaGQyv4xYRDCnaUdRjaQl5ksZfndwBzf4YoeRrV0i/3NYvf8tJsOQeqlvc8kSjFjEhoqH0mHYkR6OIO69ESn+mU0Tv0Yj1MZAtq1xcihmYAn+XU+bWKlGRpEKI1XSVfYvKeolUgSWW9vdK4zFW0zq4rxgn9OliaiKERyCUHNK6eMntDjI32avP0aV+aoAwU86lFQlSegyplUBAMR3IEuj09SDmKaZexKrqmDyYAJV2uYnlBD27TjUWUXmUX8BDiYQ+6fP68frxF9d5FqrHBQAA" /></Footer>{/* END_ACCOUNTING_SALESORDER_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_salesOrders
      parameters:
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: is_common_model_field
        in: query
        description: If provided, will only return remote field classes with this is_common_model_field value
        required: false
        schema:
          type: boolean
      - name: is_custom
        in: query
        description: If provided, will only return remote fields classes with this is_custom value
        required: false
        schema:
          type: boolean
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRemoteFieldClassList'
  /accounting/v1/sales-orders/bulk:
    post:
      operationId: async-bulk-create
      summary: Async Bulk Create
      description: Creates multiple `SalesOrder` objects with the given values.{/* BEGIN_ACCOUNTING_SALESORDER_BULK_CREATE_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_SALESORDER_BULK_CREATE_SUPPORTED_FIELDS */}
      tags:
      - subpackage_salesOrders
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncBulkCreateResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderBulkRequest'
  /accounting/v1/sales-orders/bulk/{batch_id}:
    get:
      operationId: batch-objects-list
      summary: Batch Objects List
      description: Returns the status and results of a `SalesOrder` bulk create batch.{/* BEGIN_ACCOUNTING_SALESORDER_BULK_FETCH_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_SALESORDER_BULK_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_salesOrders
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchObjectsResponse'
components:
  schemas:
    PaginatedSalesOrderList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/SalesOrder'
      title: PaginatedSalesOrderList
    ErrorValidationProblem:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/ValidationProblemSource'
        title:
          type: string
        detail:
          type: string
        problem_type:
          type: string
        block_merge_link:
          type: boolean
        raw_error:
          type: string
        error_code:
          type: integer
      required:
      - title
      - detail
      - problem_type
      title: ErrorValidationProblem
    RemoteFieldRequest:
      type: object
      properties:
        remote_field_class:
          type: string
          format: uuid
        value:
          type: object
          additionalProperties:
            description: Any type
      required:
      - remote_field_class
      title: RemoteFieldRequest
    SalesOrdersIdGetParametersExpandSchemaItems:
      type: string
      enum:
      - company
      - customer
      - lines
      - payment_term
      - shipping_address
      - tracking_categories
      title: SalesOrdersIdGetParametersExpandSchemaItems
    SalesOrdersGetParametersRemoteFields:
      type: string
      enum:
      - status
      title: SalesOrdersGetParametersRemoteFields
    BatchObjectsResponse:
      type: object
      properties:
        batch_id:
          type: string
          format: uuid
          description: The ID of the batch.
        status:
          $ref: '#/components/schemas/BatchObjectsResponseStatusEnum'
          description: 'Possible overall statuses:


            * `ENQUEUED` - The request has been received and a task has been enqueued for processing

            * `IN_PROGRESS` - The enqueued task is being processed

            * `PARTIAL_SUCCESS` - The task has been processed, but not all objects were written successfully

            * `SUCCESS` - The task has been processed, and all objects were written successfully

            * `FAILED` - The task has been processed, but ran into an error while processing

            * `RATE_LIMITED` - The request was received but ran into rate limits while processing. The rate limited objects are being retried.'
        total_count:
          type: integer
          description: The total number of objects in the batch.
        objects:
          type: array
          items:
            $ref: '#/components/schemas/BatchObject'
      required:
      - batch_id
      - status
      - total_count
      - objects
      description: Response serializer for GET bulk/{batch_id} - returns batch status and objects
      title: BatchObjectsResponse
    ItemTypeEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: ItemTypeEnum
    ItemFormatEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: ItemFormatEnum
    SalesOrdersGetParametersShowEnumOrigins:
      type: string
      enum:
      - status
      title: SalesOrdersGetParametersShowEnumOrigins
    SalesOrderLine:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        description:
          type:
          - string
          - 'null'
          description: Description of the line item.
        unit_price:
          type:
          - string
          - 'null'
          format: decimal
          description: The unit price of the item.
        quantity:
          type:
          - string
          - 'null'
          format: decimal
          description: Quantity ordered for this line.
        item:
          type:
          - string
          - 'null'
          format: uuid
        tax_rate:
          type:
          - string
          - 'null'
          format: uuid
          description: The tax rate of the line item.
        tracking_categories:
          type: array
          items:
            type: string
            format: uuid
          description: The dimensions or classification tags.
        company:
          type:
          - string
          - 'null'
          format: uuid
          description: The subsidiary associated with the order.
        remote_created_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the third party's sales order line item was created.
        remote_updated_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the third party's sales order line item was updated.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        remote_fields:
          type: array
          items:
            $ref: '#/components/schemas/RemoteField'
      description: '# The SalesOrderLine Object

        ### Description

        The `SalesOrderLine` object represents a specific line item on a sales order.


        ### Usage Example

        Fetch from the `GET SalesOrder` endpoint and view a company''s sales order line items.'
      title: SalesOrderLine
    SalesOrderBulkRequest:
      type: object
      properties:
        batch_items:
          type: array
          items:
            $ref: '#/components/schemas/SalesOrderBatchItemRequest'
      required:
      - batch_items
      title: SalesOrderBulkRequest
    BatchObjectItemResponse:
      type: object
      properties:
        merge_common_model_id:
          type: string
          format: uuid
        error_message:
          type: string
      description: Response for individual items within a batch
      title: BatchObjectItemResponse
    WarningValidationProblem:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/ValidationProblemSource'
        title:
          type: string
        detail:
          type: string
        problem_type:
          type: string
        block_merge_link:
          type: boolean
        raw_error:
          type: string
        error_code:
          type: integer
      required:
      - title
      - detail
      - problem_type
      title: WarningValidationProblem
    AsyncBulkCreateResponse:
      type: object
      properties:
        batch_id:
          type: string
          format: uuid
          description: The ID of the batch.
      required:
      - batch_id
      description: Response serializer for POST bulk create - returns only batch_id
      title: AsyncBulkCreateResponse
    SalesOrderResponse:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/SalesOrder'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/WarningValidationProblem'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorValidationProblem'
        logs:
          type: array
          items:
            $ref: '#/components/schemas/DebugModeLog'
      required:
      - model
      - warnings
      - errors
      title: SalesOrderResponse
    DebugModeLog:
      type: object
      properties:
        log_id:
          type: string
        dashboard_view:
          type: string
        log_summary:
          $ref: '#/components/schemas/DebugModelLogSummary'
      required:
      - log_id
      - dashboard_view
      - log_summary
      title: DebugModeLog
    BatchObject:
      type: object
      properties:
        item_id:
          type: string
        status:
          $ref: '#/components/schemas/BatchObjectStatusEnum'
          description: 'Possible per-object statuses:


            * `PENDING` - This object has not been processed yet

            * `SUCCESS` - This object was successfully POSTed

            * `FAILURE` - This object was not successfully POSTed'
        response:
          $ref: '#/components/schemas/BatchObjectItemResponse'
      required:
      - item_id
      - status
      description: Individual batch object with status
      title: BatchObject
    MetaResponse:
      type: object
      properties:
        request_schema:
          type: object
          additionalProperties:
            description: Any type
        status:
          $ref: '#/components/schemas/LinkedAccountStatus'
        has_conditional_params:
          type: boolean
        has_required_linked_account_params:
          type: boolean
        remote_fields:
          type: array
          items:
            type: string
            format: uuid
          description: Remote field values to populate
      required:
      - request_schema
      - has_conditional_params
      - has_required_linked_account_params
      title: MetaResponse
    PaginatedRemoteFieldClassList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/RemoteFieldClass'
      title: PaginatedRemoteFieldClassList
    SalesOrderLineRequest:
      type: object
      properties:
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        description:
          type:
          - string
          - 'null'
          description: Description of the line item.
        unit_price:
          type:
          - string
          - 'null'
          format: decimal
          description: The unit price of the item.
        quantity:
          type:
          - string
          - 'null'
          format: decimal
          description: Quantity ordered for this line.
        item:
          type:
          - string
          - 'null'
          format: uuid
        tax_rate:
          type:
          - string
          - 'null'
          format: uuid
          description: The tax rate of the line item.
        tracking_categories:
          type: array
          items:
            type: string
            format: uuid
          description: The dimensions or classification tags.
        company:
          type:
          - string
          - 'null'
          format: uuid
          description: The subsidiary associated with the order.
        remote_created_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the third party's sales order line item was created.
        remote_updated_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the third party's sales order line item was updated.
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        remote_fields:
          type: array
          items:
            $ref: '#/components/schemas/RemoteFieldRequest'
      description: '# The SalesOrderLine Object

        ### Description

        The `SalesOrderLine` object represents a specific line item on a sales order.


        ### Usage Example

        Fetch from the `GET SalesOrder` endpoint and view a company''s sales order line items.'
      title: SalesOrderLineRequest
    BatchObjectStatusEnum:
      type: string
      enum:
      - PENDING
      - SUCCESS
      - FAILURE
      title: BatchObjectStatusEnum
    SalesOrderStatusEnum:
      type: string
      enum:
      - DRAFT
      - PENDING_APPROVAL
      - OPEN
      - PARTIALLY_COMPLETED
      - COMPLETED
      - CLOSED
      title: SalesOrderStatusEnum
    ItemSchema:
      type: object
      properties:
        item_type:
          $ref: '#/components/schemas/ItemTypeEnum'
        item_format:
          $ref: '#/components/schemas/ItemFormatEnum'
        item_choices:
          type: array
          items:
            type: string
      title: ItemSchema
    RemoteData:
      type: object
      properties:
        path:
          type: string
          description: The third-party API path that is being called.
        data:
          description: The data returned from the third-party for this object in its original, unnormalized format.
      required:
      - path
      description: '# The RemoteData Object

        ### Description

        The `RemoteData` object is used to represent the full data pulled from the third-party API for an object.


        ### Usage Example

        TODO'
      title: RemoteData
    ValidationProblemSource:
      type: object
      properties:
        pointer:
          type: string
      required:
      - pointer
      title: ValidationProblemSource
    SalesOrderEndpointRequest:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/SalesOrderRequestRequest'
      required:
      - model
      title: SalesOrderEndpointRequest
    RemoteFieldClass:
      type: object
      properties:
        id:
          type: string
        display_name:
          type: string
        remote_key_name:
          type: string
        description:
          type: string
        is_custom:
          type: boolean
        is_common_model_field:
          type: boolean
        is_required:
          type: boolean
        field_type:
          $ref: '#/components/schemas/FieldTypeEnum'
        field_format:
          $ref: '#/components/schemas/FieldFormatEnum'
        field_choices:
          type: array
          items:
            type: string
        item_schema:
          $ref: '#/components/schemas/ItemSchema'
      title: RemoteFieldClass
    RemoteField:
      type: object
      properties:
        remote_field_class:
          $ref: '#/components/schemas/RemoteFieldClass'
        value:
          type: object
          additionalProperties:
            description: Any type
      required:
      - remote_field_class
      title: RemoteField
    SalesOrderRequestRequest:
      type: object
      properties:
        customer:
          type:
          - string
          - 'null'
          format: uuid
          description: The customer associated with the sales order.
        currency:
          oneOf:
          - $ref: '#/components/schemas/TransactionCurrencyEnum'
          - type: 'null'
          description: The currency code for the order. The currency code in ISO 4217 format.
        exchange_rate:
          type:
          - string
          - 'null'
          format: decimal
          description: The exchange rate applied if the order currency differs from the base currency.
        company:
          type:
          - string
          - 'null'
          format: uuid
          description: The subsidiary associated with the order.
        status:
          oneOf:
          - $ref: '#/components/schemas/SalesOrderStatusEnum'
          - type: 'null'
          description: The status of the sales order.
        payment_term:
          type:
          - string
          - 'null'
          format: uuid
          description: The payment terms applied to this order.
        memo:
          type:
          - string
          - 'null'
          description: Notes or comments attached to the order.
        shipping_address:
          type:
          - string
          - 'null'
          format: uuid
          description: The shipping address for the order.
        tracking_categories:
          type: array
          items:
            type: string
            format: uuid
        issue_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The date the sales order was issued.
        transaction_number:
          type:
          - string
          - 'null'
          description: The human-readable sales order number or transaction reference.
        total:
          type:
          - number
          - 'null'
          format: double
          description: Total amount of order.
        lines:
          type: array
          items:
            $ref: '#/components/schemas/SalesOrderLineRequest'
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        remote_fields:
          type: array
          items:
            $ref: '#/components/schemas/RemoteFieldRequest'
      description: '# The SalesOrder Object

        ### Description

        The `SalesOrder` object represents a seller''s formal record and confirmation of a customer''s purchase request.


        ### Usage Example

        Fetch from the `LIST SalesOrders` endpoint and view a company''s sales orders.'
      title: SalesOrderRequestRequest
    FieldFormatEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: FieldFormatEnum
    BatchObjectsResponseStatusEnum:
      type: string
      enum:
      - ENQUEUED
      - IN_PROGRESS
      - PARTIAL_SUCCESS
      - SUCCESS
      - FAILED
      - RATE_LIMITED
      title: BatchObjectsResponseStatusEnum
    SalesOrderBatchItemRequest:
      type: object
      properties:
        item_id:
          type: string
          description: The third-party item ID for this model in the bulk create request
        payload:
          $ref: '#/components/schemas/SalesOrderRequestRequest'
      required:
      - item_id
      - payload
      title: SalesOrderBatchItemRequest
    SalesOrdersIdGetParametersRemoteFields:
      type: string
      enum:
      - status
      title: SalesOrdersIdGetParametersRemoteFields
    DebugModelLogSummary:
      type: object
      properties:
        url:
          type: string
        method:
          type: string
        status_code:
          type: integer
      required:
      - url
      - method
      - status_code
      title: DebugModelLogSummary
    TransactionCurrencyEnum:
      type: string
      enum:
      - XUA
      - AFN
      - AFA
      - ALL
      - ALK
      - DZD
      - ADP
      - AOA
      - AOK
      - AON
      - AOR
      - ARA
      - ARS
      - ARM
      - ARP
      - ARL
      - AMD
      - AWG
      - AUD
      - ATS
      - AZN
      - AZM
      - BSD
      - BHD
      - BDT
      - BBD
      - BYN
      - BYB
      - BYR
      - BEF
      - BEC
      - BEL
      - BZD
      - BMD
      - BTN
      - BOB
      - BOL
      - BOV
      - BOP
      - BAM
      - BAD
      - BAN
      - BWP
      - BRC
      - BRZ
      - BRE
      - BRR
      - BRN
      - BRB
      - BRL
      - GBP
      - BND
      - BGL
      - BGN
      - BGO
      - BGM
      - BUK
      - BIF
      - XPF
      - KHR
      - CAD
      - CVE
      - KYD
      - XAF
      - CLE
      - CLP
      - CLF
      - CNX
      - CNY
      - CNH
      - COP
      - COU
      - KMF
      - CDF
      - CRC
      - HRD
      - HRK
      - CUC
      - CUP
      - CYP
      - CZK
      - CSK
      - DKK
      - DJF
      - DOP
      - NLG
      - XCD
      - DDM
      - ECS
      - ECV
      - EGP
      - GQE
      - ERN
      - EEK
      - ETB
      - EUR
      - XBA
      - XEU
      - XBB
      - XBC
      - XBD
      - FKP
      - FJD
      - FIM
      - FRF
      - XFO
      - XFU
      - GMD
      - GEK
      - GEL
      - DEM
      - GHS
      - GHC
      - GIP
      - XAU
      - GRD
      - GTQ
      - GWP
      - GNF
      - GNS
      - GYD
      - HTG
      - HNL
      - HKD
      - HUF
      - IMP
      - ISK
      - ISJ
      - INR
      - IDR
      - IRR
      - IQD
      - IEP
      - ILS
      - ILP
      - ILR
      - ITL
      - JMD
      - JPY
      - JOD
      - KZT
      - KES
      - KWD
      - KGS
      - LAK
      - LVL
      - LVR
      - LBP
      - LSL
      - LRD
      - LYD
      - LTL
      - LTT
      - LUL
      - LUC
      - LUF
      - MOP
      - MKD
      - MKN
      - MGA
      - MGF
      - MWK
      - MYR
      - MVR
      - MVP
      - MLF
      - MTL
      - MTP
      - MRU
      - MRO
      - MUR
      - MXV
      - MXN
      - MXP
      - MDC
      - MDL
      - MCF
      - MNT
      - MAD
      - MAF
      - MZE
      - MZN
      - MZM
      - MMK
      - NAD
      - NPR
      - ANG
      - TWD
      - NZD
      - NIO
      - NIC
      - NGN
      - KPW
      - NOK
      - OMR
      - PKR
      - XPD
      - PAB
      - PGK
      - PYG
      - PEI
      - PEN
      - PES
      - PHP
      - XPT
      - PLN
      - PLZ
      - PTE
      - GWE
      - QAR
      - XRE
      - RHD
      - RON
      - ROL
      - RUB
      - RUR
      - RWF
      - SVC
      - WST
      - SAR
      - RSD
      - CSD
      - SCR
      - SLL
      - XAG
      - SGD
      - SKK
      - SIT
      - SBD
      - SOS
      - ZAR
      - ZAL
      - KRH
      - KRW
      - KRO
      - SSP
      - SUR
      - ESP
      - ESA
      - ESB
      - XDR
      - LKR
      - SHP
      - XSU
      - SDD
      - SDG
      - SDP
      - SRD
      - SRG
      - SZL
      - SEK
      - CHF
      - SYP
      - STN
      - STD
      - TVD
      - TJR
      - TJS
      - TZS
      - XTS
      - THB
      - XXX
      - TPE
      - TOP
      - TTD
      - TND
      - TRY
      - TRL
      - TMT
      - TMM
      - USD
      - USN
      - USS
      - UGX
      - UGS
      - UAH
      - UAK
      - AED
      - UYW
      - UYU
      - UYP
      - UYI
      - UZS
      - VUV
      - VES
      - VEB
      - VEF
      - VND
      - VNN
      - CHE
      - CHW
      - XOF
      - YDD
      - YER
      - YUN
      - YUD
      - YUM
      - YUR
      - ZWN
      - ZRN
      - ZRZ
      - ZMW
      - ZMK
      - ZWD
      - ZWR
      - ZWL
      description: The currency code in ISO 4217 format.
      title: TransactionCurrencyEnum
    LinkedAccountStatus:
      type: object
      properties:
        linked_account_status:
          type: string
        can_make_request:
          type: boolean
      required:
      - linked_account_status
      - can_make_request
      title: LinkedAccountStatus
    FieldTypeEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: FieldTypeEnum
    SalesOrder:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        customer:
          type:
          - string
          - 'null'
          format: uuid
          description: The customer associated with the sales order.
        currency:
          oneOf:
          - $ref: '#/components/schemas/TransactionCurrencyEnum'
          - type: 'null'
          description: The currency code for the order. The currency code in ISO 4217 format.
        exchange_rate:
          type:
          - string
          - 'null'
          format: decimal
          description: The exchange rate applied if the order currency differs from the base currency.
        company:
          type:
          - string
          - 'null'
          format: uuid
          description: The subsidiary associated with the order.
        status:
          oneOf:
          - $ref: '#/components/schemas/SalesOrderStatusEnum'
          - type: 'null'
          description: The status of the sales order.
        payment_term:
          type:
          - string
          - 'null'
          format: uuid
          description: The payment terms applied to this order.
        memo:
          type:
          - string
          - 'null'
          description: Notes or comments attached to the order.
        shipping_address:
          type:
          - string
          - 'null'
          format: uuid
          description: The shipping address for the order.
        tracking_categories:
          type: array
          items:
            type: string
            format: uuid
        issue_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The date the sales order was issued.
        transaction_number:
          type:
          - string
          - 'null'
          description: The human-readable sales order number or transaction reference.
        total:
          type:
          - number
          - 'null'
          format: double
          description: Total amount of order.
        lines:
          type: array
          items:
            $ref: '#/components/schemas/SalesOrderLine'
        remote_created_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the third party's sales order was created.
        remote_updated_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the third party's sales order was updated.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/SalesOrderFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
        remote_fields:
          type: array
          items:
            $ref: '#/components/schemas/RemoteField'
      description: '# The SalesOrder Object

        ### Description

        The `SalesOrder` object represents a seller''s formal record and confirmation of a customer''s purchase request.


        ### Usage Example

        Fetch from the `LIST SalesOrders` endpoint and view a company''s sales orders.'
      title: SalesOrder
    SalesOrderFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: SalesOrderFieldMappings
    SalesOrdersGetParametersExpandSchemaItems:
      type: string
      enum:
      - company
      - customer
      - lines
      - payment_term
      - shipping_address
      - tracking_categories
      title: SalesOrdersGetParametersExpandSchemaItems
    SalesOrdersIdGetParametersShowEnumOrigins:
      type: string
      enum:
      - status
      title: SalesOrdersIdGetParametersShowEnumOrigins
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
