openapi: 3.2.0
info:
  title: Accounting Subpackage Expenses API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_expenses
paths:
  /accounting/v1/expenses:
    get:
      operationId: list
      summary: List
      description: Returns a list of `Expense` objects.{/* BEGIN_ACCOUNTING_EXPENSE_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA9VXa2/iOBT9K8gfEZBpGaYq0mpFgb40hA6lo+mOKuviXIIhsVPbocBo/vvKIS2B6Qs1bLcfc20f2+eec6/zizAw6Es1J3UCjMlYGC58UiKh9DAgddKeRSg0khKBiLsQ4tpEOt0nJaLjKJLKoHfMMfD0qcIhqRMnROVjORZ8yNFzVoscLgz6CgyXQjsPi8vDZDUpkYCLCXqN5YKX4ZbTy2lk41M7AdeGlEgEWpuRkrE/6uFtjPoVyPZsAYYoDARlDww4GZSyWsI8FrO38DBAg14LDLTQILPXTXccGRPpuuOMMIgqye4VD6cOCgeU4SxA7dSqh/sHh7VyipLs/jf1g7/2iuPbgRwcFKnPAgpxsdNnM7d/dueO/c9u8/PMXVzV3MVk4Y4nn4rUh2Kn36l1+9fVbqux131kAr388uPw+1Hr6NwtskW76o6v79w+2+v02WSwOKuen7C789NvM3dxvd9pXVXdfrt2fiL3us2e7jR7stOoVEiJZLNK6j9/ZQOpcI4VYsNHYfORGT0LwccMLct8QMTLUTwIOKvoagVCWEgBd7rCZOiE6HFwLgIwQ6nCoUIEC0v1bQwK6aRn5q2T/UqUSDmhkEvxkAUra/e04TbbrXVhNKbAAxgESOpGxfiHskn95734SYmwWCkUbE5KRGEoDVKmEAx6FMwqZhO3/kUjMKNViHukRIw0EFAIU2ijQGhIDmuXILmx029jrtC7AAUhGlT2ODe/S08QrUdHUk50Pkyv8OjlkuKv0peVcbRTfqUwwDaYDjGUbyU3+TQwy49vF81lzA3mw7aLRlu0VM7PyNht9M++t7cnOa3qX7nAyorwbNRDzRSPkn3WR/ChI2Sj3GC4EUpaCI3jJAfZAYFmRX12IFJyjGwzehuDMNzMN8LZDGfjNrHK5nAjrIBNbMtKOx5HvTEjFtzQSHGWdLsHVjLdLkLFpd2PyTACMX9KpBhGgZyjxcEZG4Hw8f5IXLAg1nyKVA6tBpftLjlLKu012nZQWB5h4a3y7ypgARaOY82lKDQDGXuFdu8iHzcswekSnCbgtN27oOW0FO2kymd1kUnsax2ynvOX3bO9VZ43RaqNJ0budfIqN21pG2OAjeyLSW9YYoOTjy/6bzFnk6QnFrrCXicfua9gy+lr5mq4/+XoYO9d2sCqvH3I5vB+Pnj+FfNMg9gwxsfwwiX4WDizF01umoMNLCJNEe/fnNMpd/UBvJMR7jv+y/bYvmGs5PC2PrJDo+XvqG3eaVk/PTy9Xt1d/m+/Zz9QyXxsYpHKH/s34Ukd5i6cxwrx1s/zrXSj4wFNtPOf/IX+I0eykONfv8X786d/18/tfIT2kqreVsfgsXL0Gn3lXZh2JrCb3/8C/jltyxwWAAA=" /></Footer>{/* END_ACCOUNTING_EXPENSE_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_expenses
      parameters:
      - name: company_id
        in: query
        description: If provided, will only return expenses for this company.
        required: false
        schema:
          type: string
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpensesGetParametersExpandSchemaItems'
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_remote_fields
        in: query
        description: Whether to include all remote fields, including fields that Merge did not map to common models, in a normalized format.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: transaction_date_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: transaction_date_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedExpenseList'
    post:
      operationId: create
      summary: Create
      description: Creates an `Expense` object with the given values.{/* BEGIN_ACCOUNTING_EXPENSE_CREATE_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="POST" data="H4sIAAAAAAAAA8WVYW/aOhSG/8rkjygko4xVRbq6ooWtVCN0LZ1WTZV1cA7B4Nip7VBg2n+/ckhLyuhoN3r3LT45fn18zpM33wkDi7HSC9IkwJjKpOUyJh5JVISCNElnnqI0SDwCKQ8hwUeJdHZAPGKyNFXaYvSBo4jMqcYRaZIgQR1jNZN8xDEK1psCLi3GGixX0gQPm6ujfDfxiOByilFrtWG33Cq9WkQ2liYQ3FjikRSMsWOtsnh8gbcZmmcou9oEJigtiGoEFoKSSlWvZLbF3C0iFGgxaoOFNlpk7rrFiWNrU9MMgjGK1M9P9yOcBSgD0JYzgSZo1I8ODo8a1UIlP/1fGot/apXJ7VANDys0ZoJCVukN2DwcdO/CSfwuPHk3D5dXjXA5XYaT6dsKjaHSG/Qa/cF1vd9u1fpbEujl+69HX47bx2dhhS079XByfRcOWK03YNPhsls/+8juzk4/z8Pl9UGvfVUPB53G2UdV659cmN7Jheq1fJ94pDxV0vz2vRwowPmg0YyPlZq6/pRedxOIsdSX1UAg5dU0GwrOfFP3IYGlknBnfKaSIMGIQ7DWo5e3GWikn1Ss/EnqCM47x5V8aL6jOTxthSed9mMeWjPgAoYCSdPqDH8CmjS/3TNPPMJUkoJc5E/SAstjmdYomQsmmCjiEY2Jskh5RDxilQVBISkEVksL81JIgzSQV0kjsEhunMJtxjVG56AhQYs6r2N9eql/NHU5ZmvQLyqn5Yq2pN0bwa48Y2E0epQkuETjF5HVR/xoRZkA44p7RorVwKbOWIpyOBpy88PbBlOI9jLjFveDUojWODVqcpD8VD7FUNgadL90/oSgkn+mqLmKdlOFSSrUAt1lcc7GIGOk2oFStH8NXm7cNMvy0RQ9ZhrBYkTB/g6ZPw3kJbyub31f555x2ahjOyufM86muVG86UtXwH6gWctWV9jQq9HB++PD2qviswuQDSB2MWCyIc0H/z/z8Fz/OoeF+wMPFim+CkVPIHMJMb7puk7nrd4DLU6RFor3/6vZjIfmEF6ZlwdrKfHyaxd5qXH8sR9sxH2Jdi3/6sP+ilrtZ8hOqTCDv2ACG0PlkonM8BlSNXKf8ZNz/j0jePHItxb9aw72M/SbH/8BFVMpqeoMAAA=" /></Footer>{/* END_ACCOUNTING_EXPENSE_CREATE_SUPPORTED_FIELDS */}
      tags:
      - subpackage_expenses
      parameters:
      - name: is_debug_mode
        in: query
        description: Whether to include debug fields (such as log file links) in the response.
        required: false
        schema:
          type: boolean
      - name: run_async
        in: query
        description: Whether or not third-party updates should be run asynchronously.
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpenseEndpointRequest'
  /accounting/v1/expenses/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns an `Expense` object with the given `id`.{/* BEGIN_ACCOUNTING_EXPENSE_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA9VXa2/iOBT9K8gfEZBpGaYq0mpFgb40hA6lo+mOKuviXIIhsVPbocBo/vvKIS2B6Qs1bLcfc20f2+eec6/zizAw6Es1J3UCjMlYGC58UiKh9DAgddKeRSg0khKBiLsQ4tpEOt0nJaLjKJLKoHfMMfD0qcIhqRMnROVjORZ8yNFzVoscLgz6CgyXQjsPi8vDZDUpkYCLCXqN5YKX4ZbTy2lk41M7AdeGlEgEWpuRkrE/6uFtjPoVyPZsAYYoDARlDww4GZSyWsI8FrO38DBAg14LDLTQILPXTXccGRPpuuOMMIgqye4VD6cOCgeU4SxA7dSqh/sHh7VyipLs/jf1g7/2iuPbgRwcFKnPAgpxsdNnM7d/dueO/c9u8/PMXVzV3MVk4Y4nn4rUh2Kn36l1+9fVbqux131kAr388uPw+1Hr6NwtskW76o6v79w+2+v02WSwOKuen7C789NvM3dxvd9pXVXdfrt2fiL3us2e7jR7stOoVEiJZLNK6j9/ZQOpcI4VYsNHYfORGT0LwccMLct8QMTLUTwIOKvoagVCWEgBd7rCZOiE6HFwLgIwQ6nCoUIEC0v1bQwK6aRn5q2T/UqUSDmhkEvxkAUra/e04TbbrXVhNKbAAxgESOpGxfiHskn95734SYmwWCkUbE5KRGEoDVKmEAx6FMwqZhO3/kUjMKNViHukRIw0EFAIU2ijQGhIDmuXILmx029jrtC7AAUhGlT2ODe/S08QrUdHUk50Pkyv8OjlkuKv0peVcbRTfqUwwDaYDjGUbyU3+TQwy49vF81lzA3mw7aLRlu0VM7PyNht9M++t7cnOa3qX7nAyorwbNRDzRSPkn3WR/ChI2Sj3GC4EUpaCI3jJAfZAYFmRX12IFJyjGwzehuDMNzMN8LZDGfjNrHK5nAjrIBNbMtKOx5HvTEjFtzQSHGWdLsHVjLdLkLFpd2PyTACMX9KpBhGgZyjxcEZG4Hw8f5IXLAg1nyKVA6tBpftLjlLKu012nZQWB5h4a3y7ypgARaOY82lKDQDGXuFdu8iHzcswekSnCbgtN27oOW0FO2kymd1kUnsax2ynvOX3bO9VZ43RaqNJ0budfIqN21pG2OAjeyLSW9YYoOTjy/6bzFnk6QnFrrCXicfua9gy+lr5mq4/+XoYO9d2sCqvH3I5vB+Pnj+FfNMg9gwxsfwwiX4WDizF01umoMNLCJNEe/fnNMpd/UBvJMR7jv+y/bYvmGs5PC2PrJDo+XvqG3eaVk/PTy9Xt1d/m+/Zz9QyXxsYpHKH/s34Ukd5i6cxwrx1s/zrXSj4wFNtPOf/IX+I0eykONfv8X786d/18/tfIT2kqreVsfgsXL0Gn3lXZh2JrCb3/8C/jltyxwWAAA=" /></Footer>{/* END_ACCOUNTING_EXPENSE_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_expenses
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExpensesIdGetParametersExpandSchemaItems'
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_remote_fields
        in: query
        description: Whether to include all remote fields, including fields that Merge did not map to common models, in a normalized format.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Expense'
  /accounting/v1/expenses/lines/remote-field-classes:
    get:
      operationId: lines-remote-field-classes-list
      summary: Lines Remote Field Classes List
      description: Returns a list of `RemoteFieldClass` objects.{/* BEGIN_ACCOUNTING_EXPENSE_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA9VXa2/iOBT9K8gfEZBpGaYq0mpFgb40hA6lo+mOKuviXIIhsVPbocBo/vvKIS2B6Qs1bLcfc20f2+eec6/zizAw6Es1J3UCjMlYGC58UiKh9DAgddKeRSg0khKBiLsQ4tpEOt0nJaLjKJLKoHfMMfD0qcIhqRMnROVjORZ8yNFzVoscLgz6CgyXQjsPi8vDZDUpkYCLCXqN5YKX4ZbTy2lk41M7AdeGlEgEWpuRkrE/6uFtjPoVyPZsAYYoDARlDww4GZSyWsI8FrO38DBAg14LDLTQILPXTXccGRPpuuOMMIgqye4VD6cOCgeU4SxA7dSqh/sHh7VyipLs/jf1g7/2iuPbgRwcFKnPAgpxsdNnM7d/dueO/c9u8/PMXVzV3MVk4Y4nn4rUh2Kn36l1+9fVbqux131kAr388uPw+1Hr6NwtskW76o6v79w+2+v02WSwOKuen7C789NvM3dxvd9pXVXdfrt2fiL3us2e7jR7stOoVEiJZLNK6j9/ZQOpcI4VYsNHYfORGT0LwccMLct8QMTLUTwIOKvoagVCWEgBd7rCZOiE6HFwLgIwQ6nCoUIEC0v1bQwK6aRn5q2T/UqUSDmhkEvxkAUra/e04TbbrXVhNKbAAxgESOpGxfiHskn95734SYmwWCkUbE5KRGEoDVKmEAx6FMwqZhO3/kUjMKNViHukRIw0EFAIU2ijQGhIDmuXILmx029jrtC7AAUhGlT2ODe/S08QrUdHUk50Pkyv8OjlkuKv0peVcbRTfqUwwDaYDjGUbyU3+TQwy49vF81lzA3mw7aLRlu0VM7PyNht9M++t7cnOa3qX7nAyorwbNRDzRSPkn3WR/ChI2Sj3GC4EUpaCI3jJAfZAYFmRX12IFJyjGwzehuDMNzMN8LZDGfjNrHK5nAjrIBNbMtKOx5HvTEjFtzQSHGWdLsHVjLdLkLFpd2PyTACMX9KpBhGgZyjxcEZG4Hw8f5IXLAg1nyKVA6tBpftLjlLKu012nZQWB5h4a3y7ypgARaOY82lKDQDGXuFdu8iHzcswekSnCbgtN27oOW0FO2kymd1kUnsax2ynvOX3bO9VZ43RaqNJ0budfIqN21pG2OAjeyLSW9YYoOTjy/6bzFnk6QnFrrCXicfua9gy+lr5mq4/+XoYO9d2sCqvH3I5vB+Pnj+FfNMg9gwxsfwwiX4WDizF01umoMNLCJNEe/fnNMpd/UBvJMR7jv+y/bYvmGs5PC2PrJDo+XvqG3eaVk/PTy9Xt1d/m+/Zz9QyXxsYpHKH/s34Ukd5i6cxwrx1s/zrXSj4wFNtPOf/IX+I0eykONfv8X786d/18/tfIT2kqreVsfgsXL0Gn3lXZh2JrCb3/8C/jltyxwWAAA=" /></Footer>{/* END_ACCOUNTING_EXPENSE_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_expenses
      parameters:
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: is_common_model_field
        in: query
        description: If provided, will only return remote field classes with this is_common_model_field value
        required: false
        schema:
          type: boolean
      - name: is_custom
        in: query
        description: If provided, will only return remote fields classes with this is_custom value
        required: false
        schema:
          type: boolean
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRemoteFieldClassList'
  /accounting/v1/expenses/meta/post:
    get:
      operationId: meta-post-retrieve
      summary: Meta Post Retrieve
      description: Returns metadata for `Expense` POSTs.{/* BEGIN_ACCOUNTING_EXPENSE_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA9VXa2/iOBT9K8gfEZBpGaYq0mpFgb40hA6lo+mOKuviXIIhsVPbocBo/vvKIS2B6Qs1bLcfc20f2+eec6/zizAw6Es1J3UCjMlYGC58UiKh9DAgddKeRSg0khKBiLsQ4tpEOt0nJaLjKJLKoHfMMfD0qcIhqRMnROVjORZ8yNFzVoscLgz6CgyXQjsPi8vDZDUpkYCLCXqN5YKX4ZbTy2lk41M7AdeGlEgEWpuRkrE/6uFtjPoVyPZsAYYoDARlDww4GZSyWsI8FrO38DBAg14LDLTQILPXTXccGRPpuuOMMIgqye4VD6cOCgeU4SxA7dSqh/sHh7VyipLs/jf1g7/2iuPbgRwcFKnPAgpxsdNnM7d/dueO/c9u8/PMXVzV3MVk4Y4nn4rUh2Kn36l1+9fVbqux131kAr388uPw+1Hr6NwtskW76o6v79w+2+v02WSwOKuen7C789NvM3dxvd9pXVXdfrt2fiL3us2e7jR7stOoVEiJZLNK6j9/ZQOpcI4VYsNHYfORGT0LwccMLct8QMTLUTwIOKvoagVCWEgBd7rCZOiE6HFwLgIwQ6nCoUIEC0v1bQwK6aRn5q2T/UqUSDmhkEvxkAUra/e04TbbrXVhNKbAAxgESOpGxfiHskn95734SYmwWCkUbE5KRGEoDVKmEAx6FMwqZhO3/kUjMKNViHukRIw0EFAIU2ijQGhIDmuXILmx029jrtC7AAUhGlT2ODe/S08QrUdHUk50Pkyv8OjlkuKv0peVcbRTfqUwwDaYDjGUbyU3+TQwy49vF81lzA3mw7aLRlu0VM7PyNht9M++t7cnOa3qX7nAyorwbNRDzRSPkn3WR/ChI2Sj3GC4EUpaCI3jJAfZAYFmRX12IFJyjGwzehuDMNzMN8LZDGfjNrHK5nAjrIBNbMtKOx5HvTEjFtzQSHGWdLsHVjLdLkLFpd2PyTACMX9KpBhGgZyjxcEZG4Hw8f5IXLAg1nyKVA6tBpftLjlLKu012nZQWB5h4a3y7ypgARaOY82lKDQDGXuFdu8iHzcswekSnCbgtN27oOW0FO2kymd1kUnsax2ynvOX3bO9VZ43RaqNJ0budfIqN21pG2OAjeyLSW9YYoOTjy/6bzFnk6QnFrrCXicfua9gy+lr5mq4/+XoYO9d2sCqvH3I5vB+Pnj+FfNMg9gwxsfwwiX4WDizF01umoMNLCJNEe/fnNMpd/UBvJMR7jv+y/bYvmGs5PC2PrJDo+XvqG3eaVk/PTy9Xt1d/m+/Zz9QyXxsYpHKH/s34Ukd5i6cxwrx1s/zrXSj4wFNtPOf/IX+I0eykONfv8X786d/18/tfIT2kqreVsfgsXL0Gn3lXZh2JrCb3/8C/jltyxwWAAA=" /></Footer>{/* END_ACCOUNTING_EXPENSE_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_expenses
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
  /accounting/v1/expenses/remote-field-classes:
    get:
      operationId: remote-field-classes-list
      summary: Remote Field Classes List
      description: Returns a list of `RemoteFieldClass` objects.{/* BEGIN_ACCOUNTING_EXPENSE_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA9VXa2/iOBT9K8gfEZBpGaYq0mpFgb40hA6lo+mOKuviXIIhsVPbocBo/vvKIS2B6Qs1bLcfc20f2+eec6/zizAw6Es1J3UCjMlYGC58UiKh9DAgddKeRSg0khKBiLsQ4tpEOt0nJaLjKJLKoHfMMfD0qcIhqRMnROVjORZ8yNFzVoscLgz6CgyXQjsPi8vDZDUpkYCLCXqN5YKX4ZbTy2lk41M7AdeGlEgEWpuRkrE/6uFtjPoVyPZsAYYoDARlDww4GZSyWsI8FrO38DBAg14LDLTQILPXTXccGRPpuuOMMIgqye4VD6cOCgeU4SxA7dSqh/sHh7VyipLs/jf1g7/2iuPbgRwcFKnPAgpxsdNnM7d/dueO/c9u8/PMXVzV3MVk4Y4nn4rUh2Kn36l1+9fVbqux131kAr388uPw+1Hr6NwtskW76o6v79w+2+v02WSwOKuen7C789NvM3dxvd9pXVXdfrt2fiL3us2e7jR7stOoVEiJZLNK6j9/ZQOpcI4VYsNHYfORGT0LwccMLct8QMTLUTwIOKvoagVCWEgBd7rCZOiE6HFwLgIwQ6nCoUIEC0v1bQwK6aRn5q2T/UqUSDmhkEvxkAUra/e04TbbrXVhNKbAAxgESOpGxfiHskn95734SYmwWCkUbE5KRGEoDVKmEAx6FMwqZhO3/kUjMKNViHukRIw0EFAIU2ijQGhIDmuXILmx029jrtC7AAUhGlT2ODe/S08QrUdHUk50Pkyv8OjlkuKv0peVcbRTfqUwwDaYDjGUbyU3+TQwy49vF81lzA3mw7aLRlu0VM7PyNht9M++t7cnOa3qX7nAyorwbNRDzRSPkn3WR/ChI2Sj3GC4EUpaCI3jJAfZAYFmRX12IFJyjGwzehuDMNzMN8LZDGfjNrHK5nAjrIBNbMtKOx5HvTEjFtzQSHGWdLsHVjLdLkLFpd2PyTACMX9KpBhGgZyjxcEZG4Hw8f5IXLAg1nyKVA6tBpftLjlLKu012nZQWB5h4a3y7ypgARaOY82lKDQDGXuFdu8iHzcswekSnCbgtN27oOW0FO2kymd1kUnsax2ynvOX3bO9VZ43RaqNJ0budfIqN21pG2OAjeyLSW9YYoOTjy/6bzFnk6QnFrrCXicfua9gy+lr5mq4/+XoYO9d2sCqvH3I5vB+Pnj+FfNMg9gwxsfwwiX4WDizF01umoMNLCJNEe/fnNMpd/UBvJMR7jv+y/bYvmGs5PC2PrJDo+XvqG3eaVk/PTy9Xt1d/m+/Zz9QyXxsYpHKH/s34Ukd5i6cxwrx1s/zrXSj4wFNtPOf/IX+I0eykONfv8X786d/18/tfIT2kqreVsfgsXL0Gn3lXZh2JrCb3/8C/jltyxwWAAA=" /></Footer>{/* END_ACCOUNTING_EXPENSE_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_expenses
      parameters:
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: is_common_model_field
        in: query
        description: If provided, will only return remote field classes with this is_common_model_field value
        required: false
        schema:
          type: boolean
      - name: is_custom
        in: query
        description: If provided, will only return remote fields classes with this is_custom value
        required: false
        schema:
          type: boolean
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRemoteFieldClassList'
  /accounting/v1/expenses/bulk:
    post:
      operationId: async-bulk-create
      summary: Async Bulk Create
      description: Creates multiple `Expense` objects with the given values.{/* BEGIN_ACCOUNTING_EXPENSE_BULK_CREATE_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_EXPENSE_BULK_CREATE_SUPPORTED_FIELDS */}
      tags:
      - subpackage_expenses
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncBulkCreateResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpenseBulkRequest'
  /accounting/v1/expenses/bulk/{batch_id}:
    get:
      operationId: batch-objects-list
      summary: Batch Objects List
      description: Returns the status and results of an `Expense` bulk create batch.{/* BEGIN_ACCOUNTING_EXPENSE_BULK_FETCH_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_EXPENSE_BULK_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_expenses
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchObjectsResponse'
components:
  schemas:
    ValidationProblemSource:
      type: object
      properties:
        pointer:
          type: string
      required:
      - pointer
      title: ValidationProblemSource
    AsyncBulkCreateResponse:
      type: object
      properties:
        batch_id:
          type: string
          format: uuid
          description: The ID of the batch.
      required:
      - batch_id
      description: Response serializer for POST bulk create - returns only batch_id
      title: AsyncBulkCreateResponse
    PaginatedExpenseList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/Expense'
      title: PaginatedExpenseList
    BatchObjectsResponseStatusEnum:
      type: string
      enum:
      - ENQUEUED
      - IN_PROGRESS
      - PARTIAL_SUCCESS
      - SUCCESS
      - FAILED
      - RATE_LIMITED
      title: BatchObjectsResponseStatusEnum
    ItemTypeEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: ItemTypeEnum
    ExpenseLineRequest:
      type: object
      properties:
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        item:
          type:
          - string
          - 'null'
          format: uuid
          description: The line's item.
        net_amount:
          type:
          - number
          - 'null'
          format: double
          description: The line's net amount.
        tracking_category:
          type:
          - string
          - 'null'
          format: uuid
        tracking_categories:
          type: array
          items:
            type: string
            format: uuid
          description: The expense line item's associated tracking categories.
        company:
          type:
          - string
          - 'null'
          format: uuid
          description: The company the expense belongs to.
        employee:
          type:
          - string
          - 'null'
          format: uuid
          description: The employee this overall transaction relates to.
        currency:
          oneOf:
          - $ref: '#/components/schemas/TransactionCurrencyEnum'
          - type: 'null'
          description: The expense line item's currency. The currency code in ISO 4217 format.
        account:
          type:
          - string
          - 'null'
          format: uuid
          description: The expense's payment account.
        contact:
          type:
          - string
          - 'null'
          format: uuid
          description: The expense's contact.
        project:
          type:
          - string
          - 'null'
          format: uuid
        description:
          type:
          - string
          - 'null'
          description: The description of the item that was purchased by the company.
        exchange_rate:
          type:
          - string
          - 'null'
          format: decimal
          description: The expense line item's exchange rate.
        tax_rate:
          type:
          - string
          - 'null'
          format: uuid
          description: The tax rate that applies to this line item.
        quantity:
          type:
          - string
          - 'null'
          format: decimal
          description: Number of items for the expense line.
        unit_price:
          type:
          - string
          - 'null'
          format: decimal
          description: Unit price of the item for the expense line.
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        remote_fields:
          type: array
          items:
            $ref: '#/components/schemas/RemoteFieldRequest'
      description: '# The ExpenseLine Object

        ### Description

        The `ExpenseLine` object is used to represent an expense''s line items.


        ### Usage Example

        Fetch from the `GET Expense` endpoint and view the expense''s line items.'
      title: ExpenseLineRequest
    DebugModelLogSummary:
      type: object
      properties:
        url:
          type: string
        method:
          type: string
        status_code:
          type: integer
      required:
      - url
      - method
      - status_code
      title: DebugModelLogSummary
    ExpenseBatchItemRequest:
      type: object
      properties:
        item_id:
          type: string
          description: The third-party item ID for this model in the bulk create request
        payload:
          $ref: '#/components/schemas/ExpenseRequest'
      required:
      - item_id
      - payload
      title: ExpenseBatchItemRequest
    Expense:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        transaction_date:
          type:
          - string
          - 'null'
          format: date-time
          description: When the transaction occurred.
        remote_created_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the expense was created.
        account:
          type:
          - string
          - 'null'
          format: uuid
          description: The expense's payment account.
        contact:
          type:
          - string
          - 'null'
          format: uuid
          description: The expense's contact.
        total_amount:
          type:
          - number
          - 'null'
          format: double
          description: The expense's total amount.
        sub_total:
          type:
          - number
          - 'null'
          format: double
          description: The expense's total amount before tax.
        total_tax_amount:
          type:
          - number
          - 'null'
          format: double
          description: The expense's total tax amount.
        currency:
          oneOf:
          - $ref: '#/components/schemas/TransactionCurrencyEnum'
          - type: 'null'
          description: The expense's currency. The currency code in ISO 4217 format.
        exchange_rate:
          type:
          - string
          - 'null'
          format: decimal
          description: The expense's exchange rate.
        inclusive_of_tax:
          type:
          - boolean
          - 'null'
          description: If the transaction is inclusive or exclusive of tax. `True` if inclusive, `False` if exclusive.
        company:
          type:
          - string
          - 'null'
          format: uuid
          description: The company the expense belongs to.
        employee:
          type:
          - string
          - 'null'
          format: uuid
          description: The employee this overall transaction relates to.
        memo:
          type:
          - string
          - 'null'
          description: The expense's private note.
        lines:
          type: array
          items:
            $ref: '#/components/schemas/ExpenseLine'
        tracking_categories:
          type: array
          items:
            type: string
            format: uuid
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        accounting_period:
          type:
          - string
          - 'null'
          format: uuid
          description: The accounting period that the Expense was generated in.
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/ExpenseFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
        remote_fields:
          type: array
          items:
            $ref: '#/components/schemas/RemoteField'
      description: '# The Expense Object

        ### Description

        The `Expense` object is used to represent a direct purchase by a business, typically made with a check, credit card, or cash. Each `Expense` object is dedicated to a grouping of expenses, with each expense recorded in the lines object.


        The `Expense` object is also used to represent refunds to direct purchases. Refunds can be distinguished from purchases by the amount sign of the records. Expense objects with a negative amount are purchases and `Expense` objects with a positive amount are refunds to those purchases.


        ### Usage Example

        Fetch from the `GET Expense` endpoint and view a company''s expense.'
      title: Expense
    TransactionCurrencyEnum:
      type: string
      enum:
      - XUA
      - AFN
      - AFA
      - ALL
      - ALK
      - DZD
      - ADP
      - AOA
      - AOK
      - AON
      - AOR
      - ARA
      - ARS
      - ARM
      - ARP
      - ARL
      - AMD
      - AWG
      - AUD
      - ATS
      - AZN
      - AZM
      - BSD
      - BHD
      - BDT
      - BBD
      - BYN
      - BYB
      - BYR
      - BEF
      - BEC
      - BEL
      - BZD
      - BMD
      - BTN
      - BOB
      - BOL
      - BOV
      - BOP
      - BAM
      - BAD
      - BAN
      - BWP
      - BRC
      - BRZ
      - BRE
      - BRR
      - BRN
      - BRB
      - BRL
      - GBP
      - BND
      - BGL
      - BGN
      - BGO
      - BGM
      - BUK
      - BIF
      - XPF
      - KHR
      - CAD
      - CVE
      - KYD
      - XAF
      - CLE
      - CLP
      - CLF
      - CNX
      - CNY
      - CNH
      - COP
      - COU
      - KMF
      - CDF
      - CRC
      - HRD
      - HRK
      - CUC
      - CUP
      - CYP
      - CZK
      - CSK
      - DKK
      - DJF
      - DOP
      - NLG
      - XCD
      - DDM
      - ECS
      - ECV
      - EGP
      - GQE
      - ERN
      - EEK
      - ETB
      - EUR
      - XBA
      - XEU
      - XBB
      - XBC
      - XBD
      - FKP
      - FJD
      - FIM
      - FRF
      - XFO
      - XFU
      - GMD
      - GEK
      - GEL
      - DEM
      - GHS
      - GHC
      - GIP
      - XAU
      - GRD
      - GTQ
      - GWP
      - GNF
      - GNS
      - GYD
      - HTG
      - HNL
      - HKD
      - HUF
      - IMP
      - ISK
      - ISJ
      - INR
      - IDR
      - IRR
      - IQD
      - IEP
      - ILS
      - ILP
      - ILR
      - ITL
      - JMD
      - JPY
      - JOD
      - KZT
      - KES
      - KWD
      - KGS
      - LAK
      - LVL
      - LVR
      - LBP
      - LSL
      - LRD
      - LYD
      - LTL
      - LTT
      - LUL
      - LUC
      - LUF
      - MOP
      - MKD
      - MKN
      - MGA
      - MGF
      - MWK
      - MYR
      - MVR
      - MVP
      - MLF
      - MTL
      - MTP
      - MRU
      - MRO
      - MUR
      - MXV
      - MXN
      - MXP
      - MDC
      - MDL
      - MCF
      - MNT
      - MAD
      - MAF
      - MZE
      - MZN
      - MZM
      - MMK
      - NAD
      - NPR
      - ANG
      - TWD
      - NZD
      - NIO
      - NIC
      - NGN
      - KPW
      - NOK
      - OMR
      - PKR
      - XPD
      - PAB
      - PGK
      - PYG
      - PEI
      - PEN
      - PES
      - PHP
      - XPT
      - PLN
      - PLZ
      - PTE
      - GWE
      - QAR
      - XRE
      - RHD
      - RON
      - ROL
      - RUB
      - RUR
      - RWF
      - SVC
      - WST
      - SAR
      - RSD
      - CSD
      - SCR
      - SLL
      - XAG
      - SGD
      - SKK
      - SIT
      - SBD
      - SOS
      - ZAR
      - ZAL
      - KRH
      - KRW
      - KRO
      - SSP
      - SUR
      - ESP
      - ESA
      - ESB
      - XDR
      - LKR
      - SHP
      - XSU
      - SDD
      - SDG
      - SDP
      - SRD
      - SRG
      - SZL
      - SEK
      - CHF
      - SYP
      - STN
      - STD
      - TVD
      - TJR
      - TJS
      - TZS
      - XTS
      - THB
      - XXX
      - TPE
      - TOP
      - TTD
      - TND
      - TRY
      - TRL
      - TMT
      - TMM
      - USD
      - USN
      - USS
      - UGX
      - UGS
      - UAH
      - UAK
      - AED
      - UYW
      - UYU
      - UYP
      - UYI
      - UZS
      - VUV
      - VES
      - VEB
      - VEF
      - VND
      - VNN
      - CHE
      - CHW
      - XOF
      - YDD
      - YER
      - YUN
      - YUD
      - YUM
      - YUR
      - ZWN
      - ZRN
      - ZRZ
      - ZMW
      - ZMK
      - ZWD
      - ZWR
      - ZWL
      description: The currency code in ISO 4217 format.
      title: TransactionCurrencyEnum
    BatchObjectItemResponse:
      type: object
      properties:
        merge_common_model_id:
          type: string
          format: uuid
        error_message:
          type: string
      description: Response for individual items within a batch
      title: BatchObjectItemResponse
    ExpenseEndpointRequest:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/ExpenseRequest'
      required:
      - model
      title: ExpenseEndpointRequest
    ExpenseLine:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        item:
          type:
          - string
          - 'null'
          format: uuid
          description: The line's item.
        net_amount:
          type:
          - number
          - 'null'
          format: double
          description: The line's net amount.
        tracking_category:
          type:
          - string
          - 'null'
          format: uuid
        tracking_categories:
          type: array
          items:
            type: string
            format: uuid
          description: The expense line item's associated tracking categories.
        company:
          type:
          - string
          - 'null'
          format: uuid
          description: The company the expense belongs to.
        employee:
          type:
          - string
          - 'null'
          format: uuid
          description: The employee this overall transaction relates to.
        currency:
          oneOf:
          - $ref: '#/components/schemas/TransactionCurrencyEnum'
          - type: 'null'
          description: The expense line item's currency. The currency code in ISO 4217 format.
        account:
          type:
          - string
          - 'null'
          format: uuid
          description: The expense's payment account.
        contact:
          type:
          - string
          - 'null'
          format: uuid
          description: The expense's contact.
        project:
          type:
          - string
          - 'null'
          format: uuid
        description:
          type:
          - string
          - 'null'
          description: The description of the item that was purchased by the company.
        exchange_rate:
          type:
          - string
          - 'null'
          format: decimal
          description: The expense line item's exchange rate.
        tax_rate:
          type:
          - string
          - 'null'
          format: uuid
          description: The tax rate that applies to this line item.
        quantity:
          type:
          - string
          - 'null'
          format: decimal
          description: Number of items for the expense line.
        unit_price:
          type:
          - string
          - 'null'
          format: decimal
          description: Unit price of the item for the expense line.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
      description: '# The ExpenseLine Object

        ### Description

        The `ExpenseLine` object is used to represent an expense''s line items.


        ### Usage Example

        Fetch from the `GET Expense` endpoint and view the expense''s line items.'
      title: ExpenseLine
    LinkedAccountStatus:
      type: object
      properties:
        linked_account_status:
          type: string
        can_make_request:
          type: boolean
      required:
      - linked_account_status
      - can_make_request
      title: LinkedAccountStatus
    FieldFormatEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: FieldFormatEnum
    BatchObjectsResponse:
      type: object
      properties:
        batch_id:
          type: string
          format: uuid
          description: The ID of the batch.
        status:
          $ref: '#/components/schemas/BatchObjectsResponseStatusEnum'
          description: 'Possible overall statuses:


            * `ENQUEUED` - The request has been received and a task has been enqueued for processing

            * `IN_PROGRESS` - The enqueued task is being processed

            * `PARTIAL_SUCCESS` - The task has been processed, but not all objects were written successfully

            * `SUCCESS` - The task has been processed, and all objects were written successfully

            * `FAILED` - The task has been processed, but ran into an error while processing

            * `RATE_LIMITED` - The request was received but ran into rate limits while processing. The rate limited objects are being retried.'
        total_count:
          type: integer
          description: The total number of objects in the batch.
        objects:
          type: array
          items:
            $ref: '#/components/schemas/BatchObject'
      required:
      - batch_id
      - status
      - total_count
      - objects
      description: Response serializer for GET bulk/{batch_id} - returns batch status and objects
      title: BatchObjectsResponse
    ExpenseRequest:
      type: object
      properties:
        transaction_date:
          type:
          - string
          - 'null'
          format: date-time
          description: When the transaction occurred.
        account:
          type:
          - string
          - 'null'
          format: uuid
          description: The expense's payment account.
        contact:
          type:
          - string
          - 'null'
          format: uuid
          description: The expense's contact.
        total_amount:
          type:
          - number
          - 'null'
          format: double
          description: The expense's total amount.
        sub_total:
          type:
          - number
          - 'null'
          format: double
          description: The expense's total amount before tax.
        total_tax_amount:
          type:
          - number
          - 'null'
          format: double
          description: The expense's total tax amount.
        currency:
          oneOf:
          - $ref: '#/components/schemas/TransactionCurrencyEnum'
          - type: 'null'
          description: The expense's currency. The currency code in ISO 4217 format.
        exchange_rate:
          type:
          - string
          - 'null'
          format: decimal
          description: The expense's exchange rate.
        inclusive_of_tax:
          type:
          - boolean
          - 'null'
          description: If the transaction is inclusive or exclusive of tax. `True` if inclusive, `False` if exclusive.
        company:
          type:
          - string
          - 'null'
          format: uuid
          description: The company the expense belongs to.
        employee:
          type:
          - string
          - 'null'
          format: uuid
          description: The employee this overall transaction relates to.
        memo:
          type:
          - string
          - 'null'
          description: The expense's private note.
        lines:
          type: array
          items:
            $ref: '#/components/schemas/ExpenseLineRequest'
        tracking_categories:
          type: array
          items:
            type: string
            format: uuid
        accounting_period:
          type:
          - string
          - 'null'
          format: uuid
          description: The accounting period that the Expense was generated in.
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        remote_fields:
          type: array
          items:
            $ref: '#/components/schemas/RemoteFieldRequest'
      description: '# The Expense Object

        ### Description

        The `Expense` object is used to represent a direct purchase by a business, typically made with a check, credit card, or cash. Each `Expense` object is dedicated to a grouping of expenses, with each expense recorded in the lines object.


        The `Expense` object is also used to represent refunds to direct purchases. Refunds can be distinguished from purchases by the amount sign of the records. Expense objects with a negative amount are purchases and `Expense` objects with a positive amount are refunds to those purchases.


        ### Usage Example

        Fetch from the `GET Expense` endpoint and view a company''s expense.'
      title: ExpenseRequest
    ItemFormatEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: ItemFormatEnum
    MetaResponse:
      type: object
      properties:
        request_schema:
          type: object
          additionalProperties:
            description: Any type
        status:
          $ref: '#/components/schemas/LinkedAccountStatus'
        has_conditional_params:
          type: boolean
        has_required_linked_account_params:
          type: boolean
        remote_fields:
          type: array
          items:
            type: string
            format: uuid
          description: Remote field values to populate
      required:
      - request_schema
      - has_conditional_params
      - has_required_linked_account_params
      title: MetaResponse
    RemoteField:
      type: object
      properties:
        remote_field_class:
          $ref: '#/components/schemas/RemoteFieldClass'
        value:
          type: object
          additionalProperties:
            description: Any type
      required:
      - remote_field_class
      title: RemoteField
    ExpenseFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: ExpenseFieldMappings
    BatchObjectStatusEnum:
      type: string
      enum:
      - PENDING
      - SUCCESS
      - FAILURE
      title: BatchObjectStatusEnum
    RemoteData:
      type: object
      properties:
        path:
          type: string
          description: The third-party API path that is being called.
        data:
          description: The data returned from the third-party for this object in its original, unnormalized format.
      required:
      - path
      description: '# The RemoteData Object

        ### Description

        The `RemoteData` object is used to represent the full data pulled from the third-party API for an object.


        ### Usage Example

        TODO'
      title: RemoteData
    ExpensesIdGetParametersExpandSchemaItems:
      type: string
      enum:
      - account
      - accounting_period
      - company
      - contact
      - employee
      - tracking_categories
      title: ExpensesIdGetParametersExpandSchemaItems
    BatchObject:
      type: object
      properties:
        item_id:
          type: string
        status:
          $ref: '#/components/schemas/BatchObjectStatusEnum'
          description: 'Possible per-object statuses:


            * `PENDING` - This object has not been processed yet

            * `SUCCESS` - This object was successfully POSTed

            * `FAILURE` - This object was not successfully POSTed'
        response:
          $ref: '#/components/schemas/BatchObjectItemResponse'
      required:
      - item_id
      - status
      description: Individual batch object with status
      title: BatchObject
    ExpenseBulkRequest:
      type: object
      properties:
        batch_items:
          type: array
          items:
            $ref: '#/components/schemas/ExpenseBatchItemRequest'
      required:
      - batch_items
      title: ExpenseBulkRequest
    RemoteFieldClass:
      type: object
      properties:
        id:
          type: string
        display_name:
          type: string
        remote_key_name:
          type: string
        description:
          type: string
        is_custom:
          type: boolean
        is_common_model_field:
          type: boolean
        is_required:
          type: boolean
        field_type:
          $ref: '#/components/schemas/FieldTypeEnum'
        field_format:
          $ref: '#/components/schemas/FieldFormatEnum'
        field_choices:
          type: array
          items:
            type: string
        item_schema:
          $ref: '#/components/schemas/ItemSchema'
      title: RemoteFieldClass
    ItemSchema:
      type: object
      properties:
        item_type:
          $ref: '#/components/schemas/ItemTypeEnum'
        item_format:
          $ref: '#/components/schemas/ItemFormatEnum'
        item_choices:
          type: array
          items:
            type: string
      title: ItemSchema
    ExpenseResponse:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/Expense'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/WarningValidationProblem'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorValidationProblem'
        logs:
          type: array
          items:
            $ref: '#/components/schemas/DebugModeLog'
      required:
      - model
      - warnings
      - errors
      title: ExpenseResponse
    ExpensesGetParametersExpandSchemaItems:
      type: string
      enum:
      - account
      - accounting_period
      - company
      - contact
      - employee
      - tracking_categories
      title: ExpensesGetParametersExpandSchemaItems
    PaginatedRemoteFieldClassList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/RemoteFieldClass'
      title: PaginatedRemoteFieldClassList
    DebugModeLog:
      type: object
      properties:
        log_id:
          type: string
        dashboard_view:
          type: string
        log_summary:
          $ref: '#/components/schemas/DebugModelLogSummary'
      required:
      - log_id
      - dashboard_view
      - log_summary
      title: DebugModeLog
    FieldTypeEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: FieldTypeEnum
    WarningValidationProblem:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/ValidationProblemSource'
        title:
          type: string
        detail:
          type: string
        problem_type:
          type: string
        block_merge_link:
          type: boolean
        raw_error:
          type: string
        error_code:
          type: integer
      required:
      - title
      - detail
      - problem_type
      title: WarningValidationProblem
    ErrorValidationProblem:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/ValidationProblemSource'
        title:
          type: string
        detail:
          type: string
        problem_type:
          type: string
        block_merge_link:
          type: boolean
        raw_error:
          type: string
        error_code:
          type: integer
      required:
      - title
      - detail
      - problem_type
      title: ErrorValidationProblem
    RemoteFieldRequest:
      type: object
      properties:
        remote_field_class:
          type: string
          format: uuid
        value:
          type: object
          additionalProperties:
            description: Any type
      required:
      - remote_field_class
      title: RemoteFieldRequest
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
