openapi: 3.2.0
info:
  title: Accounting Subpackage Phone Numbers API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_phoneNumbers
paths:
  /accounting/v1/phone-numbers/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns an `AccountingPhoneNumber` object with the given `id`.{/* BEGIN_ACCOUNTING_PHONENUMBER_FETCH_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_PHONENUMBER_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_phoneNumbers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingPhoneNumber'
components:
  schemas:
    AccountingPhoneNumber:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        number:
          type:
          - string
          - 'null'
          description: The phone number.
        type:
          type:
          - string
          - 'null'
          description: The phone number's type.
      description: '# The AccountingPhoneNumber Object

        ### Description

        The `AccountingPhoneNumber` object is used to represent a contact''s or company''s phone number.


        ### Usage Example

        Fetch from the `GET CompanyInfo` endpoint and view the company''s phone numbers.'
      title: AccountingPhoneNumber
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
