openapi: 3.2.0
info:
  title: Accounting Subpackage Projects API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_projects
paths:
  /accounting/v1/projects:
    get:
      operationId: list
      summary: List
      description: Returns a list of `Project` objects.{/* BEGIN_ACCOUNTING_PROJECT_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA+WTb2siMRDGv0rJS1ndU2ulwnH471oFY1vtcaWUMGbHNZpN1iS7Wku/+xGVVnuFuxc9KNzLGZ75zWSeyRPh4DDW5pE0CHCuM+WEiklAEh2hJA1yZfQcuSMBgVRQSPBIyPIKCYjN0lQbh9F3gTKylwanpEHCBE2MxUyJqcAofC0KhXIYG3BCKxu+FBen22oSECnUAqPmruDPuJ28uM+8CW0ohfXjp2CtmxmdxbMbXGZo/4LsZ5OYoHIgixE4CA8oRbPDvJfzr4hQosOoAw466JD75+47zpxLbSMMZyjT0rZ7KcI8RBWCcYJLtGGtel6pn9eKe8q2+zcWy6/lwnw50ZN6gcVcMsgKgzFf03FvRefxKW2frunmtkY3iw2dL74UWAyFwXhQG47vqsNOszx8R8BGZz/Pf7Q6rT4t8E23Sud3Kzrm5cGYLyabXrV/wVf9y+s13dxVBp3bKh13a/0LXR62b+ygfaMHzVKJBOTQVdK4fzpM7A+HohtlwuGxupdAjAdb2dkBqSim2UQKXrLVEiSw0QpWtsR1EiYYCQgpOutpzC4zMFhKt4e7XZjQ6mXnpEG69LJJ293O8Rk0cxASJhJJw5kMf7tj0rgnXCcpqEcSEK6Vg+1H4AYj4ZjSDpkUCplwmHjHcZ2isrukj2NUaEAyiVGMhjkDysJ2pheJULkW/A1HWOZlud/TXGdGeca+QPlNBsRg4tv7qziOWApu9poSEQlIjirShu3nPmj14HXLTBiMrsBAgg6Nf/bDc/CefdeZ4IuW1gt7MlQe8zE+vmKLOyfZ7bRy1qqX/5Gj/72PI4jxpOfXsL3nD7DQE9meyEY7E/NcUFuHz/ctcR8b9NhP/xUfnn8BMH4OSqYHAAA=" /></Footer>{/* END_ACCOUNTING_PROJECT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_projects
      parameters:
      - name: company_id
        in: query
        description: If provided, will only return projects for this company.
        required: false
        schema:
          type: string
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ProjectsGetParametersExpandSchemaItems'
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: is_active
        in: query
        description: If provided, will only return projects with this value for is_active.
        required: false
        schema:
          type: string
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProjectList'
  /accounting/v1/projects/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns a `Project` object with the given `id`.{/* BEGIN_ACCOUNTING_PROJECT_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA+WTb2siMRDGv0rJS1ndU2ulwnH471oFY1vtcaWUMGbHNZpN1iS7Wku/+xGVVnuFuxc9KNzLGZ75zWSeyRPh4DDW5pE0CHCuM+WEiklAEh2hJA1yZfQcuSMBgVRQSPBIyPIKCYjN0lQbh9F3gTKylwanpEHCBE2MxUyJqcAofC0KhXIYG3BCKxu+FBen22oSECnUAqPmruDPuJ28uM+8CW0ohfXjp2CtmxmdxbMbXGZo/4LsZ5OYoHIgixE4CA8oRbPDvJfzr4hQosOoAw466JD75+47zpxLbSMMZyjT0rZ7KcI8RBWCcYJLtGGtel6pn9eKe8q2+zcWy6/lwnw50ZN6gcVcMsgKgzFf03FvRefxKW2frunmtkY3iw2dL74UWAyFwXhQG47vqsNOszx8R8BGZz/Pf7Q6rT4t8E23Sud3Kzrm5cGYLyabXrV/wVf9y+s13dxVBp3bKh13a/0LXR62b+ygfaMHzVKJBOTQVdK4fzpM7A+HohtlwuGxupdAjAdb2dkBqSim2UQKXrLVEiSw0QpWtsR1EiYYCQgpOutpzC4zMFhKt4e7XZjQ6mXnpEG69LJJ293O8Rk0cxASJhJJw5kMf7tj0rgnXCcpqEcSEK6Vg+1H4AYj4ZjSDpkUCplwmHjHcZ2isrukj2NUaEAyiVGMhjkDysJ2pheJULkW/A1HWOZlud/TXGdGeca+QPlNBsRg4tv7qziOWApu9poSEQlIjirShu3nPmj14HXLTBiMrsBAgg6Nf/bDc/CefdeZ4IuW1gt7MlQe8zE+vmKLOyfZ7bRy1qqX/5Gj/72PI4jxpOfXsL3nD7DQE9meyEY7E/NcUFuHz/ctcR8b9NhP/xUfnn8BMH4OSqYHAAA=" /></Footer>{/* END_ACCOUNTING_PROJECT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_projects
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ProjectsIdGetParametersExpandSchemaItems'
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
components:
  schemas:
    Project:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        name:
          type: string
          description: The project’s name
        is_active:
          type: boolean
          description: '`True` if the project is active, `False` if the project is not active.'
        company:
          type:
          - string
          - 'null'
          format: uuid
          description: The subsidiary that the project belongs to.
        contact:
          type:
          - string
          - 'null'
          format: uuid
          description: The supplier, or customer involved in the project.
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/ProjectFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      required:
      - name
      description: '# The Project Object

        ### Description

        The `Project` object is used to track and manage time, costs, resources, and revenue for specific initiatives or work efforts.

        It provides classification on transactions for allocating expenses, revenue, and activities to a specific project for financial reporting.


        ### Usage Example

        Fetch from the `GET Project` endpoint and view project information.'
      title: Project
    RemoteData:
      type: object
      properties:
        path:
          type: string
          description: The third-party API path that is being called.
        data:
          description: The data returned from the third-party for this object in its original, unnormalized format.
      required:
      - path
      description: '# The RemoteData Object

        ### Description

        The `RemoteData` object is used to represent the full data pulled from the third-party API for an object.


        ### Usage Example

        TODO'
      title: RemoteData
    ProjectsGetParametersExpandSchemaItems:
      type: string
      enum:
      - company
      - contact
      title: ProjectsGetParametersExpandSchemaItems
    ProjectsIdGetParametersExpandSchemaItems:
      type: string
      enum:
      - company
      - contact
      title: ProjectsIdGetParametersExpandSchemaItems
    ProjectFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: ProjectFieldMappings
    PaginatedProjectList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/Project'
      title: PaginatedProjectList
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
