openapi: 3.1.0
info:
  title: Accounting subpackage_stages API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_stages
paths:
  /crm/v1/stages:
    get:
      operationId: list
      summary: List
      description: Returns a list of `Stage` objects.{/* BEGIN_CRM_STAGE_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA92YbW/aOhTHvwrySwTktoxuRZquWOAOKiXtIO1uO1XRwTkkBsd2bQdapn33qwTow1ZN90re1ZSXfvrZ5++/j518JRQsplI/kD6hOictkssEOemTmYUUSYuAYiHkuGuP18ekRUyhlNQWk78Y8sSMNS5In3g56hTbhWALholHde4xYTHVYJkUxnsc1V5Uw0iLcCZWmAwolYWwP+Hs+rVh1/G7ovE4M5a0iAJjbKZlkWZTvCvQ/AxZroZjjsICbydgwXs2vK1341+rK9edIEeLyRAsDNEiLQPcT5VZq0zf8zLkqlNN20lw7aHwQFtGORqv1z09fnvaa+8p1ex/xil/f9Rc3s3l/G0zTimPoWgGEb0Po8kmXKZvQv/Nfbi97IXb1TZcrv5oxik0gyjonUfX3fPh4Oj8lQ7x7OTv06sPww9nYZNuR91web0JI3oURHQ13066Zx/p5mz86T7cXh8Hw8tuGI16Zx/l0bk/NYE/lcGg0yEt8nwfSf/L1+cVe3MMKEUuX/ad5KWFnjTZ7QIo1lbFnDPaMd0O5LCVAjamQ2Xu5Zgw8C442IXUOVTM2NwVoLGjRHqQnknxqDvpk1E4HoT+aPjSA4M1MA5zjqRvdYE/2Jb0vxBRLr5FZNVQCGYZlvurMZcW43JjXpZiBTZ7qmIJuS0LdwXTmFyAhhwt6hJ9+631ukyWrdGHXAFLhRu5XjIPci1VDeTyQZmCo1tb7aH1MJTPpXGtT4msiX+kUqgdy1Mx66HPuJjPlLRuBBoXc6OkrVUCmgjD0szyBzcSPeJqdakFjGpp5MI2hg8CckZNo3vSa8yAVxM7PHsHfvekV9H/dxn/ozJhYU2GnLtR4UCrh2sumMJEs7Xj2+sRW48EVIbDmXB2iR1wtUpAVS5YcNCOvfTErYeZdvFITX+JTiW3Jn4qUtD+NHCrkimp5U+U3/zSihByjpC4yjlPvHq4o4xnI/Wq4dwhB3LsT4NaPaOvLEtdf4etK+bvfphuUCRoVo2Zs1fgIf49OX63scdR9LkeZ+tGZtL9udrKTP6rxBsOosnV6Jc75fbbP5Q6s+p5FwAA" /></Footer>{/* END_CRM_STAGE_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_stages
      parameters:
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_remote_fields
        in: query
        description: Whether to include all remote fields, including fields that Merge did not map to common models, in a normalized format.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedStageList'
  /crm/v1/stages/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns a `Stage` object with the given `id`.{/* BEGIN_CRM_STAGE_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA92YbW/aOhTHvwrySwTktoxuRZquWOAOKiXtIO1uO1XRwTkkBsd2bQdapn33qwTow1ZN90re1ZSXfvrZ5++/j518JRQsplI/kD6hOictkssEOemTmYUUSYuAYiHkuGuP18ekRUyhlNQWk78Y8sSMNS5In3g56hTbhWALholHde4xYTHVYJkUxnsc1V5Uw0iLcCZWmAwolYWwP+Hs+rVh1/G7ovE4M5a0iAJjbKZlkWZTvCvQ/AxZroZjjsICbydgwXs2vK1341+rK9edIEeLyRAsDNEiLQPcT5VZq0zf8zLkqlNN20lw7aHwQFtGORqv1z09fnvaa+8p1ex/xil/f9Rc3s3l/G0zTimPoWgGEb0Po8kmXKZvQv/Nfbi97IXb1TZcrv5oxik0gyjonUfX3fPh4Oj8lQ7x7OTv06sPww9nYZNuR91web0JI3oURHQ13066Zx/p5mz86T7cXh8Hw8tuGI16Zx/l0bk/NYE/lcGg0yEt8nwfSf/L1+cVe3MMKEUuX/ad5KWFnjTZ7QIo1lbFnDPaMd0O5LCVAjamQ2Xu5Zgw8C442IXUOVTM2NwVoLGjRHqQnknxqDvpk1E4HoT+aPjSA4M1MA5zjqRvdYE/2Jb0vxBRLr5FZNVQCGYZlvurMZcW43JjXpZiBTZ7qmIJuS0LdwXTmFyAhhwt6hJ9+631ukyWrdGHXAFLhRu5XjIPci1VDeTyQZmCo1tb7aH1MJTPpXGtT4msiX+kUqgdy1Mx66HPuJjPlLRuBBoXc6OkrVUCmgjD0szyBzcSPeJqdakFjGpp5MI2hg8CckZNo3vSa8yAVxM7PHsHfvekV9H/dxn/ozJhYU2GnLtR4UCrh2sumMJEs7Xj2+sRW48EVIbDmXB2iR1wtUpAVS5YcNCOvfTErYeZdvFITX+JTiW3Jn4qUtD+NHCrkimp5U+U3/zSihByjpC4yjlPvHq4o4xnI/Wq4dwhB3LsT4NaPaOvLEtdf4etK+bvfphuUCRoVo2Zs1fgIf49OX63scdR9LkeZ+tGZtL9udrKTP6rxBsOosnV6Jc75fbbP5Q6s+p5FwAA" /></Footer>{/* END_CRM_STAGE_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_stages
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_remote_fields
        in: query
        description: Whether to include all remote fields, including fields that Merge did not map to common models, in a normalized format.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stage'
  /crm/v1/stages/remote-field-classes:
    get:
      operationId: remote-field-classes-list
      summary: Remote Field Classes List
      description: Returns a list of `RemoteFieldClass` objects.{/* BEGIN_CRM_STAGE_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA92YbW/aOhTHvwrySwTktoxuRZquWOAOKiXtIO1uO1XRwTkkBsd2bQdapn33qwTow1ZN90re1ZSXfvrZ5++/j518JRQsplI/kD6hOictkssEOemTmYUUSYuAYiHkuGuP18ekRUyhlNQWk78Y8sSMNS5In3g56hTbhWALholHde4xYTHVYJkUxnsc1V5Uw0iLcCZWmAwolYWwP+Hs+rVh1/G7ovE4M5a0iAJjbKZlkWZTvCvQ/AxZroZjjsICbydgwXs2vK1341+rK9edIEeLyRAsDNEiLQPcT5VZq0zf8zLkqlNN20lw7aHwQFtGORqv1z09fnvaa+8p1ex/xil/f9Rc3s3l/G0zTimPoWgGEb0Po8kmXKZvQv/Nfbi97IXb1TZcrv5oxik0gyjonUfX3fPh4Oj8lQ7x7OTv06sPww9nYZNuR91web0JI3oURHQ13066Zx/p5mz86T7cXh8Hw8tuGI16Zx/l0bk/NYE/lcGg0yEt8nwfSf/L1+cVe3MMKEUuX/ad5KWFnjTZ7QIo1lbFnDPaMd0O5LCVAjamQ2Xu5Zgw8C442IXUOVTM2NwVoLGjRHqQnknxqDvpk1E4HoT+aPjSA4M1MA5zjqRvdYE/2Jb0vxBRLr5FZNVQCGYZlvurMZcW43JjXpZiBTZ7qmIJuS0LdwXTmFyAhhwt6hJ9+631ukyWrdGHXAFLhRu5XjIPci1VDeTyQZmCo1tb7aH1MJTPpXGtT4msiX+kUqgdy1Mx66HPuJjPlLRuBBoXc6OkrVUCmgjD0szyBzcSPeJqdakFjGpp5MI2hg8CckZNo3vSa8yAVxM7PHsHfvekV9H/dxn/ozJhYU2GnLtR4UCrh2sumMJEs7Xj2+sRW48EVIbDmXB2iR1wtUpAVS5YcNCOvfTErYeZdvFITX+JTiW3Jn4qUtD+NHCrkimp5U+U3/zSihByjpC4yjlPvHq4o4xnI/Wq4dwhB3LsT4NaPaOvLEtdf4etK+bvfphuUCRoVo2Zs1fgIf49OX63scdR9LkeZ+tGZtL9udrKTP6rxBsOosnV6Jc75fbbP5Q6s+p5FwAA" /></Footer>{/* END_CRM_STAGE_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_stages
      parameters:
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_remote_fields
        in: query
        description: Whether to include all remote fields, including fields that Merge did not map to common models, in a normalized format.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: is_common_model_field
        in: query
        description: If provided, will only return remote field classes with this is_common_model_field value
        required: false
        schema:
          type: boolean
      - name: is_custom
        in: query
        description: If provided, will only return remote fields classes with this is_custom value
        required: false
        schema:
          type: boolean
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRemoteFieldClassList'
components:
  schemas:
    Stage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        name:
          type:
          - string
          - 'null'
          description: The stage's name.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/StageFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
        remote_fields:
          type: array
          items:
            $ref: '#/components/schemas/RemoteField'
      description: '# The Stage Object

        ### Description

        The `Stage` object is used to represent the stage of an opportunity.

        ### Usage Example

        TODO'
      title: Stage
    StageFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: StageFieldMappings
    FieldFormatEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: FieldFormatEnum
    PaginatedRemoteFieldClassList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/RemoteFieldClass'
      title: PaginatedRemoteFieldClassList
    ItemSchema:
      type: object
      properties:
        item_type:
          $ref: '#/components/schemas/ItemTypeEnum'
        item_format:
          $ref: '#/components/schemas/ItemFormatEnum'
        item_choices:
          type: array
          items:
            type: string
      title: ItemSchema
    FieldTypeEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: FieldTypeEnum
    PaginatedStageList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/Stage'
      title: PaginatedStageList
    RemoteField:
      type: object
      properties:
        remote_field_class:
          $ref: '#/components/schemas/RemoteFieldClass'
        value:
          type: object
          additionalProperties:
            description: Any type
      required:
      - remote_field_class
      title: RemoteField
    RemoteData:
      type: object
      properties:
        path:
          type: string
          description: The third-party API path that is being called.
        data:
          description: The data returned from the third-party for this object in its original, unnormalized format.
      required:
      - path
      description: '# The RemoteData Object

        ### Description

        The `RemoteData` object is used to represent the full data pulled from the third-party API for an object.


        ### Usage Example

        TODO'
      title: RemoteData
    ItemTypeEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: ItemTypeEnum
    RemoteFieldClass:
      type: object
      properties:
        id:
          type: string
        display_name:
          type: string
        remote_key_name:
          type: string
        description:
          type: string
        is_custom:
          type: boolean
        is_common_model_field:
          type: boolean
        is_required:
          type: boolean
        field_type:
          $ref: '#/components/schemas/FieldTypeEnum'
        field_format:
          $ref: '#/components/schemas/FieldFormatEnum'
        field_choices:
          type: array
          items:
            type: string
        item_schema:
          $ref: '#/components/schemas/ItemSchema'
      title: RemoteFieldClass
    ItemFormatEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: ItemFormatEnum
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
