openapi: 3.2.0
info:
  title: ATS Subpackage Activities API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_activities
paths:
  /ats/v1/activities:
    get:
      operationId: list
      summary: List
      description: Returns a list of `Activity` objects.{/* BEGIN_ATS_ACTIVITY_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA92YbW/iOBSF/0rljwjItJTtFmm14qWFMiW0QKfTHVXRjXNJTJw42A4URvPfV4HQkt1qtG1TmO43Yuzj5PHx8U2+EwoaXSEXpEZAK1IkgXCQkxqpU81mTC9IkUDETAhw3cWaHZEiUXEUCanROWfIHdWROCY1YgQoXSzFIRszdAzQymChRleCZiJUxuOo0ng1jBQJZ6GPTp1SEYf6JzrrfiVYd/zHZfK30qRIIlBKe1LErjfAaYzqZ5LJ3XAMMNTASw5oMLaGl+R6/HNtyX07yFGj0wINLdRIkwdMp/K0jlTNMDzkUXk1bdnBmYGhAVIzylEZ1crp0clptZSqrGb/03L5H4eFydQW9knBcim3IC70RvTBHF3MzYl7bDaPH8zlTdVc+ktz4n8qWC4UeqNetT+6q/Rb9cP+Mx2s4W9fT780Wo2uWaDLs4o5uZubI3rYG1HfXl5Uum0673auH8zl3VGvdVMxR2fVblsc9psD1WsORK9eLpMi2V5HUvv2fbshNUc9ijijEOqhBupnx1wE4OIWm/VqQMRKUWxzRsuqUoYAliKEuSpTERgBOgyMrKY1nMYg0boUrrDmjc7dl8FleRK5m/VgInxcDFIjZ2anbjbPWllj1GfAONgcSU3LGP/lZVL7RiA1v6UXEZIikRgIjRaVCBodC/RTW7J02SsrAu2t9og9QZp0jRVKcp90msZMonMFEgLUKJPJ7n8Un6WpPHuRE8REKsOuEl/fwmxejsL3Z2cLJ3kOCqHDHNCvxpk2MefVQBeBzfMimmhtkM5svz0eq33RfPxtjf084L7Nt42Yc0/I8GCAVMZMJ/l60OQidvJBb6f6lnzSt2iib6n1cgwbrejCn31Yc7+Nf7M+GuZDOlHKpEb32PSn4mwniZuC3TPMcw6aejIfnlcc9FjIIBW1/KDZ9C6m/9PYKJIZU8xmPKkhX4o9KeqAhflw36hte3kn0Pds3rZEDD0RK8yH45NehuQO0+A9Y/Ytfu2IAGWck129tdguY+GN5e3rwXVhuewM8uG21socWLfXtNfqOb/uK0J+m70r7CEVMqetvlErrUuqD1tKvXlnX+JspZAD05VUxp7izv190bjdS4L+eod+D0LQwPOttVLRvRg4Z8QvxDkEFw/yytZEzNoK14o9Pz7pfZgj6qXo6lcHw5hSVOocqBZS5UQxo5mJggb9KtzzT3supt7v48sIIdDAuMgpTJ/09lWL7vm8H0kYj5nONy1TUWsycrrVvy53sr9zPO9fiPDmc/vgSorNhyq2etgcaN58bm8+RR01ps5Dn70LyB280r/GmLdC+qs7z4XlbaqWCcv+jHOTn36oN8//vNvvf/wNPD9x3ZUbAAA=" /></Footer>{/* END_ATS_ACTIVITY_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_activities
      parameters:
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ActivitiesGetParametersExpandSchemaItems'
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_fields
        in: query
        description: Deprecated. Use show_enum_origins.
        required: false
        schema:
          $ref: '#/components/schemas/ActivitiesGetParametersRemoteFields'
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: show_enum_origins
        in: query
        description: A comma separated list of enum field names for which you'd like the original values to be returned, instead of Merge's normalized enum values. [Learn more](https://help.merge.dev/en/articles/8950958-show_enum_origins-query-parameter)
        required: false
        schema:
          $ref: '#/components/schemas/ActivitiesGetParametersShowEnumOrigins'
      - name: user_id
        in: query
        description: If provided, will only return activities done by this user.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedActivityList'
    post:
      operationId: create
      summary: Create
      description: Creates an `Activity` object with the given values.{/* BEGIN_ATS_ACTIVITY_CREATE_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="POST" data="H4sIAAAAAAAAA82Wa2/aShCG/wraj8jYTShtg3R0xCUh0GJSLm2jKrLGu4NZWHvN7hoCVf57ZQMJtKTpOXXbfPR45p31M7Pj+UIoGAykWpEqAaOJRULJUJAqqVHDF9ysiEUg5i6EuHHxFqfEIjqJY6kMsguOgulLhWNSJU6IKsBSEvExR+aA0Q6PDAYKDJeRdu6jSuMsjFhE8GiGrEapTCLzA52NXwk2jt88pq+1IRaJQWszUTIJJn2cJ6h/JJmeRmCIkQFRYmDA2QsvqU38MVt6boYCDbImGGiiQZp+4DbVxJhYVx1ngiK2s7Q2w4WDkQPKcCpQO5Xy2enrs0ppq5Jl/9cLxD8nxencl/7rohdQ4UFS7A7prTtsL91p8NJtvLx116OKu56t3ensRdELoNgddiu94XW516yd9I44eINXn84+1Jv1jluk6/OyO71eukN60h3Smb9ulzstuuxcvr9119en3eao7A7PK52WPOk1+rrb6MtuzbaJRfbrSKqfv+wbts1R0xM/bZe9N+0QAtxDsikCxLwUJ77g1NZlG0JYywiW2qYydEJkHJxMyhvME1DovZOB9MrJ+4+wWNpxFOzocxndoydVcu5e1tzGefOwDWoL4AJ8gaRqVILfdS6pfiawbXXPrGIkFvElS7+DQsQ4A5OaFIbSoEcVgkHmgXmwcUYskmhU5Ca1zROukF2BghANqizBVnAPjBenDtq+z+FlaFKxmzvrON1V6Iu88KZaO74Lf9Yaj/VfQeuNZz9BVyf+FKl5kvPO7xGE9USIiVRRoY9UJdykV7/QEDJh+WD1t/qeetD3aKrv6Q3qQb0Zt2eLZ9jF6QQ6fPJiMJP/WYhvz/JwiEdK01KI0UQmGvMpxYPe/hSxp/Fz434Mq0UWXHOfi/T3mx/jdjTmETdYqCvQus+zHsyB9U531+RSvhrRTvkZNnk6XZ+Y0U9S7Ei/xlhWpRzYXQkwY6nCqfQhVd0y/JPscvi1PYLqHS7y4pRJHSwE8jp4s6p/fJ5X+pc2gYz6L+0Kg9pVYZBQilpfADVS6XyqcKh5UI46/SSDixd/uRx5XPDR21bhSsndkpDbmBy9be0m5Gl9zm57/Lfc8iNw/uO29VO77L7+JuDu5u4rFsLq0U8OAAA=" /></Footer>{/* END_ATS_ACTIVITY_CREATE_SUPPORTED_FIELDS */}
      tags:
      - subpackage_activities
      parameters:
      - name: is_debug_mode
        in: query
        description: Whether to include debug fields (such as log file links) in the response.
        required: false
        schema:
          type: boolean
      - name: run_async
        in: query
        description: Whether or not third-party updates should be run asynchronously.
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityEndpointRequest'
  /ats/v1/activities/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns an `Activity` object with the given `id`.{/* BEGIN_ATS_ACTIVITY_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA92YbW/iOBSF/0rljwjItJTtFmm14qWFMiW0QKfTHVXRjXNJTJw42A4URvPfV4HQkt1qtG1TmO43Yuzj5PHx8U2+EwoaXSEXpEZAK1IkgXCQkxqpU81mTC9IkUDETAhw3cWaHZEiUXEUCanROWfIHdWROCY1YgQoXSzFIRszdAzQymChRleCZiJUxuOo0ng1jBQJZ6GPTp1SEYf6JzrrfiVYd/zHZfK30qRIIlBKe1LErjfAaYzqZ5LJ3XAMMNTASw5oMLaGl+R6/HNtyX07yFGj0wINLdRIkwdMp/K0jlTNMDzkUXk1bdnBmYGhAVIzylEZ1crp0clptZSqrGb/03L5H4eFydQW9knBcim3IC70RvTBHF3MzYl7bDaPH8zlTdVc+ktz4n8qWC4UeqNetT+6q/Rb9cP+Mx2s4W9fT780Wo2uWaDLs4o5uZubI3rYG1HfXl5Uum0673auH8zl3VGvdVMxR2fVblsc9psD1WsORK9eLpMi2V5HUvv2fbshNUc9ijijEOqhBupnx1wE4OIWm/VqQMRKUWxzRsuqUoYAliKEuSpTERgBOgyMrKY1nMYg0boUrrDmjc7dl8FleRK5m/VgInxcDFIjZ2anbjbPWllj1GfAONgcSU3LGP/lZVL7RiA1v6UXEZIikRgIjRaVCBodC/RTW7J02SsrAu2t9og9QZp0jRVKcp90msZMonMFEgLUKJPJ7n8Un6WpPHuRE8REKsOuEl/fwmxejsL3Z2cLJ3kOCqHDHNCvxpk2MefVQBeBzfMimmhtkM5svz0eq33RfPxtjf084L7Nt42Yc0/I8GCAVMZMJ/l60OQidvJBb6f6lnzSt2iib6n1cgwbrejCn31Yc7+Nf7M+GuZDOlHKpEb32PSn4mwniZuC3TPMcw6aejIfnlcc9FjIIBW1/KDZ9C6m/9PYKJIZU8xmPKkhX4o9KeqAhflw36hte3kn0Pds3rZEDD0RK8yH45NehuQO0+A9Y/Ytfu2IAGWck129tdguY+GN5e3rwXVhuewM8uG21socWLfXtNfqOb/uK0J+m70r7CEVMqetvlErrUuqD1tKvXlnX+JspZAD05VUxp7izv190bjdS4L+eod+D0LQwPOttVLRvRg4Z8QvxDkEFw/yytZEzNoK14o9Pz7pfZgj6qXo6lcHw5hSVOocqBZS5UQxo5mJggb9KtzzT3supt7v48sIIdDAuMgpTJ/09lWL7vm8H0kYj5nONy1TUWsycrrVvy53sr9zPO9fiPDmc/vgSorNhyq2etgcaN58bm8+RR01ps5Dn70LyB280r/GmLdC+qs7z4XlbaqWCcv+jHOTn36oN8//vNvvf/wNPD9x3ZUbAAA=" /></Footer>{/* END_ATS_ACTIVITY_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_activities
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ActivitiesIdGetParametersExpandSchemaItems'
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: remote_fields
        in: query
        description: Deprecated. Use show_enum_origins.
        required: false
        schema:
          $ref: '#/components/schemas/ActivitiesIdGetParametersRemoteFields'
      - name: show_enum_origins
        in: query
        description: A comma separated list of enum field names for which you'd like the original values to be returned, instead of Merge's normalized enum values. [Learn more](https://help.merge.dev/en/articles/8950958-show_enum_origins-query-parameter)
        required: false
        schema:
          $ref: '#/components/schemas/ActivitiesIdGetParametersShowEnumOrigins'
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
  /ats/v1/activities/meta/post:
    get:
      operationId: meta-post-retrieve
      summary: Meta Post Retrieve
      description: Returns metadata for `Activity` POSTs.{/* BEGIN_ATS_ACTIVITY_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA92YbW/iOBSF/0rljwjItJTtFmm14qWFMiW0QKfTHVXRjXNJTJw42A4URvPfV4HQkt1qtG1TmO43Yuzj5PHx8U2+EwoaXSEXpEZAK1IkgXCQkxqpU81mTC9IkUDETAhw3cWaHZEiUXEUCanROWfIHdWROCY1YgQoXSzFIRszdAzQymChRleCZiJUxuOo0ng1jBQJZ6GPTp1SEYf6JzrrfiVYd/zHZfK30qRIIlBKe1LErjfAaYzqZ5LJ3XAMMNTASw5oMLaGl+R6/HNtyX07yFGj0wINLdRIkwdMp/K0jlTNMDzkUXk1bdnBmYGhAVIzylEZ1crp0clptZSqrGb/03L5H4eFydQW9knBcim3IC70RvTBHF3MzYl7bDaPH8zlTdVc+ktz4n8qWC4UeqNetT+6q/Rb9cP+Mx2s4W9fT780Wo2uWaDLs4o5uZubI3rYG1HfXl5Uum0673auH8zl3VGvdVMxR2fVblsc9psD1WsORK9eLpMi2V5HUvv2fbshNUc9ijijEOqhBupnx1wE4OIWm/VqQMRKUWxzRsuqUoYAliKEuSpTERgBOgyMrKY1nMYg0boUrrDmjc7dl8FleRK5m/VgInxcDFIjZ2anbjbPWllj1GfAONgcSU3LGP/lZVL7RiA1v6UXEZIikRgIjRaVCBodC/RTW7J02SsrAu2t9og9QZp0jRVKcp90msZMonMFEgLUKJPJ7n8Un6WpPHuRE8REKsOuEl/fwmxejsL3Z2cLJ3kOCqHDHNCvxpk2MefVQBeBzfMimmhtkM5svz0eq33RfPxtjf084L7Nt42Yc0/I8GCAVMZMJ/l60OQidvJBb6f6lnzSt2iib6n1cgwbrejCn31Yc7+Nf7M+GuZDOlHKpEb32PSn4mwniZuC3TPMcw6aejIfnlcc9FjIIBW1/KDZ9C6m/9PYKJIZU8xmPKkhX4o9KeqAhflw36hte3kn0Pds3rZEDD0RK8yH45NehuQO0+A9Y/Ytfu2IAGWck129tdguY+GN5e3rwXVhuewM8uG21socWLfXtNfqOb/uK0J+m70r7CEVMqetvlErrUuqD1tKvXlnX+JspZAD05VUxp7izv190bjdS4L+eod+D0LQwPOttVLRvRg4Z8QvxDkEFw/yytZEzNoK14o9Pz7pfZgj6qXo6lcHw5hSVOocqBZS5UQxo5mJggb9KtzzT3supt7v48sIIdDAuMgpTJ/09lWL7vm8H0kYj5nONy1TUWsycrrVvy53sr9zPO9fiPDmc/vgSorNhyq2etgcaN58bm8+RR01ps5Dn70LyB280r/GmLdC+qs7z4XlbaqWCcv+jHOTn36oN8//vNvvf/wNPD9x3ZUbAAA=" /></Footer>{/* END_ATS_ACTIVITY_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_activities
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
components:
  schemas:
    ValidationProblemSource:
      type: object
      properties:
        pointer:
          type: string
      required:
      - pointer
      title: ValidationProblemSource
    ActivityResponse:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/Activity'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/WarningValidationProblem'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorValidationProblem'
        logs:
          type: array
          items:
            $ref: '#/components/schemas/DebugModeLog'
      required:
      - model
      - warnings
      - errors
      title: ActivityResponse
    ActivityTypeEnum:
      type: string
      enum:
      - NOTE
      - EMAIL
      - OTHER
      title: ActivityTypeEnum
    ActivitiesIdGetParametersRemoteFields:
      type: string
      enum:
      - activity_type
      - activity_type,visibility
      - visibility
      title: ActivitiesIdGetParametersRemoteFields
    PaginatedActivityList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/Activity'
      title: PaginatedActivityList
    DebugModelLogSummary:
      type: object
      properties:
        url:
          type: string
        method:
          type: string
        status_code:
          type: integer
      required:
      - url
      - method
      - status_code
      title: DebugModelLogSummary
    ActivityFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: ActivityFieldMappings
    ActivitiesGetParametersShowEnumOrigins:
      type: string
      enum:
      - activity_type
      - activity_type,visibility
      - visibility
      title: ActivitiesGetParametersShowEnumOrigins
    ActivitiesGetParametersRemoteFields:
      type: string
      enum:
      - activity_type
      - activity_type,visibility
      - visibility
      title: ActivitiesGetParametersRemoteFields
    LinkedAccountStatus:
      type: object
      properties:
        linked_account_status:
          type: string
        can_make_request:
          type: boolean
      required:
      - linked_account_status
      - can_make_request
      title: LinkedAccountStatus
    MetaResponse:
      type: object
      properties:
        request_schema:
          type: object
          additionalProperties:
            description: Any type
        status:
          $ref: '#/components/schemas/LinkedAccountStatus'
        has_conditional_params:
          type: boolean
        has_required_linked_account_params:
          type: boolean
        remote_fields:
          type: array
          items:
            type: string
            format: uuid
          description: Remote field values to populate
      required:
      - request_schema
      - has_conditional_params
      - has_required_linked_account_params
      title: MetaResponse
    RemoteData:
      type: object
      properties:
        path:
          type: string
          description: The third-party API path that is being called.
        data:
          description: The data returned from the third-party for this object in its original, unnormalized format.
      required:
      - path
      description: '# The RemoteData Object

        ### Description

        The `RemoteData` object is used to represent the full data pulled from the third-party API for an object.


        ### Usage Example

        TODO'
      title: RemoteData
    ActivitiesIdGetParametersShowEnumOrigins:
      type: string
      enum:
      - activity_type
      - activity_type,visibility
      - visibility
      title: ActivitiesIdGetParametersShowEnumOrigins
    Activity:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        user:
          type:
          - string
          - 'null'
          format: uuid
          description: The user that performed the action.
        remote_created_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the third party's activity was created.
        activity_type:
          oneOf:
          - $ref: '#/components/schemas/ActivityTypeEnum'
          - type: 'null'
          description: The activity's type.
        subject:
          type:
          - string
          - 'null'
          description: The activity's subject.
        body:
          type:
          - string
          - 'null'
          description: The activity's body.
        visibility:
          oneOf:
          - $ref: '#/components/schemas/VisibilityEnum'
          - type: 'null'
          description: The activity's visibility.
        candidate:
          type:
          - string
          - 'null'
          format: uuid
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/ActivityFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The Activity Object

        ### Description

        The `Activity` object is used to represent an activity for a candidate performed by a user.

        ### Usage Example

        Fetch from the `LIST Activities` endpoint and filter by `ID` to show all activities.'
      title: Activity
    ActivityEndpointRequest:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/ActivityRequest'
        remote_user_id:
          type: string
      required:
      - model
      - remote_user_id
      title: ActivityEndpointRequest
    VisibilityEnum:
      type: string
      enum:
      - ADMIN_ONLY
      - PUBLIC
      - PRIVATE
      title: VisibilityEnum
    ActivitiesGetParametersExpandSchemaItems:
      type: string
      enum:
      - user
      title: ActivitiesGetParametersExpandSchemaItems
    DebugModeLog:
      type: object
      properties:
        log_id:
          type: string
        dashboard_view:
          type: string
        log_summary:
          $ref: '#/components/schemas/DebugModelLogSummary'
      required:
      - log_id
      - dashboard_view
      - log_summary
      title: DebugModeLog
    ActivityRequest:
      type: object
      properties:
        user:
          type:
          - string
          - 'null'
          format: uuid
          description: The user that performed the action.
        activity_type:
          oneOf:
          - $ref: '#/components/schemas/ActivityTypeEnum'
          - type: 'null'
          description: The activity's type.
        subject:
          type:
          - string
          - 'null'
          description: The activity's subject.
        body:
          type:
          - string
          - 'null'
          description: The activity's body.
        visibility:
          oneOf:
          - $ref: '#/components/schemas/VisibilityEnum'
          - type: 'null'
          description: The activity's visibility.
        candidate:
          type:
          - string
          - 'null'
          format: uuid
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      description: '# The Activity Object

        ### Description

        The `Activity` object is used to represent an activity for a candidate performed by a user.

        ### Usage Example

        Fetch from the `LIST Activities` endpoint and filter by `ID` to show all activities.'
      title: ActivityRequest
    ActivitiesIdGetParametersExpandSchemaItems:
      type: string
      enum:
      - user
      title: ActivitiesIdGetParametersExpandSchemaItems
    WarningValidationProblem:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/ValidationProblemSource'
        title:
          type: string
        detail:
          type: string
        problem_type:
          type: string
        block_merge_link:
          type: boolean
        raw_error:
          type: string
        error_code:
          type: integer
      required:
      - title
      - detail
      - problem_type
      title: WarningValidationProblem
    ErrorValidationProblem:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/ValidationProblemSource'
        title:
          type: string
        detail:
          type: string
        problem_type:
          type: string
        block_merge_link:
          type: boolean
        raw_error:
          type: string
        error_code:
          type: integer
      required:
      - title
      - detail
      - problem_type
      title: ErrorValidationProblem
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
