openapi: 3.2.0
info:
  title: HRIS Subpackage Payroll Runs API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_payrollRuns
paths:
  /hris/v1/payroll-runs:
    get:
      operationId: list
      summary: List
      description: Returns a list of `PayrollRun` objects.{/* BEGIN_HRIS_PAYROLLRUN_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA9WXYW/aOhSG/0rljwiSUcZ2i3R1RZsW2o2QC+ndqqmyDs4hGJw42E5pmPbfr0JoFbZuEm3add8S+/h18pz3yMdfCQODoVQZ6ZCZ4prUSSQDFKRDPMiUFGKUxqROIOEuRLiNojeHpE50miRSGQzOOIpA9xVOSYfYEaoQG2nMpxwDOw+3eWwwVGC4jLV9v6wx3awjdSJ4vMCgy5hMY/MroSKwAUXkd6/5tDakThLQ2syUTMPZCJcp6l9q5t8jMMLYgGgEYMAurW+oQuChsfzLAxRoMHDAgIMGWf6L271mxiS6Y9szFIm12dcK8MbG2AZlOBOo7Xbr6PD9UbuxVdns/g8Nxd/N2nw5kZP3NRoyQSGtDXx26/rnK3cevnVP3t6668u2u16s3fniTY2GUBv4g/bQv2oNnW5z+EAAHb/7fPTfsXN84dbY+rTlzq9Wrs+aA58tJuvz1kWPrS76/96666vDgXPZcv3T9kVPNocnIz04GclB17JInZQzSTpfvpYHtgbpOt7BJ6kWU6kYHrhytbvsPIIQS3iKjEDCG0k6EZxZumVBBGsZw0pbTEZ2hAEHu+t49F6WunJFx8sUFFpJHN4lgsv4PgukQ07dftc9OXV2LdG9AS5gIpB0jErxBx+TzhfCZsgWNACDpE4wSoTMEGlSVARVaZznHuPgLkRhJA1SHuRlYUCZYuI6n1mmXGHggYIIDapc//pb/SFyDmSbv6sGmCfATKWK7lRfE6jc6LtvNAEzy4fSmGpTBJdI1kka82WaI8bY5NWr9qXbS7WR1aLdSFK98SHludgfArlk1zLw/NlkyXfs9+R8PpbiBoNqSXO9EX0BvK8F4zDTBlV/VA3HQm1r1Weh+DNfPpLinrQ8yNgMbysyXSG2PWDoRxnKP7uuH+9CDzIhGTdZZWQLuTJb+rEXNc+C+DUxvkf45Doed72DccoYan0GzEilq0G5q7nD85h9luHZG2uevFyZlxA+npWvuIumGj6+4jGal/PUlofaXJf27Xie7LLLD70DT1XU3lx+6D3nSfHUkqz0mM3BjRCCrGp0NETo/7X0XhPC39TK5Ne2ALJqO8JPheiL9jLPR3S/+831t/8BDE+a07kRAAA=" /></Footer>{/* END_HRIS_PAYROLLRUN_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_payrollRuns
      parameters:
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: ended_after
        in: query
        description: If provided, will only return payroll runs ended after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: ended_before
        in: query
        description: If provided, will only return payroll runs ended before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_fields
        in: query
        description: Deprecated. Use show_enum_origins.
        required: false
        schema:
          $ref: '#/components/schemas/PayrollRunsGetParametersRemoteFields'
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: run_type
        in: query
        description: 'If provided, will only return PayrollRun''s with this status. Options: (''REGULAR'', ''OFF_CYCLE'', ''CORRECTION'', ''TERMINATION'', ''SIGN_ON_BONUS'')


          '
        required: false
        schema:
          $ref: '#/components/schemas/PayrollRunsGetParametersRunType'
      - name: show_enum_origins
        in: query
        description: A comma separated list of enum field names for which you'd like the original values to be returned, instead of Merge's normalized enum values. [Learn more](https://help.merge.dev/en/articles/8950958-show_enum_origins-query-parameter)
        required: false
        schema:
          $ref: '#/components/schemas/PayrollRunsGetParametersShowEnumOrigins'
      - name: started_after
        in: query
        description: If provided, will only return payroll runs started after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: started_before
        in: query
        description: If provided, will only return payroll runs started before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPayrollRunList'
  /hris/v1/payroll-runs/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns a `PayrollRun` object with the given `id`.{/* BEGIN_HRIS_PAYROLLRUN_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA9WXYW/aOhSG/0rljwiSUcZ2i3R1RZsW2o2QC+ndqqmyDs4hGJw42E5pmPbfr0JoFbZuEm3add8S+/h18pz3yMdfCQODoVQZ6ZCZ4prUSSQDFKRDPMiUFGKUxqROIOEuRLiNojeHpE50miRSGQzOOIpA9xVOSYfYEaoQG2nMpxwDOw+3eWwwVGC4jLV9v6wx3awjdSJ4vMCgy5hMY/MroSKwAUXkd6/5tDakThLQ2syUTMPZCJcp6l9q5t8jMMLYgGgEYMAurW+oQuChsfzLAxRoMHDAgIMGWf6L271mxiS6Y9szFIm12dcK8MbG2AZlOBOo7Xbr6PD9UbuxVdns/g8Nxd/N2nw5kZP3NRoyQSGtDXx26/rnK3cevnVP3t6668u2u16s3fniTY2GUBv4g/bQv2oNnW5z+EAAHb/7fPTfsXN84dbY+rTlzq9Wrs+aA58tJuvz1kWPrS76/96666vDgXPZcv3T9kVPNocnIz04GclB17JInZQzSTpfvpYHtgbpOt7BJ6kWU6kYHrhytbvsPIIQS3iKjEDCG0k6EZxZumVBBGsZw0pbTEZ2hAEHu+t49F6WunJFx8sUFFpJHN4lgsv4PgukQ07dftc9OXV2LdG9AS5gIpB0jErxBx+TzhfCZsgWNACDpE4wSoTMEGlSVARVaZznHuPgLkRhJA1SHuRlYUCZYuI6n1mmXGHggYIIDapc//pb/SFyDmSbv6sGmCfATKWK7lRfE6jc6LtvNAEzy4fSmGpTBJdI1kka82WaI8bY5NWr9qXbS7WR1aLdSFK98SHludgfArlk1zLw/NlkyXfs9+R8PpbiBoNqSXO9EX0BvK8F4zDTBlV/VA3HQm1r1Weh+DNfPpLinrQ8yNgMbysyXSG2PWDoRxnKP7uuH+9CDzIhGTdZZWQLuTJb+rEXNc+C+DUxvkf45Doed72DccoYan0GzEilq0G5q7nD85h9luHZG2uevFyZlxA+npWvuIumGj6+4jGal/PUlofaXJf27Xie7LLLD70DT1XU3lx+6D3nSfHUkqz0mM3BjRCCrGp0NETo/7X0XhPC39TK5Ne2ALJqO8JPheiL9jLPR3S/+831t/8BDE+a07kRAAA=" /></Footer>{/* END_HRIS_PAYROLLRUN_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_payrollRuns
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: remote_fields
        in: query
        description: Deprecated. Use show_enum_origins.
        required: false
        schema:
          $ref: '#/components/schemas/PayrollRunsIdGetParametersRemoteFields'
      - name: show_enum_origins
        in: query
        description: A comma separated list of enum field names for which you'd like the original values to be returned, instead of Merge's normalized enum values. [Learn more](https://help.merge.dev/en/articles/8950958-show_enum_origins-query-parameter)
        required: false
        schema:
          $ref: '#/components/schemas/PayrollRunsIdGetParametersShowEnumOrigins'
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollRun'
components:
  schemas:
    PayrollRunsGetParametersRunType:
      type: string
      enum:
      - CORRECTION
      - OFF_CYCLE
      - REGULAR
      - SIGN_ON_BONUS
      - TERMINATION
      title: PayrollRunsGetParametersRunType
    RunStateEnum:
      type: string
      enum:
      - PAID
      - DRAFT
      - APPROVED
      - FAILED
      - CLOSED
      title: RunStateEnum
    PayrollRunsIdGetParametersShowEnumOrigins:
      type: string
      enum:
      - run_state
      - run_state,run_type
      - run_type
      title: PayrollRunsIdGetParametersShowEnumOrigins
    PayrollRunFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: PayrollRunFieldMappings
    RemoteData:
      type: object
      properties:
        path:
          type: string
          description: The third-party API path that is being called.
        data:
          description: The data returned from the third-party for this object in its original, unnormalized format.
      required:
      - path
      description: '# The RemoteData Object

        ### Description

        The `RemoteData` object is used to represent the full data pulled from the third-party API for an object.


        ### Usage Example

        TODO'
      title: RemoteData
    PayrollRunsIdGetParametersRemoteFields:
      type: string
      enum:
      - run_state
      - run_state,run_type
      - run_type
      title: PayrollRunsIdGetParametersRemoteFields
    RunTypeEnum:
      type: string
      enum:
      - REGULAR
      - OFF_CYCLE
      - CORRECTION
      - TERMINATION
      - SIGN_ON_BONUS
      title: RunTypeEnum
    PaginatedPayrollRunList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/PayrollRun'
      title: PaginatedPayrollRunList
    PayrollRun:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        run_state:
          oneOf:
          - $ref: '#/components/schemas/RunStateEnum'
          - type: 'null'
          description: The state of the payroll run
        run_type:
          oneOf:
          - $ref: '#/components/schemas/RunTypeEnum'
          - type: 'null'
          description: The type of the payroll run
        start_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The day and time the payroll run started.
        end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The day and time the payroll run ended.
        check_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The day and time the payroll run was checked.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/PayrollRunFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The PayrollRun Object

        ### Description

        The `PayrollRun` object is used to represent a group of pay statements for a specific pay schedule.


        ### Usage Example

        Fetch from the `LIST PayrollRuns` endpoint and filter by `ID` to show all payroll runs.'
      title: PayrollRun
    PayrollRunsGetParametersRemoteFields:
      type: string
      enum:
      - run_state
      - run_state,run_type
      - run_type
      title: PayrollRunsGetParametersRemoteFields
    PayrollRunsGetParametersShowEnumOrigins:
      type: string
      enum:
      - run_state
      - run_state,run_type
      - run_type
      title: PayrollRunsGetParametersShowEnumOrigins
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
