openapi: 3.1.0
info:
  title: Accounting subpackage_accountToken API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_accountToken
paths:
  /accounting/v1/account-token/{public_token}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns the account token for the end user with the provided public token.
      tags:
      - subpackage_accountToken
      parameters:
      - name: public_token
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountToken'
  /accounting/v1/account-token/regenerate:
    post:
      operationId: regenerate-create
      summary: Regenerate Create
      description: Exchange Linked Account account tokens.
      tags:
      - subpackage_accountToken
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegenerateAccountToken'
  /ats/v1/account-token/{public_token}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns the account token for the end user with the provided public token.
      tags:
      - subpackage_accountToken
      parameters:
      - name: public_token
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountToken'
  /ats/v1/account-token/regenerate:
    post:
      operationId: regenerate-create
      summary: Regenerate Create
      description: Exchange Linked Account account tokens.
      tags:
      - subpackage_accountToken
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegenerateAccountToken'
  /account-token/{public_token}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns the account token for the end user with the provided public token.
      tags:
      - subpackage_accountToken
      parameters:
      - name: public_token
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountToken'
  /account-token/regenerate:
    post:
      operationId: regenerate-create
      summary: Regenerate Create
      description: Exchange Linked Account account tokens.
      tags:
      - subpackage_accountToken
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegenerateAccountToken'
  /crm/v1/account-token/{public_token}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns the account token for the end user with the provided public token.
      tags:
      - subpackage_accountToken
      parameters:
      - name: public_token
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountToken'
  /crm/v1/account-token/regenerate:
    post:
      operationId: regenerate-create
      summary: Regenerate Create
      description: Exchange Linked Account account tokens.
      tags:
      - subpackage_accountToken
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegenerateAccountToken'
  /filestorage/v1/account-token/{public_token}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns the account token for the end user with the provided public token.
      tags:
      - subpackage_accountToken
      parameters:
      - name: public_token
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountToken'
  /filestorage/v1/account-token/regenerate:
    post:
      operationId: regenerate-create
      summary: Regenerate Create
      description: Exchange Linked Account account tokens.
      tags:
      - subpackage_accountToken
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegenerateAccountToken'
  /hris/v1/account-token/{public_token}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns the account token for the end user with the provided public token.
      tags:
      - subpackage_accountToken
      parameters:
      - name: public_token
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountToken'
  /hris/v1/account-token/regenerate:
    post:
      operationId: regenerate-create
      summary: Regenerate Create
      description: Exchange Linked Account account tokens.
      tags:
      - subpackage_accountToken
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegenerateAccountToken'
  /knowledgebase/v1/account-token/{public_token}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns the account token for the end user with the provided public token.
      tags:
      - subpackage_accountToken
      parameters:
      - name: public_token
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountToken'
  /knowledgebase/v1/account-token/regenerate:
    post:
      operationId: regenerate-create
      summary: Regenerate Create
      description: Exchange Linked Account account tokens.
      tags:
      - subpackage_accountToken
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegenerateAccountToken'
  /ticketing/v1/account-token/{public_token}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns the account token for the end user with the provided public token.
      tags:
      - subpackage_accountToken
      parameters:
      - name: public_token
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountToken'
  /ticketing/v1/account-token/regenerate:
    post:
      operationId: regenerate-create
      summary: Regenerate Create
      description: Exchange Linked Account account tokens.
      tags:
      - subpackage_accountToken
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegenerateAccountToken'
components:
  schemas:
    RegenerateAccountToken:
      type: object
      properties:
        linked_account_id:
          type: string
        account_token:
          type: string
      required:
      - linked_account_id
      - account_token
      description: '# The RegenerateAccountToken Object

        ### Description

        The `RegenerateAccountToken` object is used to exchange an old account token for a new one.


        ### Usage Example

        Post to receive a new `RegenerateAccountToken`.'
      title: RegenerateAccountToken
    AccountIntegration:
      type: object
      properties:
        name:
          type: string
          description: Company name.
        abbreviated_name:
          type:
          - string
          - 'null'
          description: 'Optional. This shortened name appears in places with limited space, usually in conjunction with the platform''s logo (e.g., Merge Link menu).<br><br>Example: <i>Workforce Now (in lieu of ADP Workforce Now), SuccessFactors (in lieu of SAP SuccessFactors)</i>'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/CategoriesEnum'
          description: Category or categories this integration belongs to. Multiple categories should be comma separated, i.e. [ats, hris].
        image:
          type:
          - string
          - 'null'
          format: uri
          description: Company logo in rectangular shape.
        square_image:
          type:
          - string
          - 'null'
          format: uri
          description: Company logo in square shape.
        color:
          type: string
          description: The color of this integration used for buttons and text throughout the app and landing pages. <b>Choose a darker, saturated color.</b>
        slug:
          type: string
        api_endpoints_to_documentation_urls:
          type: object
          additionalProperties:
            description: Any type
          description: 'Mapping of API endpoints to documentation urls for support. Example: {''GET'': [[''/common-model-scopes'', ''https://docs.merge.dev/accounting/common-model-scopes/#common_model_scopes_retrieve''],[''/common-model-actions'', ''https://docs.merge.dev/accounting/common-model-actions/#common_model_actions_retrieve'']], ''POST'': []}'
        webhook_setup_guide_url:
          type:
          - string
          - 'null'
          description: Setup guide URL for third party webhook creation. Exposed in Merge Docs.
        category_beta_status:
          $ref: '#/components/schemas/AccountIntegrationCategoryBetaStatus'
          description: Category or categories this integration is in beta status for.
      required:
      - name
      title: AccountIntegration
    AccountToken:
      type: object
      properties:
        account_token:
          type: string
        integration:
          $ref: '#/components/schemas/AccountIntegration'
        id:
          type: string
      required:
      - account_token
      - integration
      - id
      title: AccountToken
    AccountIntegrationCategoryBetaStatus:
      type: object
      properties: {}
      description: Category or categories this integration is in beta status for.
      title: AccountIntegrationCategoryBetaStatus
    CategoriesEnum:
      type: string
      enum:
      - hris
      - ats
      - accounting
      - ticketing
      - crm
      - mktg
      - filestorage
      - knowledgebase
      title: CategoriesEnum
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
