openapi: 3.1.0
info:
  title: Accounting subpackage_generateKey API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_generateKey
paths:
  /accounting/v1/generate-key:
    post:
      operationId: create
      summary: Create
      description: Create a remote key.
      tags:
      - subpackage_generateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
  /ats/v1/generate-key:
    post:
      operationId: create
      summary: Create
      description: Create a remote key.
      tags:
      - subpackage_generateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
  /generate-key:
    post:
      operationId: create
      summary: Create
      description: Create a remote key.
      tags:
      - subpackage_generateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
  /crm/v1/generate-key:
    post:
      operationId: create
      summary: Create
      description: Create a remote key.
      tags:
      - subpackage_generateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
  /filestorage/v1/generate-key:
    post:
      operationId: create
      summary: Create
      description: Create a remote key.
      tags:
      - subpackage_generateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
  /hris/v1/generate-key:
    post:
      operationId: create
      summary: Create
      description: Create a remote key.
      tags:
      - subpackage_generateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
  /knowledgebase/v1/generate-key:
    post:
      operationId: create
      summary: Create
      description: Create a remote key.
      tags:
      - subpackage_generateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
  /ticketing/v1/generate-key:
    post:
      operationId: create
      summary: Create
      description: Create a remote key.
      tags:
      - subpackage_generateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
components:
  schemas:
    GenerateRemoteKeyRequest:
      type: object
      properties:
        name:
          type: string
          description: The name of the remote key
      required:
      - name
      description: '# The GenerateRemoteKey Object

        ### Description

        The `GenerateRemoteKey` object is used to represent a request for a new remote key.


        ### Usage Example

        Post a `GenerateRemoteKey` to create a new remote key.'
      title: GenerateRemoteKeyRequest
    RemoteKey:
      type: object
      properties:
        name:
          type: string
        key:
          type: string
      required:
      - name
      - key
      description: '# The RemoteKey Object

        ### Description

        The `RemoteKey` object is used to represent a request for a new remote key.


        ### Usage Example

        Post a `GenerateRemoteKey` to receive a new `RemoteKey`.'
      title: RemoteKey
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
