openapi: 3.2.0
info:
  title: HRIS Subpackage Time Off Balances API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_timeOffBalances
paths:
  /hris/v1/time-off-balances:
    get:
      operationId: list
      summary: List
      description: Returns a list of `TimeOffBalance` objects.{/* BEGIN_HRIS_TIMEOFFBALANCE_FETCH_SUPPORTED_FIELDS */}{/* END_HRIS_TIMEOFFBALANCE_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_timeOffBalances
      parameters:
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: employee_id
        in: query
        description: If provided, will only return time off balances for this employee.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/TimeOffBalancesGetParametersExpandSchemaItems'
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: policy_type
        in: query
        description: 'If provided, will only return TimeOffBalance with this policy type. Options: (''VACATION'', ''SICK'', ''PERSONAL'', ''JURY_DUTY'', ''VOLUNTEER'', ''BEREAVEMENT'')


          '
        required: false
        schema:
          $ref: '#/components/schemas/TimeOffBalancesGetParametersPolicyType'
      - name: remote_fields
        in: query
        description: Deprecated. Use show_enum_origins.
        required: false
        schema:
          $ref: '#/components/schemas/TimeOffBalancesGetParametersRemoteFields'
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: show_enum_origins
        in: query
        description: A comma separated list of enum field names for which you'd like the original values to be returned, instead of Merge's normalized enum values. [Learn more](https://help.merge.dev/en/articles/8950958-show_enum_origins-query-parameter)
        required: false
        schema:
          $ref: '#/components/schemas/TimeOffBalancesGetParametersShowEnumOrigins'
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTimeOffBalanceList'
  /hris/v1/time-off-balances/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns a `TimeOffBalance` object with the given `id`.{/* BEGIN_HRIS_TIMEOFFBALANCE_FETCH_SUPPORTED_FIELDS */}{/* END_HRIS_TIMEOFFBALANCE_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_timeOffBalances
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/TimeOffBalancesIdGetParametersExpandSchemaItems'
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: remote_fields
        in: query
        description: Deprecated. Use show_enum_origins.
        required: false
        schema:
          $ref: '#/components/schemas/TimeOffBalancesIdGetParametersRemoteFields'
      - name: show_enum_origins
        in: query
        description: A comma separated list of enum field names for which you'd like the original values to be returned, instead of Merge's normalized enum values. [Learn more](https://help.merge.dev/en/articles/8950958-show_enum_origins-query-parameter)
        required: false
        schema:
          $ref: '#/components/schemas/TimeOffBalancesIdGetParametersShowEnumOrigins'
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeOffBalance'
components:
  schemas:
    TimeOffBalance:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        employee:
          type:
          - string
          - 'null'
          format: uuid
          description: The employee the balance belongs to.
        balance:
          type:
          - number
          - 'null'
          format: double
          description: The current remaining PTO balance, measured in hours. For integrations that return this value in days, Merge multiplies by 8 to calculate hours.
        used:
          type:
          - number
          - 'null'
          format: double
          description: The amount of PTO used in terms of hours. For integrations that return this value in days, Merge multiplies by 8 to calculate hours.
        policy_type:
          oneOf:
          - $ref: '#/components/schemas/PolicyTypeEnum'
          - type: 'null'
          description: The policy type of this time off balance.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/TimeOffBalanceFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The TimeOffBalance Object

        ### Description

        The `TimeOffBalance` object is used to represent current balances for an employee''s Time Off plan.


        ### Usage Example

        Fetch from the `LIST TimeOffBalances` endpoint and filter by `ID` to show all time off balances.'
      title: TimeOffBalance
    TimeOffBalancesIdGetParametersExpandSchemaItems:
      type: string
      enum:
      - employee
      title: TimeOffBalancesIdGetParametersExpandSchemaItems
    TimeOffBalanceFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: TimeOffBalanceFieldMappings
    TimeOffBalancesGetParametersExpandSchemaItems:
      type: string
      enum:
      - employee
      title: TimeOffBalancesGetParametersExpandSchemaItems
    TimeOffBalancesGetParametersPolicyType:
      type: string
      enum:
      - BEREAVEMENT
      - JURY_DUTY
      - PERSONAL
      - SICK
      - VACATION
      - VOLUNTEER
      title: TimeOffBalancesGetParametersPolicyType
    PolicyTypeEnum:
      type: string
      enum:
      - VACATION
      - SICK
      - PERSONAL
      - JURY_DUTY
      - VOLUNTEER
      - BEREAVEMENT
      title: PolicyTypeEnum
    TimeOffBalancesIdGetParametersRemoteFields:
      type: string
      enum:
      - policy_type
      title: TimeOffBalancesIdGetParametersRemoteFields
    RemoteData:
      type: object
      properties:
        path:
          type: string
          description: The third-party API path that is being called.
        data:
          description: The data returned from the third-party for this object in its original, unnormalized format.
      required:
      - path
      description: '# The RemoteData Object

        ### Description

        The `RemoteData` object is used to represent the full data pulled from the third-party API for an object.


        ### Usage Example

        TODO'
      title: RemoteData
    PaginatedTimeOffBalanceList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/TimeOffBalance'
      title: PaginatedTimeOffBalanceList
    TimeOffBalancesIdGetParametersShowEnumOrigins:
      type: string
      enum:
      - policy_type
      title: TimeOffBalancesIdGetParametersShowEnumOrigins
    TimeOffBalancesGetParametersShowEnumOrigins:
      type: string
      enum:
      - policy_type
      title: TimeOffBalancesGetParametersShowEnumOrigins
    TimeOffBalancesGetParametersRemoteFields:
      type: string
      enum:
      - policy_type
      title: TimeOffBalancesGetParametersRemoteFields
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
