openapi: 3.2.0
info:
  title: Merge Subpackage Attachments API
  version: 1.0.0
  description: 'Operations tagged subpackage_attachments across 4 of this provider''s published API definitions: merge-accounting-api-openapi.yaml, merge-ats-api-openapi.yaml, merge-knowledge-base-api-openapi.yaml, merge-ticketing-api-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
- url: https://api-ap.merge.dev/api/knowledgebase/v1
tags:
- name: subpackage_attachments
paths:
  /accounting/v1/attachments:
    get:
      operationId: list
      summary: List
      description: Returns a list of `AccountingAttachment` objects.{/* BEGIN_ACCOUNTING_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_attachments
      parameters:
      - name: company_id
        in: query
        description: If provided, will only return accounting attachments for this company.
        required: false
        schema:
          type: string
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccountingAttachmentList'
    post:
      operationId: create
      summary: Create
      description: Creates an `AccountingAttachment` object with the given values.{/* BEGIN_ACCOUNTING_ATTACHMENT_CREATE_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_ATTACHMENT_CREATE_SUPPORTED_FIELDS */}
      tags:
      - subpackage_attachments
      parameters:
      - name: is_debug_mode
        in: query
        description: Whether to include debug fields (such as log file links) in the response.
        required: false
        schema:
          type: boolean
      - name: run_async
        in: query
        description: Whether or not third-party updates should be run asynchronously.
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingAttachmentResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingAttachmentEndpointRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /accounting/v1/attachments/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns an `AccountingAttachment` object with the given `id`.{/* BEGIN_ACCOUNTING_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_attachments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingAttachment'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /accounting/v1/attachments/meta/post:
    get:
      operationId: meta-post-retrieve
      summary: Meta Post Retrieve
      description: Returns metadata for `AccountingAttachment` POSTs.{/* BEGIN_ACCOUNTING_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_attachments
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ats/v1/attachments:
    get:
      operationId: list
      summary: List
      description: Returns a list of `Attachment` objects.{/* BEGIN_ATS_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}{/* END_ATS_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_attachments
      parameters:
      - name: candidate_id
        in: query
        description: If provided, will only return attachments for this candidate.
        required: false
        schema:
          type: string
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentsGetParametersExpandSchemaItems'
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_fields
        in: query
        description: Deprecated. Use show_enum_origins.
        required: false
        schema:
          $ref: '#/components/schemas/AttachmentsGetParametersRemoteFields'
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: show_enum_origins
        in: query
        description: A comma separated list of enum field names for which you'd like the original values to be returned, instead of Merge's normalized enum values. [Learn more](https://help.merge.dev/en/articles/8950958-show_enum_origins-query-parameter)
        required: false
        schema:
          $ref: '#/components/schemas/AttachmentsGetParametersShowEnumOrigins'
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAttachmentList'
    post:
      operationId: create
      summary: Create
      description: Creates an `Attachment` object with the given values.{/* BEGIN_ATS_ATTACHMENT_CREATE_SUPPORTED_FIELDS */}{/* END_ATS_ATTACHMENT_CREATE_SUPPORTED_FIELDS */}
      tags:
      - subpackage_attachments
      parameters:
      - name: is_debug_mode
        in: query
        description: Whether to include debug fields (such as log file links) in the response.
        required: false
        schema:
          type: boolean
      - name: run_async
        in: query
        description: Whether or not third-party updates should be run asynchronously.
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentEndpointRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ats/v1/attachments/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns an `Attachment` object with the given `id`.{/* BEGIN_ATS_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}{/* END_ATS_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_attachments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentsIdGetParametersExpandSchemaItems'
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: remote_fields
        in: query
        description: Deprecated. Use show_enum_origins.
        required: false
        schema:
          $ref: '#/components/schemas/AttachmentsIdGetParametersRemoteFields'
      - name: show_enum_origins
        in: query
        description: A comma separated list of enum field names for which you'd like the original values to be returned, instead of Merge's normalized enum values. [Learn more](https://help.merge.dev/en/articles/8950958-show_enum_origins-query-parameter)
        required: false
        schema:
          $ref: '#/components/schemas/AttachmentsIdGetParametersShowEnumOrigins'
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ats/v1/attachments/meta/post:
    get:
      operationId: meta-post-retrieve
      summary: Meta Post Retrieve
      description: Returns metadata for `Attachment` POSTs.{/* BEGIN_ATS_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}{/* END_ATS_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_attachments
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /knowledgebase/v1/attachments:
    get:
      operationId: list
      summary: List
      description: Returns a list of `Attachment` objects.
      tags:
      - subpackage_attachments
      parameters:
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAttachmentList'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
    - url: https://api-ap.merge.dev/api/knowledgebase/v1
  /knowledgebase/v1/attachments/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns an `Attachment` object with the given `id`.
      tags:
      - subpackage_attachments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment_2'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
    - url: https://api-ap.merge.dev/api/knowledgebase/v1
  /ticketing/v1/attachments:
    get:
      operationId: list
      summary: List
      description: Returns a list of `Attachment` objects.{/* BEGIN_TICKETING_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}{/* END_TICKETING_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_attachments
      parameters:
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentsGetParametersExpandSchemaItems_2'
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_created_after
        in: query
        description: If provided, will only return attachments created in the third party platform after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: ticket_id
        in: query
        description: If provided, will only return comments for this ticket.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAttachmentList'
    post:
      operationId: create
      summary: Create
      description: Creates an `Attachment` object with the given values.{/* BEGIN_TICKETING_ATTACHMENT_CREATE_SUPPORTED_FIELDS */}{/* END_TICKETING_ATTACHMENT_CREATE_SUPPORTED_FIELDS */}
      tags:
      - subpackage_attachments
      parameters:
      - name: is_debug_mode
        in: query
        description: Whether to include debug fields (such as log file links) in the response.
        required: false
        schema:
          type: boolean
      - name: run_async
        in: query
        description: Whether or not third-party updates should be run asynchronously.
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketingAttachmentResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketingAttachmentEndpointRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ticketing/v1/attachments/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns an `Attachment` object with the given `id`.{/* BEGIN_TICKETING_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}{/* END_TICKETING_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_attachments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentsIdGetParametersExpandSchemaItems_2'
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment_3'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ticketing/v1/attachments/{id}/download:
    get:
      operationId: download-retrieve
      summary: Download Retrieve
      description: Returns the `File` content with the given `id` as a stream of bytes.{/* BEGIN_TICKETING_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}{/* END_TICKETING_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_attachments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: mime_type
        in: query
        description: If provided, specifies the export format of the file to be downloaded. For information on supported export formats, please refer to our <a href='https://help.merge.dev/en/articles/8615316-file-export-and-download-specification' target='_blank'>export format help center article</a>.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ticketing/v1/attachments/meta/post:
    get:
      operationId: meta-post-retrieve
      summary: Meta Post Retrieve
      description: Returns metadata for `TicketingAttachment` POSTs.{/* BEGIN_TICKETING_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}{/* END_TICKETING_ATTACHMENT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_attachments
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
components:
  schemas:
    AccountingAttachmentFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: AccountingAttachmentFieldMappings
    DebugModelLogSummary:
      type: object
      properties:
        url:
          type: string
        method:
          type: string
        status_code:
          type: integer
      required:
      - url
      - method
      - status_code
      title: DebugModelLogSummary
    LinkedAccountStatus:
      type: object
      properties:
        linked_account_status:
          type: string
        can_make_request:
          type: boolean
      required:
      - linked_account_status
      - can_make_request
      title: LinkedAccountStatus
    AccountingAttachment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        file_name:
          type:
          - string
          - 'null'
          description: The attachment's name.
        file_url:
          type:
          - string
          - 'null'
          format: uri
          description: The attachment's url.
        company:
          type:
          - string
          - 'null'
          format: uuid
          description: The company the accounting attachment belongs to.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/AccountingAttachmentFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The Accounting Attachment Object

        ### Description

        The `AccountingAttachment` object is used to represent a company''s attachments.


        ### Usage Example

        Fetch from the `LIST AccountingAttachments` endpoint and view a company''s attachments.'
      title: AccountingAttachment
    ValidationProblemSource:
      type: object
      properties:
        pointer:
          type: string
      required:
      - pointer
      title: ValidationProblemSource
    ErrorValidationProblem:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/ValidationProblemSource'
        title:
          type: string
        detail:
          type: string
        problem_type:
          type: string
        block_merge_link:
          type: boolean
        raw_error:
          type: string
        error_code:
          type: integer
      required:
      - title
      - detail
      - problem_type
      title: ErrorValidationProblem
    AccountingAttachmentResponse:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/AccountingAttachment'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/WarningValidationProblem'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorValidationProblem'
        logs:
          type: array
          items:
            $ref: '#/components/schemas/DebugModeLog'
      required:
      - model
      - warnings
      - errors
      title: AccountingAttachmentResponse
    WarningValidationProblem:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/ValidationProblemSource'
        title:
          type: string
        detail:
          type: string
        problem_type:
          type: string
        block_merge_link:
          type: boolean
        raw_error:
          type: string
        error_code:
          type: integer
      required:
      - title
      - detail
      - problem_type
      title: WarningValidationProblem
    PaginatedAccountingAttachmentList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/AccountingAttachment'
      title: PaginatedAccountingAttachmentList
    AccountingAttachmentRequest:
      type: object
      properties:
        file_name:
          type:
          - string
          - 'null'
          description: The attachment's name.
        file_url:
          type:
          - string
          - 'null'
          format: uri
          description: The attachment's url.
        company:
          type:
          - string
          - 'null'
          format: uuid
          description: The company the accounting attachment belongs to.
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      description: '# The Accounting Attachment Object

        ### Description

        The `AccountingAttachment` object is used to represent a company''s attachments.


        ### Usage Example

        Fetch from the `LIST AccountingAttachments` endpoint and view a company''s attachments.'
      title: AccountingAttachmentRequest
    DebugModeLog:
      type: object
      properties:
        log_id:
          type: string
        dashboard_view:
          type: string
        log_summary:
          $ref: '#/components/schemas/DebugModelLogSummary'
      required:
      - log_id
      - dashboard_view
      - log_summary
      title: DebugModeLog
    RemoteData:
      type: object
      properties:
        path:
          type: string
          description: The third-party API path that is being called.
        data:
          description: The data returned from the third-party for this object in its original, unnormalized format.
      required:
      - path
      description: '# The RemoteData Object

        ### Description

        The `RemoteData` object is used to represent the full data pulled from the third-party API for an object.


        ### Usage Example

        TODO'
      title: RemoteData
    AccountingAttachmentEndpointRequest:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/AccountingAttachmentRequest'
      required:
      - model
      title: AccountingAttachmentEndpointRequest
    MetaResponse:
      type: object
      properties:
        request_schema:
          type: object
          additionalProperties:
            description: Any type
        status:
          $ref: '#/components/schemas/LinkedAccountStatus'
        has_conditional_params:
          type: boolean
        has_required_linked_account_params:
          type: boolean
        remote_fields:
          type: array
          items:
            type: string
            format: uuid
          description: Remote field values to populate
      required:
      - request_schema
      - has_conditional_params
      - has_required_linked_account_params
      title: MetaResponse
    AttachmentFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: AttachmentFieldMappings
    AttachmentsGetParametersExpandSchemaItems:
      type: string
      enum:
      - candidate
      title: AttachmentsGetParametersExpandSchemaItems
    AttachmentsIdGetParametersShowEnumOrigins:
      type: string
      enum:
      - attachment_type
      title: AttachmentsIdGetParametersShowEnumOrigins
    AttachmentResponse:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/Attachment'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/WarningValidationProblem'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorValidationProblem'
        logs:
          type: array
          items:
            $ref: '#/components/schemas/DebugModeLog'
      required:
      - model
      - warnings
      - errors
      title: AttachmentResponse
    Attachment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        file_name:
          type:
          - string
          - 'null'
          description: The attachment's name.
        file_url:
          type:
          - string
          - 'null'
          format: uri
          description: The attachment's url.
        candidate:
          type:
          - string
          - 'null'
          format: uuid
        attachment_type:
          oneOf:
          - $ref: '#/components/schemas/AttachmentTypeEnum'
          - type: 'null'
          description: The attachment's type.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/AttachmentFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The Attachment Object

        ### Description

        The `Attachment` object is used to represent a file attached to a candidate.

        ### Usage Example

        Fetch from the `LIST Attachments` endpoint and view attachments accessible by a company.'
      title: Attachment
    PaginatedAttachmentList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
      title: PaginatedAttachmentList
    AttachmentRequest:
      type: object
      properties:
        file_name:
          type:
          - string
          - 'null'
          description: The attachment's name.
        file_url:
          type:
          - string
          - 'null'
          format: uri
          description: The attachment's url.
        candidate:
          type:
          - string
          - 'null'
          format: uuid
        attachment_type:
          oneOf:
          - $ref: '#/components/schemas/AttachmentTypeEnum'
          - type: 'null'
          description: The attachment's type.
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      description: '# The Attachment Object

        ### Description

        The `Attachment` object is used to represent a file attached to a candidate.

        ### Usage Example

        Fetch from the `LIST Attachments` endpoint and view attachments accessible by a company.'
      title: AttachmentRequest
    AttachmentsIdGetParametersExpandSchemaItems:
      type: string
      enum:
      - candidate
      title: AttachmentsIdGetParametersExpandSchemaItems
    AttachmentTypeEnum:
      type: string
      enum:
      - RESUME
      - COVER_LETTER
      - OFFER_LETTER
      - OTHER
      title: AttachmentTypeEnum
    AttachmentsGetParametersShowEnumOrigins:
      type: string
      enum:
      - attachment_type
      title: AttachmentsGetParametersShowEnumOrigins
    AttachmentEndpointRequest:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/AttachmentRequest'
        remote_user_id:
          type: string
      required:
      - model
      - remote_user_id
      title: AttachmentEndpointRequest
    AttachmentsIdGetParametersRemoteFields:
      type: string
      enum:
      - attachment_type
      title: AttachmentsIdGetParametersRemoteFields
    AttachmentsGetParametersRemoteFields:
      type: string
      enum:
      - attachment_type
      title: AttachmentsGetParametersRemoteFields
    AttachmentFieldMappings_2:
      type: object
      properties: {}
      title: AttachmentFieldMappings
    Attachment_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        name:
          type:
          - string
          - 'null'
          description: The attachment's name.
        description:
          type:
          - string
          - 'null'
          description: The attachment's description.
        attachment_url:
          type:
          - string
          - 'null'
          description: The attachment's url.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/AttachmentFieldMappings_2'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The Attachment Object

        ### Description

        The `Attachment` object is used to represent an attachment to an article or container.

        ### Usage Example

        Fetch from the `GET /api/knowledgebase/attachments` endpoint and view their attachments.'
      title: Attachment
    TicketingAttachmentResponse:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/Attachment_3'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/WarningValidationProblem'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorValidationProblem'
        logs:
          type: array
          items:
            $ref: '#/components/schemas/DebugModeLog'
      required:
      - model
      - warnings
      - errors
      title: TicketingAttachmentResponse
    Attachment_3:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        file_name:
          type:
          - string
          - 'null'
          description: The attachment's name. It is required to include the file extension in the attachment's name.
        ticket:
          type:
          - string
          - 'null'
          format: uuid
          description: The ticket associated with the attachment.
        file_url:
          type:
          - string
          - 'null'
          description: The attachment's url. It is required to include the file extension in the file's URL.
        content_type:
          type:
          - string
          - 'null'
          description: The attachment's file format.
        uploaded_by:
          type:
          - string
          - 'null'
          format: uuid
          description: The user who uploaded the attachment.
        remote_created_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the third party's attachment was created.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/AttachmentFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The Attachment Object

        ### Description

        The `Attachment` object is used to represent an attachment for a ticket.


        ### Usage Example

        TODO'
      title: Attachment
    AttachmentsIdGetParametersExpandSchemaItems_2:
      type: string
      enum:
      - ticket
      title: AttachmentsIdGetParametersExpandSchemaItems
    AttachmentsGetParametersExpandSchemaItems_2:
      type: string
      enum:
      - ticket
      title: AttachmentsGetParametersExpandSchemaItems
    TicketingAttachmentEndpointRequest:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/AttachmentRequest_2'
      required:
      - model
      title: TicketingAttachmentEndpointRequest
    AttachmentRequest_2:
      type: object
      properties:
        file_name:
          type:
          - string
          - 'null'
          description: The attachment's name. It is required to include the file extension in the attachment's name.
        ticket:
          type:
          - string
          - 'null'
          format: uuid
          description: The ticket associated with the attachment.
        file_url:
          type:
          - string
          - 'null'
          description: The attachment's url. It is required to include the file extension in the file's URL.
        content_type:
          type:
          - string
          - 'null'
          description: The attachment's file format.
        uploaded_by:
          type:
          - string
          - 'null'
          format: uuid
          description: The user who uploaded the attachment.
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      description: '# The Attachment Object

        ### Description

        The `Attachment` object is used to represent an attachment for a ticket.


        ### Usage Example

        TODO'
      title: AttachmentRequest
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
x-refined-from:
- merge-accounting-api-openapi.yaml
- merge-ats-api-openapi.yaml
- merge-knowledge-base-api-openapi.yaml
- merge-ticketing-api-openapi.yaml
