openapi: 3.1.0
info:
  title: Accounting subpackage_forceResync API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_forceResync
paths:
  /accounting/v1/sync-status/resync:
    post:
      operationId: sync-status-resync-create
      summary: Sync Status Resync Create
      description: Force re-sync of all models. This endpoint is available for monthly, quarterly, and highest sync frequency customers on the Professional or Enterprise plans. Doing so will consume a sync credit for the relevant linked account. Force re-syncs can also be triggered manually in the Merge Dashboard and is available for all customers.
      tags:
      - subpackage_forceResync
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SyncStatus'
  /ats/v1/sync-status/resync:
    post:
      operationId: sync-status-resync-create
      summary: Sync Status Resync Create
      description: Force re-sync of all models. This endpoint is available for monthly, quarterly, and highest sync frequency customers on the Professional or Enterprise plans. Doing so will consume a sync credit for the relevant linked account. Force re-syncs can also be triggered manually in the Merge Dashboard and is available for all customers.
      tags:
      - subpackage_forceResync
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SyncStatus'
  /sync-status/resync:
    post:
      operationId: sync-status-resync-create
      summary: Sync Status Resync Create
      description: Force re-sync of all models. This endpoint is available for monthly, quarterly, and highest sync frequency customers on the Professional or Enterprise plans. Doing so will consume a sync credit for the relevant linked account. Force re-syncs can also be triggered manually in the Merge Dashboard and is available for all customers.
      tags:
      - subpackage_forceResync
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SyncStatus'
  /crm/v1/sync-status/resync:
    post:
      operationId: sync-status-resync-create
      summary: Sync Status Resync Create
      description: Force re-sync of all models. This endpoint is available for monthly, quarterly, and highest sync frequency customers on the Professional or Enterprise plans. Doing so will consume a sync credit for the relevant linked account. Force re-syncs can also be triggered manually in the Merge Dashboard and is available for all customers.
      tags:
      - subpackage_forceResync
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SyncStatus'
  /filestorage/v1/sync-status/resync:
    post:
      operationId: sync-status-resync-create
      summary: Sync Status Resync Create
      description: Force re-sync of all models. This endpoint is available for monthly, quarterly, and highest sync frequency customers on the Professional or Enterprise plans. Doing so will consume a sync credit for the relevant linked account. Force re-syncs can also be triggered manually in the Merge Dashboard and is available for all customers.
      tags:
      - subpackage_forceResync
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SyncStatus'
  /hris/v1/sync-status/resync:
    post:
      operationId: sync-status-resync-create
      summary: Sync Status Resync Create
      description: Force re-sync of all models. This endpoint is available for monthly, quarterly, and highest sync frequency customers on the Professional or Enterprise plans. Doing so will consume a sync credit for the relevant linked account. Force re-syncs can also be triggered manually in the Merge Dashboard and is available for all customers.
      tags:
      - subpackage_forceResync
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SyncStatus'
  /knowledgebase/v1/sync-status/resync:
    post:
      operationId: sync-status-resync-create
      summary: Sync Status Resync Create
      description: Force re-sync of all models. This endpoint is available for monthly, quarterly, and highest sync frequency customers on the Professional or Enterprise plans. Doing so will consume a sync credit for the relevant linked account. Force re-syncs can also be triggered manually in the Merge Dashboard and is available for all customers.
      tags:
      - subpackage_forceResync
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SyncStatus'
  /ticketing/v1/sync-status/resync:
    post:
      operationId: sync-status-resync-create
      summary: Sync Status Resync Create
      description: Force re-sync of all models. This endpoint is available for monthly, quarterly, and highest sync frequency customers on the Professional or Enterprise plans. Doing so will consume a sync credit for the relevant linked account. Force re-syncs can also be triggered manually in the Merge Dashboard and is available for all customers.
      tags:
      - subpackage_forceResync
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SyncStatus'
components:
  schemas:
    StatusFd5Enum:
      type: string
      enum:
      - SYNCING
      - DONE
      - FAILED
      - DISABLED
      - PAUSED
      - PARTIALLY_SYNCED
      title: StatusFd5Enum
    LastSyncResultEnum:
      type: string
      enum:
      - SYNCING
      - DONE
      - FAILED
      - DISABLED
      - PAUSED
      - PARTIALLY_SYNCED
      title: LastSyncResultEnum
    SyncStatus:
      type: object
      properties:
        model_name:
          type: string
        model_id:
          type: string
        last_sync_start:
          type: string
          format: date-time
        next_sync_start:
          type: string
          format: date-time
        last_sync_result:
          $ref: '#/components/schemas/LastSyncResultEnum'
        last_sync_finished:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/StatusFd5Enum'
        is_initial_sync:
          type: boolean
        selective_sync_configurations_usage:
          $ref: '#/components/schemas/SelectiveSyncConfigurationsUsageEnum'
      required:
      - model_name
      - model_id
      - status
      - is_initial_sync
      description: '# The SyncStatus Object

        ### Description

        The `SyncStatus` object is used to represent the syncing state of an account


        ### Usage Example

        View the `SyncStatus` for an account to see how recently its models were synced.'
      title: SyncStatus
    SelectiveSyncConfigurationsUsageEnum:
      type: string
      enum:
      - IN_NEXT_SYNC
      - IN_LAST_SYNC
      title: SelectiveSyncConfigurationsUsageEnum
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
