openapi: 3.2.0
info:
  title: ATS Subpackage Activities API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_activities
paths:
  /ats/v1/activities:
    get:
      operationId: list
      summary: List
      description: Returns a list of `Activity` objects.{/* BEGIN_ATS_ACTIVITY_FETCH_SUPPORTED_FIELDS */}{/* END_ATS_ACTIVITY_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_activities
      parameters:
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ActivitiesGetParametersExpandSchemaItems'
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_fields
        in: query
        description: Deprecated. Use show_enum_origins.
        required: false
        schema:
          $ref: '#/components/schemas/ActivitiesGetParametersRemoteFields'
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: show_enum_origins
        in: query
        description: A comma separated list of enum field names for which you'd like the original values to be returned, instead of Merge's normalized enum values. [Learn more](https://help.merge.dev/en/articles/8950958-show_enum_origins-query-parameter)
        required: false
        schema:
          $ref: '#/components/schemas/ActivitiesGetParametersShowEnumOrigins'
      - name: user_id
        in: query
        description: If provided, will only return activities done by this user.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedActivityList'
    post:
      operationId: create
      summary: Create
      description: Creates an `Activity` object with the given values.{/* BEGIN_ATS_ACTIVITY_CREATE_SUPPORTED_FIELDS */}{/* END_ATS_ACTIVITY_CREATE_SUPPORTED_FIELDS */}
      tags:
      - subpackage_activities
      parameters:
      - name: is_debug_mode
        in: query
        description: Whether to include debug fields (such as log file links) in the response.
        required: false
        schema:
          type: boolean
      - name: run_async
        in: query
        description: Whether or not third-party updates should be run asynchronously.
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityEndpointRequest'
  /ats/v1/activities/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns an `Activity` object with the given `id`.{/* BEGIN_ATS_ACTIVITY_FETCH_SUPPORTED_FIELDS */}{/* END_ATS_ACTIVITY_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_activities
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ActivitiesIdGetParametersExpandSchemaItems'
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: remote_fields
        in: query
        description: Deprecated. Use show_enum_origins.
        required: false
        schema:
          $ref: '#/components/schemas/ActivitiesIdGetParametersRemoteFields'
      - name: show_enum_origins
        in: query
        description: A comma separated list of enum field names for which you'd like the original values to be returned, instead of Merge's normalized enum values. [Learn more](https://help.merge.dev/en/articles/8950958-show_enum_origins-query-parameter)
        required: false
        schema:
          $ref: '#/components/schemas/ActivitiesIdGetParametersShowEnumOrigins'
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
  /ats/v1/activities/meta/post:
    get:
      operationId: meta-post-retrieve
      summary: Meta Post Retrieve
      description: Returns metadata for `Activity` POSTs.{/* BEGIN_ATS_ACTIVITY_FETCH_SUPPORTED_FIELDS */}{/* END_ATS_ACTIVITY_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_activities
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
components:
  schemas:
    ActivityResponse:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/Activity'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/WarningValidationProblem'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorValidationProblem'
        logs:
          type: array
          items:
            $ref: '#/components/schemas/DebugModeLog'
      required:
      - model
      - warnings
      - errors
      title: ActivityResponse
    ActivitiesGetParametersRemoteFields:
      type: string
      enum:
      - activity_type
      - activity_type,visibility
      - visibility
      title: ActivitiesGetParametersRemoteFields
    ActivitiesGetParametersExpandSchemaItems:
      type: string
      enum:
      - user
      title: ActivitiesGetParametersExpandSchemaItems
    ActivitiesGetParametersShowEnumOrigins:
      type: string
      enum:
      - activity_type
      - activity_type,visibility
      - visibility
      title: ActivitiesGetParametersShowEnumOrigins
    VisibilityEnum:
      type: string
      enum:
      - ADMIN_ONLY
      - PUBLIC
      - PRIVATE
      title: VisibilityEnum
    ActivitiesIdGetParametersExpandSchemaItems:
      type: string
      enum:
      - user
      title: ActivitiesIdGetParametersExpandSchemaItems
    WarningValidationProblem:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/ValidationProblemSource'
        title:
          type: string
        detail:
          type: string
        problem_type:
          type: string
        block_merge_link:
          type: boolean
        raw_error:
          type: string
        error_code:
          type: integer
      required:
      - title
      - detail
      - problem_type
      title: WarningValidationProblem
    ActivitiesIdGetParametersRemoteFields:
      type: string
      enum:
      - activity_type
      - activity_type,visibility
      - visibility
      title: ActivitiesIdGetParametersRemoteFields
    DebugModeLog:
      type: object
      properties:
        log_id:
          type: string
        dashboard_view:
          type: string
        log_summary:
          $ref: '#/components/schemas/DebugModelLogSummary'
      required:
      - log_id
      - dashboard_view
      - log_summary
      title: DebugModeLog
    RemoteData:
      type: object
      properties:
        path:
          type: string
          description: The third-party API path that is being called.
        data:
          description: The data returned from the third-party for this object in its original, unnormalized format.
      required:
      - path
      description: '# The RemoteData Object

        ### Description

        The `RemoteData` object is used to represent the full data pulled from the third-party API for an object.


        ### Usage Example

        TODO'
      title: RemoteData
    ActivitiesIdGetParametersShowEnumOrigins:
      type: string
      enum:
      - activity_type
      - activity_type,visibility
      - visibility
      title: ActivitiesIdGetParametersShowEnumOrigins
    ActivityTypeEnum:
      type: string
      enum:
      - NOTE
      - EMAIL
      - OTHER
      title: ActivityTypeEnum
    ActivityEndpointRequest:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/ActivityRequest'
        remote_user_id:
          type: string
      required:
      - model
      - remote_user_id
      title: ActivityEndpointRequest
    ActivityRequest:
      type: object
      properties:
        user:
          type:
          - string
          - 'null'
          format: uuid
          description: The user that performed the action.
        activity_type:
          oneOf:
          - $ref: '#/components/schemas/ActivityTypeEnum'
          - type: 'null'
          description: The activity's type.
        subject:
          type:
          - string
          - 'null'
          description: The activity's subject.
        body:
          type:
          - string
          - 'null'
          description: The activity's body.
        visibility:
          oneOf:
          - $ref: '#/components/schemas/VisibilityEnum'
          - type: 'null'
          description: The activity's visibility.
        candidate:
          type:
          - string
          - 'null'
          format: uuid
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      description: '# The Activity Object

        ### Description

        The `Activity` object is used to represent an activity for a candidate performed by a user.

        ### Usage Example

        Fetch from the `LIST Activities` endpoint and filter by `ID` to show all activities.'
      title: ActivityRequest
    ActivityFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: ActivityFieldMappings
    ErrorValidationProblem:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/ValidationProblemSource'
        title:
          type: string
        detail:
          type: string
        problem_type:
          type: string
        block_merge_link:
          type: boolean
        raw_error:
          type: string
        error_code:
          type: integer
      required:
      - title
      - detail
      - problem_type
      title: ErrorValidationProblem
    DebugModelLogSummary:
      type: object
      properties:
        url:
          type: string
        method:
          type: string
        status_code:
          type: integer
      required:
      - url
      - method
      - status_code
      title: DebugModelLogSummary
    LinkedAccountStatus:
      type: object
      properties:
        linked_account_status:
          type: string
        can_make_request:
          type: boolean
      required:
      - linked_account_status
      - can_make_request
      title: LinkedAccountStatus
    ValidationProblemSource:
      type: object
      properties:
        pointer:
          type: string
      required:
      - pointer
      title: ValidationProblemSource
    PaginatedActivityList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/Activity'
      title: PaginatedActivityList
    Activity:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        user:
          type:
          - string
          - 'null'
          format: uuid
          description: The user that performed the action.
        remote_created_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the third party's activity was created.
        activity_type:
          oneOf:
          - $ref: '#/components/schemas/ActivityTypeEnum'
          - type: 'null'
          description: The activity's type.
        subject:
          type:
          - string
          - 'null'
          description: The activity's subject.
        body:
          type:
          - string
          - 'null'
          description: The activity's body.
        visibility:
          oneOf:
          - $ref: '#/components/schemas/VisibilityEnum'
          - type: 'null'
          description: The activity's visibility.
        candidate:
          type:
          - string
          - 'null'
          format: uuid
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/ActivityFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The Activity Object

        ### Description

        The `Activity` object is used to represent an activity for a candidate performed by a user.

        ### Usage Example

        Fetch from the `LIST Activities` endpoint and filter by `ID` to show all activities.'
      title: Activity
    MetaResponse:
      type: object
      properties:
        request_schema:
          type: object
          additionalProperties:
            description: Any type
        status:
          $ref: '#/components/schemas/LinkedAccountStatus'
        has_conditional_params:
          type: boolean
        has_required_linked_account_params:
          type: boolean
        remote_fields:
          type: array
          items:
            type: string
            format: uuid
          description: Remote field values to populate
      required:
      - request_schema
      - has_conditional_params
      - has_required_linked_account_params
      title: MetaResponse
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
