openapi: 3.2.0
info:
  title: File Storage Subpackage Drives API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_drives
paths:
  /filestorage/v1/drives:
    get:
      operationId: list
      summary: List
      description: Returns a list of `Drive` objects.{/* BEGIN_FILESTORAGE_DRIVE_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA8WTXW/aMBSG/8rkS5SPUcqqRpomSlgLEqYrabWqqqJDfAgGxw62A22q/vcppB/QVWsvkHYVn1fnvLYfv3kgCVhMlb4nAZlygcYqDSkSh2SKoSABCTVfVTXknEKGu33x6oA4xBR5rrRF9pOjYOZM45QExM9Qp+gWkk85Mn9ryufSYqrBciWN/zLtTjfjxCGCywWyTpKoQtpP+NX9LtQDb0rjC24scUgOxtiZVkU6u8BlgeYz1tXpBGYoLQiXgQV/y8bVtc97WnUPhgItshAshGgxqS78tOXM2twEvj9DkXub7T2GKx+lD9ryRKDx263jg6Pjtvvkstn9R5yK783GfDlRk6NGnCYihqIxjJI7GvXXdJ4e0u7hHS0v27RclHS++NqIU2gMo2F7FF23RmGnOXqnIR5/+318dRKeDGgjKXstOr9e0yhpDqNkMSn7rcFpsh6c/bqj5fXBMLxs0ajXHpyq5qh7YYbdCzXseB5xyPa7kuDmYVt4Cs+pUqnAL8+p2mroZ1XwXsnUbwI5d/NiInjimZYHGZRKwtp4icr8DBkHv3aMN47xeFmARi+X6TN+ruQLexIQ2on6V73dNHRWwAVMBJLA6gL/CjQJbgjb2BdaEKf+AZ6/dU6q5RtFCYa60jaLql9WCByiMVMW40QjWGQx2FeteuLdKs7Bzl4lzshtVSwLrpGdg4YMbeUe3Nw+Ou8BH0ncI+xzAXaqdDaSWBMxHwHv0bMO7fbCPSH/vzDHM9B4rri0+8U5rnzzyvdjoHtN8J5xOsRwi/GuUOI/MN8+/gHQUDLFhAYAAA==" /></Footer>{/* END_FILESTORAGE_DRIVE_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_drives
      parameters:
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: name
        in: query
        description: If provided, will only return drives with this name. This performs an exact match.
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDriveList'
  /filestorage/v1/drives/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns a `Drive` object with the given `id`.{/* BEGIN_FILESTORAGE_DRIVE_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA8WTXW/aMBSG/8rkS5SPUcqqRpomSlgLEqYrabWqqqJDfAgGxw62A22q/vcppB/QVWsvkHYVn1fnvLYfv3kgCVhMlb4nAZlygcYqDSkSh2SKoSABCTVfVTXknEKGu33x6oA4xBR5rrRF9pOjYOZM45QExM9Qp+gWkk85Mn9ryufSYqrBciWN/zLtTjfjxCGCywWyTpKoQtpP+NX9LtQDb0rjC24scUgOxtiZVkU6u8BlgeYz1tXpBGYoLQiXgQV/y8bVtc97WnUPhgItshAshGgxqS78tOXM2twEvj9DkXub7T2GKx+lD9ryRKDx263jg6Pjtvvkstn9R5yK783GfDlRk6NGnCYihqIxjJI7GvXXdJ4e0u7hHS0v27RclHS++NqIU2gMo2F7FF23RmGnOXqnIR5/+318dRKeDGgjKXstOr9e0yhpDqNkMSn7rcFpsh6c/bqj5fXBMLxs0ajXHpyq5qh7YYbdCzXseB5xyPa7kuDmYVt4Cs+pUqnAL8+p2mroZ1XwXsnUbwI5d/NiInjimZYHGZRKwtp4icr8DBkHv3aMN47xeFmARi+X6TN+ruQLexIQ2on6V73dNHRWwAVMBJLA6gL/CjQJbgjb2BdaEKf+AZ6/dU6q5RtFCYa60jaLql9WCByiMVMW40QjWGQx2FeteuLdKs7Bzl4lzshtVSwLrpGdg4YMbeUe3Nw+Ou8BH0ncI+xzAXaqdDaSWBMxHwHv0bMO7fbCPSH/vzDHM9B4rri0+8U5rnzzyvdjoHtN8J5xOsRwi/GuUOI/MN8+/gHQUDLFhAYAAA==" /></Footer>{/* END_FILESTORAGE_DRIVE_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_drives
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drive'
components:
  schemas:
    DriveFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: DriveFieldMappings
    RemoteData:
      type: object
      properties:
        path:
          type: string
          description: The third-party API path that is being called.
        data:
          description: The data returned from the third-party for this object in its original, unnormalized format.
      required:
      - path
      description: '# The RemoteData Object

        ### Description

        The `RemoteData` object is used to represent the full data pulled from the third-party API for an object.


        ### Usage Example

        TODO'
      title: RemoteData
    Drive:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        name:
          type:
          - string
          - 'null'
          description: The drive's name.
        remote_created_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the third party's drive was created.
        drive_url:
          type:
          - string
          - 'null'
          description: The drive's url.
        size:
          type:
          - integer
          - 'null'
          format: int64
          description: The drive's size, in bytes.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/DriveFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The Drive Object

        ### Description

        The `Drive` object is used to represent a drive that contains the folders and files in the user''s workspace.

        ### Usage Example

        Fetch from the `GET /api/filestorage/v1/drives` endpoint and view their drives.'
      title: Drive
    PaginatedDriveList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/Drive'
      title: PaginatedDriveList
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
