openapi: 3.2.0
info:
  title: ATS Subpackage Job Postings API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_jobPostings
paths:
  /ats/v1/job-postings:
    get:
      operationId: list
      summary: List
      description: Returns a list of `JobPosting` objects.{/* BEGIN_ATS_JOBPOSTING_FETCH_SUPPORTED_FIELDS */}{/* END_ATS_JOBPOSTING_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_jobPostings
      parameters:
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/JobPostingsGetParametersExpandSchemaItems'
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: 'If provided, will only return Job Postings with this status. Options: (''PUBLISHED'', ''CLOSED'', ''DRAFT'', ''INTERNAL'', ''PENDING'')


          '
        required: false
        schema:
          $ref: '#/components/schemas/JobPostingsGetParametersStatus'
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedJobPostingList'
  /ats/v1/job-postings/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns a `JobPosting` object with the given `id`.{/* BEGIN_ATS_JOBPOSTING_FETCH_SUPPORTED_FIELDS */}{/* END_ATS_JOBPOSTING_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_jobPostings
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/JobPostingsIdGetParametersExpandSchemaItems'
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobPosting'
components:
  schemas:
    JobPostingsIdGetParametersExpandSchemaItems:
      type: string
      enum:
      - job
      title: JobPostingsIdGetParametersExpandSchemaItems
    UrlTypeEnum:
      type: string
      enum:
      - PERSONAL
      - COMPANY
      - PORTFOLIO
      - BLOG
      - SOCIAL_MEDIA
      - OTHER
      - JOB_POSTING
      title: UrlTypeEnum
    JobPostingsGetParametersStatus:
      type: string
      enum:
      - CLOSED
      - DRAFT
      - INTERNAL
      - PENDING
      - PUBLISHED
      title: JobPostingsGetParametersStatus
    JobPostingsGetParametersExpandSchemaItems:
      type: string
      enum:
      - job
      title: JobPostingsGetParametersExpandSchemaItems
    JobPostingFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: JobPostingFieldMappings
    JobPosting:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        title:
          type:
          - string
          - 'null'
          description: The job posting’s title.
        job_posting_urls:
          type: array
          items:
            $ref: '#/components/schemas/Url'
          description: The Url object is used to represent hyperlinks for a candidate to apply to a given job.
        job:
          type:
          - string
          - 'null'
          format: uuid
          description: ID of `Job` object for this `JobPosting`.
        status:
          oneOf:
          - $ref: '#/components/schemas/JobPostingStatusEnum'
          - type: 'null'
          description: The job posting's status.
        content:
          type:
          - string
          - 'null'
          description: The job posting’s content.
        remote_created_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the third party's job posting was created.
        remote_updated_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the third party's job posting was updated.
        is_internal:
          type:
          - boolean
          - 'null'
          description: Indicates whether the job posting is internal or external.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/JobPostingFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The JobPosting Object

        ### Description

        The `JobPosting` object represents an external announcement on a job board created by an organization to attract qualified candidates to apply for a specific `Job` opening

        ### Usage Example

        Fetch from the `LIST JobPostings` endpoint to show all job postings.'
      title: JobPosting
    Url:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        value:
          type:
          - string
          - 'null'
          format: uri
          description: The site's url.
        url_type:
          oneOf:
          - $ref: '#/components/schemas/UrlTypeEnum'
          - type: 'null'
          description: The type of site.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
      description: '# The Url Object

        ### Description

        The `Url` object is used to represent hyperlinks associated with the parent model.

        ### Usage Example

        Fetch from the `GET Candidate` endpoint and view their website urls.'
      title: Url
    RemoteData:
      type: object
      properties:
        path:
          type: string
          description: The third-party API path that is being called.
        data:
          description: The data returned from the third-party for this object in its original, unnormalized format.
      required:
      - path
      description: '# The RemoteData Object

        ### Description

        The `RemoteData` object is used to represent the full data pulled from the third-party API for an object.


        ### Usage Example

        TODO'
      title: RemoteData
    PaginatedJobPostingList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/JobPosting'
      title: PaginatedJobPostingList
    JobPostingStatusEnum:
      type: string
      enum:
      - PUBLISHED
      - CLOSED
      - DRAFT
      - INTERNAL
      - PENDING
      title: JobPostingStatusEnum
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
