openapi: 3.2.0
info:
  title: Merge Subpackage Scopes API
  version: 1.0.0
  description: 'Operations tagged subpackage_scopes across 8 of this provider''s published API definitions: merge-accounting-api-openapi.yaml, merge-ats-api-openapi.yaml, merge-chat-api-openapi.yaml, merge-crm-api-openapi.yaml, merge-file-storage-api-openapi.yaml, merge-hris-api-openapi.yaml, merge-knowledge-base-api-openapi.yaml, merge-ticketing-api-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
- url: https://api.merge.dev/api/chat/v1
- url: https://api-eu.merge.dev/api/chat/v1
- url: https://api-ap.merge.dev/api/chat/v1
- url: https://api-ap.merge.dev/api/knowledgebase/v1
tags:
- name: subpackage_scopes
paths:
  /accounting/v1/default-scopes:
    get:
      operationId: default-scopes-retrieve
      summary: Default Scopes Retrieve
      description: Get the default permissions for Merge Common Models and fields across all Linked Accounts of a given category. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes).
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /accounting/v1/linked-account-scopes:
    get:
      operationId: linked-account-scopes-retrieve
      summary: Linked Account Scopes Retrieve
      description: Get all available permissions for Merge Common Models and fields for a single Linked Account. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes).
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
    post:
      operationId: linked-account-scopes-create
      summary: Linked Account Scopes Create
      description: Update permissions for any Common Model or field for a single Linked Account. Any Scopes not set in this POST request will inherit the default Scopes. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes)
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedAccountCommonModelScopeDeserializerRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ats/v1/default-scopes:
    get:
      operationId: default-scopes-retrieve
      summary: Default Scopes Retrieve
      description: Get the default permissions for Merge Common Models and fields across all Linked Accounts of a given category. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes).
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ats/v1/linked-account-scopes:
    get:
      operationId: linked-account-scopes-retrieve
      summary: Linked Account Scopes Retrieve
      description: Get all available permissions for Merge Common Models and fields for a single Linked Account. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes).
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
    post:
      operationId: linked-account-scopes-create
      summary: Linked Account Scopes Create
      description: Update permissions for any Common Model or field for a single Linked Account. Any Scopes not set in this POST request will inherit the default Scopes. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes)
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedAccountCommonModelScopeDeserializerRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /default-scopes:
    get:
      operationId: default-scopes-retrieve
      summary: Default Scopes Retrieve
      description: Get the default permissions for Merge Common Models and fields across all Linked Accounts of a given category. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes).
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
    servers:
    - url: https://api.merge.dev/api/chat/v1
    - url: https://api-eu.merge.dev/api/chat/v1
    - url: https://api-ap.merge.dev/api/chat/v1
  /linked-account-scopes:
    get:
      operationId: linked-account-scopes-retrieve
      summary: Linked Account Scopes Retrieve
      description: Get all available permissions for Merge Common Models and fields for a single Linked Account. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes).
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
    post:
      operationId: linked-account-scopes-create
      summary: Linked Account Scopes Create
      description: Update permissions for any Common Model or field for a single Linked Account. Any Scopes not set in this POST request will inherit the default Scopes. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes)
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedAccountCommonModelScopeDeserializerRequest'
    servers:
    - url: https://api.merge.dev/api/chat/v1
    - url: https://api-eu.merge.dev/api/chat/v1
    - url: https://api-ap.merge.dev/api/chat/v1
  /crm/v1/default-scopes:
    get:
      operationId: default-scopes-retrieve
      summary: Default Scopes Retrieve
      description: Get the default permissions for Merge Common Models and fields across all Linked Accounts of a given category. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes).
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /crm/v1/linked-account-scopes:
    get:
      operationId: linked-account-scopes-retrieve
      summary: Linked Account Scopes Retrieve
      description: Get all available permissions for Merge Common Models and fields for a single Linked Account. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes).
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
    post:
      operationId: linked-account-scopes-create
      summary: Linked Account Scopes Create
      description: Update permissions for any Common Model or field for a single Linked Account. Any Scopes not set in this POST request will inherit the default Scopes. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes)
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedAccountCommonModelScopeDeserializerRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /filestorage/v1/default-scopes:
    get:
      operationId: default-scopes-retrieve
      summary: Default Scopes Retrieve
      description: Get the default permissions for Merge Common Models and fields across all Linked Accounts of a given category. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes).
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /filestorage/v1/linked-account-scopes:
    get:
      operationId: linked-account-scopes-retrieve
      summary: Linked Account Scopes Retrieve
      description: Get all available permissions for Merge Common Models and fields for a single Linked Account. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes).
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
    post:
      operationId: linked-account-scopes-create
      summary: Linked Account Scopes Create
      description: Update permissions for any Common Model or field for a single Linked Account. Any Scopes not set in this POST request will inherit the default Scopes. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes)
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedAccountCommonModelScopeDeserializerRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /hris/v1/default-scopes:
    get:
      operationId: default-scopes-retrieve
      summary: Default Scopes Retrieve
      description: Get the default permissions for Merge Common Models and fields across all Linked Accounts of a given category. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes).
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /hris/v1/linked-account-scopes:
    get:
      operationId: linked-account-scopes-retrieve
      summary: Linked Account Scopes Retrieve
      description: Get all available permissions for Merge Common Models and fields for a single Linked Account. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes).
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
    post:
      operationId: linked-account-scopes-create
      summary: Linked Account Scopes Create
      description: Update permissions for any Common Model or field for a single Linked Account. Any Scopes not set in this POST request will inherit the default Scopes. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes)
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedAccountCommonModelScopeDeserializerRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /knowledgebase/v1/default-scopes:
    get:
      operationId: default-scopes-retrieve
      summary: Default Scopes Retrieve
      description: Get the default permissions for Merge Common Models and fields across all Linked Accounts of a given category. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes).
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
    - url: https://api-ap.merge.dev/api/knowledgebase/v1
  /knowledgebase/v1/linked-account-scopes:
    get:
      operationId: linked-account-scopes-retrieve
      summary: Linked Account Scopes Retrieve
      description: Get all available permissions for Merge Common Models and fields for a single Linked Account. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes).
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
    post:
      operationId: linked-account-scopes-create
      summary: Linked Account Scopes Create
      description: Update permissions for any Common Model or field for a single Linked Account. Any Scopes not set in this POST request will inherit the default Scopes. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes)
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedAccountCommonModelScopeDeserializerRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
    - url: https://api-ap.merge.dev/api/knowledgebase/v1
  /ticketing/v1/default-scopes:
    get:
      operationId: default-scopes-retrieve
      summary: Default Scopes Retrieve
      description: Get the default permissions for Merge Common Models and fields across all Linked Accounts of a given category. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes).
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ticketing/v1/linked-account-scopes:
    get:
      operationId: linked-account-scopes-retrieve
      summary: Linked Account Scopes Retrieve
      description: Get all available permissions for Merge Common Models and fields for a single Linked Account. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes).
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
    post:
      operationId: linked-account-scopes-create
      summary: Linked Account Scopes Create
      description: Update permissions for any Common Model or field for a single Linked Account. Any Scopes not set in this POST request will inherit the default Scopes. [Learn more](https://help.merge.dev/en/articles/5950052-common-model-and-field-scopes)
      tags:
      - subpackage_scopes
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopeAPI'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedAccountCommonModelScopeDeserializerRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
components:
  schemas:
    CommonModelScopeAPI:
      type: object
      properties:
        common_models:
          type: array
          items:
            $ref: '#/components/schemas/IndividualCommonModelScopeDeserializer'
          description: The common models you want to update the scopes for
      required:
      - common_models
      title: CommonModelScopeAPI
    ModelPermissionDeserializer:
      type: object
      properties:
        is_enabled:
          type: boolean
      title: ModelPermissionDeserializer
    IndividualCommonModelScopeDeserializerRequest:
      type: object
      properties:
        model_name:
          type: string
        model_permissions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ModelPermissionDeserializerRequest'
        field_permissions:
          $ref: '#/components/schemas/FieldPermissionDeserializerRequest'
      required:
      - model_name
      title: IndividualCommonModelScopeDeserializerRequest
    FieldPermissionDeserializerRequest:
      type: object
      properties:
        enabled_fields:
          type: array
          items:
            description: Any type
        disabled_fields:
          type: array
          items:
            description: Any type
      title: FieldPermissionDeserializerRequest
    ModelPermissionDeserializerRequest:
      type: object
      properties:
        is_enabled:
          type: boolean
      title: ModelPermissionDeserializerRequest
    IndividualCommonModelScopeDeserializer:
      type: object
      properties:
        model_name:
          type: string
        model_permissions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ModelPermissionDeserializer'
        field_permissions:
          $ref: '#/components/schemas/FieldPermissionDeserializer'
      required:
      - model_name
      title: IndividualCommonModelScopeDeserializer
    LinkedAccountCommonModelScopeDeserializerRequest:
      type: object
      properties:
        common_models:
          type: array
          items:
            $ref: '#/components/schemas/IndividualCommonModelScopeDeserializerRequest'
          description: The common models you want to update the scopes for
      required:
      - common_models
      title: LinkedAccountCommonModelScopeDeserializerRequest
    FieldPermissionDeserializer:
      type: object
      properties:
        enabled_fields:
          type: array
          items:
            description: Any type
        disabled_fields:
          type: array
          items:
            description: Any type
      title: FieldPermissionDeserializer
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
x-refined-from:
- merge-accounting-api-openapi.yaml
- merge-ats-api-openapi.yaml
- merge-chat-api-openapi.yaml
- merge-crm-api-openapi.yaml
- merge-file-storage-api-openapi.yaml
- merge-hris-api-openapi.yaml
- merge-knowledge-base-api-openapi.yaml
- merge-ticketing-api-openapi.yaml
