openapi: 3.2.0
info:
  title: Merge Subpackage Async Passthrough API
  version: 1.0.0
  description: 'Operations tagged subpackage_asyncPassthrough across 8 of this provider''s published API definitions: merge-accounting-api-openapi.yaml, merge-ats-api-openapi.yaml, merge-chat-api-openapi.yaml, merge-crm-api-openapi.yaml, merge-file-storage-api-openapi.yaml, merge-hris-api-openapi.yaml, merge-knowledge-base-api-openapi.yaml, merge-ticketing-api-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
- url: https://api.merge.dev/api/chat/v1
- url: https://api-eu.merge.dev/api/chat/v1
- url: https://api-ap.merge.dev/api/chat/v1
- url: https://api-ap.merge.dev/api/knowledgebase/v1
tags:
- name: subpackage_asyncPassthrough
paths:
  /accounting/v1/async-passthrough:
    post:
      operationId: create
      summary: Create
      description: Asynchronously pull data from an endpoint not currently supported by Merge.
      tags:
      - subpackage_asyncPassthrough
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncPassthroughReciept'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /accounting/v1/async-passthrough/{async_passthrough_receipt_id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Retrieves data from earlier async-passthrough POST request
      tags:
      - subpackage_asyncPassthrough
      parameters:
      - name: async_passthrough_receipt_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ats/v1/async-passthrough:
    post:
      operationId: create
      summary: Create
      description: Asynchronously pull data from an endpoint not currently supported by Merge.
      tags:
      - subpackage_asyncPassthrough
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncPassthroughReciept'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ats/v1/async-passthrough/{async_passthrough_receipt_id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Retrieves data from earlier async-passthrough POST request
      tags:
      - subpackage_asyncPassthrough
      parameters:
      - name: async_passthrough_receipt_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /async-passthrough:
    post:
      operationId: create
      summary: Create
      description: Asynchronously pull data from an endpoint not currently supported by Merge.
      tags:
      - subpackage_asyncPassthrough
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncPassthroughReciept'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
    servers:
    - url: https://api.merge.dev/api/chat/v1
    - url: https://api-eu.merge.dev/api/chat/v1
    - url: https://api-ap.merge.dev/api/chat/v1
  /async-passthrough/{async_passthrough_receipt_id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Retrieves data from earlier async-passthrough POST request
      tags:
      - subpackage_asyncPassthrough
      parameters:
      - name: async_passthrough_receipt_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
    servers:
    - url: https://api.merge.dev/api/chat/v1
    - url: https://api-eu.merge.dev/api/chat/v1
    - url: https://api-ap.merge.dev/api/chat/v1
  /crm/v1/async-passthrough:
    post:
      operationId: create
      summary: Create
      description: Asynchronously pull data from an endpoint not currently supported by Merge.
      tags:
      - subpackage_asyncPassthrough
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncPassthroughReciept'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /crm/v1/async-passthrough/{async_passthrough_receipt_id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Retrieves data from earlier async-passthrough POST request
      tags:
      - subpackage_asyncPassthrough
      parameters:
      - name: async_passthrough_receipt_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /filestorage/v1/async-passthrough:
    post:
      operationId: create
      summary: Create
      description: Asynchronously pull data from an endpoint not currently supported by Merge.
      tags:
      - subpackage_asyncPassthrough
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncPassthroughReciept'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /filestorage/v1/async-passthrough/{async_passthrough_receipt_id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Retrieves data from earlier async-passthrough POST request
      tags:
      - subpackage_asyncPassthrough
      parameters:
      - name: async_passthrough_receipt_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /hris/v1/async-passthrough:
    post:
      operationId: create
      summary: Create
      description: Asynchronously pull data from an endpoint not currently supported by Merge.
      tags:
      - subpackage_asyncPassthrough
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncPassthroughReciept'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /hris/v1/async-passthrough/{async_passthrough_receipt_id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Retrieves data from earlier async-passthrough POST request
      tags:
      - subpackage_asyncPassthrough
      parameters:
      - name: async_passthrough_receipt_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /knowledgebase/v1/async-passthrough:
    post:
      operationId: create
      summary: Create
      description: Asynchronously pull data from an endpoint not currently supported by Merge.
      tags:
      - subpackage_asyncPassthrough
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncPassthroughReciept'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
    - url: https://api-ap.merge.dev/api/knowledgebase/v1
  /knowledgebase/v1/async-passthrough/{async_passthrough_receipt_id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Retrieves data from earlier async-passthrough POST request
      tags:
      - subpackage_asyncPassthrough
      parameters:
      - name: async_passthrough_receipt_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
    - url: https://api-ap.merge.dev/api/knowledgebase/v1
  /ticketing/v1/async-passthrough:
    post:
      operationId: create
      summary: Create
      description: Asynchronously pull data from an endpoint not currently supported by Merge.
      tags:
      - subpackage_asyncPassthrough
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncPassthroughReciept'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ticketing/v1/async-passthrough/{async_passthrough_receipt_id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Retrieves data from earlier async-passthrough POST request
      tags:
      - subpackage_asyncPassthrough
      parameters:
      - name: async_passthrough_receipt_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
components:
  schemas:
    RequestFormatEnum:
      type: string
      enum:
      - JSON
      - XML
      - MULTIPART
      title: RequestFormatEnum
    MultipartFormFieldRequest:
      type: object
      properties:
        name:
          type: string
          description: The name of the form field
        data:
          type: string
          description: The data for the form field.
        encoding:
          oneOf:
          - $ref: '#/components/schemas/EncodingEnum'
          - type: 'null'
          description: The encoding of the value of `data`. Defaults to `RAW` if not defined.
        file_name:
          type:
          - string
          - 'null'
          description: The file name of the form field, if the field is for a file.
        content_type:
          type:
          - string
          - 'null'
          description: The MIME type of the file, if the field is for a file.
      required:
      - name
      - data
      description: '# The MultipartFormField Object

        ### Description

        The `MultipartFormField` object is used to represent fields in an HTTP request using `multipart/form-data`.


        ### Usage Example

        Create a `MultipartFormField` to define a multipart form entry.'
      title: MultipartFormFieldRequest
    RemoteResponse:
      type: object
      properties:
        method:
          type: string
        path:
          type: string
        status:
          type: integer
        response:
          description: Any type
        response_headers:
          type: object
          additionalProperties:
            description: Any type
        response_type:
          $ref: '#/components/schemas/ResponseTypeEnum'
        headers:
          type: object
          additionalProperties:
            description: Any type
      required:
      - method
      - path
      - status
      - response
      description: '# The RemoteResponse Object

        ### Description

        The `RemoteResponse` object is used to represent information returned from a third-party endpoint.


        ### Usage Example

        View the `RemoteResponse` returned from your `DataPassthrough`.'
      title: RemoteResponse
    EncodingEnum:
      type: string
      enum:
      - RAW
      - BASE64
      - GZIP_BASE64
      title: EncodingEnum
    ResponseTypeEnum:
      type: string
      enum:
      - JSON
      - BASE64_GZIP
      title: ResponseTypeEnum
    DataPassthroughRequest:
      type: object
      properties:
        method:
          $ref: '#/components/schemas/MethodEnum'
        path:
          type: string
          description: The path of the request in the third party's platform.
        base_url_override:
          type:
          - string
          - 'null'
          description: An optional override of the third party's base url for the request.
        data:
          type:
          - string
          - 'null'
          description: The data with the request. You must include a `request_format` parameter matching the data's format
        multipart_form_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MultipartFormFieldRequest'
          description: Pass an array of `MultipartFormField` objects in here instead of using the `data` param if `request_format` is set to `MULTIPART`.
        headers:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
          description: The headers to use for the request (Merge will handle the account's authorization headers). `Content-Type` header is required for passthrough. Choose content type corresponding to expected format of receiving server.
        request_format:
          oneOf:
          - $ref: '#/components/schemas/RequestFormatEnum'
          - type: 'null'
        normalize_response:
          type: boolean
          description: 'Optional. If true, the response will always be an object of the form `{"type": T, "value": ...}` where `T` will be one of `string, boolean, number, null, array, object`.'
      required:
      - method
      - path
      description: '# The DataPassthrough Object

        ### Description

        The `DataPassthrough` object is used to send information to an otherwise-unsupported third-party endpoint.


        ### Usage Example

        Create a `DataPassthrough` to get team hierarchies from your Rippling integration.'
      title: DataPassthroughRequest
    MethodEnum:
      type: string
      enum:
      - GET
      - OPTIONS
      - HEAD
      - POST
      - PUT
      - PATCH
      - DELETE
      title: MethodEnum
    AsyncPassthroughReciept:
      type: object
      properties:
        async_passthrough_receipt_id:
          type: string
          format: uuid
      required:
      - async_passthrough_receipt_id
      title: AsyncPassthroughReciept
    RequestFormatEnum_2:
      type: string
      enum:
      - JSON
      - XML
      - MULTIPART
      description: '* `JSON` - JSON

        * `XML` - XML

        * `MULTIPART` - MULTIPART'
      title: RequestFormatEnum
    MultipartFormFieldRequest_2:
      type: object
      properties:
        name:
          type: string
          description: The name of the form field
        data:
          type: string
          description: The data for the form field.
        encoding:
          oneOf:
          - $ref: '#/components/schemas/EncodingEnum_2'
          - type: 'null'
          description: 'The encoding of the value of `data`. Defaults to `RAW` if not defined.


            * `RAW` - RAW

            * `BASE64` - BASE64

            * `GZIP_BASE64` - GZIP_BASE64'
        file_name:
          type:
          - string
          - 'null'
          description: The file name of the form field, if the field is for a file.
        content_type:
          type:
          - string
          - 'null'
          description: The MIME type of the file, if the field is for a file.
      required:
      - name
      - data
      description: '# The MultipartFormField Object

        ### Description

        The `MultipartFormField` object is used to represent fields in an HTTP request using `multipart/form-data`.


        ### Usage Example

        Create a `MultipartFormField` to define a multipart form entry.'
      title: MultipartFormFieldRequest
    EncodingEnum_2:
      type: string
      enum:
      - RAW
      - BASE64
      - GZIP_BASE64
      description: '* `RAW` - RAW

        * `BASE64` - BASE64

        * `GZIP_BASE64` - GZIP_BASE64'
      title: EncodingEnum
    ResponseTypeEnum_2:
      type: string
      enum:
      - JSON
      - BASE64_GZIP
      description: '* `JSON` - JSON

        * `BASE64_GZIP` - BASE64_GZIP'
      title: ResponseTypeEnum
    MethodEnum_2:
      type: string
      enum:
      - GET
      - OPTIONS
      - HEAD
      - POST
      - PUT
      - PATCH
      - DELETE
      description: '* `GET` - GET

        * `OPTIONS` - OPTIONS

        * `HEAD` - HEAD

        * `POST` - POST

        * `PUT` - PUT

        * `PATCH` - PATCH

        * `DELETE` - DELETE'
      title: MethodEnum
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
x-refined-from:
- merge-accounting-api-openapi.yaml
- merge-ats-api-openapi.yaml
- merge-chat-api-openapi.yaml
- merge-crm-api-openapi.yaml
- merge-file-storage-api-openapi.yaml
- merge-hris-api-openapi.yaml
- merge-knowledge-base-api-openapi.yaml
- merge-ticketing-api-openapi.yaml
