openapi: 3.2.0
info:
  title: Merge Subpackage Force Resync API
  version: 1.0.0
  description: 'Operations tagged subpackage_forceResync across 8 of this provider''s published API definitions: merge-accounting-api-openapi.yaml, merge-ats-api-openapi.yaml, merge-chat-api-openapi.yaml, merge-crm-api-openapi.yaml, merge-file-storage-api-openapi.yaml, merge-hris-api-openapi.yaml, merge-knowledge-base-api-openapi.yaml, merge-ticketing-api-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
- url: https://api.merge.dev/api/chat/v1
- url: https://api-eu.merge.dev/api/chat/v1
- url: https://api-ap.merge.dev/api/chat/v1
- url: https://api-ap.merge.dev/api/knowledgebase/v1
tags:
- name: subpackage_forceResync
paths:
  /accounting/v1/sync-status/resync:
    post:
      operationId: sync-status-resync-create
      summary: Sync Status Resync Create
      description: Force re-sync of all models. This endpoint is available for monthly, quarterly, and highest sync frequency customers on the Professional or Enterprise plans. Doing so will consume a sync credit for the relevant linked account. Force re-syncs can also be triggered manually in the Merge Dashboard and is available for all customers.
      tags:
      - subpackage_forceResync
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SyncStatus'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ats/v1/sync-status/resync:
    post:
      operationId: sync-status-resync-create
      summary: Sync Status Resync Create
      description: Force re-sync of all models. This endpoint is available for monthly, quarterly, and highest sync frequency customers on the Professional or Enterprise plans. Doing so will consume a sync credit for the relevant linked account. Force re-syncs can also be triggered manually in the Merge Dashboard and is available for all customers.
      tags:
      - subpackage_forceResync
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SyncStatus'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /sync-status/resync:
    post:
      operationId: sync-status-resync-create
      summary: Sync Status Resync Create
      description: Force re-sync of all models. This endpoint is available for monthly, quarterly, and highest sync frequency customers on the Professional or Enterprise plans. Doing so will consume a sync credit for the relevant linked account. Force re-syncs can also be triggered manually in the Merge Dashboard and is available for all customers.
      tags:
      - subpackage_forceResync
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SyncStatus'
    servers:
    - url: https://api.merge.dev/api/chat/v1
    - url: https://api-eu.merge.dev/api/chat/v1
    - url: https://api-ap.merge.dev/api/chat/v1
  /crm/v1/sync-status/resync:
    post:
      operationId: sync-status-resync-create
      summary: Sync Status Resync Create
      description: Force re-sync of all models. This endpoint is available for monthly, quarterly, and highest sync frequency customers on the Professional or Enterprise plans. Doing so will consume a sync credit for the relevant linked account. Force re-syncs can also be triggered manually in the Merge Dashboard and is available for all customers.
      tags:
      - subpackage_forceResync
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SyncStatus'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /filestorage/v1/sync-status/resync:
    post:
      operationId: sync-status-resync-create
      summary: Sync Status Resync Create
      description: Force re-sync of all models. This endpoint is available for monthly, quarterly, and highest sync frequency customers on the Professional or Enterprise plans. Doing so will consume a sync credit for the relevant linked account. Force re-syncs can also be triggered manually in the Merge Dashboard and is available for all customers.
      tags:
      - subpackage_forceResync
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SyncStatus'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /hris/v1/sync-status/resync:
    post:
      operationId: sync-status-resync-create
      summary: Sync Status Resync Create
      description: Force re-sync of all models. This endpoint is available for monthly, quarterly, and highest sync frequency customers on the Professional or Enterprise plans. Doing so will consume a sync credit for the relevant linked account. Force re-syncs can also be triggered manually in the Merge Dashboard and is available for all customers.
      tags:
      - subpackage_forceResync
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SyncStatus'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /knowledgebase/v1/sync-status/resync:
    post:
      operationId: sync-status-resync-create
      summary: Sync Status Resync Create
      description: Force re-sync of all models. This endpoint is available for monthly, quarterly, and highest sync frequency customers on the Professional or Enterprise plans. Doing so will consume a sync credit for the relevant linked account. Force re-syncs can also be triggered manually in the Merge Dashboard and is available for all customers.
      tags:
      - subpackage_forceResync
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SyncStatus'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
    - url: https://api-ap.merge.dev/api/knowledgebase/v1
  /ticketing/v1/sync-status/resync:
    post:
      operationId: sync-status-resync-create
      summary: Sync Status Resync Create
      description: Force re-sync of all models. This endpoint is available for monthly, quarterly, and highest sync frequency customers on the Professional or Enterprise plans. Doing so will consume a sync credit for the relevant linked account. Force re-syncs can also be triggered manually in the Merge Dashboard and is available for all customers.
      tags:
      - subpackage_forceResync
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SyncStatus'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
components:
  schemas:
    LastSyncResultEnum:
      type: string
      enum:
      - SYNCING
      - DONE
      - FAILED
      - DISABLED
      - PAUSED
      - PARTIALLY_SYNCED
      title: LastSyncResultEnum
    SelectiveSyncConfigurationsUsageEnum:
      type: string
      enum:
      - IN_NEXT_SYNC
      - IN_LAST_SYNC
      title: SelectiveSyncConfigurationsUsageEnum
    StatusFd5Enum:
      type: string
      enum:
      - SYNCING
      - DONE
      - FAILED
      - DISABLED
      - PAUSED
      - PARTIALLY_SYNCED
      title: StatusFd5Enum
    SyncStatus:
      type: object
      properties:
        model_name:
          type: string
        model_id:
          type: string
        last_sync_start:
          type: string
          format: date-time
        next_sync_start:
          type: string
          format: date-time
        last_sync_result:
          $ref: '#/components/schemas/LastSyncResultEnum'
        last_sync_finished:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/StatusFd5Enum'
        is_initial_sync:
          type: boolean
        selective_sync_configurations_usage:
          $ref: '#/components/schemas/SelectiveSyncConfigurationsUsageEnum'
      required:
      - model_name
      - model_id
      - status
      - is_initial_sync
      description: '# The SyncStatus Object

        ### Description

        The `SyncStatus` object is used to represent the syncing state of an account


        ### Usage Example

        View the `SyncStatus` for an account to see how recently its models were synced.'
      title: SyncStatus
    LastSyncResultEnum_2:
      type: string
      enum:
      - SYNCING
      - DONE
      - FAILED
      - DISABLED
      - PAUSED
      - PARTIALLY_SYNCED
      description: '* `SYNCING` - SYNCING

        * `DONE` - DONE

        * `FAILED` - FAILED

        * `DISABLED` - DISABLED

        * `PAUSED` - PAUSED

        * `PARTIALLY_SYNCED` - PARTIALLY_SYNCED'
      title: LastSyncResultEnum
    SelectiveSyncConfigurationsUsageEnum_2:
      type: string
      enum:
      - IN_NEXT_SYNC
      - IN_LAST_SYNC
      description: '* `IN_NEXT_SYNC` - IN_NEXT_SYNC

        * `IN_LAST_SYNC` - IN_LAST_SYNC'
      title: SelectiveSyncConfigurationsUsageEnum
    StatusFd5Enum_2:
      type: string
      enum:
      - SYNCING
      - DONE
      - FAILED
      - DISABLED
      - PAUSED
      - PARTIALLY_SYNCED
      description: '* `SYNCING` - SYNCING

        * `DONE` - DONE

        * `FAILED` - FAILED

        * `DISABLED` - DISABLED

        * `PAUSED` - PAUSED

        * `PARTIALLY_SYNCED` - PARTIALLY_SYNCED'
      title: StatusFd5Enum
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
x-refined-from:
- merge-accounting-api-openapi.yaml
- merge-ats-api-openapi.yaml
- merge-chat-api-openapi.yaml
- merge-crm-api-openapi.yaml
- merge-file-storage-api-openapi.yaml
- merge-hris-api-openapi.yaml
- merge-knowledge-base-api-openapi.yaml
- merge-ticketing-api-openapi.yaml
