openapi: 3.1.0
info:
  title: Accounting subpackage_passthrough API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_passthrough
paths:
  /accounting/v1/passthrough:
    post:
      operationId: create
      summary: Create
      description: Pull data from an endpoint not currently supported by Merge.
      tags:
      - subpackage_passthrough
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
  /ats/v1/passthrough:
    post:
      operationId: create
      summary: Create
      description: Pull data from an endpoint not currently supported by Merge.
      tags:
      - subpackage_passthrough
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
  /passthrough:
    post:
      operationId: create
      summary: Create
      description: Pull data from an endpoint not currently supported by Merge.
      tags:
      - subpackage_passthrough
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
  /crm/v1/passthrough:
    post:
      operationId: create
      summary: Create
      description: Pull data from an endpoint not currently supported by Merge.
      tags:
      - subpackage_passthrough
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
  /filestorage/v1/passthrough:
    post:
      operationId: create
      summary: Create
      description: Pull data from an endpoint not currently supported by Merge.
      tags:
      - subpackage_passthrough
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
  /hris/v1/passthrough:
    post:
      operationId: create
      summary: Create
      description: Pull data from an endpoint not currently supported by Merge.
      tags:
      - subpackage_passthrough
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
  /knowledgebase/v1/passthrough:
    post:
      operationId: create
      summary: Create
      description: Pull data from an endpoint not currently supported by Merge.
      tags:
      - subpackage_passthrough
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
  /ticketing/v1/passthrough:
    post:
      operationId: create
      summary: Create
      description: Pull data from an endpoint not currently supported by Merge.
      tags:
      - subpackage_passthrough
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
components:
  schemas:
    MultipartFormFieldRequest:
      type: object
      properties:
        name:
          type: string
          description: The name of the form field
        data:
          type: string
          description: The data for the form field.
        encoding:
          oneOf:
          - $ref: '#/components/schemas/EncodingEnum'
          - type: 'null'
          description: The encoding of the value of `data`. Defaults to `RAW` if not defined.
        file_name:
          type:
          - string
          - 'null'
          description: The file name of the form field, if the field is for a file.
        content_type:
          type:
          - string
          - 'null'
          description: The MIME type of the file, if the field is for a file.
      required:
      - name
      - data
      description: '# The MultipartFormField Object

        ### Description

        The `MultipartFormField` object is used to represent fields in an HTTP request using `multipart/form-data`.


        ### Usage Example

        Create a `MultipartFormField` to define a multipart form entry.'
      title: MultipartFormFieldRequest
    RemoteResponse:
      type: object
      properties:
        method:
          type: string
        path:
          type: string
        status:
          type: integer
        response:
          description: Any type
        response_headers:
          type: object
          additionalProperties:
            description: Any type
        response_type:
          $ref: '#/components/schemas/ResponseTypeEnum'
        headers:
          type: object
          additionalProperties:
            description: Any type
      required:
      - method
      - path
      - status
      - response
      description: '# The RemoteResponse Object

        ### Description

        The `RemoteResponse` object is used to represent information returned from a third-party endpoint.


        ### Usage Example

        View the `RemoteResponse` returned from your `DataPassthrough`.'
      title: RemoteResponse
    ResponseTypeEnum:
      type: string
      enum:
      - JSON
      - BASE64_GZIP
      title: ResponseTypeEnum
    RequestFormatEnum:
      type: string
      enum:
      - JSON
      - XML
      - MULTIPART
      title: RequestFormatEnum
    MethodEnum:
      type: string
      enum:
      - GET
      - OPTIONS
      - HEAD
      - POST
      - PUT
      - PATCH
      - DELETE
      title: MethodEnum
    EncodingEnum:
      type: string
      enum:
      - RAW
      - BASE64
      - GZIP_BASE64
      title: EncodingEnum
    DataPassthroughRequest:
      type: object
      properties:
        method:
          $ref: '#/components/schemas/MethodEnum'
        path:
          type: string
          description: The path of the request in the third party's platform.
        base_url_override:
          type:
          - string
          - 'null'
          description: An optional override of the third party's base url for the request.
        data:
          type:
          - string
          - 'null'
          description: The data with the request. You must include a `request_format` parameter matching the data's format
        multipart_form_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MultipartFormFieldRequest'
          description: Pass an array of `MultipartFormField` objects in here instead of using the `data` param if `request_format` is set to `MULTIPART`.
        headers:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
          description: The headers to use for the request (Merge will handle the account's authorization headers). `Content-Type` header is required for passthrough. Choose content type corresponding to expected format of receiving server.
        request_format:
          oneOf:
          - $ref: '#/components/schemas/RequestFormatEnum'
          - type: 'null'
        normalize_response:
          type: boolean
          description: 'Optional. If true, the response will always be an object of the form `{"type": T, "value": ...}` where `T` will be one of `string, boolean, number, null, array, object`.'
      required:
      - method
      - path
      description: '# The DataPassthrough Object

        ### Description

        The `DataPassthrough` object is used to send information to an otherwise-unsupported third-party endpoint.


        ### Usage Example

        Create a `DataPassthrough` to get team hierarchies from your Rippling integration.'
      title: DataPassthroughRequest
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
