openapi: 3.2.0
info:
  title: Merge Subpackage Account Details API
  version: 1.0.0
  description: 'Operations tagged subpackage_accountDetails across 8 of this provider''s published API definitions: merge-accounting-api-openapi.yaml, merge-ats-api-openapi.yaml, merge-chat-api-openapi.yaml, merge-crm-api-openapi.yaml, merge-file-storage-api-openapi.yaml, merge-hris-api-openapi.yaml, merge-knowledge-base-api-openapi.yaml, merge-ticketing-api-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
- url: https://api.merge.dev/api/chat/v1
- url: https://api-eu.merge.dev/api/chat/v1
- url: https://api-ap.merge.dev/api/chat/v1
- url: https://api-ap.merge.dev/api/knowledgebase/v1
tags:
- name: subpackage_accountDetails
paths:
  /accounting/v1/account-details:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Get details for a linked account.
      tags:
      - subpackage_accountDetails
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ats/v1/account-details:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Get details for a linked account.
      tags:
      - subpackage_accountDetails
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /account-details:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Get details for a linked account.
      tags:
      - subpackage_accountDetails
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
    servers:
    - url: https://api.merge.dev/api/chat/v1
    - url: https://api-eu.merge.dev/api/chat/v1
    - url: https://api-ap.merge.dev/api/chat/v1
  /crm/v1/account-details:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Get details for a linked account.
      tags:
      - subpackage_accountDetails
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /filestorage/v1/account-details:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Get details for a linked account.
      tags:
      - subpackage_accountDetails
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /hris/v1/account-details:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Get details for a linked account.
      tags:
      - subpackage_accountDetails
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /knowledgebase/v1/account-details:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Get details for a linked account.
      tags:
      - subpackage_accountDetails
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails_2'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
    - url: https://api-ap.merge.dev/api/knowledgebase/v1
  /ticketing/v1/account-details:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Get details for a linked account.
      tags:
      - subpackage_accountDetails
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
components:
  schemas:
    CategoryEnum:
      type: string
      enum:
      - hris
      - ats
      - accounting
      - ticketing
      - crm
      - mktg
      - filestorage
      - knowledgebase
      title: CategoryEnum
    AccountDetails:
      type: object
      properties:
        id:
          type: string
          format: uuid
        integration:
          type: string
        integration_slug:
          type: string
        category:
          oneOf:
          - $ref: '#/components/schemas/CategoryEnum'
          - type: 'null'
        end_user_origin_id:
          type: string
        end_user_organization_name:
          type: string
        end_user_email_address:
          type: string
          format: email
        status:
          type: string
        webhook_listener_url:
          type: string
          format: uri
        is_duplicate:
          type:
          - boolean
          - 'null'
          description: Whether a Production Linked Account's credentials match another existing Production Linked Account. This field is `null` for Test Linked Accounts, incomplete Production Linked Accounts, and ignored duplicate Production Linked Account sets.
        account_type:
          type: string
        completed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: The time at which account completes the linking flow.
        instance_id:
          type:
          - string
          - 'null'
        instance_display_value:
          type:
          - string
          - 'null'
      title: AccountDetails
    CategoryEnum_2:
      type: string
      enum:
      - hris
      - ats
      - accounting
      - ticketing
      - crm
      - mktg
      - filestorage
      - knowledgebase
      description: '* `hris` - hris

        * `ats` - ats

        * `accounting` - accounting

        * `ticketing` - ticketing

        * `crm` - crm

        * `mktg` - mktg

        * `filestorage` - filestorage

        * `knowledgebase` - knowledgebase'
      title: CategoryEnum
    AccountDetails_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        integration:
          type: string
        integration_slug:
          type: string
        category:
          oneOf:
          - $ref: '#/components/schemas/CategoryEnum_2'
          - type: 'null'
        end_user_origin_id:
          type: string
        end_user_organization_name:
          type: string
        end_user_email_address:
          type: string
          format: email
        status:
          type: string
        webhook_listener_url:
          type: string
          format: uri
        is_duplicate:
          type:
          - boolean
          - 'null'
          description: Whether a Production Linked Account's credentials match another existing Production Linked Account. This field is `null` for Test Linked Accounts, incomplete Production Linked Accounts, and ignored duplicate Production Linked Account sets.
        account_type:
          type: string
        completed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: The time at which account completes the linking flow.
      title: AccountDetails
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
x-refined-from:
- merge-accounting-api-openapi.yaml
- merge-ats-api-openapi.yaml
- merge-chat-api-openapi.yaml
- merge-crm-api-openapi.yaml
- merge-file-storage-api-openapi.yaml
- merge-hris-api-openapi.yaml
- merge-knowledge-base-api-openapi.yaml
- merge-ticketing-api-openapi.yaml
