openapi: 3.2.0
info:
  title: Accounting Subpackage Payments API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_payments
paths:
  /accounting/v1/payments:
    get:
      operationId: list
      summary: List
      description: Returns a list of `Payment` objects.{/* BEGIN_ACCOUNTING_PAYMENT_FETCH_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_PAYMENT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_payments
      parameters:
      - name: account_id
        in: query
        description: If provided, will only return payments for this account.
        required: false
        schema:
          type: string
      - name: company_id
        in: query
        description: If provided, will only return payments for this company.
        required: false
        schema:
          type: string
      - name: contact_id
        in: query
        description: If provided, will only return payments for this contact.
        required: false
        schema:
          type: string
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PaymentsGetParametersExpandSchemaItems'
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_remote_fields
        in: query
        description: Whether to include all remote fields, including fields that Merge did not map to common models, in a normalized format.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: transaction_date_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: transaction_date_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPaymentList'
    post:
      operationId: create
      summary: Create
      description: Creates a `Payment` object with the given values.{/* BEGIN_ACCOUNTING_PAYMENT_CREATE_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_PAYMENT_CREATE_SUPPORTED_FIELDS */}
      tags:
      - subpackage_payments
      parameters:
      - name: is_debug_mode
        in: query
        description: Whether to include debug fields (such as log file links) in the response.
        required: false
        schema:
          type: boolean
      - name: run_async
        in: query
        description: Whether or not third-party updates should be run asynchronously.
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentEndpointRequest'
  /accounting/v1/payments/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns a `Payment` object with the given `id`.{/* BEGIN_ACCOUNTING_PAYMENT_FETCH_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_PAYMENT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_payments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PaymentsIdGetParametersExpandSchemaItems'
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_remote_fields
        in: query
        description: Whether to include all remote fields, including fields that Merge did not map to common models, in a normalized format.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
    patch:
      operationId: partial-update
      summary: Partial Update
      description: Updates a `Payment` object with the given `id`.{/* BEGIN_ACCOUNTING_PAYMENT_EDIT_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_PAYMENT_EDIT_SUPPORTED_FIELDS */}
      tags:
      - subpackage_payments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: is_debug_mode
        in: query
        description: Whether to include debug fields (such as log file links) in the response.
        required: false
        schema:
          type: boolean
      - name: run_async
        in: query
        description: Whether or not third-party updates should be run asynchronously.
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPaymentEndpointRequest'
  /accounting/v1/payments/line-items/remote-field-classes:
    get:
      operationId: line-items-remote-field-classes-list
      summary: Line Items Remote Field Classes List
      description: Returns a list of `RemoteFieldClass` objects.{/* BEGIN_ACCOUNTING_PAYMENT_FETCH_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_PAYMENT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_payments
      parameters:
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: is_common_model_field
        in: query
        description: If provided, will only return remote field classes with this is_common_model_field value
        required: false
        schema:
          type: boolean
      - name: is_custom
        in: query
        description: If provided, will only return remote fields classes with this is_custom value
        required: false
        schema:
          type: boolean
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRemoteFieldClassList'
  /accounting/v1/payments/meta/patch/{id}:
    get:
      operationId: meta-patch-retrieve
      summary: Meta Patch Retrieve
      description: Returns metadata for `Payment` PATCHs.{/* BEGIN_ACCOUNTING_PAYMENT_FETCH_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_PAYMENT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_payments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
  /accounting/v1/payments/meta/post:
    get:
      operationId: meta-post-retrieve
      summary: Meta Post Retrieve
      description: Returns metadata for `Payment` POSTs.{/* BEGIN_ACCOUNTING_PAYMENT_FETCH_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_PAYMENT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_payments
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
  /accounting/v1/payments/remote-field-classes:
    get:
      operationId: remote-field-classes-list
      summary: Remote Field Classes List
      description: Returns a list of `RemoteFieldClass` objects.{/* BEGIN_ACCOUNTING_PAYMENT_FETCH_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_PAYMENT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_payments
      parameters:
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: is_common_model_field
        in: query
        description: If provided, will only return remote field classes with this is_common_model_field value
        required: false
        schema:
          type: boolean
      - name: is_custom
        in: query
        description: If provided, will only return remote fields classes with this is_custom value
        required: false
        schema:
          type: boolean
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRemoteFieldClassList'
components:
  schemas:
    Payment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        transaction_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The payment's transaction date.
        contact:
          type:
          - string
          - 'null'
          format: uuid
          description: The supplier, or customer involved in the payment.
        account:
          type:
          - string
          - 'null'
          format: uuid
          description: The supplier’s or customer’s account in which the payment is made.
        payment_method:
          type:
          - string
          - 'null'
          format: uuid
          description: The method which this payment was made by.
        currency:
          oneOf:
          - $ref: '#/components/schemas/TransactionCurrencyEnum'
          - type: 'null'
          description: The payment's currency. The currency code in ISO 4217 format.
        exchange_rate:
          type:
          - string
          - 'null'
          format: decimal
          description: The payment's exchange rate.
        company:
          type:
          - string
          - 'null'
          format: uuid
          description: The company the payment belongs to.
        total_amount:
          type:
          - number
          - 'null'
          format: double
          description: The total amount of money being paid to the supplier, or customer, after taxes.
        type:
          oneOf:
          - $ref: '#/components/schemas/PaymentTypeEnum'
          - type: 'null'
          description: The type of the invoice.
        tracking_categories:
          type: array
          items:
            type: string
            format: uuid
        accounting_period:
          type:
          - string
          - 'null'
          format: uuid
          description: The accounting period that the Payment was generated in.
        applied_to_lines:
          type: array
          items:
            $ref: '#/components/schemas/PaymentLineItem'
          description: A list of “Payment Applied to Lines” objects.
        remote_updated_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the third party's payment entry was updated.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/PaymentFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
        remote_fields:
          type: array
          items:
            $ref: '#/components/schemas/RemoteField'
      description: '# The Payment Object

        ### Description

        The `Payment` object represents general payments made towards a specific transaction.


        ### Usage Example

        Fetch from the `GET Payment` endpoint and view an invoice''s payment.'
      title: Payment
    TransactionCurrencyEnum:
      type: string
      enum:
      - XUA
      - AFN
      - AFA
      - ALL
      - ALK
      - DZD
      - ADP
      - AOA
      - AOK
      - AON
      - AOR
      - ARA
      - ARS
      - ARM
      - ARP
      - ARL
      - AMD
      - AWG
      - AUD
      - ATS
      - AZN
      - AZM
      - BSD
      - BHD
      - BDT
      - BBD
      - BYN
      - BYB
      - BYR
      - BEF
      - BEC
      - BEL
      - BZD
      - BMD
      - BTN
      - BOB
      - BOL
      - BOV
      - BOP
      - BAM
      - BAD
      - BAN
      - BWP
      - BRC
      - BRZ
      - BRE
      - BRR
      - BRN
      - BRB
      - BRL
      - GBP
      - BND
      - BGL
      - BGN
      - BGO
      - BGM
      - BUK
      - BIF
      - XPF
      - KHR
      - CAD
      - CVE
      - KYD
      - XAF
      - CLE
      - CLP
      - CLF
      - CNX
      - CNY
      - CNH
      - COP
      - COU
      - KMF
      - CDF
      - CRC
      - HRD
      - HRK
      - CUC
      - CUP
      - CYP
      - CZK
      - CSK
      - DKK
      - DJF
      - DOP
      - NLG
      - XCD
      - DDM
      - ECS
      - ECV
      - EGP
      - GQE
      - ERN
      - EEK
      - ETB
      - EUR
      - XBA
      - XEU
      - XBB
      - XBC
      - XBD
      - FKP
      - FJD
      - FIM
      - FRF
      - XFO
      - XFU
      - GMD
      - GEK
      - GEL
      - DEM
      - GHS
      - GHC
      - GIP
      - XAU
      - GRD
      - GTQ
      - GWP
      - GNF
      - GNS
      - GYD
      - HTG
      - HNL
      - HKD
      - HUF
      - IMP
      - ISK
      - ISJ
      - INR
      - IDR
      - IRR
      - IQD
      - IEP
      - ILS
      - ILP
      - ILR
      - ITL
      - JMD
      - JPY
      - JOD
      - KZT
      - KES
      - KWD
      - KGS
      - LAK
      - LVL
      - LVR
      - LBP
      - LSL
      - LRD
      - LYD
      - LTL
      - LTT
      - LUL
      - LUC
      - LUF
      - MOP
      - MKD
      - MKN
      - MGA
      - MGF
      - MWK
      - MYR
      - MVR
      - MVP
      - MLF
      - MTL
      - MTP
      - MRU
      - MRO
      - MUR
      - MXV
      - MXN
      - MXP
      - MDC
      - MDL
      - MCF
      - MNT
      - MAD
      - MAF
      - MZE
      - MZN
      - MZM
      - MMK
      - NAD
      - NPR
      - ANG
      - TWD
      - NZD
      - NIO
      - NIC
      - NGN
      - KPW
      - NOK
      - OMR
      - PKR
      - XPD
      - PAB
      - PGK
      - PYG
      - PEI
      - PEN
      - PES
      - PHP
      - XPT
      - PLN
      - PLZ
      - PTE
      - GWE
      - QAR
      - XRE
      - RHD
      - RON
      - ROL
      - RUB
      - RUR
      - RWF
      - SVC
      - WST
      - SAR
      - RSD
      - CSD
      - SCR
      - SLL
      - XAG
      - SGD
      - SKK
      - SIT
      - SBD
      - SOS
      - ZAR
      - ZAL
      - KRH
      - KRW
      - KRO
      - SSP
      - SUR
      - ESP
      - ESA
      - ESB
      - XDR
      - LKR
      - SHP
      - XSU
      - SDD
      - SDG
      - SDP
      - SRD
      - SRG
      - SZL
      - SEK
      - CHF
      - SYP
      - STN
      - STD
      - TVD
      - TJR
      - TJS
      - TZS
      - XTS
      - THB
      - XXX
      - TPE
      - TOP
      - TTD
      - TND
      - TRY
      - TRL
      - TMT
      - TMM
      - USD
      - USN
      - USS
      - UGX
      - UGS
      - UAH
      - UAK
      - AED
      - UYW
      - UYU
      - UYP
      - UYI
      - UZS
      - VUV
      - VES
      - VEB
      - VEF
      - VND
      - VNN
      - CHE
      - CHW
      - XOF
      - YDD
      - YER
      - YUN
      - YUD
      - YUM
      - YUR
      - ZWN
      - ZRN
      - ZRZ
      - ZMW
      - ZMK
      - ZWD
      - ZWR
      - ZWL
      description: The currency code in ISO 4217 format.
      title: TransactionCurrencyEnum
    ItemFormatEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: ItemFormatEnum
    PaymentLineItemRequest:
      type: object
      properties:
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        applied_amount:
          type:
          - string
          - 'null'
          format: decimal
          description: The amount being applied to the transaction.
        applied_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The date the payment portion is applied.
        related_object_id:
          type: string
          format: uuid
          description: The Merge ID of the transaction the payment portion is being applied to.
        related_object_type:
          type: string
          description: 'The type of transaction the payment portion is being applied to. Possible values include: INVOICE, JOURNAL_ENTRY, or CREDIT_NOTE.'
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        remote_fields:
          type: array
          items:
            $ref: '#/components/schemas/RemoteFieldRequest'
      description: '# The PaymentLineItem Object

        ### Description

        The `PaymentLineItem` object is an applied-to-line on a `Payment` that can either be a `Invoice`, `CreditNote`, or `JournalEntry`.


        ### Usage Example

        `Payment` will have a field called `applied-to-lines` which will be an array of `PaymentLineItemInternalMappingSerializer` objects that can either be a `Invoice`, `CreditNote`, or `JournalEntry`.'
      title: PaymentLineItemRequest
    FieldTypeEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: FieldTypeEnum
    PaginatedRemoteFieldClassList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/RemoteFieldClass'
      title: PaginatedRemoteFieldClassList
    FieldFormatEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: FieldFormatEnum
    PaymentFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: PaymentFieldMappings
    PaymentEndpointRequest:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/PaymentRequest'
      required:
      - model
      title: PaymentEndpointRequest
    ItemTypeEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: ItemTypeEnum
    PatchedPaymentEndpointRequest:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/PatchedPaymentRequest'
      required:
      - model
      title: PatchedPaymentEndpointRequest
    RemoteFieldRequest:
      type: object
      properties:
        remote_field_class:
          type: string
          format: uuid
        value:
          type: object
          additionalProperties:
            description: Any type
      required:
      - remote_field_class
      title: RemoteFieldRequest
    WarningValidationProblem:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/ValidationProblemSource'
        title:
          type: string
        detail:
          type: string
        problem_type:
          type: string
        block_merge_link:
          type: boolean
        raw_error:
          type: string
        error_code:
          type: integer
      required:
      - title
      - detail
      - problem_type
      title: WarningValidationProblem
    DebugModeLog:
      type: object
      properties:
        log_id:
          type: string
        dashboard_view:
          type: string
        log_summary:
          $ref: '#/components/schemas/DebugModelLogSummary'
      required:
      - log_id
      - dashboard_view
      - log_summary
      title: DebugModeLog
    PaymentTypeEnum:
      type: string
      enum:
      - ACCOUNTS_PAYABLE
      - ACCOUNTS_RECEIVABLE
      title: PaymentTypeEnum
    RemoteData:
      type: object
      properties:
        path:
          type: string
          description: The third-party API path that is being called.
        data:
          description: The data returned from the third-party for this object in its original, unnormalized format.
      required:
      - path
      description: '# The RemoteData Object

        ### Description

        The `RemoteData` object is used to represent the full data pulled from the third-party API for an object.


        ### Usage Example

        TODO'
      title: RemoteData
    PatchedPaymentRequest:
      type: object
      properties:
        transaction_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The payment's transaction date.
        contact:
          type:
          - string
          - 'null'
          format: uuid
          description: The supplier, or customer involved in the payment.
        account:
          type:
          - string
          - 'null'
          format: uuid
          description: The supplier’s or customer’s account in which the payment is made.
        payment_method:
          type:
          - string
          - 'null'
          format: uuid
          description: The method which this payment was made by.
        currency:
          oneOf:
          - $ref: '#/components/schemas/TransactionCurrencyEnum'
          - type: 'null'
          description: The payment's currency. The currency code in ISO 4217 format.
        exchange_rate:
          type:
          - string
          - 'null'
          format: decimal
          description: The payment's exchange rate.
        company:
          type:
          - string
          - 'null'
          format: uuid
          description: The company the payment belongs to.
        total_amount:
          type:
          - number
          - 'null'
          format: double
          description: The total amount of money being paid to the supplier, or customer, after taxes.
        type:
          oneOf:
          - $ref: '#/components/schemas/PaymentTypeEnum'
          - type: 'null'
          description: The type of the invoice.
        tracking_categories:
          type: array
          items:
            type: string
            format: uuid
        accounting_period:
          type:
          - string
          - 'null'
          format: uuid
          description: The accounting period that the Payment was generated in.
        applied_to_lines:
          type: array
          items:
            $ref: '#/components/schemas/PaymentLineItemRequest'
          description: A list of “Payment Applied to Lines” objects.
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        remote_fields:
          type: array
          items:
            $ref: '#/components/schemas/RemoteFieldRequest'
      description: '# The Payment Object

        ### Description

        The `Payment` object represents general payments made towards a specific transaction.


        ### Usage Example

        Fetch from the `GET Payment` endpoint and view an invoice''s payment.'
      title: PatchedPaymentRequest
    PaymentLineItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        applied_amount:
          type:
          - string
          - 'null'
          format: decimal
          description: The amount being applied to the transaction.
        applied_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The date the payment portion is applied.
        related_object_id:
          type: string
          format: uuid
          description: The Merge ID of the transaction the payment portion is being applied to.
        related_object_type:
          type: string
          description: 'The type of transaction the payment portion is being applied to. Possible values include: INVOICE, JOURNAL_ENTRY, or CREDIT_NOTE.'
      description: '# The PaymentLineItem Object

        ### Description

        The `PaymentLineItem` object is an applied-to-line on a `Payment` that can either be a `Invoice`, `CreditNote`, or `JournalEntry`.


        ### Usage Example

        `Payment` will have a field called `applied-to-lines` which will be an array of `PaymentLineItemInternalMappingSerializer` objects that can either be a `Invoice`, `CreditNote`, or `JournalEntry`.'
      title: PaymentLineItem
    PaymentRequest:
      type: object
      properties:
        transaction_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The payment's transaction date.
        contact:
          type:
          - string
          - 'null'
          format: uuid
          description: The supplier, or customer involved in the payment.
        account:
          type:
          - string
          - 'null'
          format: uuid
          description: The supplier’s or customer’s account in which the payment is made.
        payment_method:
          type:
          - string
          - 'null'
          format: uuid
          description: The method which this payment was made by.
        currency:
          oneOf:
          - $ref: '#/components/schemas/TransactionCurrencyEnum'
          - type: 'null'
          description: The payment's currency. The currency code in ISO 4217 format.
        exchange_rate:
          type:
          - string
          - 'null'
          format: decimal
          description: The payment's exchange rate.
        company:
          type:
          - string
          - 'null'
          format: uuid
          description: The company the payment belongs to.
        total_amount:
          type:
          - number
          - 'null'
          format: double
          description: The total amount of money being paid to the supplier, or customer, after taxes.
        type:
          oneOf:
          - $ref: '#/components/schemas/PaymentTypeEnum'
          - type: 'null'
          description: The type of the invoice.
        tracking_categories:
          type: array
          items:
            type: string
            format: uuid
        accounting_period:
          type:
          - string
          - 'null'
          format: uuid
          description: The accounting period that the Payment was generated in.
        applied_to_lines:
          type: array
          items:
            $ref: '#/components/schemas/PaymentLineItemRequest'
          description: A list of “Payment Applied to Lines” objects.
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        remote_fields:
          type: array
          items:
            $ref: '#/components/schemas/RemoteFieldRequest'
      description: '# The Payment Object

        ### Description

        The `Payment` object represents general payments made towards a specific transaction.


        ### Usage Example

        Fetch from the `GET Payment` endpoint and view an invoice''s payment.'
      title: PaymentRequest
    DebugModelLogSummary:
      type: object
      properties:
        url:
          type: string
        method:
          type: string
        status_code:
          type: integer
      required:
      - url
      - method
      - status_code
      title: DebugModelLogSummary
    LinkedAccountStatus:
      type: object
      properties:
        linked_account_status:
          type: string
        can_make_request:
          type: boolean
      required:
      - linked_account_status
      - can_make_request
      title: LinkedAccountStatus
    ValidationProblemSource:
      type: object
      properties:
        pointer:
          type: string
      required:
      - pointer
      title: ValidationProblemSource
    RemoteField:
      type: object
      properties:
        remote_field_class:
          $ref: '#/components/schemas/RemoteFieldClass'
        value:
          type: object
          additionalProperties:
            description: Any type
      required:
      - remote_field_class
      title: RemoteField
    PaymentsIdGetParametersExpandSchemaItems:
      type: string
      enum:
      - account
      - accounting_period
      - applied_to_lines
      - company
      - contact
      - payment_method
      - tracking_categories
      title: PaymentsIdGetParametersExpandSchemaItems
    PaymentResponse:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/Payment'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/WarningValidationProblem'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorValidationProblem'
        logs:
          type: array
          items:
            $ref: '#/components/schemas/DebugModeLog'
      required:
      - model
      - warnings
      - errors
      title: PaymentResponse
    ErrorValidationProblem:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/ValidationProblemSource'
        title:
          type: string
        detail:
          type: string
        problem_type:
          type: string
        block_merge_link:
          type: boolean
        raw_error:
          type: string
        error_code:
          type: integer
      required:
      - title
      - detail
      - problem_type
      title: ErrorValidationProblem
    RemoteFieldClass:
      type: object
      properties:
        id:
          type: string
        display_name:
          type: string
        remote_key_name:
          type: string
        description:
          type: string
        is_custom:
          type: boolean
        is_common_model_field:
          type: boolean
        is_required:
          type: boolean
        field_type:
          $ref: '#/components/schemas/FieldTypeEnum'
        field_format:
          $ref: '#/components/schemas/FieldFormatEnum'
        field_choices:
          type: array
          items:
            type: string
        item_schema:
          $ref: '#/components/schemas/ItemSchema'
      title: RemoteFieldClass
    ItemSchema:
      type: object
      properties:
        item_type:
          $ref: '#/components/schemas/ItemTypeEnum'
        item_format:
          $ref: '#/components/schemas/ItemFormatEnum'
        item_choices:
          type: array
          items:
            type: string
      title: ItemSchema
    PaymentsGetParametersExpandSchemaItems:
      type: string
      enum:
      - account
      - accounting_period
      - applied_to_lines
      - company
      - contact
      - payment_method
      - tracking_categories
      title: PaymentsGetParametersExpandSchemaItems
    PaginatedPaymentList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
      title: PaginatedPaymentList
    MetaResponse:
      type: object
      properties:
        request_schema:
          type: object
          additionalProperties:
            description: Any type
        status:
          $ref: '#/components/schemas/LinkedAccountStatus'
        has_conditional_params:
          type: boolean
        has_required_linked_account_params:
          type: boolean
        remote_fields:
          type: array
          items:
            type: string
            format: uuid
          description: Remote field values to populate
      required:
      - request_schema
      - has_conditional_params
      - has_required_linked_account_params
      title: MetaResponse
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
