openapi: 3.1.0
info:
  title: Accounting subpackage_addresses API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_addresses
paths:
  /accounting/v1/addresses/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns an `Address` object with the given `id`.{/* BEGIN_ACCOUNTING_ADDRESS_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA+VYa3PaOBT9Kx59ZAAXKGTCzM4OzybZxaRAdpN2MhohXYxAlhxJ5tXpf9+RgUC2zLbbcbpJ95NtWTpXPufeI8mfECUWQqXXqI4IpSqRlssQ5VGkGAhURw3GNBiD8ojEPCARPOmIF2WURyaJY6UtsC4HwcyFhgmqIz8CHUIhkXzCgfmHQT6XFkJNLFfS+I+DC5N0NMojweUcWGM74Otw2+6FXcvfHo0vuLEoj2JijJ1qlYTTATwkYL4B2c1NQATSElFgxBL/CKWgtzCn2txXMBBggbWJJW2wQN3n7iJOrY1N3fenIOJiGr3IYOGD9Im2nAowfrVyXj47rxZ2KGn0X3EofinlZg9jNT7L4ZAKTJJcb0RXwehyGczCt0Hr7SrY3FSDzXwTzOZvcjgkud6oV+2P7ir9dqPUP9EBD2u35380282rIEc3nUowu1sGI1rqjeh8vLmsXL2jy6uL96tgc1futW8qwahTvXqnSv3WwPRaA9VrFIsoj45VRfWPn44bdonT1WCmTaXmjp+j15cRCeGIl60gJOaFOBkLToumUiQR2ShJlqZIVeRHwDjxD3h4+JAQDfh3FariLHYZnDLHlXwkH9VRJ7hoBK1O+2k+NBaECzIWgOpWJ/BFQqP6R0S5XaM8oiqKiVxjLicqfZSWUJdeac7o9eEOm2TM+IIbFzmPNETKAnYyPn3CMbHTQxNnrqAssZBeNYDFpcOtKze7jt3LDY8xVQzQvRv8kHAN7JpoEoEF7eZ8/zl/SoQep1oZNbFeey1JxKnxKrWq10wMl2CM1wJpNRHZKPQYDO+D4UqtivfB8C4YbimhND5fdbq12lkxli9PwDjRdEoMYKWZ4/fHq9TlkkgKHpHM68ewL7VMdLoWxE6Ujk7otQuL8SHmKxHoaUmdEum71VES1mOuWcbs72H/Y4K/albZshmAHSY8raUMyAzAGoeGTbokvMhc/XerARFgjm3nGeymrwkV4HUTN0GvJVTCvM7gOhtFtuB4C45TcNwZXOPCbtX+CSTKtB7eJ5zO022N1wYztyrO1mYO+BiaM3mTLF+nAs+6AB+J0JeCy4zc6QBb2PoTvpmUa82z0uuU4IftWockhKM9ampQjeMDawbauBi42WrsDxO/LW4XleHsZ1AmS3tKpbh0E01nmhXxO8Q9+YsFD8wZeV7yv5XtZ0npP8kCdpt6ntV5a2/xDhtfTNiq/Mb+vzaTt6BVNlw6pJ1Jv3wK/8l6v5fKD2qqvAx/13xQU/Xl35oXQW2mC9j9578Afo+yDlgVAAA=" /></Footer>{/* END_ACCOUNTING_ADDRESS_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_addresses
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: remote_fields
        in: query
        description: Deprecated. Use show_enum_origins.
        required: false
        schema:
          $ref: '#/components/schemas/AddressesIdGetParametersRemoteFields'
      - name: show_enum_origins
        in: query
        description: A comma separated list of enum field names for which you'd like the original values to be returned, instead of Merge's normalized enum values. [Learn more](https://help.merge.dev/en/articles/8950958-show_enum_origins-query-parameter)
        required: false
        schema:
          $ref: '#/components/schemas/AddressesIdGetParametersShowEnumOrigins'
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
components:
  schemas:
    Address:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        type:
          oneOf:
          - $ref: '#/components/schemas/AddressTypeEnum'
          - type: 'null'
          description: The address type.
        street_1:
          type:
          - string
          - 'null'
          description: Line 1 of the address's street.
        street_2:
          type:
          - string
          - 'null'
          description: Line 2 of the address's street.
        city:
          type:
          - string
          - 'null'
          description: The address's city.
        state:
          oneOf:
          - description: Any type
          - type: 'null'
          description: The address's state or region.
        country_subdivision:
          type:
          - string
          - 'null'
          description: The address's state or region.
        country:
          oneOf:
          - $ref: '#/components/schemas/CountryEnum'
          - type: 'null'
          description: The address's country. The country code in ISO 3166-1 alpha-2 format.
        zip_code:
          type:
          - string
          - 'null'
          description: The address's zip code.
      description: '# The Address Object

        ### Description

        The `Address` object is used to represent a contact''s or company''s address.


        ### Usage Example

        Fetch from the `GET CompanyInfo` endpoint and view the company''s addresses.'
      title: Address
    CountryEnum:
      type: string
      enum:
      - AF
      - AX
      - AL
      - DZ
      - AS
      - AD
      - AO
      - AI
      - AQ
      - AG
      - AR
      - AM
      - AW
      - AU
      - AT
      - AZ
      - BS
      - BH
      - BD
      - BB
      - BY
      - BE
      - BZ
      - BJ
      - BM
      - BT
      - BO
      - BQ
      - BA
      - BW
      - BV
      - BR
      - IO
      - BN
      - BG
      - BF
      - BI
      - CV
      - KH
      - CM
      - CA
      - KY
      - CF
      - TD
      - CL
      - CN
      - CX
      - CC
      - CO
      - KM
      - CG
      - CD
      - CK
      - CR
      - CI
      - HR
      - CU
      - CW
      - CY
      - CZ
      - DK
      - DJ
      - DM
      - DO
      - EC
      - EG
      - SV
      - GQ
      - ER
      - EE
      - SZ
      - ET
      - FK
      - FO
      - FJ
      - FI
      - FR
      - GF
      - PF
      - TF
      - GA
      - GM
      - GE
      - DE
      - GH
      - GI
      - GR
      - GL
      - GD
      - GP
      - GU
      - GT
      - GG
      - GN
      - GW
      - GY
      - HT
      - HM
      - VA
      - HN
      - HK
      - HU
      - IS
      - IN
      - ID
      - IR
      - IQ
      - IE
      - IM
      - IL
      - IT
      - JM
      - JP
      - JE
      - JO
      - KZ
      - KE
      - KI
      - KW
      - KG
      - LA
      - LV
      - LB
      - LS
      - LR
      - LY
      - LI
      - LT
      - LU
      - MO
      - MG
      - MW
      - MY
      - MV
      - ML
      - MT
      - MH
      - MQ
      - MR
      - MU
      - YT
      - MX
      - FM
      - MD
      - MC
      - MN
      - ME
      - MS
      - MA
      - MZ
      - MM
      - NA
      - NR
      - NP
      - NL
      - NC
      - NZ
      - NI
      - NE
      - NG
      - NU
      - NF
      - KP
      - MK
      - MP
      - 'NO'
      - OM
      - PK
      - PW
      - PS
      - PA
      - PG
      - PY
      - PE
      - PH
      - PN
      - PL
      - PT
      - PR
      - QA
      - RE
      - RO
      - RU
      - RW
      - BL
      - SH
      - KN
      - LC
      - MF
      - PM
      - VC
      - WS
      - SM
      - ST
      - SA
      - SN
      - RS
      - SC
      - SL
      - SG
      - SX
      - SK
      - SI
      - SB
      - SO
      - ZA
      - GS
      - KR
      - SS
      - ES
      - LK
      - SD
      - SR
      - SJ
      - SE
      - CH
      - SY
      - TW
      - TJ
      - TZ
      - TH
      - TL
      - TG
      - TK
      - TO
      - TT
      - TN
      - TR
      - TM
      - TC
      - TV
      - UG
      - UA
      - AE
      - GB
      - UM
      - US
      - UY
      - UZ
      - VU
      - VE
      - VN
      - VG
      - VI
      - WF
      - EH
      - YE
      - ZM
      - ZW
      description: The country code in ISO 3166-1 alpha-2 format.
      title: CountryEnum
    AddressesIdGetParametersRemoteFields:
      type: string
      enum:
      - type
      title: AddressesIdGetParametersRemoteFields
    AddressTypeEnum:
      type: string
      enum:
      - BILLING
      - SHIPPING
      title: AddressTypeEnum
    AddressesIdGetParametersShowEnumOrigins:
      type: string
      enum:
      - type
      title: AddressesIdGetParametersShowEnumOrigins
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
