openapi: 3.1.0
info:
  title: Accounting subpackage_companyInfo API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_companyInfo
paths:
  /accounting/v1/company-info:
    get:
      operationId: list
      summary: List
      description: Returns a list of `CompanyInfo` objects.{/* BEGIN_ACCOUNTING_COMPANYINFO_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA9VZa3PaOBT9K4w+Zng0YZNMmNnZ4ZUm2cVJE9LHdjqai3wxAllyJJkEOv3vOzIm4ISkhRra/cRYts+1zrk690p8JQwsBkpPSI0AYyqWlsuAFEmofBSkRpoqjEBOzmVfkSKBiHsQYuZhOj4gRWLiKFLaon/KUfjmTGOf1EglRB1gKZa8z9GvLF6qcGkx0GC5kqby+HKpn7xNikRwOUK/Pnvh+3Czx0vpyJNLUxHcWFIkERhjB1rFweAa72I0P4Dsvk1giNKCKPlgobKEUtIzmFVjbhY+CrTot8BCCy0yN9004sDayNQqlQGKqJxEL/s4rqCsgLacCTSVw+rJwfHJYSlFSaL/RQPx5/7e8K6nesd7NGCCQrzX6bIHr3t+7w2DP7zmHw/e9PbQm46m3nD0Zo8GsNfpdg4vu5+ql636/uWKB+jN0ceT941W48LbY9N21Rt+uve6bL/TZaPe9Lx68ZbdX5y9e/Cmnw46rduq120fXrxV+5fNa9NpXqtOvVwmRbKsKql9/ro8kCbOqUasByidHkt3z0MIcImWmR4Q8VIU9wRnZVMtQwhTJeHelJkKKyH6HCpXAmxf6bCvEcHBUnMXg0Y6uraT1tuDcpSkc0IhV/JRBVIjbe+s7jXbrWxi1MfABfQEkprVMT7LbFL7TFisNUo2IUUi3ayKRGOoLFKmESz6FOxizKmWvaIR2MFiiPvki7u4i7lG/wo0hGhRu0hfvhVf4NAMGkqNTD4kLvDozYy9f1SgysMof+rA9zUag2bBXTRQEqmMw56b9DZ563CmlVF9W2hNJIScmUL16LDQiA2XaEyhidJqEPmQ+hiMzoPR6tEhnQejaTDaVEJpevLQPj06Ot5Kus5t0Bn4Ev1MSQssGWYafW6pdLQKLpFyi+GTG8nlIvExjISaYDIcoEQ3FatBGkg+OAuz4oFZ6o4VZwnEUMVagqCOFJ4ZcUBJRcAABE1zZp46MHHObFZkURRrNgCDVGk/k1ebrtEisfCQBkgvNMxosRrYyJXCtJq6Cfx8ap5yCZJhAaRfuIxwbqu52uaKJE3DUrqI+Yuyci5yRslsYr2o8tqKrquXkjjpce3nrMccdjuU/7D55rJI1qTUQ3sTc4v5MOqhNQ4t7Qde4dOrd8/ftzdOYLfuI62GOEvatcz2FU/FhwilQarRxX10wezw0siyzQr0A9TP7Pj1R37OyJkKkRoLNmmVn5i7e5v2Y9HnQjzeThGfG//3jH57dmBAoFnCNdkxs24NKJJYC/czRukrTVPlM5+cubV22bjUwAQWTmPDlSw0hYr9Qvv6Kp8lNAOnM3CagNP29RUtpV3i1j3qhaWxlFkvuNg2S8ZKnbcm8LuYs1HSmhdaaEZWRfkWnAU+xcZQ3sb3u1S1zw0DQScImqL0aahkQvhKC1h3m5Csvc3pvpROxnzYXsCW0u3pbf/gqHG8/z8je0f72xsIcGlXlrhaffl0KgdJXAzaaNbnO96/xx/H1ZvhrxTEh9dk2kHDttmaSdQ6d+0NszlqkyLO9RmPuWeOYat9XNrGZbu4/LbJ895tdS/327d4SdHNPvukx8tnI79J7d7Rpn6Lhf4DjDHd8vO8jqDmRd5h07O+/3Dwxu7S4LZlWZu41AelRzODzZPYGei2D5m/t/aer7nssfQWSvRH1CofLh1S2hX9vsV3Bz1SDpX4XzVQhRz/F3B4z/8W+OVH1E9L7KI6viQf31nx2kZObHbM/OXbf+askRneHQAA" /></Footer>{/* END_ACCOUNTING_COMPANYINFO_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_companyInfo
      parameters:
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/CompanyInfoGetParametersExpandSchemaItems'
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: name
        in: query
        description: If provided, will only return CompanyInfo objects with this name.
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCompanyInfoList'
  /accounting/v1/company-info/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns a `CompanyInfo` object with the given `id`.{/* BEGIN_ACCOUNTING_COMPANYINFO_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA9VZa3PaOBT9K4w+Zng0YZNMmNnZ4ZUm2cVJE9LHdjqai3wxAllyJJkEOv3vOzIm4ISkhRra/cRYts+1zrk690p8JQwsBkpPSI0AYyqWlsuAFEmofBSkRpoqjEBOzmVfkSKBiHsQYuZhOj4gRWLiKFLaon/KUfjmTGOf1EglRB1gKZa8z9GvLF6qcGkx0GC5kqby+HKpn7xNikRwOUK/Pnvh+3Czx0vpyJNLUxHcWFIkERhjB1rFweAa72I0P4Dsvk1giNKCKPlgobKEUtIzmFVjbhY+CrTot8BCCy0yN9004sDayNQqlQGKqJxEL/s4rqCsgLacCTSVw+rJwfHJYSlFSaL/RQPx5/7e8K6nesd7NGCCQrzX6bIHr3t+7w2DP7zmHw/e9PbQm46m3nD0Zo8GsNfpdg4vu5+ql636/uWKB+jN0ceT941W48LbY9N21Rt+uve6bL/TZaPe9Lx68ZbdX5y9e/Cmnw46rduq120fXrxV+5fNa9NpXqtOvVwmRbKsKql9/ro8kCbOqUasByidHkt3z0MIcImWmR4Q8VIU9wRnZVMtQwhTJeHelJkKKyH6HCpXAmxf6bCvEcHBUnMXg0Y6uraT1tuDcpSkc0IhV/JRBVIjbe+s7jXbrWxi1MfABfQEkprVMT7LbFL7TFisNUo2IUUi3ayKRGOoLFKmESz6FOxizKmWvaIR2MFiiPvki7u4i7lG/wo0hGhRu0hfvhVf4NAMGkqNTD4kLvDozYy9f1SgysMof+rA9zUag2bBXTRQEqmMw56b9DZ563CmlVF9W2hNJIScmUL16LDQiA2XaEyhidJqEPmQ+hiMzoPR6tEhnQejaTDaVEJpevLQPj06Ot5Kus5t0Bn4Ev1MSQssGWYafW6pdLQKLpFyi+GTG8nlIvExjISaYDIcoEQ3FatBGkg+OAuz4oFZ6o4VZwnEUMVagqCOFJ4ZcUBJRcAABE1zZp46MHHObFZkURRrNgCDVGk/k1ebrtEisfCQBkgvNMxosRrYyJXCtJq6Cfx8ap5yCZJhAaRfuIxwbqu52uaKJE3DUrqI+Yuyci5yRslsYr2o8tqKrquXkjjpce3nrMccdjuU/7D55rJI1qTUQ3sTc4v5MOqhNQ4t7Qde4dOrd8/ftzdOYLfuI62GOEvatcz2FU/FhwilQarRxX10wezw0siyzQr0A9TP7Pj1R37OyJkKkRoLNmmVn5i7e5v2Y9HnQjzeThGfG//3jH57dmBAoFnCNdkxs24NKJJYC/czRukrTVPlM5+cubV22bjUwAQWTmPDlSw0hYr9Qvv6Kp8lNAOnM3CagNP29RUtpV3i1j3qhaWxlFkvuNg2S8ZKnbcm8LuYs1HSmhdaaEZWRfkWnAU+xcZQ3sb3u1S1zw0DQScImqL0aahkQvhKC1h3m5Csvc3pvpROxnzYXsCW0u3pbf/gqHG8/z8je0f72xsIcGlXlrhaffl0KgdJXAzaaNbnO96/xx/H1ZvhrxTEh9dk2kHDttmaSdQ6d+0NszlqkyLO9RmPuWeOYat9XNrGZbu4/LbJ895tdS/327d4SdHNPvukx8tnI79J7d7Rpn6Lhf4DjDHd8vO8jqDmRd5h07O+/3Dwxu7S4LZlWZu41AelRzODzZPYGei2D5m/t/aer7nssfQWSvRH1CofLh1S2hX9vsV3Bz1SDpX4XzVQhRz/F3B4z/8W+OVH1E9L7KI6viQf31nx2kZObHbM/OXbf+askRneHQAA" /></Footer>{/* END_ACCOUNTING_COMPANYINFO_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_companyInfo
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/CompanyInfoIdGetParametersExpandSchemaItems'
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyInfo'
components:
  schemas:
    Address:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        type:
          oneOf:
          - $ref: '#/components/schemas/AddressTypeEnum'
          - type: 'null'
          description: The address type.
        street_1:
          type:
          - string
          - 'null'
          description: Line 1 of the address's street.
        street_2:
          type:
          - string
          - 'null'
          description: Line 2 of the address's street.
        city:
          type:
          - string
          - 'null'
          description: The address's city.
        state:
          oneOf:
          - description: Any type
          - type: 'null'
          description: The address's state or region.
        country_subdivision:
          type:
          - string
          - 'null'
          description: The address's state or region.
        country:
          oneOf:
          - $ref: '#/components/schemas/CountryEnum'
          - type: 'null'
          description: The address's country. The country code in ISO 3166-1 alpha-2 format.
        zip_code:
          type:
          - string
          - 'null'
          description: The address's zip code.
      description: '# The Address Object

        ### Description

        The `Address` object is used to represent a contact''s or company''s address.


        ### Usage Example

        Fetch from the `GET CompanyInfo` endpoint and view the company''s addresses.'
      title: Address
    AccountingPhoneNumber:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        number:
          type:
          - string
          - 'null'
          description: The phone number.
        type:
          type:
          - string
          - 'null'
          description: The phone number's type.
      description: '# The AccountingPhoneNumber Object

        ### Description

        The `AccountingPhoneNumber` object is used to represent a contact''s or company''s phone number.


        ### Usage Example

        Fetch from the `GET CompanyInfo` endpoint and view the company''s phone numbers.'
      title: AccountingPhoneNumber
    CompanyInfo:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        name:
          type:
          - string
          - 'null'
          description: The company's name.
        legal_name:
          type:
          - string
          - 'null'
          description: The company's legal name.
        tax_number:
          type:
          - string
          - 'null'
          description: The company's tax number.
        fiscal_year_end_month:
          type:
          - integer
          - 'null'
          description: The company's fiscal year end month.
        fiscal_year_end_day:
          type:
          - integer
          - 'null'
          description: The company's fiscal year end day.
        currency:
          oneOf:
          - $ref: '#/components/schemas/TransactionCurrencyEnum'
          - type: 'null'
          description: The currency set in the company's accounting platform. The currency code in ISO 4217 format.
        remote_created_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the third party's company was created.
        urls:
          type:
          - array
          - 'null'
          items:
            type: string
          description: The company's urls.
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        phone_numbers:
          type: array
          items:
            $ref: '#/components/schemas/AccountingPhoneNumber'
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/CompanyInfoFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The CompanyInfo Object

        ### Description

        The `CompanyInfo` object contains information about the company of the linked account. If the company has multiple entities (also known as subsidiaries), each entity may show up as a single `CompanyInfo` record.


        ### Usage Example

        Fetch from the `GET CompanyInfo` endpoint and view a company''s information.'
      title: CompanyInfo
    CompanyInfoIdGetParametersExpandSchemaItems:
      type: string
      enum:
      - addresses
      - phone_numbers
      title: CompanyInfoIdGetParametersExpandSchemaItems
    TransactionCurrencyEnum:
      type: string
      enum:
      - XUA
      - AFN
      - AFA
      - ALL
      - ALK
      - DZD
      - ADP
      - AOA
      - AOK
      - AON
      - AOR
      - ARA
      - ARS
      - ARM
      - ARP
      - ARL
      - AMD
      - AWG
      - AUD
      - ATS
      - AZN
      - AZM
      - BSD
      - BHD
      - BDT
      - BBD
      - BYN
      - BYB
      - BYR
      - BEF
      - BEC
      - BEL
      - BZD
      - BMD
      - BTN
      - BOB
      - BOL
      - BOV
      - BOP
      - BAM
      - BAD
      - BAN
      - BWP
      - BRC
      - BRZ
      - BRE
      - BRR
      - BRN
      - BRB
      - BRL
      - GBP
      - BND
      - BGL
      - BGN
      - BGO
      - BGM
      - BUK
      - BIF
      - XPF
      - KHR
      - CAD
      - CVE
      - KYD
      - XAF
      - CLE
      - CLP
      - CLF
      - CNX
      - CNY
      - CNH
      - COP
      - COU
      - KMF
      - CDF
      - CRC
      - HRD
      - HRK
      - CUC
      - CUP
      - CYP
      - CZK
      - CSK
      - DKK
      - DJF
      - DOP
      - NLG
      - XCD
      - DDM
      - ECS
      - ECV
      - EGP
      - GQE
      - ERN
      - EEK
      - ETB
      - EUR
      - XBA
      - XEU
      - XBB
      - XBC
      - XBD
      - FKP
      - FJD
      - FIM
      - FRF
      - XFO
      - XFU
      - GMD
      - GEK
      - GEL
      - DEM
      - GHS
      - GHC
      - GIP
      - XAU
      - GRD
      - GTQ
      - GWP
      - GNF
      - GNS
      - GYD
      - HTG
      - HNL
      - HKD
      - HUF
      - IMP
      - ISK
      - ISJ
      - INR
      - IDR
      - IRR
      - IQD
      - IEP
      - ILS
      - ILP
      - ILR
      - ITL
      - JMD
      - JPY
      - JOD
      - KZT
      - KES
      - KWD
      - KGS
      - LAK
      - LVL
      - LVR
      - LBP
      - LSL
      - LRD
      - LYD
      - LTL
      - LTT
      - LUL
      - LUC
      - LUF
      - MOP
      - MKD
      - MKN
      - MGA
      - MGF
      - MWK
      - MYR
      - MVR
      - MVP
      - MLF
      - MTL
      - MTP
      - MRU
      - MRO
      - MUR
      - MXV
      - MXN
      - MXP
      - MDC
      - MDL
      - MCF
      - MNT
      - MAD
      - MAF
      - MZE
      - MZN
      - MZM
      - MMK
      - NAD
      - NPR
      - ANG
      - TWD
      - NZD
      - NIO
      - NIC
      - NGN
      - KPW
      - NOK
      - OMR
      - PKR
      - XPD
      - PAB
      - PGK
      - PYG
      - PEI
      - PEN
      - PES
      - PHP
      - XPT
      - PLN
      - PLZ
      - PTE
      - GWE
      - QAR
      - XRE
      - RHD
      - RON
      - ROL
      - RUB
      - RUR
      - RWF
      - SVC
      - WST
      - SAR
      - RSD
      - CSD
      - SCR
      - SLL
      - XAG
      - SGD
      - SKK
      - SIT
      - SBD
      - SOS
      - ZAR
      - ZAL
      - KRH
      - KRW
      - KRO
      - SSP
      - SUR
      - ESP
      - ESA
      - ESB
      - XDR
      - LKR
      - SHP
      - XSU
      - SDD
      - SDG
      - SDP
      - SRD
      - SRG
      - SZL
      - SEK
      - CHF
      - SYP
      - STN
      - STD
      - TVD
      - TJR
      - TJS
      - TZS
      - XTS
      - THB
      - XXX
      - TPE
      - TOP
      - TTD
      - TND
      - TRY
      - TRL
      - TMT
      - TMM
      - USD
      - USN
      - USS
      - UGX
      - UGS
      - UAH
      - UAK
      - AED
      - UYW
      - UYU
      - UYP
      - UYI
      - UZS
      - VUV
      - VES
      - VEB
      - VEF
      - VND
      - VNN
      - CHE
      - CHW
      - XOF
      - YDD
      - YER
      - YUN
      - YUD
      - YUM
      - YUR
      - ZWN
      - ZRN
      - ZRZ
      - ZMW
      - ZMK
      - ZWD
      - ZWR
      - ZWL
      description: The currency code in ISO 4217 format.
      title: TransactionCurrencyEnum
    PaginatedCompanyInfoList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/CompanyInfo'
      title: PaginatedCompanyInfoList
    CompanyInfoGetParametersExpandSchemaItems:
      type: string
      enum:
      - addresses
      - phone_numbers
      title: CompanyInfoGetParametersExpandSchemaItems
    RemoteData:
      type: object
      properties:
        path:
          type: string
          description: The third-party API path that is being called.
        data:
          description: The data returned from the third-party for this object in its original, unnormalized format.
      required:
      - path
      description: '# The RemoteData Object

        ### Description

        The `RemoteData` object is used to represent the full data pulled from the third-party API for an object.


        ### Usage Example

        TODO'
      title: RemoteData
    CountryEnum:
      type: string
      enum:
      - AF
      - AX
      - AL
      - DZ
      - AS
      - AD
      - AO
      - AI
      - AQ
      - AG
      - AR
      - AM
      - AW
      - AU
      - AT
      - AZ
      - BS
      - BH
      - BD
      - BB
      - BY
      - BE
      - BZ
      - BJ
      - BM
      - BT
      - BO
      - BQ
      - BA
      - BW
      - BV
      - BR
      - IO
      - BN
      - BG
      - BF
      - BI
      - CV
      - KH
      - CM
      - CA
      - KY
      - CF
      - TD
      - CL
      - CN
      - CX
      - CC
      - CO
      - KM
      - CG
      - CD
      - CK
      - CR
      - CI
      - HR
      - CU
      - CW
      - CY
      - CZ
      - DK
      - DJ
      - DM
      - DO
      - EC
      - EG
      - SV
      - GQ
      - ER
      - EE
      - SZ
      - ET
      - FK
      - FO
      - FJ
      - FI
      - FR
      - GF
      - PF
      - TF
      - GA
      - GM
      - GE
      - DE
      - GH
      - GI
      - GR
      - GL
      - GD
      - GP
      - GU
      - GT
      - GG
      - GN
      - GW
      - GY
      - HT
      - HM
      - VA
      - HN
      - HK
      - HU
      - IS
      - IN
      - ID
      - IR
      - IQ
      - IE
      - IM
      - IL
      - IT
      - JM
      - JP
      - JE
      - JO
      - KZ
      - KE
      - KI
      - KW
      - KG
      - LA
      - LV
      - LB
      - LS
      - LR
      - LY
      - LI
      - LT
      - LU
      - MO
      - MG
      - MW
      - MY
      - MV
      - ML
      - MT
      - MH
      - MQ
      - MR
      - MU
      - YT
      - MX
      - FM
      - MD
      - MC
      - MN
      - ME
      - MS
      - MA
      - MZ
      - MM
      - NA
      - NR
      - NP
      - NL
      - NC
      - NZ
      - NI
      - NE
      - NG
      - NU
      - NF
      - KP
      - MK
      - MP
      - 'NO'
      - OM
      - PK
      - PW
      - PS
      - PA
      - PG
      - PY
      - PE
      - PH
      - PN
      - PL
      - PT
      - PR
      - QA
      - RE
      - RO
      - RU
      - RW
      - BL
      - SH
      - KN
      - LC
      - MF
      - PM
      - VC
      - WS
      - SM
      - ST
      - SA
      - SN
      - RS
      - SC
      - SL
      - SG
      - SX
      - SK
      - SI
      - SB
      - SO
      - ZA
      - GS
      - KR
      - SS
      - ES
      - LK
      - SD
      - SR
      - SJ
      - SE
      - CH
      - SY
      - TW
      - TJ
      - TZ
      - TH
      - TL
      - TG
      - TK
      - TO
      - TT
      - TN
      - TR
      - TM
      - TC
      - TV
      - UG
      - UA
      - AE
      - GB
      - UM
      - US
      - UY
      - UZ
      - VU
      - VE
      - VN
      - VG
      - VI
      - WF
      - EH
      - YE
      - ZM
      - ZW
      description: The country code in ISO 3166-1 alpha-2 format.
      title: CountryEnum
    CompanyInfoFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: CompanyInfoFieldMappings
    AddressTypeEnum:
      type: string
      enum:
      - BILLING
      - SHIPPING
      title: AddressTypeEnum
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
