openapi: 3.2.0
info:
  title: Merge Subpackage Generate Key API
  version: 1.0.0
  description: 'Operations tagged subpackage_generateKey across 8 of this provider''s published API definitions: merge-accounting-api-openapi.yaml, merge-ats-api-openapi.yaml, merge-chat-api-openapi.yaml, merge-crm-api-openapi.yaml, merge-file-storage-api-openapi.yaml, merge-hris-api-openapi.yaml, merge-knowledge-base-api-openapi.yaml, merge-ticketing-api-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
- url: https://api.merge.dev/api/chat/v1
- url: https://api-eu.merge.dev/api/chat/v1
- url: https://api-ap.merge.dev/api/chat/v1
- url: https://api-ap.merge.dev/api/knowledgebase/v1
tags:
- name: subpackage_generateKey
paths:
  /accounting/v1/generate-key:
    post:
      operationId: create
      summary: Create
      description: Create a remote key.
      tags:
      - subpackage_generateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ats/v1/generate-key:
    post:
      operationId: create
      summary: Create
      description: Create a remote key.
      tags:
      - subpackage_generateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /generate-key:
    post:
      operationId: create
      summary: Create
      description: Create a remote key.
      tags:
      - subpackage_generateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
    servers:
    - url: https://api.merge.dev/api/chat/v1
    - url: https://api-eu.merge.dev/api/chat/v1
    - url: https://api-ap.merge.dev/api/chat/v1
  /crm/v1/generate-key:
    post:
      operationId: create
      summary: Create
      description: Create a remote key.
      tags:
      - subpackage_generateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /filestorage/v1/generate-key:
    post:
      operationId: create
      summary: Create
      description: Create a remote key.
      tags:
      - subpackage_generateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /hris/v1/generate-key:
    post:
      operationId: create
      summary: Create
      description: Create a remote key.
      tags:
      - subpackage_generateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /knowledgebase/v1/generate-key:
    post:
      operationId: create
      summary: Create
      description: Create a remote key.
      tags:
      - subpackage_generateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
    - url: https://api-ap.merge.dev/api/knowledgebase/v1
  /ticketing/v1/generate-key:
    post:
      operationId: create
      summary: Create
      description: Create a remote key.
      tags:
      - subpackage_generateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
components:
  schemas:
    GenerateRemoteKeyRequest:
      type: object
      properties:
        name:
          type: string
          description: The name of the remote key
      required:
      - name
      description: '# The GenerateRemoteKey Object

        ### Description

        The `GenerateRemoteKey` object is used to represent a request for a new remote key.


        ### Usage Example

        Post a `GenerateRemoteKey` to create a new remote key.'
      title: GenerateRemoteKeyRequest
    RemoteKey:
      type: object
      properties:
        name:
          type: string
        key:
          type: string
      required:
      - name
      - key
      description: '# The RemoteKey Object

        ### Description

        The `RemoteKey` object is used to represent a request for a new remote key.


        ### Usage Example

        Post a `GenerateRemoteKey` to receive a new `RemoteKey`.'
      title: RemoteKey
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
x-refined-from:
- merge-accounting-api-openapi.yaml
- merge-ats-api-openapi.yaml
- merge-chat-api-openapi.yaml
- merge-crm-api-openapi.yaml
- merge-file-storage-api-openapi.yaml
- merge-hris-api-openapi.yaml
- merge-knowledge-base-api-openapi.yaml
- merge-ticketing-api-openapi.yaml
