openapi: 3.2.0
info:
  title: HRIS Subpackage Employer Benefits API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_employerBenefits
paths:
  /hris/v1/employer-benefits:
    get:
      operationId: list
      summary: List
      description: Returns a list of `EmployerBenefit` objects.{/* BEGIN_HRIS_EMPLOYERBENEFIT_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA82UbW/aMBDHv0rllyiQUcq6Ik0TJRT6gGEUtlVVZRn7CAYnDrZTHqp+9ykJdLBWrarSrS9t3/3v/Lu/fYcYteArvUAVNNLCIAcFioNEFVQPIqkWoI8hhKGwyEE0EpgGsAolt/vIQSaOIqUt8BMBkpumhiGqIDcA7UM+DsVQAHeTcFeEFnxNrVChcR/S8sM0DzlIinACvMqYikP7nFAWmKdZ5F/L5NgkzUbUGDvSKvZHXZjGYJ7VTPqREEBoqcxzaqm7kZ/XmcBTe0nnHCRY4B611AMLLLniqtbI2shUXHcEMiqkdQscbl0IXaqtYBKMWy4d7R8elfMrlbT6N+LLr8XceDpQg8Mc8ZkkNM61emyOe6czPPYPcO1gjpf9Ml5Olng8+ZQjPs21eq1yu3dVanvVYvuJAHL5+dfRj2Pv+Azn2LJewuOrGe6xYqvHJoPlaemswWZnze9zvLzab3n9Eu7Vy2cNVWzXuqZV66pWtVBADtqcJKpc321urAxS9Tp7P5WeDJVmsIfVbDvtNKA+bODJJkIjkY/igRSsYEoFGtClCunMFJgK3AC4oG7V65AHWYLVjFxOY6qhEIX+ehBChQ9TSGyMm1Vcq3vblqjeUiHpQAKqWB3DIx+jyjUaZMYnkaQhsYsIkLPey6bO47QIYYonZ2Fy9RsHJc4QGniHahqABZ2o3dw7T3Hy6CK9y27wdCS1Q6WDter/wWKYFlFaZsUkQRIoC0Tw1/JpxMaq3cJJJYlJfUNEIvYh3PMct+RL2F6RiNrRW8B26IKNYL4jtJnY6jGSC+WrD8H0X1CUigm72BnHTG6TJLloBMUTHr4n0T8ct9g+AvoCyVfS65839rpA+Y7o9c8b62ftA21+mXbeE9lLf93b3HZz/xs10TeemwkAAA==" /></Footer>{/* END_HRIS_EMPLOYERBENEFIT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_employerBenefits
      parameters:
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmployerBenefitList'
  /hris/v1/employer-benefits/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns an `EmployerBenefit` object with the given `id`.{/* BEGIN_HRIS_EMPLOYERBENEFIT_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA82UbW/aMBDHv0rllyiQUcq6Ik0TJRT6gGEUtlVVZRn7CAYnDrZTHqp+9ykJdLBWrarSrS9t3/3v/Lu/fYcYteArvUAVNNLCIAcFioNEFVQPIqkWoI8hhKGwyEE0EpgGsAolt/vIQSaOIqUt8BMBkpumhiGqIDcA7UM+DsVQAHeTcFeEFnxNrVChcR/S8sM0DzlIinACvMqYikP7nFAWmKdZ5F/L5NgkzUbUGDvSKvZHXZjGYJ7VTPqREEBoqcxzaqm7kZ/XmcBTe0nnHCRY4B611AMLLLniqtbI2shUXHcEMiqkdQscbl0IXaqtYBKMWy4d7R8elfMrlbT6N+LLr8XceDpQg8Mc8ZkkNM61emyOe6czPPYPcO1gjpf9Ml5Olng8+ZQjPs21eq1yu3dVanvVYvuJAHL5+dfRj2Pv+Azn2LJewuOrGe6xYqvHJoPlaemswWZnze9zvLzab3n9Eu7Vy2cNVWzXuqZV66pWtVBADtqcJKpc321urAxS9Tp7P5WeDJVmsIfVbDvtNKA+bODJJkIjkY/igRSsYEoFGtClCunMFJgK3AC4oG7V65AHWYLVjFxOY6qhEIX+ehBChQ9TSGyMm1Vcq3vblqjeUiHpQAKqWB3DIx+jyjUaZMYnkaQhsYsIkLPey6bO47QIYYonZ2Fy9RsHJc4QGniHahqABZ2o3dw7T3Hy6CK9y27wdCS1Q6WDter/wWKYFlFaZsUkQRIoC0Tw1/JpxMaq3cJJJYlJfUNEIvYh3PMct+RL2F6RiNrRW8B26IKNYL4jtJnY6jGSC+WrD8H0X1CUigm72BnHTG6TJLloBMUTHr4n0T8ct9g+AvoCyVfS65839rpA+Y7o9c8b62ftA21+mXbeE9lLf93b3HZz/xs10TeemwkAAA==" /></Footer>{/* END_HRIS_EMPLOYERBENEFIT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_employerBenefits
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployerBenefit'
components:
  schemas:
    EmployerBenefitFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: EmployerBenefitFieldMappings
    RemoteData:
      type: object
      properties:
        path:
          type: string
          description: The third-party API path that is being called.
        data:
          description: The data returned from the third-party for this object in its original, unnormalized format.
      required:
      - path
      description: '# The RemoteData Object

        ### Description

        The `RemoteData` object is used to represent the full data pulled from the third-party API for an object.


        ### Usage Example

        TODO'
      title: RemoteData
    PaginatedEmployerBenefitList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/EmployerBenefit'
      title: PaginatedEmployerBenefitList
    BenefitPlanTypeEnum:
      type: string
      enum:
      - MEDICAL
      - HEALTH_SAVINGS
      - INSURANCE
      - RETIREMENT
      - OTHER
      title: BenefitPlanTypeEnum
    EmployerBenefit:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        benefit_plan_type:
          oneOf:
          - $ref: '#/components/schemas/BenefitPlanTypeEnum'
          - type: 'null'
          description: The type of benefit plan.
        name:
          type:
          - string
          - 'null'
          description: The employer benefit's name - typically the carrier or network name.
        description:
          type:
          - string
          - 'null'
          description: The employer benefit's description.
        deduction_code:
          type:
          - string
          - 'null'
          description: The employer benefit's deduction code.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/EmployerBenefitFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The EmployerBenefit Object

        ### Description

        The `Employer Benefit` object is used to represent a benefit plan offered by a company.


        ### Usage Example

        Fetch from the `LIST EmployerBenefits` endpoint and filter by `ID` to show all EmployerBenefits.'
      title: EmployerBenefit
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
