openapi: 3.2.0
info:
  title: Overview Subpackage Routing API
  version: 1.0.0
servers:
- url: https://api-gateway.merge.dev
tags:
- name: subpackage_routing
paths:
  /routing/policies:
    get:
      operationId: list-policies
      summary: List Routing Policies
      description: 'List routing policies available to the current user.


        Returns both org-specific policies and the managed (simulator) policy.'
      tags:
      - subpackage_routing
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Routing_listPolicies_Response_200'
  /routing/strategies:
    get:
      operationId: list-strategies
      summary: List Routing Strategies
      description: List all available routing strategies with descriptions.
      tags:
      - subpackage_routing
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Routing_listStrategies_Response_200'
components:
  schemas:
    RoutingPoliciesGetResponsesContentApplicationJsonSchemaDataItemsProvidersItems:
      type: object
      properties:
        provider:
          type: string
        model:
          type: string
      title: RoutingPoliciesGetResponsesContentApplicationJsonSchemaDataItemsProvidersItems
    RoutingPoliciesGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        strategy:
          type: string
        description:
          type:
          - string
          - 'null'
        is_intelligent:
          type: boolean
        providers:
          type: array
          items:
            $ref: '#/components/schemas/RoutingPoliciesGetResponsesContentApplicationJsonSchemaDataItemsProvidersItems'
        is_active:
          type: boolean
      title: RoutingPoliciesGetResponsesContentApplicationJsonSchemaDataItems
    Routing_listStrategies_Response_200:
      type: object
      properties:
        object:
          type: string
          enum:
          - list
        data:
          type: array
          items:
            $ref: '#/components/schemas/RoutingStrategiesGetResponsesContentApplicationJsonSchemaDataItems'
      title: Routing_listStrategies_Response_200
    RoutingStrategiesGetResponsesContentApplicationJsonSchemaDataItemsMlRouting:
      type: object
      properties:
        score_exponent:
          type: number
          format: double
        behavior:
          type: string
      title: RoutingStrategiesGetResponsesContentApplicationJsonSchemaDataItemsMlRouting
    RoutingStrategiesGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        is_intelligent:
          type: boolean
        description:
          type: string
        ml_routing:
          oneOf:
          - $ref: '#/components/schemas/RoutingStrategiesGetResponsesContentApplicationJsonSchemaDataItemsMlRouting'
          - type: 'null'
      title: RoutingStrategiesGetResponsesContentApplicationJsonSchemaDataItems
    Routing_listPolicies_Response_200:
      type: object
      properties:
        object:
          type: string
          enum:
          - list
        data:
          type: array
          items:
            $ref: '#/components/schemas/RoutingPoliciesGetResponsesContentApplicationJsonSchemaDataItems'
      title: Routing_listPolicies_Response_200
