openapi: 3.1.0
info:
  title: Accounting subpackage_deleteAccount API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_deleteAccount
paths:
  /accounting/v1/delete-account:
    post:
      operationId: delete
      summary: Delete
      description: Delete a linked account.
      tags:
      - subpackage_deleteAccount
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAccount_delete_Response_200'
  /ats/v1/delete-account:
    post:
      operationId: delete
      summary: Delete
      description: Delete a linked account.
      tags:
      - subpackage_deleteAccount
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAccount_delete_Response_200'
  /delete-account:
    post:
      operationId: delete
      summary: Delete
      description: Delete a linked account.
      tags:
      - subpackage_deleteAccount
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAccount_delete_Response_200'
  /crm/v1/delete-account:
    post:
      operationId: delete
      summary: Delete
      description: Delete a linked account.
      tags:
      - subpackage_deleteAccount
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAccount_delete_Response_200'
  /filestorage/v1/delete-account:
    post:
      operationId: delete
      summary: Delete
      description: Delete a linked account.
      tags:
      - subpackage_deleteAccount
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAccount_delete_Response_200'
  /hris/v1/delete-account:
    post:
      operationId: delete
      summary: Delete
      description: Delete a linked account.
      tags:
      - subpackage_deleteAccount
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-account_delete_Response_200'
  /knowledgebase/v1/delete-account:
    post:
      operationId: delete
      summary: Delete
      description: Delete a linked account.
      tags:
      - subpackage_deleteAccount
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAccount_delete_Response_200'
  /ticketing/v1/delete-account:
    post:
      operationId: delete
      summary: Delete
      description: Delete a linked account.
      tags:
      - subpackage_deleteAccount
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAccount_delete_Response_200'
components:
  schemas:
    delete-account_delete_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: delete-account_delete_Response_200
    deleteAccount_delete_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: deleteAccount_delete_Response_200
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
