openapi: 3.1.0
info:
  title: Accounting subpackage_regenerateKey API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_regenerateKey
paths:
  /accounting/v1/regenerate-key:
    post:
      operationId: create
      summary: Create
      description: Exchange remote keys.
      tags:
      - subpackage_regenerateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
  /ats/v1/regenerate-key:
    post:
      operationId: create
      summary: Create
      description: Exchange remote keys.
      tags:
      - subpackage_regenerateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
  /regenerate-key:
    post:
      operationId: create
      summary: Create
      description: Exchange remote keys.
      tags:
      - subpackage_regenerateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
  /crm/v1/regenerate-key:
    post:
      operationId: create
      summary: Create
      description: Exchange remote keys.
      tags:
      - subpackage_regenerateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
  /filestorage/v1/regenerate-key:
    post:
      operationId: create
      summary: Create
      description: Exchange remote keys.
      tags:
      - subpackage_regenerateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
  /hris/v1/regenerate-key:
    post:
      operationId: create
      summary: Create
      description: Exchange remote keys.
      tags:
      - subpackage_regenerateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
  /knowledgebase/v1/regenerate-key:
    post:
      operationId: create
      summary: Create
      description: Exchange remote keys.
      tags:
      - subpackage_regenerateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
  /ticketing/v1/regenerate-key:
    post:
      operationId: create
      summary: Create
      description: Exchange remote keys.
      tags:
      - subpackage_regenerateKey
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
components:
  schemas:
    RemoteKeyForRegenerationRequest:
      type: object
      properties:
        name:
          type: string
          description: The name of the remote key
      required:
      - name
      description: '# The RemoteKeyForRegeneration Object

        ### Description

        The `RemoteKeyForRegeneration` object is used to exchange an old remote key for a new one


        ### Usage Example

        Post a `RemoteKeyForRegeneration` to swap out an old remote key for a new one'
      title: RemoteKeyForRegenerationRequest
    RemoteKey:
      type: object
      properties:
        name:
          type: string
        key:
          type: string
      required:
      - name
      - key
      description: '# The RemoteKey Object

        ### Description

        The `RemoteKey` object is used to represent a request for a new remote key.


        ### Usage Example

        Post a `GenerateRemoteKey` to receive a new `RemoteKey`.'
      title: RemoteKey
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
