openapi: 3.2.0
info:
  title: Merge Subpackage Contacts API
  version: 1.0.0
  description: 'Operations tagged subpackage_contacts across 3 of this provider''s published API definitions: merge-accounting-api-openapi.yaml, merge-crm-api-openapi.yaml, merge-ticketing-api-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_contacts
paths:
  /accounting/v1/contacts:
    get:
      operationId: list
      summary: List
      description: Returns a list of `Contact` objects.{/* BEGIN_ACCOUNTING_CONTACT_FETCH_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_CONTACT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_contacts
      parameters:
      - name: company_id
        in: query
        description: If provided, will only return contacts for this company.
        required: false
        schema:
          type: string
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: email_address
        in: query
        description: If provided, will only return Contacts that match this email.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ContactsGetParametersExpandSchemaItems'
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_remote_fields
        in: query
        description: Whether to include all remote fields, including fields that Merge did not map to common models, in a normalized format.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: is_customer
        in: query
        description: If provided, will only return Contacts that are denoted as customers.
        required: false
        schema:
          type: string
      - name: is_supplier
        in: query
        description: If provided, will only return Contacts that are denoted as suppliers.
        required: false
        schema:
          type: string
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: name
        in: query
        description: If provided, will only return Contacts that match this name.
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_fields
        in: query
        description: Deprecated. Use show_enum_origins.
        required: false
        schema:
          $ref: '#/components/schemas/ContactsGetParametersRemoteFields'
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: show_enum_origins
        in: query
        description: A comma separated list of enum field names for which you'd like the original values to be returned, instead of Merge's normalized enum values. [Learn more](https://help.merge.dev/en/articles/8950958-show_enum_origins-query-parameter)
        required: false
        schema:
          $ref: '#/components/schemas/ContactsGetParametersShowEnumOrigins'
      - name: status
        in: query
        description: If provided, will only return Contacts that match this status.
        required: false
        schema:
          $ref: '#/components/schemas/ContactsGetParametersStatus'
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedContactList'
    post:
      operationId: create
      summary: Create
      description: Creates a `Contact` object with the given values.{/* BEGIN_ACCOUNTING_CONTACT_CREATE_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_CONTACT_CREATE_SUPPORTED_FIELDS */}
      tags:
      - subpackage_contacts
      parameters:
      - name: is_debug_mode
        in: query
        description: Whether to include debug fields (such as log file links) in the response.
        required: false
        schema:
          type: boolean
      - name: run_async
        in: query
        description: Whether or not third-party updates should be run asynchronously.
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactEndpointRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /accounting/v1/contacts/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns a `Contact` object with the given `id`.{/* BEGIN_ACCOUNTING_CONTACT_FETCH_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_CONTACT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_contacts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ContactsIdGetParametersExpandSchemaItems'
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_remote_fields
        in: query
        description: Whether to include all remote fields, including fields that Merge did not map to common models, in a normalized format.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: remote_fields
        in: query
        description: Deprecated. Use show_enum_origins.
        required: false
        schema:
          $ref: '#/components/schemas/ContactsIdGetParametersRemoteFields'
      - name: show_enum_origins
        in: query
        description: A comma separated list of enum field names for which you'd like the original values to be returned, instead of Merge's normalized enum values. [Learn more](https://help.merge.dev/en/articles/8950958-show_enum_origins-query-parameter)
        required: false
        schema:
          $ref: '#/components/schemas/ContactsIdGetParametersShowEnumOrigins'
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
    patch:
      operationId: partial-update
      summary: Partial Update
      description: Updates a `Contact` object with the given `id`.{/* BEGIN_ACCOUNTING_CONTACT_EDIT_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_CONTACT_EDIT_SUPPORTED_FIELDS */}
      tags:
      - subpackage_contacts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: is_debug_mode
        in: query
        description: Whether to include debug fields (such as log file links) in the response.
        required: false
        schema:
          type: boolean
      - name: run_async
        in: query
        description: Whether or not third-party updates should be run asynchronously.
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedContactEndpointRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /accounting/v1/contacts/meta/patch/{id}:
    get:
      operationId: meta-patch-retrieve
      summary: Meta Patch Retrieve
      description: Returns metadata for `Contact` PATCHs.{/* BEGIN_ACCOUNTING_CONTACT_FETCH_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_CONTACT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_contacts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /accounting/v1/contacts/meta/post:
    get:
      operationId: meta-post-retrieve
      summary: Meta Post Retrieve
      description: Returns metadata for `Contact` POSTs.{/* BEGIN_ACCOUNTING_CONTACT_FETCH_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_CONTACT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_contacts
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /accounting/v1/contacts/remote-field-classes:
    get:
      operationId: remote-field-classes-list
      summary: Remote Field Classes List
      description: Returns a list of `RemoteFieldClass` objects.{/* BEGIN_ACCOUNTING_CONTACT_FETCH_SUPPORTED_FIELDS */}{/* END_ACCOUNTING_CONTACT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_contacts
      parameters:
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: is_common_model_field
        in: query
        description: If provided, will only return remote field classes with this is_common_model_field value
        required: false
        schema:
          type: boolean
      - name: is_custom
        in: query
        description: If provided, will only return remote fields classes with this is_custom value
        required: false
        schema:
          type: boolean
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRemoteFieldClassList'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /crm/v1/contacts:
    get:
      operationId: list
      summary: List
      description: Returns a list of `Contact` objects.{/* BEGIN_CRM_CONTACT_FETCH_SUPPORTED_FIELDS */}{/* END_CRM_CONTACT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_contacts
      parameters:
      - name: account_id
        in: query
        description: If provided, will only return contacts with this account.
        required: false
        schema:
          type: string
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: email_addresses
        in: query
        description: If provided, will only return contacts matching the email addresses; multiple email_addresses can be separated by commas.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ContactsGetParametersExpandSchemaItems_2'
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_remote_fields
        in: query
        description: Whether to include all remote fields, including fields that Merge did not map to common models, in a normalized format.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: phone_numbers
        in: query
        description: If provided, will only return contacts matching the phone numbers; multiple phone numbers can be separated by commas.
        required: false
        schema:
          type: string
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedContactList'
    post:
      operationId: create
      summary: Create
      description: Creates a `Contact` object with the given values.{/* BEGIN_CRM_CONTACT_CREATE_SUPPORTED_FIELDS */}{/* END_CRM_CONTACT_CREATE_SUPPORTED_FIELDS */}
      tags:
      - subpackage_contacts
      parameters:
      - name: is_debug_mode
        in: query
        description: Whether to include debug fields (such as log file links) in the response.
        required: false
        schema:
          type: boolean
      - name: run_async
        in: query
        description: Whether or not third-party updates should be run asynchronously.
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRMContactResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CRMContactEndpointRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /crm/v1/contacts/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns a `Contact` object with the given `id`.{/* BEGIN_CRM_CONTACT_FETCH_SUPPORTED_FIELDS */}{/* END_CRM_CONTACT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_contacts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ContactsIdGetParametersExpandSchemaItems_2'
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_remote_fields
        in: query
        description: Whether to include all remote fields, including fields that Merge did not map to common models, in a normalized format.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact_2'
    patch:
      operationId: partial-update
      summary: Partial Update
      description: Updates a `Contact` object with the given `id`.{/* BEGIN_CRM_CONTACT_EDIT_SUPPORTED_FIELDS */}{/* END_CRM_CONTACT_EDIT_SUPPORTED_FIELDS */}
      tags:
      - subpackage_contacts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: is_debug_mode
        in: query
        description: Whether to include debug fields (such as log file links) in the response.
        required: false
        schema:
          type: boolean
      - name: run_async
        in: query
        description: Whether or not third-party updates should be run asynchronously.
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRMContactResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedCRMContactEndpointRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /crm/v1/contacts/ignore/{model_id}:
    post:
      operationId: ignore-create
      summary: Ignore Create
      description: Ignores a specific row based on the `model_id` in the url. These records will have their properties set to null, and will not be updated in future syncs. The "reason" and "message" fields in the request body will be stored for audit purposes.{/* BEGIN_CRM_CONTACT_CREATE_SUPPORTED_FIELDS */}{/* END_CRM_CONTACT_CREATE_SUPPORTED_FIELDS */}
      tags:
      - subpackage_contacts
      parameters:
      - name: model_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contacts_ignoreCreate_Response_200'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IgnoreCommonModelRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /crm/v1/contacts/meta/patch/{id}:
    get:
      operationId: meta-patch-retrieve
      summary: Meta Patch Retrieve
      description: Returns metadata for `CRMContact` PATCHs.{/* BEGIN_CRM_CONTACT_FETCH_SUPPORTED_FIELDS */}{/* END_CRM_CONTACT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_contacts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /crm/v1/contacts/meta/post:
    get:
      operationId: meta-post-retrieve
      summary: Meta Post Retrieve
      description: Returns metadata for `CRMContact` POSTs.{/* BEGIN_CRM_CONTACT_FETCH_SUPPORTED_FIELDS */}{/* END_CRM_CONTACT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_contacts
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /crm/v1/contacts/remote-field-classes:
    get:
      operationId: remote-field-classes-list
      summary: Remote Field Classes List
      description: Returns a list of `RemoteFieldClass` objects.{/* BEGIN_CRM_CONTACT_FETCH_SUPPORTED_FIELDS */}{/* END_CRM_CONTACT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_contacts
      parameters:
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_remote_fields
        in: query
        description: Whether to include all remote fields, including fields that Merge did not map to common models, in a normalized format.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: is_common_model_field
        in: query
        description: If provided, will only return remote field classes with this is_common_model_field value
        required: false
        schema:
          type: boolean
      - name: is_custom
        in: query
        description: If provided, will only return remote fields classes with this is_custom value
        required: false
        schema:
          type: boolean
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRemoteFieldClassList'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ticketing/v1/contacts:
    get:
      operationId: list
      summary: List
      description: Returns a list of `Contact` objects.{/* BEGIN_TICKETING_CONTACT_FETCH_SUPPORTED_FIELDS */}{/* END_TICKETING_CONTACT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_contacts
      parameters:
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: email_address
        in: query
        description: If provided, will only return Contacts that match this email.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ContactsGetParametersExpandSchemaItems_3'
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedContactList'
    post:
      operationId: create
      summary: Create
      description: Creates a `Contact` object with the given values.{/* BEGIN_TICKETING_CONTACT_CREATE_SUPPORTED_FIELDS */}{/* END_TICKETING_CONTACT_CREATE_SUPPORTED_FIELDS */}
      tags:
      - subpackage_contacts
      parameters:
      - name: is_debug_mode
        in: query
        description: Whether to include debug fields (such as log file links) in the response.
        required: false
        schema:
          type: boolean
      - name: run_async
        in: query
        description: Whether or not third-party updates should be run asynchronously.
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketingContactResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketingContactEndpointRequest'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ticketing/v1/contacts/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns a `Contact` object with the given `id`.{/* BEGIN_TICKETING_CONTACT_FETCH_SUPPORTED_FIELDS */}{/* END_TICKETING_CONTACT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_contacts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ContactsIdGetParametersExpandSchemaItems_3'
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact_3'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ticketing/v1/contacts/meta/post:
    get:
      operationId: meta-post-retrieve
      summary: Meta Post Retrieve
      description: Returns metadata for `TicketingContact` POSTs.{/* BEGIN_TICKETING_CONTACT_FETCH_SUPPORTED_FIELDS */}{/* END_TICKETING_CONTACT_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_contacts
      parameters:
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
components:
  schemas:
    ItemFormatEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: ItemFormatEnum
    FieldTypeEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: FieldTypeEnum
    PatchedContactEndpointRequest:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/PatchedContactRequest'
      required:
      - model
      title: PatchedContactEndpointRequest
    PaginatedContactList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
      title: PaginatedContactList
    CountryEnum:
      type: string
      enum:
      - AF
      - AX
      - AL
      - DZ
      - AS
      - AD
      - AO
      - AI
      - AQ
      - AG
      - AR
      - AM
      - AW
      - AU
      - AT
      - AZ
      - BS
      - BH
      - BD
      - BB
      - BY
      - BE
      - BZ
      - BJ
      - BM
      - BT
      - BO
      - BQ
      - BA
      - BW
      - BV
      - BR
      - IO
      - BN
      - BG
      - BF
      - BI
      - CV
      - KH
      - CM
      - CA
      - KY
      - CF
      - TD
      - CL
      - CN
      - CX
      - CC
      - CO
      - KM
      - CG
      - CD
      - CK
      - CR
      - CI
      - HR
      - CU
      - CW
      - CY
      - CZ
      - DK
      - DJ
      - DM
      - DO
      - EC
      - EG
      - SV
      - GQ
      - ER
      - EE
      - SZ
      - ET
      - FK
      - FO
      - FJ
      - FI
      - FR
      - GF
      - PF
      - TF
      - GA
      - GM
      - GE
      - DE
      - GH
      - GI
      - GR
      - GL
      - GD
      - GP
      - GU
      - GT
      - GG
      - GN
      - GW
      - GY
      - HT
      - HM
      - VA
      - HN
      - HK
      - HU
      - IS
      - IN
      - ID
      - IR
      - IQ
      - IE
      - IM
      - IL
      - IT
      - JM
      - JP
      - JE
      - JO
      - KZ
      - KE
      - KI
      - KW
      - KG
      - LA
      - LV
      - LB
      - LS
      - LR
      - LY
      - LI
      - LT
      - LU
      - MO
      - MG
      - MW
      - MY
      - MV
      - ML
      - MT
      - MH
      - MQ
      - MR
      - MU
      - YT
      - MX
      - FM
      - MD
      - MC
      - MN
      - ME
      - MS
      - MA
      - MZ
      - MM
      - NA
      - NR
      - NP
      - NL
      - NC
      - NZ
      - NI
      - NE
      - NG
      - NU
      - NF
      - KP
      - MK
      - MP
      - 'NO'
      - OM
      - PK
      - PW
      - PS
      - PA
      - PG
      - PY
      - PE
      - PH
      - PN
      - PL
      - PT
      - PR
      - QA
      - RE
      - RO
      - RU
      - RW
      - BL
      - SH
      - KN
      - LC
      - MF
      - PM
      - VC
      - WS
      - SM
      - ST
      - SA
      - SN
      - RS
      - SC
      - SL
      - SG
      - SX
      - SK
      - SI
      - SB
      - SO
      - ZA
      - GS
      - KR
      - SS
      - ES
      - LK
      - SD
      - SR
      - SJ
      - SE
      - CH
      - SY
      - TW
      - TJ
      - TZ
      - TH
      - TL
      - TG
      - TK
      - TO
      - TT
      - TN
      - TR
      - TM
      - TC
      - TV
      - UG
      - UA
      - AE
      - GB
      - UM
      - US
      - UY
      - UZ
      - VU
      - VE
      - VN
      - VG
      - VI
      - WF
      - EH
      - YE
      - ZM
      - ZW
      description: The country code in ISO 3166-1 alpha-2 format.
      title: CountryEnum
    PaginatedRemoteFieldClassList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/RemoteFieldClass'
      title: PaginatedRemoteFieldClassList
    FieldFormatEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: FieldFormatEnum
    AccountingPhoneNumber:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        number:
          type:
          - string
          - 'null'
          description: The phone number.
        type:
          type:
          - string
          - 'null'
          description: The phone number's type.
      description: '# The AccountingPhoneNumber Object

        ### Description

        The `AccountingPhoneNumber` object is used to represent a contact''s or company''s phone number.


        ### Usage Example

        Fetch from the `GET CompanyInfo` endpoint and view the company''s phone numbers.'
      title: AccountingPhoneNumber
    ContactsIdGetParametersRemoteFields:
      type: string
      enum:
      - status
      title: ContactsIdGetParametersRemoteFields
    ContactsIdGetParametersShowEnumOrigins:
      type: string
      enum:
      - status
      title: ContactsIdGetParametersShowEnumOrigins
    Address:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        type:
          oneOf:
          - $ref: '#/components/schemas/AddressTypeEnum'
          - type: 'null'
          description: The address type.
        street_1:
          type:
          - string
          - 'null'
          description: Line 1 of the address's street.
        street_2:
          type:
          - string
          - 'null'
          description: Line 2 of the address's street.
        city:
          type:
          - string
          - 'null'
          description: The address's city.
        state:
          oneOf:
          - description: Any type
          - type: 'null'
          description: The address's state or region.
        country_subdivision:
          type:
          - string
          - 'null'
          description: The address's state or region.
        country:
          oneOf:
          - $ref: '#/components/schemas/CountryEnum'
          - type: 'null'
          description: The address's country. The country code in ISO 3166-1 alpha-2 format.
        zip_code:
          type:
          - string
          - 'null'
          description: The address's zip code.
      description: '# The Address Object

        ### Description

        The `Address` object is used to represent a contact''s or company''s address.


        ### Usage Example

        Fetch from the `GET CompanyInfo` endpoint and view the company''s addresses.'
      title: Address
    ItemTypeEnum:
      type: string
      enum:
      - string
      - number
      - date
      - datetime
      - bool
      - list
      title: ItemTypeEnum
    Status7d1Enum:
      type: string
      enum:
      - ACTIVE
      - ARCHIVED
      title: Status7d1Enum
    RemoteFieldRequest:
      type: object
      properties:
        remote_field_class:
          type: string
          format: uuid
        value:
          type: object
          additionalProperties:
            description: Any type
      required:
      - remote_field_class
      title: RemoteFieldRequest
    WarningValidationProblem:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/ValidationProblemSource'
        title:
          type: string
        detail:
          type: string
        problem_type:
          type: string
        block_merge_link:
          type: boolean
        raw_error:
          type: string
        error_code:
          type: integer
      required:
      - title
      - detail
      - problem_type
      title: WarningValidationProblem
    ContactsGetParametersExpandSchemaItems:
      type: string
      enum:
      - addresses
      - company
      - phone_numbers
      title: ContactsGetParametersExpandSchemaItems
    AccountingPhoneNumberRequest:
      type: object
      properties:
        number:
          type:
          - string
          - 'null'
          description: The phone number.
        type:
          type:
          - string
          - 'null'
          description: The phone number's type.
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      description: '# The AccountingPhoneNumber Object

        ### Description

        The `AccountingPhoneNumber` object is used to represent a contact''s or company''s phone number.


        ### Usage Example

        Fetch from the `GET CompanyInfo` endpoint and view the company''s phone numbers.'
      title: AccountingPhoneNumberRequest
    DebugModeLog:
      type: object
      properties:
        log_id:
          type: string
        dashboard_view:
          type: string
        log_summary:
          $ref: '#/components/schemas/DebugModelLogSummary'
      required:
      - log_id
      - dashboard_view
      - log_summary
      title: DebugModeLog
    RemoteData:
      type: object
      properties:
        path:
          type: string
          description: The third-party API path that is being called.
        data:
          description: The data returned from the third-party for this object in its original, unnormalized format.
      required:
      - path
      description: '# The RemoteData Object

        ### Description

        The `RemoteData` object is used to represent the full data pulled from the third-party API for an object.


        ### Usage Example

        TODO'
      title: RemoteData
    Contact:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        name:
          type:
          - string
          - 'null'
          description: The contact's name.
        is_supplier:
          type:
          - boolean
          - 'null'
          description: Whether the contact is a supplier.
        is_customer:
          type:
          - boolean
          - 'null'
          description: Whether the contact is a customer.
        email_address:
          type:
          - string
          - 'null'
          description: The contact's email address.
        tax_number:
          type:
          - string
          - 'null'
          description: The contact's tax number.
        status:
          oneOf:
          - $ref: '#/components/schemas/Status7d1Enum'
          - type: 'null'
          description: The contact's status
        currency:
          type:
          - string
          - 'null'
          description: The currency the contact's transactions are in.
        remote_updated_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the third party's contact was updated.
        company:
          type:
          - string
          - 'null'
          format: uuid
          description: The company the contact belongs to.
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
          description: '`Address` object IDs for the given `Contacts` object.'
        phone_numbers:
          type: array
          items:
            $ref: '#/components/schemas/AccountingPhoneNumber'
          description: '`AccountingPhoneNumber` object for the given `Contacts` object.'
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/ContactFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
        remote_fields:
          type: array
          items:
            $ref: '#/components/schemas/RemoteField'
      description: '# The Contact Object

        ### Description

        A `Contact` is an individual or business entity to which products and services are sold to or purchased from. The `Contact` model contains both Customers, in which products and services are sold to, and Vendors (or Suppliers), in which products and services are purchased from.

        * A `Contact` is a Vendor/Supplier if the `is_supplier` property is true.

        * A `Contact` is a customer if the `is_customer` property is true.


        ### Usage Example

        Fetch from the `LIST Contacts` endpoint and view a company''s contacts.'
      title: Contact
    ContactResponse:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/Contact'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/WarningValidationProblem'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorValidationProblem'
        logs:
          type: array
          items:
            $ref: '#/components/schemas/DebugModeLog'
      required:
      - model
      - warnings
      - errors
      title: ContactResponse
    ContactsGetParametersRemoteFields:
      type: string
      enum:
      - status
      title: ContactsGetParametersRemoteFields
    ContactsGetParametersStatus:
      type: string
      enum:
      - ''
      - ACTIVE
      - ARCHIVED
      title: ContactsGetParametersStatus
    AddressTypeEnum:
      type: string
      enum:
      - BILLING
      - SHIPPING
      title: AddressTypeEnum
    AddressRequest:
      type: object
      properties:
        type:
          oneOf:
          - $ref: '#/components/schemas/AddressTypeEnum'
          - type: 'null'
          description: The address type.
        street_1:
          type:
          - string
          - 'null'
          description: Line 1 of the address's street.
        street_2:
          type:
          - string
          - 'null'
          description: Line 2 of the address's street.
        city:
          type:
          - string
          - 'null'
          description: The address's city.
        country_subdivision:
          type:
          - string
          - 'null'
          description: The address's state or region.
        country:
          oneOf:
          - $ref: '#/components/schemas/CountryEnum'
          - type: 'null'
          description: The address's country. The country code in ISO 3166-1 alpha-2 format.
        zip_code:
          type:
          - string
          - 'null'
          description: The address's zip code.
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      description: '# The Address Object

        ### Description

        The `Address` object is used to represent a contact''s or company''s address.


        ### Usage Example

        Fetch from the `GET CompanyInfo` endpoint and view the company''s addresses.'
      title: AddressRequest
    ContactEndpointRequest:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/ContactRequest'
      required:
      - model
      title: ContactEndpointRequest
    ContactFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: ContactFieldMappings
    ErrorValidationProblem:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/ValidationProblemSource'
        title:
          type: string
        detail:
          type: string
        problem_type:
          type: string
        block_merge_link:
          type: boolean
        raw_error:
          type: string
        error_code:
          type: integer
      required:
      - title
      - detail
      - problem_type
      title: ErrorValidationProblem
    DebugModelLogSummary:
      type: object
      properties:
        url:
          type: string
        method:
          type: string
        status_code:
          type: integer
      required:
      - url
      - method
      - status_code
      title: DebugModelLogSummary
    LinkedAccountStatus:
      type: object
      properties:
        linked_account_status:
          type: string
        can_make_request:
          type: boolean
      required:
      - linked_account_status
      - can_make_request
      title: LinkedAccountStatus
    ValidationProblemSource:
      type: object
      properties:
        pointer:
          type: string
      required:
      - pointer
      title: ValidationProblemSource
    ContactRequest:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: The contact's name.
        is_supplier:
          type:
          - boolean
          - 'null'
          description: Whether the contact is a supplier.
        is_customer:
          type:
          - boolean
          - 'null'
          description: Whether the contact is a customer.
        email_address:
          type:
          - string
          - 'null'
          description: The contact's email address.
        tax_number:
          type:
          - string
          - 'null'
          description: The contact's tax number.
        status:
          oneOf:
          - $ref: '#/components/schemas/Status7d1Enum'
          - type: 'null'
          description: The contact's status
        currency:
          type:
          - string
          - 'null'
          description: The currency the contact's transactions are in.
        company:
          type:
          - string
          - 'null'
          format: uuid
          description: The company the contact belongs to.
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/AddressRequest'
          description: '`Address` object IDs for the given `Contacts` object.'
        phone_numbers:
          type: array
          items:
            $ref: '#/components/schemas/AccountingPhoneNumberRequest'
          description: '`AccountingPhoneNumber` object for the given `Contacts` object.'
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        remote_fields:
          type: array
          items:
            $ref: '#/components/schemas/RemoteFieldRequest'
      description: '# The Contact Object

        ### Description

        A `Contact` is an individual or business entity to which products and services are sold to or purchased from. The `Contact` model contains both Customers, in which products and services are sold to, and Vendors (or Suppliers), in which products and services are purchased from.

        * A `Contact` is a Vendor/Supplier if the `is_supplier` property is true.

        * A `Contact` is a customer if the `is_customer` property is true.


        ### Usage Example

        Fetch from the `LIST Contacts` endpoint and view a company''s contacts.'
      title: ContactRequest
    RemoteField:
      type: object
      properties:
        remote_field_class:
          $ref: '#/components/schemas/RemoteFieldClass'
        value:
          type: object
          additionalProperties:
            description: Any type
      required:
      - remote_field_class
      title: RemoteField
    ContactsIdGetParametersExpandSchemaItems:
      type: string
      enum:
      - addresses
      - company
      - phone_numbers
      title: ContactsIdGetParametersExpandSchemaItems
    RemoteFieldClass:
      type: object
      properties:
        id:
          type: string
        display_name:
          type: string
        remote_key_name:
          type: string
        description:
          type: string
        is_custom:
          type: boolean
        is_common_model_field:
          type: boolean
        is_required:
          type: boolean
        field_type:
          $ref: '#/components/schemas/FieldTypeEnum'
        field_format:
          $ref: '#/components/schemas/FieldFormatEnum'
        field_choices:
          type: array
          items:
            type: string
        item_schema:
          $ref: '#/components/schemas/ItemSchema'
      title: RemoteFieldClass
    ItemSchema:
      type: object
      properties:
        item_type:
          $ref: '#/components/schemas/ItemTypeEnum'
        item_format:
          $ref: '#/components/schemas/ItemFormatEnum'
        item_choices:
          type: array
          items:
            type: string
      title: ItemSchema
    ContactsGetParametersShowEnumOrigins:
      type: string
      enum:
      - status
      title: ContactsGetParametersShowEnumOrigins
    MetaResponse:
      type: object
      properties:
        request_schema:
          type: object
          additionalProperties:
            description: Any type
        status:
          $ref: '#/components/schemas/LinkedAccountStatus'
        has_conditional_params:
          type: boolean
        has_required_linked_account_params:
          type: boolean
        remote_fields:
          type: array
          items:
            type: string
            format: uuid
          description: Remote field values to populate
      required:
      - request_schema
      - has_conditional_params
      - has_required_linked_account_params
      title: MetaResponse
    PatchedContactRequest:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: The contact's name.
        is_supplier:
          type:
          - boolean
          - 'null'
          description: Whether the contact is a supplier.
        is_customer:
          type:
          - boolean
          - 'null'
          description: Whether the contact is a customer.
        email_address:
          type:
          - string
          - 'null'
          description: The contact's email address.
        tax_number:
          type:
          - string
          - 'null'
          description: The contact's tax number.
        status:
          oneOf:
          - $ref: '#/components/schemas/Status7d1Enum'
          - type: 'null'
          description: The contact's status
        currency:
          type:
          - string
          - 'null'
          description: The currency the contact's transactions are in.
        company:
          type:
          - string
          - 'null'
          format: uuid
          description: The company the contact belongs to.
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/AddressRequest'
          description: '`Address` object IDs for the given `Contacts` object.'
        phone_numbers:
          type: array
          items:
            $ref: '#/components/schemas/AccountingPhoneNumberRequest'
          description: '`AccountingPhoneNumber` object for the given `Contacts` object.'
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        remote_fields:
          type: array
          items:
            $ref: '#/components/schemas/RemoteFieldRequest'
      description: '# The Contact Object

        ### Description

        A `Contact` is an individual or business entity to which products and services are sold to or purchased from. The `Contact` model contains both Customers, in which products and services are sold to, and Vendors (or Suppliers), in which products and services are purchased from.

        * A `Contact` is a Vendor/Supplier if the `is_supplier` property is true.

        * A `Contact` is a customer if the `is_customer` property is true.


        ### Usage Example

        Fetch from the `LIST Contacts` endpoint and view a company''s contacts.'
      title: PatchedContactRequest
    EmailAddressRequest:
      type: object
      properties:
        email_address:
          type:
          - string
          - 'null'
          description: The email address.
        email_address_type:
          type:
          - string
          - 'null'
          description: The email address's type.
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      description: '# The EmailAddress Object

        ### Description

        The `EmailAddress` object is used to represent an entity''s email address.

        ### Usage Example

        Fetch from the `GET Contact` endpoint and view their email addresses.'
      title: EmailAddressRequest
    IgnoreCommonModelRequest:
      type: object
      properties:
        reason:
          $ref: '#/components/schemas/ReasonEnum'
        message:
          type: string
      required:
      - reason
      title: IgnoreCommonModelRequest
    PhoneNumber:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        phone_number:
          type:
          - string
          - 'null'
          description: The phone number.
        phone_number_type:
          type:
          - string
          - 'null'
          description: The phone number's type.
      description: '# The PhoneNumber Object

        ### Description

        The `PhoneNumber` object is used to represent an entity''s phone number.

        ### Usage Example

        Fetch from the `GET Contact` endpoint and view their phone numbers.'
      title: PhoneNumber
    EmailAddress:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        email_address:
          type:
          - string
          - 'null'
          description: The email address.
        email_address_type:
          type:
          - string
          - 'null'
          description: The email address's type.
      description: '# The EmailAddress Object

        ### Description

        The `EmailAddress` object is used to represent an entity''s email address.

        ### Usage Example

        Fetch from the `GET Contact` endpoint and view their email addresses.'
      title: EmailAddress
    Address_2:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        street_1:
          type:
          - string
          - 'null'
          description: Line 1 of the address's street.
        street_2:
          type:
          - string
          - 'null'
          description: Line 2 of the address's street.
        city:
          type:
          - string
          - 'null'
          description: The address's city.
        state:
          type:
          - string
          - 'null'
          description: The address's state.
        postal_code:
          type:
          - string
          - 'null'
          description: The address's postal code.
        country:
          oneOf:
          - $ref: '#/components/schemas/CountryEnum'
          - type: 'null'
          description: The address's country. The country code in ISO 3166-1 alpha-2 format.
        address_type:
          oneOf:
          - $ref: '#/components/schemas/AddressTypeEnum'
          - type: 'null'
          description: The address type.
      description: '# The Address Object

        ### Description

        The `Address` object is used to represent an entity''s address.

        ### Usage Example

        TODO'
      title: Address
    ContactsGetParametersExpandSchemaItems_2:
      type: string
      enum:
      - account
      - owner
      title: ContactsGetParametersExpandSchemaItems
    contacts_ignoreCreate_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: contacts_ignoreCreate_Response_200
    Contact_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        first_name:
          type:
          - string
          - 'null'
          description: The contact's first name.
        last_name:
          type:
          - string
          - 'null'
          description: The contact's last name.
        account:
          type:
          - string
          - 'null'
          format: uuid
          description: The contact's account.
        owner:
          type:
          - string
          - 'null'
          format: uuid
          description: The contact's owner.
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address_2'
        email_addresses:
          type: array
          items:
            $ref: '#/components/schemas/EmailAddress'
        phone_numbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        last_activity_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the contact's last activity occurred.
        remote_created_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the third party's contact was created.
        contact_url:
          type:
          - string
          - 'null'
          format: uri
          description: The contact's URL in the remote system.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/ContactFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
        remote_fields:
          type: array
          items:
            $ref: '#/components/schemas/RemoteField'
      description: '# The Contact Object

        ### Description

        The `Contact` object is used to represent an existing point of contact at a company in a CRM system.

        ### Usage Example

        TODO'
      title: Contact
    CRMContactResponse:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/Contact_2'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/WarningValidationProblem'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorValidationProblem'
        logs:
          type: array
          items:
            $ref: '#/components/schemas/DebugModeLog'
      required:
      - model
      - warnings
      - errors
      title: CRMContactResponse
    PatchedCRMContactEndpointRequest:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/PatchedContactRequest_2'
      required:
      - model
      title: PatchedCRMContactEndpointRequest
    AddressRequest_2:
      type: object
      properties:
        street_1:
          type:
          - string
          - 'null'
          description: Line 1 of the address's street.
        street_2:
          type:
          - string
          - 'null'
          description: Line 2 of the address's street.
        city:
          type:
          - string
          - 'null'
          description: The address's city.
        state:
          type:
          - string
          - 'null'
          description: The address's state.
        postal_code:
          type:
          - string
          - 'null'
          description: The address's postal code.
        country:
          oneOf:
          - $ref: '#/components/schemas/CountryEnum'
          - type: 'null'
          description: The address's country. The country code in ISO 3166-1 alpha-2 format.
        address_type:
          oneOf:
          - $ref: '#/components/schemas/AddressTypeEnum'
          - type: 'null'
          description: The address type.
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      description: '# The Address Object

        ### Description

        The `Address` object is used to represent an entity''s address.

        ### Usage Example

        TODO'
      title: AddressRequest
    CRMContactEndpointRequest:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/ContactRequest_2'
      required:
      - model
      title: CRMContactEndpointRequest
    ContactRequest_2:
      type: object
      properties:
        first_name:
          type:
          - string
          - 'null'
          description: The contact's first name.
        last_name:
          type:
          - string
          - 'null'
          description: The contact's last name.
        account:
          type:
          - string
          - 'null'
          format: uuid
          description: The contact's account.
        owner:
          type:
          - string
          - 'null'
          format: uuid
          description: The contact's owner.
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/AddressRequest_2'
        email_addresses:
          type: array
          items:
            $ref: '#/components/schemas/EmailAddressRequest'
        phone_numbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumberRequest'
        last_activity_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the contact's last activity occurred.
        contact_url:
          type:
          - string
          - 'null'
          format: uri
          description: The contact's URL in the remote system.
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        remote_fields:
          type: array
          items:
            $ref: '#/components/schemas/RemoteFieldRequest'
      description: '# The Contact Object

        ### Description

        The `Contact` object is used to represent an existing point of contact at a company in a CRM system.

        ### Usage Example

        TODO'
      title: ContactRequest
    PhoneNumberRequest:
      type: object
      properties:
        phone_number:
          type:
          - string
          - 'null'
          description: The phone number.
        phone_number_type:
          type:
          - string
          - 'null'
          description: The phone number's type.
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      description: '# The PhoneNumber Object

        ### Description

        The `PhoneNumber` object is used to represent an entity''s phone number.

        ### Usage Example

        Fetch from the `GET Contact` endpoint and view their phone numbers.'
      title: PhoneNumberRequest
    ContactsIdGetParametersExpandSchemaItems_2:
      type: string
      enum:
      - account
      - owner
      title: ContactsIdGetParametersExpandSchemaItems
    ReasonEnum:
      type: string
      enum:
      - GENERAL_CUSTOMER_REQUEST
      - GDPR
      - OTHER
      title: ReasonEnum
    PatchedContactRequest_2:
      type: object
      properties:
        first_name:
          type:
          - string
          - 'null'
          description: The contact's first name.
        last_name:
          type:
          - string
          - 'null'
          description: The contact's last name.
        account:
          type:
          - string
          - 'null'
          format: uuid
          description: The contact's account.
        owner:
          type:
          - string
          - 'null'
          format: uuid
          description: The contact's owner.
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/AddressRequest_2'
        email_addresses:
          type: array
          items:
            $ref: '#/components/schemas/EmailAddressRequest'
        phone_numbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumberRequest'
        last_activity_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the contact's last activity occurred.
        contact_url:
          type:
          - string
          - 'null'
          format: uri
          description: The contact's URL in the remote system.
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        remote_fields:
          type: array
          items:
            $ref: '#/components/schemas/RemoteFieldRequest'
      description: '# The Contact Object

        ### Description

        The `Contact` object is used to represent an existing point of contact at a company in a CRM system.

        ### Usage Example

        TODO'
      title: PatchedContactRequest
    Contact_3:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        name:
          type:
          - string
          - 'null'
          description: The contact's name.
        email_address:
          type:
          - string
          - 'null'
          description: The contact's email address.
        phone_number:
          type:
          - string
          - 'null'
          description: The contact's phone number.
        details:
          type:
          - string
          - 'null'
          description: The contact's details.
        account:
          type:
          - string
          - 'null'
          format: uuid
          description: The contact's account.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/ContactFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The Contact Object

        ### Description

        The `Contact` object is used to represent the customer, lead, or external user that a ticket is associated with.


        ### Usage Example

        TODO'
      title: Contact
    ContactRequest_3:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: The contact's name.
        email_address:
          type:
          - string
          - 'null'
          description: The contact's email address.
        phone_number:
          type:
          - string
          - 'null'
          description: The contact's phone number.
        details:
          type:
          - string
          - 'null'
          description: The contact's details.
        account:
          type:
          - string
          - 'null'
          format: uuid
          description: The contact's account.
        integration_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        linked_account_params:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
      description: '# The Contact Object

        ### Description

        The `Contact` object is used to represent the customer, lead, or external user that a ticket is associated with.


        ### Usage Example

        TODO'
      title: ContactRequest
    ContactsIdGetParametersExpandSchemaItems_3:
      type: string
      enum:
      - account
      title: ContactsIdGetParametersExpandSchemaItems
    ContactsGetParametersExpandSchemaItems_3:
      type: string
      enum:
      - account
      title: ContactsGetParametersExpandSchemaItems
    TicketingContactEndpointRequest:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/ContactRequest_3'
      required:
      - model
      title: TicketingContactEndpointRequest
    TicketingContactResponse:
      type: object
      properties:
        model:
          $ref: '#/components/schemas/Contact_3'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/WarningValidationProblem'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorValidationProblem'
        logs:
          type: array
          items:
            $ref: '#/components/schemas/DebugModeLog'
      required:
      - model
      - warnings
      - errors
      title: TicketingContactResponse
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
x-refined-from:
- merge-accounting-api-openapi.yaml
- merge-crm-api-openapi.yaml
- merge-ticketing-api-openapi.yaml
