openapi: 3.1.0
info:
  title: Accounting subpackage_jobInterviewStages API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_jobInterviewStages
paths:
  /ats/v1/job-interview-stages:
    get:
      operationId: list
      summary: List
      description: Returns a list of `JobInterviewStage` objects.{/* BEGIN_ATS_JOBINTERVIEWSTAGE_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA92abXPaOBDHvwrjlxkekhDahpmbG54fGkwKJGl60/HI8mIEsmRkGQKdfvcbY5vAXaZ3ToRDeRcc+y/r593V7ko/NIwk2FystLKGpKdlNYdbQLWy1uVmh0kQCwLLoUQ2aFkNuURHDoT3GotLLat5vutyIcFqEqCW1xYw1spawQFhQ85nZEzAKiDpFQiTYAskCWdeYftUbrx5TMtqlLAZWBWMuc/kL3TC+3IovPEfP4N/e1LLai7yPDkR3LcnA5j74P1KMngbCg4wiWjOQhIVdh7PifD5l64F720BBQlWHUlUBwk4mGA01ERK1ysXChOgbn4zbN6CRQFYAQlJMAWvUCpeX368LuUilc3ofxo2/ePibDo3ufnxzLAxNZB/1hvhJ33UWepT+0qvXT3p67uSvp6t9ens/Myw0Vlv1Cv1R4/Ffr1y0X/hBmP44ev1fbVe7epneN0o6tPHpT7CF70RnpnrTrHbwstu+8uTvn687NXvivqoUeq2+EW/NvB6tQHvVfJ5Lavtfket/NeP3QuRcVRclxKMmBxKhGf7z3ScwJSe2YRfA7kk5/omJTjvFfPIQWvO0NLLY+4UHLAIKuxrGsO5jwQYN9zmxrLafrwf3OSnrh1/D8LZ9mNoZa2htyt6rVHfN4zKAhGKTApaWQof/mXLWvkvDYXDhrPNalNualmNBdPMagIcLsEIPtn+L8NFcqJ9D67NfSLAukUCOSBBBJrff2ZfhOZNzJUiVoHUHqKi/+UBLZZ5lx0cEYmDRlJe20vECuJKEHIMLiwQyUmuHJOqQhloxSwX5qw1HntpYEyb2QJJX4AaaLcUyTEXTiSaBq7Q0BLQSsinihyT8/ZADaBYbddH0whfyY0qKSYBsFYUxUKttBG9NmIlBeVTOuGCKXI4wV0QcmVcdJ7FjO3VyxYwEAQ/XylGVLcXruIXOp7Y9kqimQFg4RMZpHOZGuW+pYaxGekb4lnfwIG+4YUwh9W625ktUiOYEFCtMhqqQREo7aUX3St9NueNkwhhNYpWquJ8vBCGmrGdnLeXrFS/Sd/TXgGDOwBSDYzIL40O5szoM7o6WkfhgoHwJGeQGSEKTN4QpqiM2dF+x5UtKRABFEnFyWEkGjnF8Sw7b/AWK39PGCZqOdUXgabxoY8esT0+PKeEc66j1ZgLrNg4YtWDTPfgdtBgNrJB2XK7lTslX2m4lCsqFDZSp8SmSZHEE6HWpSJRY+bUapPO/AR7GM2gA4yIopoqVttbpn+X/llCci1w1BpbCxzjaXGPP1+U0uv+pGxuLQHAJtz3FK19z3r/MzPUK6POfeM4DO5NJNtImNwXGWUrZmyGkXBceFmPrdrDt95xhr6kzAYqmxvtgbFRO86GZEI0pNbpKTakTiCZYorxkhsmt5EOGxNGJGSqAnnegGzeWwGVWDf2K84/3OFu8Vjr+S5ar1V1dEKtvebXwxfcq/es39ZdutysWEHUVuoxU26iQPWU8vIuN+tkgdSCikRTBPSGlbrLzSHmqvYJY7Xc+wbWw1jKgqjqmEViaRciB4d0AwtVUWcjtReV+aP9aVV9SCMq7yXQKafOfYx9l7tqKEZi7+OOSSfO6Gq8UhuKN5rkIPNOKe70BcIUMk3fI5xlcvFeKGG2ymohHMV4Fn+3Rf7VhIJ9Ha6GxkYq7cLpjTEnIbRbwlxOmKKNwFgtRavZwZVw6pGRgxhTvlS6EQqiSflyb9E6d9fTZvPyhM65DJENGVXFVyBm7FRfRXN59TGVdk5atCq3maGPMXheE2HJhacI3J7mnslV8VduN89/g5iV1XxG5n7wNzAZnN5OnC0NHSTk1v1Uwd0X3aM7/bS4GTceUt83eE1GFaxjsFabUYWax+yhb8q+o9Mhq7FUjy3UPWZ0SWEBciQilCuq+Z71fpczom+zNaCBUcQpPShqLshQNj7VCGkeyHmPrc6RQOMxUe2voagxHVnd0rfDnOx7H6MTxAQXWapxhaon0cW6+9zK3Aq+U2qrgXX3uRXvr1xW59ZTn5wErgegmDuQkTwjJ5Dp+symig+PRUMYkhtyAkY4RGo++QokXMw2AymhEKvt5aH9BaU6vT6ePSplESqYroUUNwIj0RNKvr7xyTZEqWUVKMfZw3vlDv9R7nz/+TduCZHe6DwAAA==" /></Footer>{/* END_ATS_JOBINTERVIEWSTAGE_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_jobInterviewStages
      parameters:
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/JobInterviewStagesGetParametersExpandSchemaItems'
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: job_id
        in: query
        description: If provided, will only return interview stages for this job.
        required: false
        schema:
          type: string
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedJobInterviewStageList'
  /ats/v1/job-interview-stages/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns a `JobInterviewStage` object with the given `id`.{/* BEGIN_ATS_JOBINTERVIEWSTAGE_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA92abXPaOBDHvwrjlxkekhDahpmbG54fGkwKJGl60/HI8mIEsmRkGQKdfvcbY5vAXaZ3ToRDeRcc+y/r593V7ko/NIwk2FystLKGpKdlNYdbQLWy1uVmh0kQCwLLoUQ2aFkNuURHDoT3GotLLat5vutyIcFqEqCW1xYw1spawQFhQ85nZEzAKiDpFQiTYAskCWdeYftUbrx5TMtqlLAZWBWMuc/kL3TC+3IovPEfP4N/e1LLai7yPDkR3LcnA5j74P1KMngbCg4wiWjOQhIVdh7PifD5l64F720BBQlWHUlUBwk4mGA01ERK1ysXChOgbn4zbN6CRQFYAQlJMAWvUCpeX368LuUilc3ofxo2/ePibDo3ufnxzLAxNZB/1hvhJ33UWepT+0qvXT3p67uSvp6t9ens/Myw0Vlv1Cv1R4/Ffr1y0X/hBmP44ev1fbVe7epneN0o6tPHpT7CF70RnpnrTrHbwstu+8uTvn687NXvivqoUeq2+EW/NvB6tQHvVfJ5Lavtfket/NeP3QuRcVRclxKMmBxKhGf7z3ScwJSe2YRfA7kk5/omJTjvFfPIQWvO0NLLY+4UHLAIKuxrGsO5jwQYN9zmxrLafrwf3OSnrh1/D8LZ9mNoZa2htyt6rVHfN4zKAhGKTApaWQof/mXLWvkvDYXDhrPNalNualmNBdPMagIcLsEIPtn+L8NFcqJ9D67NfSLAukUCOSBBBJrff2ZfhOZNzJUiVoHUHqKi/+UBLZZ5lx0cEYmDRlJe20vECuJKEHIMLiwQyUmuHJOqQhloxSwX5qw1HntpYEyb2QJJX4AaaLcUyTEXTiSaBq7Q0BLQSsinihyT8/ZADaBYbddH0whfyY0qKSYBsFYUxUKttBG9NmIlBeVTOuGCKXI4wV0QcmVcdJ7FjO3VyxYwEAQ/XylGVLcXruIXOp7Y9kqimQFg4RMZpHOZGuW+pYaxGekb4lnfwIG+4YUwh9W625ktUiOYEFCtMhqqQREo7aUX3St9NueNkwhhNYpWquJ8vBCGmrGdnLeXrFS/Sd/TXgGDOwBSDYzIL40O5szoM7o6WkfhgoHwJGeQGSEKTN4QpqiM2dF+x5UtKRABFEnFyWEkGjnF8Sw7b/AWK39PGCZqOdUXgabxoY8esT0+PKeEc66j1ZgLrNg4YtWDTPfgdtBgNrJB2XK7lTslX2m4lCsqFDZSp8SmSZHEE6HWpSJRY+bUapPO/AR7GM2gA4yIopoqVttbpn+X/llCci1w1BpbCxzjaXGPP1+U0uv+pGxuLQHAJtz3FK19z3r/MzPUK6POfeM4DO5NJNtImNwXGWUrZmyGkXBceFmPrdrDt95xhr6kzAYqmxvtgbFRO86GZEI0pNbpKTakTiCZYorxkhsmt5EOGxNGJGSqAnnegGzeWwGVWDf2K84/3OFu8Vjr+S5ar1V1dEKtvebXwxfcq/es39ZdutysWEHUVuoxU26iQPWU8vIuN+tkgdSCikRTBPSGlbrLzSHmqvYJY7Xc+wbWw1jKgqjqmEViaRciB4d0AwtVUWcjtReV+aP9aVV9SCMq7yXQKafOfYx9l7tqKEZi7+OOSSfO6Gq8UhuKN5rkIPNOKe70BcIUMk3fI5xlcvFeKGG2ymohHMV4Fn+3Rf7VhIJ9Ha6GxkYq7cLpjTEnIbRbwlxOmKKNwFgtRavZwZVw6pGRgxhTvlS6EQqiSflyb9E6d9fTZvPyhM65DJENGVXFVyBm7FRfRXN59TGVdk5atCq3maGPMXheE2HJhacI3J7mnslV8VduN89/g5iV1XxG5n7wNzAZnN5OnC0NHSTk1v1Uwd0X3aM7/bS4GTceUt83eE1GFaxjsFabUYWax+yhb8q+o9Mhq7FUjy3UPWZ0SWEBciQilCuq+Z71fpczom+zNaCBUcQpPShqLshQNj7VCGkeyHmPrc6RQOMxUe2voagxHVnd0rfDnOx7H6MTxAQXWapxhaon0cW6+9zK3Aq+U2qrgXX3uRXvr1xW59ZTn5wErgegmDuQkTwjJ5Dp+symig+PRUMYkhtyAkY4RGo++QokXMw2AymhEKvt5aH9BaU6vT6ePSplESqYroUUNwIj0RNKvr7xyTZEqWUVKMfZw3vlDv9R7nz/+TduCZHe6DwAAA==" /></Footer>{/* END_ATS_JOBINTERVIEWSTAGE_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_jobInterviewStages
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/JobInterviewStagesIdGetParametersExpandSchemaItems'
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobInterviewStage'
components:
  schemas:
    JobInterviewStageFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: JobInterviewStageFieldMappings
    JobInterviewStagesGetParametersExpandSchemaItems:
      type: string
      enum:
      - job
      title: JobInterviewStagesGetParametersExpandSchemaItems
    RemoteData:
      type: object
      properties:
        path:
          type: string
          description: The third-party API path that is being called.
        data:
          description: The data returned from the third-party for this object in its original, unnormalized format.
      required:
      - path
      description: '# The RemoteData Object

        ### Description

        The `RemoteData` object is used to represent the full data pulled from the third-party API for an object.


        ### Usage Example

        TODO'
      title: RemoteData
    JobInterviewStage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        name:
          type:
          - string
          - 'null'
          description: Standard stage names are offered by ATS systems but can be modified by users.
        job:
          type:
          - string
          - 'null'
          format: uuid
          description: This field is populated only if the stage is specific to a particular job. If the stage is generic, this field will not be populated.
        stage_order:
          type:
          - integer
          - 'null'
          description: The stage’s order, with the lowest values ordered first. If the third-party does not return details on the order of stages, this field will not be populated.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/JobInterviewStageFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The JobInterviewStage Object

        ### Description

        The `JobInterviewStage` object is used to represent a particular recruiting stage for an `Application`. A given `Application` typically has the `JobInterviewStage` object represented in the current_stage field.

        ### Usage Example

        Fetch from the `LIST JobInterviewStages` endpoint and view the job interview stages used by a company.'
      title: JobInterviewStage
    JobInterviewStagesIdGetParametersExpandSchemaItems:
      type: string
      enum:
      - job
      title: JobInterviewStagesIdGetParametersExpandSchemaItems
    PaginatedJobInterviewStageList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/JobInterviewStage'
      title: PaginatedJobInterviewStageList
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
