openapi: 3.2.0
info:
  title: Merge Subpackage Tags API
  version: 1.0.0
  description: 'Operations tagged subpackage_tags across 3 of this provider''s published API definitions: merge-ats-api-openapi.yaml, merge-gateway-api-openapi.yaml, merge-ticketing-api-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
- url: https://api-gateway.merge.dev
tags:
- name: subpackage_tags
paths:
  /ats/v1/tags:
    get:
      operationId: list
      summary: List
      description: Returns a list of `Tag` objects.{/* BEGIN_ATS_TAG_FETCH_SUPPORTED_FIELDS */}{/* END_ATS_TAG_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_tags
      parameters:
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTagList'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /tags:
    get:
      operationId: list
      summary: List Tags
      description: 'List all available tags.


        Returns tags available for the authenticated organization,

        including both global and org-scoped tags.'
      tags:
      - subpackage_tags
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsListResponse'
    servers:
    - url: https://api-gateway.merge.dev
  /ticketing/v1/tags:
    get:
      operationId: list
      summary: List
      description: Returns a list of `Tag` objects.{/* BEGIN_TICKETING_TAG_FETCH_SUPPORTED_FIELDS */}{/* END_TICKETING_TAG_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_tags
      parameters:
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTagList'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ticketing/v1/tags/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns a `Tag` object with the given `id`.{/* BEGIN_TICKETING_TAG_FETCH_SUPPORTED_FIELDS */}{/* END_TICKETING_TAG_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag_2'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
components:
  schemas:
    RemoteData:
      type: object
      properties:
        path:
          type: string
          description: The third-party API path that is being called.
        data:
          description: The data returned from the third-party for this object in its original, unnormalized format.
      required:
      - path
      description: '# The RemoteData Object

        ### Description

        The `RemoteData` object is used to represent the full data pulled from the third-party API for an object.


        ### Usage Example

        TODO'
      title: RemoteData
    Tag:
      type: object
      properties:
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        name:
          type:
          - string
          - 'null'
          description: The tag's name.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/TagFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The Tag Object

        ### Description

        The `Tag` object is used to represent a tag for a candidate.

        ### Usage Example

        Fetch from the `LIST Tags` endpoint and view the tags used within a company.'
      title: Tag
    PaginatedTagList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
      title: PaginatedTagList
    TagFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: TagFieldMappings
    TagsListResponse:
      type: object
      properties:
        object:
          type: string
          enum:
          - list
        data:
          type: array
          items:
            $ref: '#/components/schemas/TagSchema'
        has_more:
          type: boolean
          default: false
        next_cursor:
          type:
          - string
          - 'null'
      required:
      - data
      description: Response for GET /v1/tags.
      title: TagsListResponse
    TagSchema:
      type: object
      properties:
        id:
          type: string
          description: Unique tag identifier
        object:
          type: string
          enum:
          - tag
        tag_key:
          type: string
          description: Tag key
        tag_value:
          type: string
          description: Tag value
        org_id:
          type:
          - string
          - 'null'
          description: Organization ID, null for global tags
        is_global:
          type: boolean
          default: false
          description: Whether this is a global tag
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - tag_key
      - tag_value
      description: A tag available through the gateway.
      title: TagSchema
    Tag_2:
      type: object
      properties:
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
          description: The tag's name.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/TagFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The Tag Object

        ### Description

        The `Tag` object is used to represent a tag or label for a ticket.


        ### Usage Example

        TODO'
      title: Tag
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
x-refined-from:
- merge-ats-api-openapi.yaml
- merge-gateway-api-openapi.yaml
- merge-ticketing-api-openapi.yaml
