openapi: 3.2.0
info:
  title: HRIS Subpackage Employee Payroll Runs API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_employeePayrollRuns
paths:
  /hris/v1/employee-payroll-runs:
    get:
      operationId: list
      summary: List
      description: Returns a list of `EmployeePayrollRun` objects.{/* BEGIN_HRIS_EMPLOYEEPAYROLLRUN_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA+1abU/jOBD+K5U/3aG+LLDsHpVOp9ICBbYh15e7RSsUTZ0hNSR26jj0ZbX//eQkpQ2UZculpRS+pWP7set5nhl7ku+EgkJHyBEpk55kAckTT9jokjI59HxXjBBNGEnhus2QkzwBnxngYdLbut0heRKEvi+kQvuIoWsHdYlXpExKHkoHCyFnVwztku5eYlyhI0ExwYPS3bDCVTSO5InL+A3aFUpFyNXPgOKOBYh73vupmwNF8sSHIFA9KUKn18R+iMFPMfV6XPSQK3ALNigozYwvyBhgnk2v3EYXFdo1UFBDhVT/xWSunlJ+UC6Veuj6xWjeoo23JeQlkIpRF4PS3u7+zuf9vUKCEs3+l+W4f25vXfe7ovt5y3Koa0G41WjTodE+GRjXzkej+nFojDt7xvhmbFzffNiyHNhqtBt75+2L3fNaZft8Tger9enr/j8HtYNTY4uOD3eN64uB0abbjTa96Y5Pdk+P6eC0/vfQGF/sNGqdXaN9uHd6LLbPq82gUW2KRqVYJHky60lS/vZ91pAQpFIzc82Oke584oGDM5sS+wF8VvDDrstoMdgtggdjwWEQFKnwSh7aDEqVmmk1O4bV6ocgsehzZ7LpTPC7HdesNeoVo3pYS7u/cgvMha6LpKxkiA84S8rfyCFIzrhTBE+TiOTvDJgIwfJjJVgyksKkWaInFFraZ/Otlg+qR/IE4yZNlwmkfuS27qUf00hzEBITs7XqFEgVj7zULf2QSbRNkOChQqn/0uWP/GOO+VfImyshKeYMMcjORXewliEGy3RWDe0wQpl6x56YSH5ec9p50w5cb8qsIe2FufaJP55LGTXy9ZxtGE6H6h+PDJtpkpaCYWJKVk57SG8mFLrbhOBXCOdIEQR6MpInHFXylJ78SVLOEDFPFAxRzxdy1g81U5ErHWPloiStwSgiUjbcNF1QV0J6E9TXGUDuNUVh4B6lUmR40v/p9Tw/osRHBZ06c3WUIhufTUELGrQQLC+azN+dqSJWFJiPw0CJbAkfQVrx1llMgy05HFPh+cBHT0XjVxSsF5ZnptFdP6ZXcM8ymf2l08AjEpikhAWlUGdd0c1WChHkxgb++U5ewGsLOuhcAnUxV3VFaOfqoQc8VwWfKXBzDeDgRBep3G/1auP3bNwYT5iEsjcbxKaND09Yqw9xk5/z1rLi8KfN85aReVhccSA8HwUKZb2ZkYgitGWKaJ2z7KKcms+QZ2fIZ/nfhBHt4TCjVBiDJRdz64twxAbfzh80pvLmSybr13M0XJPjoAkjV1CmRpnpIIabVYL15djbPrL5+9niretlxhytZrOuVqYL3I6WkeHlKgFdinbSNa3nVc6fX5QxpXAZRMzLYr8StFQKvvZfQQrezFr3/5dTCxzMmSh8N6NatQa0YsAJS+iwdULPrt9Y8WLWY0sUeKti5lohpRgER0CVkEFGfkxhpk4aB/SrcI4+LEX4K9LpYi8a1jANtiUzMKOo3paMo1qPg+Mv36SyLCCttB60kjLPi3Kzc3acM7N6j9Y5O36vmq5rJSArxbxfce7rp4lgj7JWkOUg1P/om+sR6t9rauv7LmJz6wf6G6/M6wcJ6AZXo9fp3Rxdp0/GFvlU7PLHf7wkazyyLAAA" /></Footer>{/* END_HRIS_EMPLOYEEPAYROLLRUN_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_employeePayrollRuns
      parameters:
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: employee_id
        in: query
        description: If provided, will only return employee payroll runs for this employee.
        required: false
        schema:
          type: string
      - name: ended_after
        in: query
        description: If provided, will only return employee payroll runs ended after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: ended_before
        in: query
        description: If provided, will only return employee payroll runs ended before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/EmployeePayrollRunsGetParametersExpandSchemaItems'
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: payroll_run_id
        in: query
        description: If provided, will only return employee payroll runs for this employee.
        required: false
        schema:
          type: string
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: started_after
        in: query
        description: If provided, will only return employee payroll runs started after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: started_before
        in: query
        description: If provided, will only return employee payroll runs started before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmployeePayrollRunList'
  /hris/v1/employee-payroll-runs/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns an `EmployeePayrollRun` object with the given `id`.{/* BEGIN_HRIS_EMPLOYEEPAYROLLRUN_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA+1abU/jOBD+K5U/3aG+LLDsHpVOp9ICBbYh15e7RSsUTZ0hNSR26jj0ZbX//eQkpQ2UZculpRS+pWP7set5nhl7ku+EgkJHyBEpk55kAckTT9jokjI59HxXjBBNGEnhus2QkzwBnxngYdLbut0heRKEvi+kQvuIoWsHdYlXpExKHkoHCyFnVwztku5eYlyhI0ExwYPS3bDCVTSO5InL+A3aFUpFyNXPgOKOBYh73vupmwNF8sSHIFA9KUKn18R+iMFPMfV6XPSQK3ALNigozYwvyBhgnk2v3EYXFdo1UFBDhVT/xWSunlJ+UC6Veuj6xWjeoo23JeQlkIpRF4PS3u7+zuf9vUKCEs3+l+W4f25vXfe7ovt5y3Koa0G41WjTodE+GRjXzkej+nFojDt7xvhmbFzffNiyHNhqtBt75+2L3fNaZft8Tger9enr/j8HtYNTY4uOD3eN64uB0abbjTa96Y5Pdk+P6eC0/vfQGF/sNGqdXaN9uHd6LLbPq82gUW2KRqVYJHky60lS/vZ91pAQpFIzc82Oke584oGDM5sS+wF8VvDDrstoMdgtggdjwWEQFKnwSh7aDEqVmmk1O4bV6ocgsehzZ7LpTPC7HdesNeoVo3pYS7u/cgvMha6LpKxkiA84S8rfyCFIzrhTBE+TiOTvDJgIwfJjJVgyksKkWaInFFraZ/Otlg+qR/IE4yZNlwmkfuS27qUf00hzEBITs7XqFEgVj7zULf2QSbRNkOChQqn/0uWP/GOO+VfImyshKeYMMcjORXewliEGy3RWDe0wQpl6x56YSH5ec9p50w5cb8qsIe2FufaJP55LGTXy9ZxtGE6H6h+PDJtpkpaCYWJKVk57SG8mFLrbhOBXCOdIEQR6MpInHFXylJ78SVLOEDFPFAxRzxdy1g81U5ErHWPloiStwSgiUjbcNF1QV0J6E9TXGUDuNUVh4B6lUmR40v/p9Tw/osRHBZ06c3WUIhufTUELGrQQLC+azN+dqSJWFJiPw0CJbAkfQVrx1llMgy05HFPh+cBHT0XjVxSsF5ZnptFdP6ZXcM8ymf2l08AjEpikhAWlUGdd0c1WChHkxgb++U5ewGsLOuhcAnUxV3VFaOfqoQc8VwWfKXBzDeDgRBep3G/1auP3bNwYT5iEsjcbxKaND09Yqw9xk5/z1rLi8KfN85aReVhccSA8HwUKZb2ZkYgitGWKaJ2z7KKcms+QZ2fIZ/nfhBHt4TCjVBiDJRdz64twxAbfzh80pvLmSybr13M0XJPjoAkjV1CmRpnpIIabVYL15djbPrL5+9niretlxhytZrOuVqYL3I6WkeHlKgFdinbSNa3nVc6fX5QxpXAZRMzLYr8StFQKvvZfQQrezFr3/5dTCxzMmSh8N6NatQa0YsAJS+iwdULPrt9Y8WLWY0sUeKti5lohpRgER0CVkEFGfkxhpk4aB/SrcI4+LEX4K9LpYi8a1jANtiUzMKOo3paMo1qPg+Mv36SyLCCttB60kjLPi3Kzc3acM7N6j9Y5O36vmq5rJSArxbxfce7rp4lgj7JWkOUg1P/om+sR6t9rauv7LmJz6wf6G6/M6wcJ6AZXo9fp3Rxdp0/GFvlU7PLHf7wkazyyLAAA" /></Footer>{/* END_HRIS_EMPLOYEEPAYROLLRUN_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_employeePayrollRuns
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        description: Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/EmployeePayrollRunsIdGetParametersExpandSchemaItems'
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeePayrollRun'
components:
  schemas:
    PaginatedEmployeePayrollRunList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/EmployeePayrollRun'
      title: PaginatedEmployeePayrollRunList
    Tax:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        employee_payroll_run:
          type:
          - string
          - 'null'
          format: uuid
        name:
          type:
          - string
          - 'null'
          description: The tax's name.
        amount:
          type:
          - number
          - 'null'
          format: double
          description: The tax amount.
        employer_tax:
          type:
          - boolean
          - 'null'
          description: Whether or not the employer is responsible for paying the tax.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/TaxFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The Tax Object

        ### Description

        The `Tax` object is used to represent an array of the tax deductions for a given employee''s payroll run.


        ### Usage Example

        Fetch from the `LIST Taxes` endpoint and filter by `ID` to show all taxes.'
      title: Tax
    EmployeePayrollRunFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: EmployeePayrollRunFieldMappings
    DeductionFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: DeductionFieldMappings
    RemoteData:
      type: object
      properties:
        path:
          type: string
          description: The third-party API path that is being called.
        data:
          description: The data returned from the third-party for this object in its original, unnormalized format.
      required:
      - path
      description: '# The RemoteData Object

        ### Description

        The `RemoteData` object is used to represent the full data pulled from the third-party API for an object.


        ### Usage Example

        TODO'
      title: RemoteData
    Earning:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        employee_payroll_run:
          type:
          - string
          - 'null'
          format: uuid
        amount:
          type:
          - number
          - 'null'
          format: double
          description: The amount earned.
        type:
          oneOf:
          - $ref: '#/components/schemas/EarningTypeEnum'
          - type: 'null'
          description: The type of earning.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/EarningFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The Earning Object

        ### Description

        The `Earning` object is used to represent an array of different compensations that an employee receives within specific wage categories.


        ### Usage Example

        Fetch from the `LIST Earnings` endpoint and filter by `ID` to show all earnings.'
      title: Earning
    EmployeePayrollRun:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        employee:
          type:
          - string
          - 'null'
          format: uuid
          description: The employee whose payroll is being run.
        payroll_run:
          type:
          - string
          - 'null'
          format: uuid
          description: The payroll being run.
        gross_pay:
          type:
          - number
          - 'null'
          format: double
          description: The total earnings throughout a given period for an employee before any deductions are made.
        net_pay:
          type:
          - number
          - 'null'
          format: double
          description: The take-home pay throughout a given period for an employee after deductions are made.
        start_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The day and time the payroll run started.
        end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The day and time the payroll run ended.
        check_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The day and time the payroll run was checked.
        earnings:
          type: array
          items:
            $ref: '#/components/schemas/Earning'
        deductions:
          type: array
          items:
            $ref: '#/components/schemas/Deduction'
        taxes:
          type: array
          items:
            $ref: '#/components/schemas/Tax'
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/EmployeePayrollRunFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The EmployeePayrollRun Object

        ### Description

        The `EmployeePayrollRun` object is used to represent an employee''s pay statement for a specific payroll run.


        ### Usage Example

        Fetch from the `LIST EmployeePayrollRun` endpoint and filter by `ID` to show all employee payroll runs.'
      title: EmployeePayrollRun
    EarningFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: EarningFieldMappings
    EmployeePayrollRunsGetParametersExpandSchemaItems:
      type: string
      enum:
      - employee
      - payroll_run
      title: EmployeePayrollRunsGetParametersExpandSchemaItems
    Deduction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        employee_payroll_run:
          type:
          - string
          - 'null'
          format: uuid
        name:
          type:
          - string
          - 'null'
          description: The deduction's name.
        employee_deduction:
          type:
          - number
          - 'null'
          format: double
          description: The amount of money that is withheld from an employee's gross pay by the employee.
        company_deduction:
          type:
          - number
          - 'null'
          format: double
          description: The amount of money that is withheld on behalf of an employee by the company.
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/DeductionFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The Deduction Object

        ### Description

        The `Deduction` object is used to represent an array of the wages withheld from total earnings for the purpose of paying taxes.


        ### Usage Example

        Fetch from the `LIST Deductions` endpoint and filter by `ID` to show all deductions.'
      title: Deduction
    EarningTypeEnum:
      type: string
      enum:
      - SALARY
      - REIMBURSEMENT
      - OVERTIME
      - BONUS
      title: EarningTypeEnum
    EmployeePayrollRunsIdGetParametersExpandSchemaItems:
      type: string
      enum:
      - employee
      - payroll_run
      title: EmployeePayrollRunsIdGetParametersExpandSchemaItems
    TaxFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: TaxFieldMappings
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
