openapi: 3.2.0
info:
  title: Merge Subpackage Audit Trail API
  version: 1.0.0
  description: 'Operations tagged subpackage_auditTrail across 8 of this provider''s published API definitions: merge-accounting-api-openapi.yaml, merge-ats-api-openapi.yaml, merge-chat-api-openapi.yaml, merge-crm-api-openapi.yaml, merge-file-storage-api-openapi.yaml, merge-hris-api-openapi.yaml, merge-knowledge-base-api-openapi.yaml, merge-ticketing-api-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
- url: https://api.merge.dev/api/chat/v1
- url: https://api-eu.merge.dev/api/chat/v1
- url: https://api-ap.merge.dev/api/chat/v1
- url: https://api-ap.merge.dev/api/knowledgebase/v1
tags:
- name: subpackage_auditTrail
paths:
  /accounting/v1/audit-trail:
    get:
      operationId: list
      summary: List
      description: Gets a list of audit trail events.
      tags:
      - subpackage_auditTrail
      parameters:
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: end_date
        in: query
        description: If included, will only include audit trail events that occurred before this time
        required: false
        schema:
          type: string
      - name: event_type
        in: query
        description: 'If included, will only include events with the given event type. Possible values include: `CREATED_REMOTE_PRODUCTION_API_KEY`, `DELETED_REMOTE_PRODUCTION_API_KEY`, `CREATED_TEST_API_KEY`, `DELETED_TEST_API_KEY`, `REGENERATED_PRODUCTION_API_KEY`, `REGENERATED_WEBHOOK_SIGNATURE`, `INVITED_USER`, `TWO_FACTOR_AUTH_ENABLED`, `TWO_FACTOR_AUTH_DISABLED`, `DELETED_LINKED_ACCOUNT`, `DELETED_ALL_COMMON_MODELS_FOR_LINKED_ACCOUNT`, `CREATED_DESTINATION`, `DELETED_DESTINATION`, `CHANGED_DESTINATION`, `CHANGED_SCOPES`, `CHANGED_PERSONAL_INFORMATION`, `CHANGED_ORGANIZATION_SETTINGS`, `ENABLED_INTEGRATION`, `DISABLED_INTEGRATION`, `ENABLED_CATEGORY`, `DISABLED_CATEGORY`, `CHANGED_PASSWORD`, `RESET_PASSWORD`, `ENABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION`, `ENABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT`, `DISABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION`, `DISABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT`, `CREATED_INTEGRATION_WIDE_FIELD_MAPPING`, `CREATED_LINKED_ACCOUNT_FIELD_MAPPING`, `CHANGED_INTEGRATION_WIDE_FIELD_MAPPING`, `CHANGED_LINKED_ACCOUNT_FIELD_MAPPING`, `DELETED_INTEGRATION_WIDE_FIELD_MAPPING`, `DELETED_LINKED_ACCOUNT_FIELD_MAPPING`, `CREATED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `CHANGED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `DELETED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `FORCED_LINKED_ACCOUNT_RESYNC`, `MUTED_ISSUE`, `GENERATED_MAGIC_LINK`, `ENABLED_MERGE_WEBHOOK`, `DISABLED_MERGE_WEBHOOK`, `MERGE_WEBHOOK_TARGET_CHANGED`, `END_USER_CREDENTIALS_ACCESSED`'
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: start_date
        in: query
        description: If included, will only include audit trail events that occurred after this time
        required: false
        schema:
          type: string
      - name: user_email
        in: query
        description: If provided, this will return events associated with the specified user email. Please note that the email address reflects the user's email at the time of the event, and may not be their current email.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAuditLogEventList'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /ats/v1/audit-trail:
    get:
      operationId: list
      summary: List
      description: Gets a list of audit trail events.
      tags:
      - subpackage_auditTrail
      parameters:
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: end_date
        in: query
        description: If included, will only include audit trail events that occurred before this time
        required: false
        schema:
          type: string
      - name: event_type
        in: query
        description: 'If included, will only include events with the given event type. Possible values include: `CREATED_REMOTE_PRODUCTION_API_KEY`, `DELETED_REMOTE_PRODUCTION_API_KEY`, `CREATED_TEST_API_KEY`, `DELETED_TEST_API_KEY`, `REGENERATED_PRODUCTION_API_KEY`, `REGENERATED_WEBHOOK_SIGNATURE`, `INVITED_USER`, `TWO_FACTOR_AUTH_ENABLED`, `TWO_FACTOR_AUTH_DISABLED`, `DELETED_LINKED_ACCOUNT`, `DELETED_ALL_COMMON_MODELS_FOR_LINKED_ACCOUNT`, `CREATED_DESTINATION`, `DELETED_DESTINATION`, `CHANGED_DESTINATION`, `CHANGED_SCOPES`, `CHANGED_PERSONAL_INFORMATION`, `CHANGED_ORGANIZATION_SETTINGS`, `ENABLED_INTEGRATION`, `DISABLED_INTEGRATION`, `ENABLED_CATEGORY`, `DISABLED_CATEGORY`, `CHANGED_PASSWORD`, `RESET_PASSWORD`, `ENABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION`, `ENABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT`, `DISABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION`, `DISABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT`, `CREATED_INTEGRATION_WIDE_FIELD_MAPPING`, `CREATED_LINKED_ACCOUNT_FIELD_MAPPING`, `CHANGED_INTEGRATION_WIDE_FIELD_MAPPING`, `CHANGED_LINKED_ACCOUNT_FIELD_MAPPING`, `DELETED_INTEGRATION_WIDE_FIELD_MAPPING`, `DELETED_LINKED_ACCOUNT_FIELD_MAPPING`, `CREATED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `CHANGED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `DELETED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `FORCED_LINKED_ACCOUNT_RESYNC`, `MUTED_ISSUE`, `GENERATED_MAGIC_LINK`, `ENABLED_MERGE_WEBHOOK`, `DISABLED_MERGE_WEBHOOK`, `MERGE_WEBHOOK_TARGET_CHANGED`, `END_USER_CREDENTIALS_ACCESSED`'
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: start_date
        in: query
        description: If included, will only include audit trail events that occurred after this time
        required: false
        schema:
          type: string
      - name: user_email
        in: query
        description: If provided, this will return events associated with the specified user email. Please note that the email address reflects the user's email at the time of the event, and may not be their current email.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAuditLogEventList'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /audit-trail:
    get:
      operationId: list
      summary: List
      description: Gets a list of audit trail events.
      tags:
      - subpackage_auditTrail
      parameters:
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: end_date
        in: query
        description: If included, will only include audit trail events that occurred before this time
        required: false
        schema:
          type: string
      - name: event_type
        in: query
        description: 'If included, will only include events with the given event type. Possible values include: `CREATED_REMOTE_PRODUCTION_API_KEY`, `DELETED_REMOTE_PRODUCTION_API_KEY`, `CREATED_TEST_API_KEY`, `DELETED_TEST_API_KEY`, `REGENERATED_PRODUCTION_API_KEY`, `REGENERATED_WEBHOOK_SIGNATURE`, `INVITED_USER`, `TWO_FACTOR_AUTH_ENABLED`, `TWO_FACTOR_AUTH_DISABLED`, `DELETED_LINKED_ACCOUNT`, `DELETED_ALL_COMMON_MODELS_FOR_LINKED_ACCOUNT`, `CREATED_DESTINATION`, `DELETED_DESTINATION`, `CHANGED_DESTINATION`, `CHANGED_SCOPES`, `CHANGED_PERSONAL_INFORMATION`, `CHANGED_ORGANIZATION_SETTINGS`, `ENABLED_INTEGRATION`, `DISABLED_INTEGRATION`, `ENABLED_CATEGORY`, `DISABLED_CATEGORY`, `CHANGED_PASSWORD`, `RESET_PASSWORD`, `ENABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION`, `ENABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT`, `DISABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION`, `DISABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT`, `CREATED_INTEGRATION_WIDE_FIELD_MAPPING`, `CREATED_LINKED_ACCOUNT_FIELD_MAPPING`, `CHANGED_INTEGRATION_WIDE_FIELD_MAPPING`, `CHANGED_LINKED_ACCOUNT_FIELD_MAPPING`, `DELETED_INTEGRATION_WIDE_FIELD_MAPPING`, `DELETED_LINKED_ACCOUNT_FIELD_MAPPING`, `CREATED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `CHANGED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `DELETED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `FORCED_LINKED_ACCOUNT_RESYNC`, `MUTED_ISSUE`, `GENERATED_MAGIC_LINK`, `ENABLED_MERGE_WEBHOOK`, `DISABLED_MERGE_WEBHOOK`, `MERGE_WEBHOOK_TARGET_CHANGED`, `END_USER_CREDENTIALS_ACCESSED`'
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: start_date
        in: query
        description: If included, will only include audit trail events that occurred after this time
        required: false
        schema:
          type: string
      - name: user_email
        in: query
        description: If provided, this will return events associated with the specified user email. Please note that the email address reflects the user's email at the time of the event, and may not be their current email.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAuditLogEventList'
    servers:
    - url: https://api.merge.dev/api/chat/v1
    - url: https://api-eu.merge.dev/api/chat/v1
    - url: https://api-ap.merge.dev/api/chat/v1
  /crm/v1/audit-trail:
    get:
      operationId: list
      summary: List
      description: Gets a list of audit trail events.
      tags:
      - subpackage_auditTrail
      parameters:
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: end_date
        in: query
        description: If included, will only include audit trail events that occurred before this time
        required: false
        schema:
          type: string
      - name: event_type
        in: query
        description: 'If included, will only include events with the given event type. Possible values include: `CREATED_REMOTE_PRODUCTION_API_KEY`, `DELETED_REMOTE_PRODUCTION_API_KEY`, `CREATED_TEST_API_KEY`, `DELETED_TEST_API_KEY`, `REGENERATED_PRODUCTION_API_KEY`, `REGENERATED_WEBHOOK_SIGNATURE`, `INVITED_USER`, `TWO_FACTOR_AUTH_ENABLED`, `TWO_FACTOR_AUTH_DISABLED`, `DELETED_LINKED_ACCOUNT`, `DELETED_ALL_COMMON_MODELS_FOR_LINKED_ACCOUNT`, `CREATED_DESTINATION`, `DELETED_DESTINATION`, `CHANGED_DESTINATION`, `CHANGED_SCOPES`, `CHANGED_PERSONAL_INFORMATION`, `CHANGED_ORGANIZATION_SETTINGS`, `ENABLED_INTEGRATION`, `DISABLED_INTEGRATION`, `ENABLED_CATEGORY`, `DISABLED_CATEGORY`, `CHANGED_PASSWORD`, `RESET_PASSWORD`, `ENABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION`, `ENABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT`, `DISABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION`, `DISABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT`, `CREATED_INTEGRATION_WIDE_FIELD_MAPPING`, `CREATED_LINKED_ACCOUNT_FIELD_MAPPING`, `CHANGED_INTEGRATION_WIDE_FIELD_MAPPING`, `CHANGED_LINKED_ACCOUNT_FIELD_MAPPING`, `DELETED_INTEGRATION_WIDE_FIELD_MAPPING`, `DELETED_LINKED_ACCOUNT_FIELD_MAPPING`, `CREATED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `CHANGED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `DELETED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `FORCED_LINKED_ACCOUNT_RESYNC`, `MUTED_ISSUE`, `GENERATED_MAGIC_LINK`, `ENABLED_MERGE_WEBHOOK`, `DISABLED_MERGE_WEBHOOK`, `MERGE_WEBHOOK_TARGET_CHANGED`, `END_USER_CREDENTIALS_ACCESSED`'
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: start_date
        in: query
        description: If included, will only include audit trail events that occurred after this time
        required: false
        schema:
          type: string
      - name: user_email
        in: query
        description: If provided, this will return events associated with the specified user email. Please note that the email address reflects the user's email at the time of the event, and may not be their current email.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAuditLogEventList'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /filestorage/v1/audit-trail:
    get:
      operationId: list
      summary: List
      description: Gets a list of audit trail events.
      tags:
      - subpackage_auditTrail
      parameters:
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: end_date
        in: query
        description: If included, will only include audit trail events that occurred before this time
        required: false
        schema:
          type: string
      - name: event_type
        in: query
        description: 'If included, will only include events with the given event type. Possible values include: `CREATED_REMOTE_PRODUCTION_API_KEY`, `DELETED_REMOTE_PRODUCTION_API_KEY`, `CREATED_TEST_API_KEY`, `DELETED_TEST_API_KEY`, `REGENERATED_PRODUCTION_API_KEY`, `REGENERATED_WEBHOOK_SIGNATURE`, `INVITED_USER`, `TWO_FACTOR_AUTH_ENABLED`, `TWO_FACTOR_AUTH_DISABLED`, `DELETED_LINKED_ACCOUNT`, `DELETED_ALL_COMMON_MODELS_FOR_LINKED_ACCOUNT`, `CREATED_DESTINATION`, `DELETED_DESTINATION`, `CHANGED_DESTINATION`, `CHANGED_SCOPES`, `CHANGED_PERSONAL_INFORMATION`, `CHANGED_ORGANIZATION_SETTINGS`, `ENABLED_INTEGRATION`, `DISABLED_INTEGRATION`, `ENABLED_CATEGORY`, `DISABLED_CATEGORY`, `CHANGED_PASSWORD`, `RESET_PASSWORD`, `ENABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION`, `ENABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT`, `DISABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION`, `DISABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT`, `CREATED_INTEGRATION_WIDE_FIELD_MAPPING`, `CREATED_LINKED_ACCOUNT_FIELD_MAPPING`, `CHANGED_INTEGRATION_WIDE_FIELD_MAPPING`, `CHANGED_LINKED_ACCOUNT_FIELD_MAPPING`, `DELETED_INTEGRATION_WIDE_FIELD_MAPPING`, `DELETED_LINKED_ACCOUNT_FIELD_MAPPING`, `CREATED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `CHANGED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `DELETED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `FORCED_LINKED_ACCOUNT_RESYNC`, `MUTED_ISSUE`, `GENERATED_MAGIC_LINK`, `ENABLED_MERGE_WEBHOOK`, `DISABLED_MERGE_WEBHOOK`, `MERGE_WEBHOOK_TARGET_CHANGED`, `END_USER_CREDENTIALS_ACCESSED`'
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: start_date
        in: query
        description: If included, will only include audit trail events that occurred after this time
        required: false
        schema:
          type: string
      - name: user_email
        in: query
        description: If provided, this will return events associated with the specified user email. Please note that the email address reflects the user's email at the time of the event, and may not be their current email.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAuditLogEventList'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /hris/v1/audit-trail:
    get:
      operationId: list
      summary: List
      description: Gets a list of audit trail events.
      tags:
      - subpackage_auditTrail
      parameters:
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: end_date
        in: query
        description: If included, will only include audit trail events that occurred before this time
        required: false
        schema:
          type: string
      - name: event_type
        in: query
        description: 'If included, will only include events with the given event type. Possible values include: `CREATED_REMOTE_PRODUCTION_API_KEY`, `DELETED_REMOTE_PRODUCTION_API_KEY`, `CREATED_TEST_API_KEY`, `DELETED_TEST_API_KEY`, `REGENERATED_PRODUCTION_API_KEY`, `REGENERATED_WEBHOOK_SIGNATURE`, `INVITED_USER`, `TWO_FACTOR_AUTH_ENABLED`, `TWO_FACTOR_AUTH_DISABLED`, `DELETED_LINKED_ACCOUNT`, `DELETED_ALL_COMMON_MODELS_FOR_LINKED_ACCOUNT`, `CREATED_DESTINATION`, `DELETED_DESTINATION`, `CHANGED_DESTINATION`, `CHANGED_SCOPES`, `CHANGED_PERSONAL_INFORMATION`, `CHANGED_ORGANIZATION_SETTINGS`, `ENABLED_INTEGRATION`, `DISABLED_INTEGRATION`, `ENABLED_CATEGORY`, `DISABLED_CATEGORY`, `CHANGED_PASSWORD`, `RESET_PASSWORD`, `ENABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION`, `ENABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT`, `DISABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION`, `DISABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT`, `CREATED_INTEGRATION_WIDE_FIELD_MAPPING`, `CREATED_LINKED_ACCOUNT_FIELD_MAPPING`, `CHANGED_INTEGRATION_WIDE_FIELD_MAPPING`, `CHANGED_LINKED_ACCOUNT_FIELD_MAPPING`, `DELETED_INTEGRATION_WIDE_FIELD_MAPPING`, `DELETED_LINKED_ACCOUNT_FIELD_MAPPING`, `CREATED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `CHANGED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `DELETED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `FORCED_LINKED_ACCOUNT_RESYNC`, `MUTED_ISSUE`, `GENERATED_MAGIC_LINK`, `ENABLED_MERGE_WEBHOOK`, `DISABLED_MERGE_WEBHOOK`, `MERGE_WEBHOOK_TARGET_CHANGED`, `END_USER_CREDENTIALS_ACCESSED`'
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: start_date
        in: query
        description: If included, will only include audit trail events that occurred after this time
        required: false
        schema:
          type: string
      - name: user_email
        in: query
        description: If provided, this will return events associated with the specified user email. Please note that the email address reflects the user's email at the time of the event, and may not be their current email.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAuditLogEventList'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
  /knowledgebase/v1/audit-trail:
    get:
      operationId: list
      summary: List
      description: Gets a list of audit trail events.
      tags:
      - subpackage_auditTrail
      parameters:
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: end_date
        in: query
        description: If included, will only include audit trail events that occurred before this time
        required: false
        schema:
          type: string
      - name: event_type
        in: query
        description: 'If included, will only include events with the given event type. Possible values include: `CREATED_REMOTE_PRODUCTION_API_KEY`, `DELETED_REMOTE_PRODUCTION_API_KEY`, `CREATED_TEST_API_KEY`, `DELETED_TEST_API_KEY`, `REGENERATED_PRODUCTION_API_KEY`, `REGENERATED_WEBHOOK_SIGNATURE`, `INVITED_USER`, `TWO_FACTOR_AUTH_ENABLED`, `TWO_FACTOR_AUTH_DISABLED`, `DELETED_LINKED_ACCOUNT`, `DELETED_ALL_COMMON_MODELS_FOR_LINKED_ACCOUNT`, `CREATED_DESTINATION`, `DELETED_DESTINATION`, `CHANGED_DESTINATION`, `CHANGED_SCOPES`, `CHANGED_PERSONAL_INFORMATION`, `CHANGED_ORGANIZATION_SETTINGS`, `ENABLED_INTEGRATION`, `DISABLED_INTEGRATION`, `ENABLED_CATEGORY`, `DISABLED_CATEGORY`, `CHANGED_PASSWORD`, `RESET_PASSWORD`, `ENABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION`, `ENABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT`, `DISABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION`, `DISABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT`, `CREATED_INTEGRATION_WIDE_FIELD_MAPPING`, `CREATED_LINKED_ACCOUNT_FIELD_MAPPING`, `CHANGED_INTEGRATION_WIDE_FIELD_MAPPING`, `CHANGED_LINKED_ACCOUNT_FIELD_MAPPING`, `DELETED_INTEGRATION_WIDE_FIELD_MAPPING`, `DELETED_LINKED_ACCOUNT_FIELD_MAPPING`, `CREATED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `CHANGED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `DELETED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `FORCED_LINKED_ACCOUNT_RESYNC`, `MUTED_ISSUE`, `GENERATED_MAGIC_LINK`, `ENABLED_MERGE_WEBHOOK`, `DISABLED_MERGE_WEBHOOK`, `MERGE_WEBHOOK_TARGET_CHANGED`, `END_USER_CREDENTIALS_ACCESSED`'
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: start_date
        in: query
        description: If included, will only include audit trail events that occurred after this time
        required: false
        schema:
          type: string
      - name: user_email
        in: query
        description: If provided, this will return events associated with the specified user email. Please note that the email address reflects the user's email at the time of the event, and may not be their current email.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAuditLogEventList'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
    - url: https://api-ap.merge.dev/api/knowledgebase/v1
  /ticketing/v1/audit-trail:
    get:
      operationId: list
      summary: List
      description: Gets a list of audit trail events.
      tags:
      - subpackage_auditTrail
      parameters:
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: end_date
        in: query
        description: If included, will only include audit trail events that occurred before this time
        required: false
        schema:
          type: string
      - name: event_type
        in: query
        description: 'If included, will only include events with the given event type. Possible values include: `CREATED_REMOTE_PRODUCTION_API_KEY`, `DELETED_REMOTE_PRODUCTION_API_KEY`, `CREATED_TEST_API_KEY`, `DELETED_TEST_API_KEY`, `REGENERATED_PRODUCTION_API_KEY`, `REGENERATED_WEBHOOK_SIGNATURE`, `INVITED_USER`, `TWO_FACTOR_AUTH_ENABLED`, `TWO_FACTOR_AUTH_DISABLED`, `DELETED_LINKED_ACCOUNT`, `DELETED_ALL_COMMON_MODELS_FOR_LINKED_ACCOUNT`, `CREATED_DESTINATION`, `DELETED_DESTINATION`, `CHANGED_DESTINATION`, `CHANGED_SCOPES`, `CHANGED_PERSONAL_INFORMATION`, `CHANGED_ORGANIZATION_SETTINGS`, `ENABLED_INTEGRATION`, `DISABLED_INTEGRATION`, `ENABLED_CATEGORY`, `DISABLED_CATEGORY`, `CHANGED_PASSWORD`, `RESET_PASSWORD`, `ENABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION`, `ENABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT`, `DISABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION`, `DISABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT`, `CREATED_INTEGRATION_WIDE_FIELD_MAPPING`, `CREATED_LINKED_ACCOUNT_FIELD_MAPPING`, `CHANGED_INTEGRATION_WIDE_FIELD_MAPPING`, `CHANGED_LINKED_ACCOUNT_FIELD_MAPPING`, `DELETED_INTEGRATION_WIDE_FIELD_MAPPING`, `DELETED_LINKED_ACCOUNT_FIELD_MAPPING`, `CREATED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `CHANGED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `DELETED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE`, `FORCED_LINKED_ACCOUNT_RESYNC`, `MUTED_ISSUE`, `GENERATED_MAGIC_LINK`, `ENABLED_MERGE_WEBHOOK`, `DISABLED_MERGE_WEBHOOK`, `MERGE_WEBHOOK_TARGET_CHANGED`, `END_USER_CREDENTIALS_ACCESSED`'
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: start_date
        in: query
        description: If included, will only include audit trail events that occurred after this time
        required: false
        schema:
          type: string
      - name: user_email
        in: query
        description: If provided, this will return events associated with the specified user email. Please note that the email address reflects the user's email at the time of the event, and may not be their current email.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAuditLogEventList'
    servers:
    - url: https://api.merge.dev/api
    - url: https://api-eu.merge.dev/api
    - url: https://api-ap.merge.dev/api
components:
  schemas:
    RoleEnum:
      type: string
      enum:
      - ADMIN
      - DEVELOPER
      - MEMBER
      - API
      - SYSTEM
      - MERGE_TEAM
      - SUPPORT
      title: RoleEnum
    EventTypeEnum:
      type: string
      enum:
      - CREATED_REMOTE_PRODUCTION_API_KEY
      - DELETED_REMOTE_PRODUCTION_API_KEY
      - CREATED_TEST_API_KEY
      - DELETED_TEST_API_KEY
      - REGENERATED_PRODUCTION_API_KEY
      - REGENERATED_WEBHOOK_SIGNATURE
      - INVITED_USER
      - TWO_FACTOR_AUTH_ENABLED
      - TWO_FACTOR_AUTH_DISABLED
      - DELETED_LINKED_ACCOUNT
      - DELETED_ALL_COMMON_MODELS_FOR_LINKED_ACCOUNT
      - CREATED_DESTINATION
      - DELETED_DESTINATION
      - CHANGED_DESTINATION
      - CHANGED_SCOPES
      - CHANGED_PERSONAL_INFORMATION
      - CHANGED_ORGANIZATION_SETTINGS
      - ENABLED_INTEGRATION
      - DISABLED_INTEGRATION
      - ENABLED_CATEGORY
      - DISABLED_CATEGORY
      - CHANGED_PASSWORD
      - RESET_PASSWORD
      - ENABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION
      - ENABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT
      - DISABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION
      - DISABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT
      - CREATED_INTEGRATION_WIDE_FIELD_MAPPING
      - CREATED_LINKED_ACCOUNT_FIELD_MAPPING
      - CHANGED_INTEGRATION_WIDE_FIELD_MAPPING
      - CHANGED_LINKED_ACCOUNT_FIELD_MAPPING
      - DELETED_INTEGRATION_WIDE_FIELD_MAPPING
      - DELETED_LINKED_ACCOUNT_FIELD_MAPPING
      - CREATED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE
      - CHANGED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE
      - DELETED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE
      - FORCED_LINKED_ACCOUNT_RESYNC
      - MUTED_ISSUE
      - GENERATED_MAGIC_LINK
      - ENABLED_MERGE_WEBHOOK
      - DISABLED_MERGE_WEBHOOK
      - MERGE_WEBHOOK_TARGET_CHANGED
      - END_USER_CREDENTIALS_ACCESSED
      title: EventTypeEnum
    AuditLogEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_name:
          type:
          - string
          - 'null'
          description: The User's full name at the time of this Event occurring.
        user_email:
          type:
          - string
          - 'null'
          format: email
          description: The User's email at the time of this Event occurring.
        role:
          $ref: '#/components/schemas/RoleEnum'
          description: Designates the role of the user (or SYSTEM/API if action not taken by a user) at the time of this Event occurring.
        ip_address:
          type: string
        event_type:
          $ref: '#/components/schemas/EventTypeEnum'
          description: Designates the type of event that occurred.
        event_description:
          type: string
        created_at:
          type: string
          format: date-time
      required:
      - role
      - ip_address
      - event_type
      - event_description
      title: AuditLogEvent
    PaginatedAuditLogEventList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/AuditLogEvent'
      title: PaginatedAuditLogEventList
    RoleEnum_2:
      type: string
      enum:
      - ADMIN
      - DEVELOPER
      - MEMBER
      - API
      - SYSTEM
      - MERGE_TEAM
      description: '* `ADMIN` - ADMIN

        * `DEVELOPER` - DEVELOPER

        * `MEMBER` - MEMBER

        * `API` - API

        * `SYSTEM` - SYSTEM

        * `MERGE_TEAM` - MERGE_TEAM'
      title: RoleEnum
    EventTypeEnum_2:
      type: string
      enum:
      - CREATED_REMOTE_PRODUCTION_API_KEY
      - DELETED_REMOTE_PRODUCTION_API_KEY
      - CREATED_TEST_API_KEY
      - DELETED_TEST_API_KEY
      - REGENERATED_PRODUCTION_API_KEY
      - REGENERATED_WEBHOOK_SIGNATURE
      - INVITED_USER
      - TWO_FACTOR_AUTH_ENABLED
      - TWO_FACTOR_AUTH_DISABLED
      - DELETED_LINKED_ACCOUNT
      - DELETED_ALL_COMMON_MODELS_FOR_LINKED_ACCOUNT
      - CREATED_DESTINATION
      - DELETED_DESTINATION
      - CHANGED_DESTINATION
      - CHANGED_SCOPES
      - CHANGED_PERSONAL_INFORMATION
      - CHANGED_ORGANIZATION_SETTINGS
      - ENABLED_INTEGRATION
      - DISABLED_INTEGRATION
      - ENABLED_CATEGORY
      - DISABLED_CATEGORY
      - CHANGED_PASSWORD
      - RESET_PASSWORD
      - ENABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION
      - ENABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT
      - DISABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION
      - DISABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT
      - CREATED_INTEGRATION_WIDE_FIELD_MAPPING
      - CREATED_LINKED_ACCOUNT_FIELD_MAPPING
      - CHANGED_INTEGRATION_WIDE_FIELD_MAPPING
      - CHANGED_LINKED_ACCOUNT_FIELD_MAPPING
      - DELETED_INTEGRATION_WIDE_FIELD_MAPPING
      - DELETED_LINKED_ACCOUNT_FIELD_MAPPING
      - CREATED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE
      - CHANGED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE
      - DELETED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE
      - FORCED_LINKED_ACCOUNT_RESYNC
      - MUTED_ISSUE
      - GENERATED_MAGIC_LINK
      - ENABLED_MERGE_WEBHOOK
      - DISABLED_MERGE_WEBHOOK
      - MERGE_WEBHOOK_TARGET_CHANGED
      - END_USER_CREDENTIALS_ACCESSED
      description: '* `CREATED_REMOTE_PRODUCTION_API_KEY` - CREATED_REMOTE_PRODUCTION_API_KEY

        * `DELETED_REMOTE_PRODUCTION_API_KEY` - DELETED_REMOTE_PRODUCTION_API_KEY

        * `CREATED_TEST_API_KEY` - CREATED_TEST_API_KEY

        * `DELETED_TEST_API_KEY` - DELETED_TEST_API_KEY

        * `REGENERATED_PRODUCTION_API_KEY` - REGENERATED_PRODUCTION_API_KEY

        * `REGENERATED_WEBHOOK_SIGNATURE` - REGENERATED_WEBHOOK_SIGNATURE

        * `INVITED_USER` - INVITED_USER

        * `TWO_FACTOR_AUTH_ENABLED` - TWO_FACTOR_AUTH_ENABLED

        * `TWO_FACTOR_AUTH_DISABLED` - TWO_FACTOR_AUTH_DISABLED

        * `DELETED_LINKED_ACCOUNT` - DELETED_LINKED_ACCOUNT

        * `DELETED_ALL_COMMON_MODELS_FOR_LINKED_ACCOUNT` - DELETED_ALL_COMMON_MODELS_FOR_LINKED_ACCOUNT

        * `CREATED_DESTINATION` - CREATED_DESTINATION

        * `DELETED_DESTINATION` - DELETED_DESTINATION

        * `CHANGED_DESTINATION` - CHANGED_DESTINATION

        * `CHANGED_SCOPES` - CHANGED_SCOPES

        * `CHANGED_PERSONAL_INFORMATION` - CHANGED_PERSONAL_INFORMATION

        * `CHANGED_ORGANIZATION_SETTINGS` - CHANGED_ORGANIZATION_SETTINGS

        * `ENABLED_INTEGRATION` - ENABLED_INTEGRATION

        * `DISABLED_INTEGRATION` - DISABLED_INTEGRATION

        * `ENABLED_CATEGORY` - ENABLED_CATEGORY

        * `DISABLED_CATEGORY` - DISABLED_CATEGORY

        * `CHANGED_PASSWORD` - CHANGED_PASSWORD

        * `RESET_PASSWORD` - RESET_PASSWORD

        * `ENABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION` - ENABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION

        * `ENABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT` - ENABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT

        * `DISABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION` - DISABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION

        * `DISABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT` - DISABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT

        * `CREATED_INTEGRATION_WIDE_FIELD_MAPPING` - CREATED_INTEGRATION_WIDE_FIELD_MAPPING

        * `CREATED_LINKED_ACCOUNT_FIELD_MAPPING` - CREATED_LINKED_ACCOUNT_FIELD_MAPPING

        * `CHANGED_INTEGRATION_WIDE_FIELD_MAPPING` - CHANGED_INTEGRATION_WIDE_FIELD_MAPPING

        * `CHANGED_LINKED_ACCOUNT_FIELD_MAPPING` - CHANGED_LINKED_ACCOUNT_FIELD_MAPPING

        * `DELETED_INTEGRATION_WIDE_FIELD_MAPPING` - DELETED_INTEGRATION_WIDE_FIELD_MAPPING

        * `DELETED_LINKED_ACCOUNT_FIELD_MAPPING` - DELETED_LINKED_ACCOUNT_FIELD_MAPPING

        * `CREATED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE` - CREATED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE

        * `CHANGED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE` - CHANGED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE

        * `DELETED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE` - DELETED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE

        * `FORCED_LINKED_ACCOUNT_RESYNC` - FORCED_LINKED_ACCOUNT_RESYNC

        * `MUTED_ISSUE` - MUTED_ISSUE

        * `GENERATED_MAGIC_LINK` - GENERATED_MAGIC_LINK

        * `ENABLED_MERGE_WEBHOOK` - ENABLED_MERGE_WEBHOOK

        * `DISABLED_MERGE_WEBHOOK` - DISABLED_MERGE_WEBHOOK

        * `MERGE_WEBHOOK_TARGET_CHANGED` - MERGE_WEBHOOK_TARGET_CHANGED

        * `END_USER_CREDENTIALS_ACCESSED` - END_USER_CREDENTIALS_ACCESSED'
      title: EventTypeEnum
    AuditLogEvent_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_name:
          type:
          - string
          - 'null'
          description: The User's full name at the time of this Event occurring.
        user_email:
          type:
          - string
          - 'null'
          format: email
          description: The User's email at the time of this Event occurring.
        role:
          $ref: '#/components/schemas/RoleEnum_2'
          description: 'Designates the role of the user (or SYSTEM/API if action not taken by a user) at the time of this Event occurring.


            * `ADMIN` - ADMIN

            * `DEVELOPER` - DEVELOPER

            * `MEMBER` - MEMBER

            * `API` - API

            * `SYSTEM` - SYSTEM

            * `MERGE_TEAM` - MERGE_TEAM'
        ip_address:
          type: string
        event_type:
          $ref: '#/components/schemas/EventTypeEnum_2'
          description: 'Designates the type of event that occurred.


            * `CREATED_REMOTE_PRODUCTION_API_KEY` - CREATED_REMOTE_PRODUCTION_API_KEY

            * `DELETED_REMOTE_PRODUCTION_API_KEY` - DELETED_REMOTE_PRODUCTION_API_KEY

            * `CREATED_TEST_API_KEY` - CREATED_TEST_API_KEY

            * `DELETED_TEST_API_KEY` - DELETED_TEST_API_KEY

            * `REGENERATED_PRODUCTION_API_KEY` - REGENERATED_PRODUCTION_API_KEY

            * `REGENERATED_WEBHOOK_SIGNATURE` - REGENERATED_WEBHOOK_SIGNATURE

            * `INVITED_USER` - INVITED_USER

            * `TWO_FACTOR_AUTH_ENABLED` - TWO_FACTOR_AUTH_ENABLED

            * `TWO_FACTOR_AUTH_DISABLED` - TWO_FACTOR_AUTH_DISABLED

            * `DELETED_LINKED_ACCOUNT` - DELETED_LINKED_ACCOUNT

            * `DELETED_ALL_COMMON_MODELS_FOR_LINKED_ACCOUNT` - DELETED_ALL_COMMON_MODELS_FOR_LINKED_ACCOUNT

            * `CREATED_DESTINATION` - CREATED_DESTINATION

            * `DELETED_DESTINATION` - DELETED_DESTINATION

            * `CHANGED_DESTINATION` - CHANGED_DESTINATION

            * `CHANGED_SCOPES` - CHANGED_SCOPES

            * `CHANGED_PERSONAL_INFORMATION` - CHANGED_PERSONAL_INFORMATION

            * `CHANGED_ORGANIZATION_SETTINGS` - CHANGED_ORGANIZATION_SETTINGS

            * `ENABLED_INTEGRATION` - ENABLED_INTEGRATION

            * `DISABLED_INTEGRATION` - DISABLED_INTEGRATION

            * `ENABLED_CATEGORY` - ENABLED_CATEGORY

            * `DISABLED_CATEGORY` - DISABLED_CATEGORY

            * `CHANGED_PASSWORD` - CHANGED_PASSWORD

            * `RESET_PASSWORD` - RESET_PASSWORD

            * `ENABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION` - ENABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION

            * `ENABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT` - ENABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT

            * `DISABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION` - DISABLED_REDACT_UNMAPPED_DATA_FOR_ORGANIZATION

            * `DISABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT` - DISABLED_REDACT_UNMAPPED_DATA_FOR_LINKED_ACCOUNT

            * `CREATED_INTEGRATION_WIDE_FIELD_MAPPING` - CREATED_INTEGRATION_WIDE_FIELD_MAPPING

            * `CREATED_LINKED_ACCOUNT_FIELD_MAPPING` - CREATED_LINKED_ACCOUNT_FIELD_MAPPING

            * `CHANGED_INTEGRATION_WIDE_FIELD_MAPPING` - CHANGED_INTEGRATION_WIDE_FIELD_MAPPING

            * `CHANGED_LINKED_ACCOUNT_FIELD_MAPPING` - CHANGED_LINKED_ACCOUNT_FIELD_MAPPING

            * `DELETED_INTEGRATION_WIDE_FIELD_MAPPING` - DELETED_INTEGRATION_WIDE_FIELD_MAPPING

            * `DELETED_LINKED_ACCOUNT_FIELD_MAPPING` - DELETED_LINKED_ACCOUNT_FIELD_MAPPING

            * `CREATED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE` - CREATED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE

            * `CHANGED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE` - CHANGED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE

            * `DELETED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE` - DELETED_LINKED_ACCOUNT_COMMON_MODEL_OVERRIDE

            * `FORCED_LINKED_ACCOUNT_RESYNC` - FORCED_LINKED_ACCOUNT_RESYNC

            * `MUTED_ISSUE` - MUTED_ISSUE

            * `GENERATED_MAGIC_LINK` - GENERATED_MAGIC_LINK

            * `ENABLED_MERGE_WEBHOOK` - ENABLED_MERGE_WEBHOOK

            * `DISABLED_MERGE_WEBHOOK` - DISABLED_MERGE_WEBHOOK

            * `MERGE_WEBHOOK_TARGET_CHANGED` - MERGE_WEBHOOK_TARGET_CHANGED

            * `END_USER_CREDENTIALS_ACCESSED` - END_USER_CREDENTIALS_ACCESSED'
        event_description:
          type: string
        created_at:
          type: string
          format: date-time
      required:
      - role
      - ip_address
      - event_type
      - event_description
      title: AuditLogEvent
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
x-refined-from:
- merge-accounting-api-openapi.yaml
- merge-ats-api-openapi.yaml
- merge-chat-api-openapi.yaml
- merge-crm-api-openapi.yaml
- merge-file-storage-api-openapi.yaml
- merge-hris-api-openapi.yaml
- merge-knowledge-base-api-openapi.yaml
- merge-ticketing-api-openapi.yaml
