openapi: 3.2.0
info:
  title: HRIS Subpackage Locations API
  version: 1.0.0
servers:
- url: https://api.merge.dev/api
- url: https://api-eu.merge.dev/api
- url: https://api-ap.merge.dev/api
tags:
- name: subpackage_locations
paths:
  /hris/v1/locations:
    get:
      operationId: list
      summary: List
      description: Returns a list of `Location` objects.{/* BEGIN_HRIS_LOCATION_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA+1dbVPiyBb+K6l8utdCUdF1tOrWLQV5UYkM4N6d2ZpKNckhael0x05HhK3977fSCaizU7uDnEAyzicxhCfhec5b9+k0f5gOUeAJOTPPTF/SyKyYgXCBmWfmjXCIooKbFZOE1CIBZOfYj4dmxYziMBRSgdukwNyoLWFsnpnVAKQHuzGnYwpuNTm9SrkCT2qsqLr82O5Yf86smIzyCbjnjiNirv4OKD1xl6RnfvVv8nakzIoZkihSvhSx5/fhIYbobzGT+2EQAFeE7bpEkeqLz+/KFOBbx5I7d4GBArdBFGmAAif5itm1fKXC6Kxa9YGFe/q6ey48VoFXiVTUYRBVj2unhyenx7sZir76f22P/edg5/5hJEYnO7bnMJvEO92h82QNO1Pr3juy6kdP1vzu2JpP5tb9ZH/H9shOd9g9vh1+qt02zg9uv3GCPfjlt9NfLxoXV9aOM7+sWfefptbQOegOnclo3qldtZzpVfvjkzX/dNht3NWs4eXxVUsc3Nb7UbfeF93zvT2zYr5U0jz7/Y+XBzIDOYl8OtbkvHivExAPXpCS6kBCuhvGI0advai2RwIyF5xMoz1HBNUAXEqqPUbUWMggA7V7UoQg1cw+7DyDPx+tDR5iIuH5wNHzq4PjD3ak394LubfQjgq+FM48My+t9rlVv2y8tqLzR0IZGTEwz5SM4S+mb579bjpUzcyKqS1RJq8gCJmYAdi+CMAmrish0saeeZWtZiGYFZMntFXM0BccbB4HI5BmxZQQCAV2YhGv/7NDovznQ9RNPFERlWBESgIo+8CsmHMa2o5wwfySnPoQUwluj0gSgAKZ3PCXPyvfUu+80TMal/VOo3PXxZHwvNGzG+BQl8aBPSiAAMvjUyEn/yzMukpkLw/XFMWCJ2W0gOOJkiDaLeB5irKaBm+gpX9n4THSv7N+SAvNzyr/J+RkLKQDhiWmeEIsYW1LTMsoCXI0f6FWzOlDnJwJXCVVjFxHQcYo4Q60613cdN3uL6ALmXK35TBMgSRGj8ykYAzJWzRm5iL2jfBEsaj+yhHyIfaCBCMh2n0cShdor0i9DzdAqgsh8MSxo+1FopwUkkCUD0gCpWAv9bGbn04/e/fBZnQqfJJ4q0x1mBPOwcBypQxvtwhJ4HvF+Q4PQaXcJ5JRJM/IwL6KXaWgvbg+4ROp2iLEUyhBOyxEYbRRcVBFYWSGFaQWRWuKmeli77en/Lhxk4s+r8dt1F352wvB6kRiBY0MLU2kWeDwjkYz9+Su0MXklmqZBpFTykfiCYf+JVwZsyT29GODzPS4H9ezF6jvdd4Rc86gAcCQ1QFgpVIG0d4v9ZWT5pPRBilwiH0G3U1Ac40rf+X2Kw41Zyuy0iSOEpISJENbwv2sitGSYFOwSYQ2TlyEAo1axso4/2FIU8RSh30Mh9BYJeZ5m+PBpoTIV0ACJC0WcGVsc2yrS90CDpI6xqA57OHI4KWIdjRW4WIIGFzVnvY7d+VQ5Ntjoxz9oCWEx0B3AKOQYJXsKaq9RC1lNvjnpsebSY8jJXBzroZcmDxNwMrBdfFmCtuEMpihF0UprN3uv8e5Qsyha5uOxAhZmwTyHemSi9v0jToTsYujTLtva7TNd29/ZIF6RCqu7wdFogyutBoVQhRdI2Gv29Gg7zmgvVmPOCCEI+mRgZXWP4qjCcURxI8Dup3+zPqrFdDo7PAoBEnVzOhJCNJaDDH40AV8qYZ8xUvXyZMRjFGsYcgSrrTRaFvhp9PvDIw6iRziIs2OJIh2hphnOCrZGqrOQLBHcJHDUaRB84xCBbFvBAWu4iBEHMQlcI4exZU/FWBHlas4UsmNIJWaS7jShvfiZeBrwhh1YySFFmg/gC9seqnWNUwIjggTmJBSCbA1xvk9coNCQ5Z/UcDagf8GSBgJjYzI7gI13zryewhblY7YcZCcW0OVKuetUmC/1d661JEiEmNlXHIlidFpIC1PS9DsTmPRczytz2+8j8NizasgFmzJHzbD4S7F+lmqoeUrKxhJpDpNQxVnieHKBUFO45Xb8Zg6FLjCYXkJV4iKoCBV1+1EXw+D3olaPE1cfmbfTKckDoO0K20kvRhu1ElIFWFGl3Di6d2CjH+1691/I7GuL1gIiy7f3NPtLFIgsaa7U7RCSIEdwXN6IqRHZnUSKkKR9qbpkZmT4hVChSJ24hKKfEB6AC0DK07lUr4QlFAoAtyBeYr5rpRYi37kbnSoMUsVgTb2LEqPzJpUoZv7mJa2qMcwYSayO8SJ6Sncq01SblrBQdPlpbJm3EYCat0DImSAtto7Q7PPHQeixTxCqaTa0uC3BzISnGJ1HTK0heM0xa+kdZLr7GR+WXZVJin3bjlWg4Fyr6P9rCArutYv2FelkxHukhlynkxBt7EsZfVQjOrmkkYBVrQNEzB/E+XdurE1p5gpRbI/I1YNl6GVry9RjGUKfX0hHC3Sm84WB7LSjOU3OXvSh0fBYmWkJRcO7RnmRvZSXnUYuCo9NAwZ1V8AMW/JDNWW/Q9PtZFVrHZvYZeSDYiHtx1jAma/WMhdG02PTrrFqsq2W2RoujHjgqY8BVzQ7jwNOs71fSEdYEsJcHDeMwaxHvimm/UgteRfY76aC7lwfhNec78cZUpxwxNE6a0hZooUc6PPNeT7DPubyfVJCFieoLHshgQSDJPdZrLFV4+kOVbuRbFyAGKtN6DpNZG6A0u4Ms7PbducNWO4299nEX3j487CBuShpBYgDeuHknJQ78jE8xPESPZQyPIbpjj2wU951pLn7rpl9LA23ry7bhVipvtHUeXFzws9r7vDlsp2yenH/eMtl0BbWJeekNwH4s7QGfWAtD889IpVVBZjqjexaPSeUAa6Gb6L8CM1+Uegz8CQF7gkiOWc88lp1dZn4QvUubbPwhfZXFsh9tJf2zK//Pl/4pyZN593AAA=" /></Footer>{/* END_HRIS_LOCATION_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_locations
      parameters:
      - name: created_after
        in: query
        description: If provided, will only return objects created after this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: If provided, will only return objects created before this datetime.
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: The pagination cursor value.
        required: false
        schema:
          type: string
      - name: include_deleted_data
        in: query
        description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        required: false
        schema:
          type: boolean
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: location_type
        in: query
        description: 'If provided, will only return locations with this location type


          '
        required: false
        schema:
          $ref: '#/components/schemas/LocationsGetParametersLocationType'
      - name: modified_after
        in: query
        description: If provided, only objects synced by Merge after this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: If provided, only objects synced by Merge before this date time will be returned.
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Number of results to return per page. The maximum limit is 100.
        required: false
        schema:
          type: integer
      - name: remote_fields
        in: query
        description: Deprecated. Use show_enum_origins.
        required: false
        schema:
          $ref: '#/components/schemas/LocationsGetParametersRemoteFields'
      - name: remote_id
        in: query
        description: The API provider's ID for the given object.
        required: false
        schema:
          type: string
      - name: show_enum_origins
        in: query
        description: A comma separated list of enum field names for which you'd like the original values to be returned, instead of Merge's normalized enum values. [Learn more](https://help.merge.dev/en/articles/8950958-show_enum_origins-query-parameter)
        required: false
        schema:
          $ref: '#/components/schemas/LocationsGetParametersShowEnumOrigins'
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedLocationList'
  /hris/v1/locations/{id}:
    get:
      operationId: retrieve
      summary: Retrieve
      description: Returns a `Location` object with the given `id`.{/* BEGIN_HRIS_LOCATION_FETCH_SUPPORTED_FIELDS */}<Footer><MergeSupportedFieldsByIntegrationWidget requestType="GET" data="H4sIAAAAAAAAA+1dbVPiyBb+K6l8utdCUdF1tOrWLQV5UYkM4N6d2ZpKNckhael0x05HhK3977fSCaizU7uDnEAyzicxhCfhec5b9+k0f5gOUeAJOTPPTF/SyKyYgXCBmWfmjXCIooKbFZOE1CIBZOfYj4dmxYziMBRSgdukwNyoLWFsnpnVAKQHuzGnYwpuNTm9SrkCT2qsqLr82O5Yf86smIzyCbjnjiNirv4OKD1xl6RnfvVv8nakzIoZkihSvhSx5/fhIYbobzGT+2EQAFeE7bpEkeqLz+/KFOBbx5I7d4GBArdBFGmAAif5itm1fKXC6Kxa9YGFe/q6ey48VoFXiVTUYRBVj2unhyenx7sZir76f22P/edg5/5hJEYnO7bnMJvEO92h82QNO1Pr3juy6kdP1vzu2JpP5tb9ZH/H9shOd9g9vh1+qt02zg9uv3GCPfjlt9NfLxoXV9aOM7+sWfefptbQOegOnclo3qldtZzpVfvjkzX/dNht3NWs4eXxVUsc3Nb7UbfeF93zvT2zYr5U0jz7/Y+XBzIDOYl8OtbkvHivExAPXpCS6kBCuhvGI0advai2RwIyF5xMoz1HBNUAXEqqPUbUWMggA7V7UoQg1cw+7DyDPx+tDR5iIuH5wNHzq4PjD3ak394LubfQjgq+FM48My+t9rlVv2y8tqLzR0IZGTEwz5SM4S+mb579bjpUzcyKqS1RJq8gCJmYAdi+CMAmrish0saeeZWtZiGYFZMntFXM0BccbB4HI5BmxZQQCAV2YhGv/7NDovznQ9RNPFERlWBESgIo+8CsmHMa2o5wwfySnPoQUwluj0gSgAKZ3PCXPyvfUu+80TMal/VOo3PXxZHwvNGzG+BQl8aBPSiAAMvjUyEn/yzMukpkLw/XFMWCJ2W0gOOJkiDaLeB5irKaBm+gpX9n4THSv7N+SAvNzyr/J+RkLKQDhiWmeEIsYW1LTMsoCXI0f6FWzOlDnJwJXCVVjFxHQcYo4Q60613cdN3uL6ALmXK35TBMgSRGj8ykYAzJWzRm5iL2jfBEsaj+yhHyIfaCBCMh2n0cShdor0i9DzdAqgsh8MSxo+1FopwUkkCUD0gCpWAv9bGbn04/e/fBZnQqfJJ4q0x1mBPOwcBypQxvtwhJ4HvF+Q4PQaXcJ5JRJM/IwL6KXaWgvbg+4ROp2iLEUyhBOyxEYbRRcVBFYWSGFaQWRWuKmeli77en/Lhxk4s+r8dt1F352wvB6kRiBY0MLU2kWeDwjkYz9+Su0MXklmqZBpFTykfiCYf+JVwZsyT29GODzPS4H9ezF6jvdd4Rc86gAcCQ1QFgpVIG0d4v9ZWT5pPRBilwiH0G3U1Ac40rf+X2Kw41Zyuy0iSOEpISJENbwv2sitGSYFOwSYQ2TlyEAo1axso4/2FIU8RSh30Mh9BYJeZ5m+PBpoTIV0ACJC0WcGVsc2yrS90CDpI6xqA57OHI4KWIdjRW4WIIGFzVnvY7d+VQ5Ntjoxz9oCWEx0B3AKOQYJXsKaq9RC1lNvjnpsebSY8jJXBzroZcmDxNwMrBdfFmCtuEMpihF0UprN3uv8e5Qsyha5uOxAhZmwTyHemSi9v0jToTsYujTLtva7TNd29/ZIF6RCqu7wdFogyutBoVQhRdI2Gv29Gg7zmgvVmPOCCEI+mRgZXWP4qjCcURxI8Dup3+zPqrFdDo7PAoBEnVzOhJCNJaDDH40AV8qYZ8xUvXyZMRjFGsYcgSrrTRaFvhp9PvDIw6iRziIs2OJIh2hphnOCrZGqrOQLBHcJHDUaRB84xCBbFvBAWu4iBEHMQlcI4exZU/FWBHlas4UsmNIJWaS7jShvfiZeBrwhh1YySFFmg/gC9seqnWNUwIjggTmJBSCbA1xvk9coNCQ5Z/UcDagf8GSBgJjYzI7gI13zryewhblY7YcZCcW0OVKuetUmC/1d661JEiEmNlXHIlidFpIC1PS9DsTmPRczytz2+8j8NizasgFmzJHzbD4S7F+lmqoeUrKxhJpDpNQxVnieHKBUFO45Xb8Zg6FLjCYXkJV4iKoCBV1+1EXw+D3olaPE1cfmbfTKckDoO0K20kvRhu1ElIFWFGl3Di6d2CjH+1691/I7GuL1gIiy7f3NPtLFIgsaa7U7RCSIEdwXN6IqRHZnUSKkKR9qbpkZmT4hVChSJ24hKKfEB6AC0DK07lUr4QlFAoAtyBeYr5rpRYi37kbnSoMUsVgTb2LEqPzJpUoZv7mJa2qMcwYSayO8SJ6Sncq01SblrBQdPlpbJm3EYCat0DImSAtto7Q7PPHQeixTxCqaTa0uC3BzISnGJ1HTK0heM0xa+kdZLr7GR+WXZVJin3bjlWg4Fyr6P9rCArutYv2FelkxHukhlynkxBt7EsZfVQjOrmkkYBVrQNEzB/E+XdurE1p5gpRbI/I1YNl6GVry9RjGUKfX0hHC3Sm84WB7LSjOU3OXvSh0fBYmWkJRcO7RnmRvZSXnUYuCo9NAwZ1V8AMW/JDNWW/Q9PtZFVrHZvYZeSDYiHtx1jAma/WMhdG02PTrrFqsq2W2RoujHjgqY8BVzQ7jwNOs71fSEdYEsJcHDeMwaxHvimm/UgteRfY76aC7lwfhNec78cZUpxwxNE6a0hZooUc6PPNeT7DPubyfVJCFieoLHshgQSDJPdZrLFV4+kOVbuRbFyAGKtN6DpNZG6A0u4Ms7PbducNWO4299nEX3j487CBuShpBYgDeuHknJQ78jE8xPESPZQyPIbpjj2wU951pLn7rpl9LA23ry7bhVipvtHUeXFzws9r7vDlsp2yenH/eMtl0BbWJeekNwH4s7QGfWAtD889IpVVBZjqjexaPSeUAa6Gb6L8CM1+Uegz8CQF7gkiOWc88lp1dZn4QvUubbPwhfZXFsh9tJf2zK//Pl/4pyZN593AAA=" /></Footer>{/* END_HRIS_LOCATION_FETCH_SUPPORTED_FIELDS */}
      tags:
      - subpackage_locations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: include_remote_data
        in: query
        description: Whether to include the original data Merge fetched from the third-party to produce these models.
        required: false
        schema:
          type: boolean
      - name: include_shell_data
        in: query
        description: Whether to include shell records. Shell records are empty records (they may contain some metadata but all other fields are null).
        required: false
        schema:
          type: boolean
      - name: remote_fields
        in: query
        description: Deprecated. Use show_enum_origins.
        required: false
        schema:
          $ref: '#/components/schemas/LocationsIdGetParametersRemoteFields'
      - name: show_enum_origins
        in: query
        description: A comma separated list of enum field names for which you'd like the original values to be returned, instead of Merge's normalized enum values. [Learn more](https://help.merge.dev/en/articles/8950958-show_enum_origins-query-parameter)
        required: false
        schema:
          $ref: '#/components/schemas/LocationsIdGetParametersShowEnumOrigins'
      - name: Authorization
        in: header
        description: Token-based authentication with required prefix "Bearer"
        required: true
        schema:
          type: string
      - name: X-Account-Token
        in: header
        description: Token identifying the end user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
components:
  schemas:
    LocationFieldMappings:
      type: object
      properties:
        organization_defined_targets:
          type: object
          additionalProperties:
            description: Any type
        linked_account_defined_targets:
          type: object
          additionalProperties:
            description: Any type
      title: LocationFieldMappings
    CountryEnum:
      type: string
      enum:
      - AF
      - AX
      - AL
      - DZ
      - AS
      - AD
      - AO
      - AI
      - AQ
      - AG
      - AR
      - AM
      - AW
      - AU
      - AT
      - AZ
      - BS
      - BH
      - BD
      - BB
      - BY
      - BE
      - BZ
      - BJ
      - BM
      - BT
      - BO
      - BQ
      - BA
      - BW
      - BV
      - BR
      - IO
      - BN
      - BG
      - BF
      - BI
      - CV
      - KH
      - CM
      - CA
      - KY
      - CF
      - TD
      - CL
      - CN
      - CX
      - CC
      - CO
      - KM
      - CG
      - CD
      - CK
      - CR
      - CI
      - HR
      - CU
      - CW
      - CY
      - CZ
      - DK
      - DJ
      - DM
      - DO
      - EC
      - EG
      - SV
      - GQ
      - ER
      - EE
      - SZ
      - ET
      - FK
      - FO
      - FJ
      - FI
      - FR
      - GF
      - PF
      - TF
      - GA
      - GM
      - GE
      - DE
      - GH
      - GI
      - GR
      - GL
      - GD
      - GP
      - GU
      - GT
      - GG
      - GN
      - GW
      - GY
      - HT
      - HM
      - VA
      - HN
      - HK
      - HU
      - IS
      - IN
      - ID
      - IR
      - IQ
      - IE
      - IM
      - IL
      - IT
      - JM
      - JP
      - JE
      - JO
      - KZ
      - KE
      - KI
      - KW
      - KG
      - LA
      - LV
      - LB
      - LS
      - LR
      - LY
      - LI
      - LT
      - LU
      - MO
      - MG
      - MW
      - MY
      - MV
      - ML
      - MT
      - MH
      - MQ
      - MR
      - MU
      - YT
      - MX
      - FM
      - MD
      - MC
      - MN
      - ME
      - MS
      - MA
      - MZ
      - MM
      - NA
      - NR
      - NP
      - NL
      - NC
      - NZ
      - NI
      - NE
      - NG
      - NU
      - NF
      - KP
      - MK
      - MP
      - 'NO'
      - OM
      - PK
      - PW
      - PS
      - PA
      - PG
      - PY
      - PE
      - PH
      - PN
      - PL
      - PT
      - PR
      - QA
      - RE
      - RO
      - RU
      - RW
      - BL
      - SH
      - KN
      - LC
      - MF
      - PM
      - VC
      - WS
      - SM
      - ST
      - SA
      - SN
      - RS
      - SC
      - SL
      - SG
      - SX
      - SK
      - SI
      - SB
      - SO
      - ZA
      - GS
      - KR
      - SS
      - ES
      - LK
      - SD
      - SR
      - SJ
      - SE
      - CH
      - SY
      - TW
      - TJ
      - TZ
      - TH
      - TL
      - TG
      - TK
      - TO
      - TT
      - TN
      - TR
      - TM
      - TC
      - TV
      - UG
      - UA
      - AE
      - GB
      - UM
      - US
      - UY
      - UZ
      - VU
      - VE
      - VN
      - VG
      - VI
      - WF
      - EH
      - YE
      - ZM
      - ZW
      description: The country code in ISO 3166-1 alpha-2 format.
      title: CountryEnum
    LocationTypeEnum:
      type: string
      enum:
      - HOME
      - WORK
      title: LocationTypeEnum
    LocationsIdGetParametersRemoteFields:
      type: string
      enum:
      - country
      - country,location_type
      - location_type
      title: LocationsIdGetParametersRemoteFields
    LocationsGetParametersRemoteFields:
      type: string
      enum:
      - country
      - country,location_type
      - location_type
      title: LocationsGetParametersRemoteFields
    RemoteData:
      type: object
      properties:
        path:
          type: string
          description: The third-party API path that is being called.
        data:
          description: The data returned from the third-party for this object in its original, unnormalized format.
      required:
      - path
      description: '# The RemoteData Object

        ### Description

        The `RemoteData` object is used to represent the full data pulled from the third-party API for an object.


        ### Usage Example

        TODO'
      title: RemoteData
    LocationsGetParametersLocationType:
      type: string
      enum:
      - HOME
      - WORK
      title: LocationsGetParametersLocationType
    LocationsIdGetParametersShowEnumOrigins:
      type: string
      enum:
      - country
      - country,location_type
      - location_type
      title: LocationsIdGetParametersShowEnumOrigins
    PaginatedLocationList:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/Location'
      title: PaginatedLocationList
    LocationsGetParametersShowEnumOrigins:
      type: string
      enum:
      - country
      - country,location_type
      - location_type
      title: LocationsGetParametersShowEnumOrigins
    Location:
      type: object
      properties:
        id:
          type: string
          format: uuid
        remote_id:
          type:
          - string
          - 'null'
          description: The third-party API ID of the matching object.
        created_at:
          type: string
          format: date-time
          description: The datetime that this object was created by Merge.
        modified_at:
          type: string
          format: date-time
          description: The datetime that this object was modified by Merge.
        name:
          type:
          - string
          - 'null'
          description: The location's name.
        phone_number:
          type:
          - string
          - 'null'
          description: The location's phone number.
        street_1:
          type:
          - string
          - 'null'
          description: Line 1 of the location's street address.
        street_2:
          type:
          - string
          - 'null'
          description: Line 2 of the location's street address.
        city:
          type:
          - string
          - 'null'
          description: The location's city.
        state:
          type:
          - string
          - 'null'
          description: The location's state. Represents a region if outside of the US.
        zip_code:
          type:
          - string
          - 'null'
          description: The location's zip code or postal code.
        country:
          oneOf:
          - $ref: '#/components/schemas/CountryEnum'
          - type: 'null'
          description: The location's country. The country code in ISO 3166-1 alpha-2 format.
        location_type:
          oneOf:
          - $ref: '#/components/schemas/LocationTypeEnum'
          - type: 'null'
          description: The location's type. Can be either WORK or HOME
        remote_was_deleted:
          type: boolean
          description: Indicates whether or not this object has been deleted in the third party platform. Full coverage deletion detection is a premium add-on. Native deletion detection is offered for free with limited coverage. [Learn more](https://docs.merge.dev/integrations/hris/supported-features/).
        field_mappings:
          oneOf:
          - $ref: '#/components/schemas/LocationFieldMappings'
          - type: 'null'
        remote_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RemoteData'
      description: '# The Location Object

        ### Description

        The `Location` object is used to represent an address that can be associated with an employee.


        ### Usage Example

        Fetch from the `LIST Locations` endpoint and filter by `ID` to show all office locations.'
      title: Location
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      description: Token-based authentication with required prefix "Bearer"
